export CINERA_REPO_PATH=/home/hmn/hmn/cinera/Annotation-System
export CINERA_HMML_PATH=/home/hmn/hmn/cinera/cinera_handmade.network
export CINERA_ASSETS_PATH=/home/hmn/hmn/public/annotations
export CINERA_OUTPUT_PATH=/home/hmn/hmn/annotations
export DOMAIN=<handmade.network or whatever>
export SCHEME=https
export CINERA_MONIT_GROUP=cinera
export CINERA_SCRIPT_PATH=/home/hmn/hmn/cinera
export ANNOTATIONS_USER=annotations
export ANNOTATIONS_USER_GROUP=annotations

# NOTE(asaf): Known-working version as of 2021-08-26
export CINERA_VERSION=6da970d48ca2cee861b7fe2d8f4d7ed6ca9ccce1
