.carousel-container {
  .carousel {
    position: relative;
  }

  .carousel-item:not(.active) {
    display: none;
  }

  .carousel-buttons {
    display: flex;
    justify-content: center;
    gap: var(--spacing-2);
  }

  .carousel-button {
    width: var(--width-1);
    height: var(--height-1);
    border-radius: 9999px;
    border: 1px solid var(--c6);
    cursor: pointer;

    transition: all 100ms ease-in-out;

    &:hover {
      background-color: var(--c3);
    }

    &.active {
      width: var(--width-2);

      &:hover {
        background-color: var(--theme-color-dimmest);
      }
    }
  }
}