.carousel-container {
  --button-size: 0.75rem;
  --button-active-width: 1.75rem;
  --button-gap: 0.5rem;

  .carousel {
    position: relative;
  }

  .carousel-item:not(.active) {
    display: none;
  }

  .carousel-buttons {
    display: flex;
    justify-content: center;
    gap: var(--button-gap);
  }

  .carousel-button {
    width: var(--button-size);
    height: var(--button-size);
    border-radius: 9999px;
    border: 1px solid var(--c6);
    cursor: pointer;

    transition: all 100ms ease-in-out;

    &:hover {
      background-color: var(--c3);
    }

    &.active {
      width: var(--button-active-width);

      &:hover {
        background-color: var(--theme-color-dimmest);
      }
    }
  }
}