.post-content {
  line-height: 1.4;

  * {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1rem;
  }

  h5 {
    font-size: 0.8rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    line-height: 1.2;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  li:not(:last-child) {
    margin-bottom: 0.6em;
  }

  li p {
    margin-top: 0.6em;
    margin-bottom: 0.6em;
  }

  img {
    max-width: 100%;
  }

  hr {
    margin-left: var(--spacing-3);
    margin-right: var(--spacing-3);
  }

  div.code {
    border-color: var(--dimmer-color);

    max-width: 100%;
    max-height: 20em;
    max-height: 80vh;
    overflow: auto;
    -moz-tab-size: 4;
    tab-size: 4;
    border-width: 1px;
    border-style: solid;
  }

  div+br,
  blockquote+br,
  ul+br,
  ol+br {
    display: none;
  }

  table {
    margin-top: var(--spacing-2);
    margin-bottom: var(--spacing-2);
  }

  th,
  td {
    padding: var(--spacing-1) var(--spacing-2);
    border: 1px solid var(--border-color);
  }

  code {
    background-color: var(--c1);

    padding: .2em 0;
    white-space: nowrap;

    &::before,
    &::after {
      content: "\00a0";
      letter-spacing: -0.2em;
      display: inline-block;
    }
  }

  pre>code,
  pre.hmn-code {
    background-color: var(--c1);

    padding: 0.7em;
    overflow-x: auto;
  }

  blockquote {
    margin-left: var(--spacing-2);
    padding-left: var(--spacing-2);
    margin-right: 0;
    border-left-style: solid;
    border-left-width: 1px;

    .quotewho {
      line-height: 2em;

      &::after {
        content: " said:";
      }
    }
  }

  figure {
    margin: var(--spacing-2) 0;
    padding: var(--spacing-2) var(--spacing-2) 0;
    background-color: var(--dim-background);
    border-radius: var(--border-radius-3);
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 35em) {
      margin-top: var(--spacing-3);
      margin-bottom: var(--spacing-3);
      padding: var(--spacing-3) var(--spacing-3) 0;
    }

    figcaption {
      margin: var(--spacing-1) 0;

      @media screen and (min-width: 35em) {
        margin: var(--spacing-2) 0;
      }
    }
  }

  table {
    border-collapse: collapse;
    table-layout: fixed;
  }

  td {
    vertical-align: baseline;
  }

  .spoiler {
    border-color: var(--c1);

    border-width: 1px;
    border-style: dashed;
    color: transparent;

    &::selection {
      color: white;
      background-color: black;
    }
  }
}