#preview:empty::after {
  content: 'A preview of your post will appear here.';
  color: var(--dimmer-color);
  font-style: italic;
}

@media screen and (min-width: 35em) {
  #preview-container {
    max-height: calc(100vh - 20rem);
    overflow: auto;
  }
}

.edit-form {
  .edit-form-row {
    display: flex;
    flex-direction: column;
    margin-top: var(--spacing-3);
    margin-bottom: var(--spacing-3);

    @media screen and (min-width: 35em) {
      flex-direction: row;
    }

    > :first-child {
      width: 100%;
      font-weight: 500;
      flex-grow: 0;
      flex-shrink: 0;
      text-align: left;
      padding-right: 0;
      padding-bottom: var(--spacing-1);

      @media screen and (min-width: 35em) {
        width: var(--width-4);
        text-align: right;
        padding-right: var(--spacing-2);
        padding-bottom: 0;
      }
    }

    > :nth-child(2) {
      flex-grow: 1;
      overflow: hidden;
    }

    .pt-input-ns {
      @media screen and (min-width: 35em) {
        padding-top: var(--spacing-1);
      }
    }
  }

  input[type=text] {
    width: 100%;

    @media screen and (min-width: 35em) {
      max-width: var(--width-5);
    }
  }

  input[type=text]:invalid {
    border-color: var(--red);
  }

  textarea {
    width: 100%;
    max-width: 100%;
    height: var(--height-3);

    @media screen and (min-width: 35em) {
      width: var(--width-6);
    }
  }
}