.notice a {
	color: inherit;
	border-bottom-color: inherit;
}

.notice-hiatus {
	background-color: var(--notice-hiatus-color);
}

.notice-dead {
	background-color: var(--notice-dead-color);
}

.notice-lts {
	background-color: var(--notice-lts-color);
}

.notice-success {
	background-color: var(--notice-success-color);
}

.notice-warn {
	background-color: var(--notice-warn-color);
}

.notice-failure {
	background-color: var(--notice-failure-color);
}