.upload_bar.uploading .instructions,
.upload_bar:not(.uploading) .progress {
	display: none;
}

.upload_bar .progress_bar {
	border: 2px solid;
	border-color: var(--link-color);
	padding: 2px;
}

.upload_bar .progress_bar>div {
	background-color: var(--link-color);
	height: 100%;
}