.pair {
  display: flex;
  align-items: flex-start;

  .key {
    font-weight: bold;
    flex-shrink: 0;
  }

  .value {
    text-align: right;
    flex-grow: 1;
  }
}

.project-carousel {
  .carousel-item {
    position: absolute;
    top: 0;
    left: 0;

    br {
      line-height: 0.6em;
    }
  }

  .carousel-item-small {
    position: absolute;
    top: 0;
    left: 0;

    &:not(.active) {
      display: none;
    }
  }

  .carousel-description {
    max-height: 14rem;
    overflow: hidden;
  }

  .carousel-fade {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30px;

    background: linear-gradient(var(--dim-background-transparent), var(--dim-background));
  }
}

.project-card {
  background-color: var(--c3);
  color: var(--color);

  /* TODO(redesign): Audit use of badges. */
  .badges:empty {
    display: none;
  }

  .badge {
    color: white;
    border-radius: 5px;
  }
}

.project-card-logo {
  --image-size: 5rem;

  width: var(--image-size);
  height: var(--image-size);
  object-fit: cover;

  @media screen and (min-width: 35em) {
    --image-size: 8rem;
  }
}

.project-header-img {
  width: 100%;
  /* TODO(redesign): Better placeholder */
  background-color: rgba(255, 255, 255, 0.5);
  background-size: cover;
  background-position: center;

  @media screen and (min-width: 35em) {
    height: var(--height-5);
  }
}

.flowsnake {
  position: absolute;
  overflow: hidden;
  width: 100%; 
  height: 100%;
}

.flowsnake::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background-image: url('/public/flowsnake.svg');
  background-color: black;
  background-size: var(--size, 1500px);;
  background-repeat: no-repeat;
  background-position: center;
  filter: contrast(0.5) sepia(1) hue-rotate(var(--hue, 0deg)) saturate(1);
  rotate: var(--angle, 0deg);
}

.project-links {
  background-color: var(--c-transparent-background);
  display: flex;
  align-items: center;
  --link-color: var(--color);
  font-weight: bold;

  /* make sure secondary links render at the right height despite SVG size */
  &::after {
    content: '\200b';
    padding: var(--spacing-2) 0;
  }
}

.project-links-spacer {
  height: var(--height-4);

  @media screen and (min-width: 35em) {
    height: auto;
    flex-grow: 1;
  }
}

.project-homepage-card {
  width: 100%;
  max-width: var(--site-width-narrow);
  padding: var(--spacing-3);
  background-color: var(--c-transparent-background);
  --link-color: var(--color);
  display: flex;
  gap: var(--spacing-3);
  overflow: hidden;

  @media screen and (min-width: 35em) {
    margin-top: -4rem;
  }
}