:root {
  --color: #fff;
  --link-color: #ff5dc2;


  --c1: #1f1f1f;
  --c2: #2f2f2f;
  --c3: #494949;
  --c4: #595959;
  --c5: #cbcbcb;

  --c-transparent-background: #242424da;

  --button-color-primary: #c900ea;

  /* TODO(redesign): Audit these colors. */
  --notice-hiatus-color: #876327;
  --notice-dead-color: #7a2020;
  --notice-lts-color: #2a681d;
  --notice-success-color: #2a681d;
  --notice-warn-color: #876327;
  --notice-failure-color: #7a2020;

  /* TODO(redesign): Compatibility colors; do not use in new designs. Remove when redesign is done. */
  --theme-color: #666;
  --theme-color-dim: #444;
  --theme-color-dimmer: #383838;
  --theme-color-dimmest: #333;

  --theme-color-dark: #666;
  --theme-color-light: #666;

  --main-background-color: #202020;
  --main-background-color-transparent: rgba(#202020, 0);

  --forum-thread-read-color: #777;
  --forum-thread-read-link-color: #999;
}