:root {
  --color: #000;
  --link-color: #d12991;

  /* TODO(redesign): Probably not the right color for Soft Gray. Check with Jes. */
  --c1: #fafafa;
  --c2: #f3f3f3;
  --c3: #dbdbdb;
  --c4: #c1c1c1;
  /* TODO(redesign): Need a --c5. */

  --c-transparent-background: #fffffff3;

  --button-color-primary: #ee84ff;

  /* TODO(redesign): Audit these colors. */
  --notice-hiatus-color: #aa7d30;
  --notice-dead-color: #b42222;
  --notice-lts-color: #43a52f;
  --notice-success-color: #43a52f;
  --notice-warn-color: #aa7d30;
  --notice-failure-color: #b42222;

  /* TODO(redesign): Compatibility colors; do not use in new designs. Remove when redesign is done. */
  --theme-color: #b1b1b1;
  --theme-color-dim: #c0c0c0;
  --theme-color-dimmer: #dddddd;
  --theme-color-dimmest: #f0f0f0;

  --theme-color-dark: #666;
  --theme-color-light: #666;

  --main-background-color: #f8f8f8;
  --main-background-color-transparent: rgba(#f8f8f8, 0);

  --forum-thread-read-color: #555;
  --forum-thread-read-link-color: #888;
}