:root {
  --red: #c61d24;

  --border-color: var(--c4);
  --border-color-focused: #4e55ff;
  --border-color-error: #ff3a3a;

  --button-color: var(--c3);

  --timeline-media-background: #b4b4b466;
  --unread-color: #9498ff;

  --site-width: 58rem;
  --site-width-narrow: 44rem;

  --avatar-size-small: 1.5rem;
  --avatar-size-normal: 2.5rem;
}