{{ template "base-2024.html" . }}

{{ define "content" }}
<div class="mw-site pa3 center post-content">
	<div class="">
		<h2>
			We're trying to put programming back on the right track.
		</h2>
		<p>
			Software is bad and getting worse. Despite amazing advances in hardware, today's software has made computers slower and buggier than they were decades ago. People's computers are more powerful than they know. <b>They deserve better.</b>
		</p>
		<p>
			Inspired by Casey Muratori's <a href="https://handmadehero.org/">Handmade Hero</a>, <a href="https://twitter.com/AbnerCoimbre">Abner Coimbre</a> founded Handmade Network as a hub for fans of the show. Since then, the community has grown massively, launched many careers, and spawned amazing projects that thousands of people use every day.
		</p>
		<!-- <p>
			The Handmade Network's activities are funded by the <a href="{{ .FoundationUrl }}">Handmade Software Foundation</a>, a (soon-to-be) 501(c)(3) nonprofit corporation.
		</p> -->
	</div>

	<div class="mt4">
		<h2>Leadership</h2>
		<div class="flex flex-column g2">
			<div class="flex-fair pa3 bg3">
				<h3>Ben Visness</h3>
				<h4>Lead<!--, Foundation President--></h4>
				<p>
					Ben is the leader of the Handmade Network. Ben joined the community in 2016 while he was in college, and was thrilled to find a community of programmers who weren't blinded by "best practices". He has been an admin <a href="https://handmade.network/blog/p/3184-news_passing_on_the_torch">since 2018</a>, and became the official lead <a href="https://handmade.network/blog/p/8438-torch_passing%25252C_part_2">in 2022</a>. 
				</p>
				<p>
					As lead<!-- and foundation president-->, Ben sets the vision and direction for the Handmade community and writes a lot of web pages like this one. His goal is to foster the development of Handmade software and Handmade programmers, and to move the software industry toward a <a href="https://vimeo.com/888144904/41ea23bd45">new future</a> where our "high-level" tools are built on solid low-level foundations.
				</p>
				<p>
					On the professional side, Ben works on WebAssembly at Mozilla within the <a href="https://spidermonkey.dev/">SpiderMonkey</a> team. Before this, he spent many years as a web developer building apps and backend services, with a focus on performance. He also acts as lead mentor of a <a href="https://www.msarobotics.org/"><i>FIRST</i> Robotics team</a>.
				</p>
				<!-- <p>
					Twitter: <a target="_blank" href="https://twitter.com/its_bvisness">its_bvisness</a>
				</p> -->
			</div>

			<div class="flex-fair pa3 bg3">
				<h3>Asaf Gartner</h3>
				<h4>Admin<!--, Foundation Secretary--></h4>
				<p>
					Asaf was there for episode one of Handmade Hero, and has been a pillar of the community ever since. He was drawn to the Handmade community by his increasing dissatisfaction with the web development world, and <a href="https://handmade.network/blog/p/3184-news_passing_on_the_torch">in 2018</a> he joined the admin team to help build the HMN website and move the network forward.
				</p>
				<p>
					With a severe allergy to unnecessary complexity, he is constantly looking for ways to create software that doesn't frustrate the user.
				</p>
			</div>

			<div class="flex-fair pa3 bg3">
				<h3>Colin Davidson</h3>
				<h4>Admin<!--, Foundation Treasurer--></h4>
				<p>
					Colin is a generalist systems engineer who likes to tinker with strange hardware and works up and down the tech stack for fun. He cares deeply about spreading mechanical sympathy, helping others write code that makes the computer happy, so that users can experience the joy of fast computers that is usually reserved for a few lucky embedded engineers.
				</p>
				<p>
					Professionally, Colin has worked with embedded user and kernelspace networking, front and backend webdev, and hypervisor infrastructure. He also spends a fair amount of time plonking around on the guitar, working with the <a href="https://odin-lang.org/">Odin</a> team (a <a href="https://odin.handmade.network/">Handmade project!</a>), and writing code instrospection tools to debug his hobby kernel projects.
				</p>
			</div>
		</div>
	</div>

	<div class="ph3 ph0-ns mt4">
		<h2>Key Contributors</h2>
		<div class="flex flex-column g2">
			<div class="flex-fair pa3 bg3">
				<h3>Jes Chuhta</h3>
				<h4>Designer</h4>
				<p>Jes is a UI and UX designer who is passionate about building high-quality software, in line with the Handmade ethos. She contributes her design expertise to all things Handmade, including website design, jam logos, Handmade Cities branding, and more.</p>
				<p>You can view her portfolio <a href="https://www.jeschuhta.com/">here</a>.</p>
			</div>
			<div class="flex-fair pa3 bg3">
				<h3>Martin Fouilleul</h3>
				<h4>Orca Lead</h4>
				<p>Martin is a systems programmer, researcher, and PhD with experience in programming languages and models for distributed temporal interactions in music and performing arts software. He is also a former sound engineer and computer music designer.</p>
				<p>He is the project lead on <a href="https://orca-app.dev/">Orca</a>, a new platform for WebAssembly applications outside the browser.</p>
			</div>
		</div>
	</div>
</div>
{{ end }}
