{{ template "base-2024.html" . }}

{{ define "content" }}
<div class="mw-site pa3 center post-content">
	<div class="">
		<h2>
			We're trying to put programming back on the right track.
		</h2>
		<p>
			Software is bad and getting worse. Despite amazing advances in hardware, today's software has made computers slower and buggier than they were decades ago. People's computers are more powerful than they know. <b>They deserve better.</b>
		</p>
		<p>
			Inspired by Casey Muratori's <a href="https://handmadehero.org/">Handmade Hero</a>, <a href="https://twitter.com/AbnerCoimbre">Abner Coimbre</a> founded Handmade Network as a hub for fans of the show. Since then, the community has grown massively, launched many careers, and spawned amazing projects that thousands of people use every day.
		</p>
		<!-- <p>
			The Handmade Network's activities are funded by the <a href="{{ .FoundationUrl }}">Handmade Software Foundation</a>, a (soon-to-be) 501(c)(3) nonprofit corporation.
		</p> -->
		<p>
			We can teach programmers how things actually work. We can teach users to expect better. We can build the best software you've ever seen. <b>Join us.</b>
		</p>
	</div>

	<div class="mt4">
		<h2>Leadership</h2>
		<div class="flex flex-column flex-row-l g2">
			<div class="flex-fair pa3 bg3 br3">
				<h3>Ben Visness</h3>
				<h4>Lead<!--, Foundation President--></h4>
				<p>
					Ben is the leader of the Handmade Network. He has been a community admin since 2018, and became the official community lead in 2022. Frustrated by what he was being taught in college, Ben joined the Handmade community in 2016 and started learning what actually matters in programming. (He did graduate, though.)
				</p>
				<p>
					As community lead<!-- and foundation president-->, Ben sets the vision and direction for the Handmade community and writes a lot of web pages like this one.
				</p>
				<p>
					On the professional side, after many years in web development, Ben now works at Mozilla as a WebAssembly engineer. He also coaches a <a href="https://fightingcalculators.org/">FIRST Robotics Competition team</a>.
				</p>
				<!-- <p>
					Twitter: <a target="_blank" href="https://twitter.com/its_bvisness">its_bvisness</a>
				</p> -->
			</div>

			<div class="flex-fair pa3 bg3 br3">
				<h3>Asaf Gartner</h3>
				<h4>Admin<!--, Foundation Secretary--></h4>
				<p>
					Asaf is an experienced member of the Handmade community, having been a part of it since its inception. He was drawn to the community while growing increasingly dissatisfied with the prevalent culture in web development, and in 2018 he joined the admin team to help build the HMN website and move the network forward.
				</p>
				<p>
					With a severe allergy to unnecessary complexity, he is constantly looking for ways to create software that doesn't frustrate the user.
				</p>
			</div>

			<div class="flex-fair pa3 bg3 br3">
				<h3>Colin Davidson</h3>
				<h4>Admin<!--, Foundation Treasurer--></h4>
				<p>
					Colin is a generalist systems engineer who likes to tinker with strange hardware, and works up and down the tech stack for fun. He started the ball rolling on the education side of Handmade Network, looking to ease the learning process for new Handmade adventurers. He cares deeply about spreading mechanical sympathy, helping others write code that makes the computer happy, so that users running upstack can experience the same fast-computer joy that a lucky few embedded engineers on terrible hardware enjoy every day.
				</p>
				<p>
					Professionally, Colin has worked with embedded user and kernelspace networking, front and backend webdev, and hypervisor infrastructure. He also spends a fair amount of time plonking around on the guitar, working with the Odin team, and writing code instrospection tools to debug his hobby kernel projects.
				</p>
			</div>
		</div>
	</div>

	<div class="ph3 ph0-ns mt4">
		<h2>Key Contributors</h2>
		<div class="flex flex-column flex-row-ns g3">
			<div class="flex-fair pa3 bg3 br3">
				<h3>Martin Fouilleul</h3>
				<h4>Orca Lead</h4>
				<p>Martin is a systems programmer, researcher, and PhD with experience in programming languages and models for distributed temporal interactions in music and performing arts software. He is also a former sound engineer and computer music designer.</p>
				<p>He is the project lead on <a href="https://orca-app.dev/">Orca</a>, a new platform for WebAssembly applications outside the browser.</p>
			</div>
		</div>
	</div>
</div>
{{ end }}
