{{ template "base.html" . }}

{{ define "content" }}
<div class="post-content">
	<div class="mw7 ph3 ph0-ns margin-center">
		<h3>
			We're trying to put programming back on the right track.
		</h3>
		<p>
			Software is bad and getting worse. Despite amazing advances in hardware, today's software has made computers slower and buggier than they were decades ago. People's computers are more powerful than they know. <b>They deserve better.</b>
		</p>
		<p>
			Inspired by Casey Muratori's <a href="https://handmadehero.org/">Handmade Hero</a>, <a href="https://twitter.com/AbnerCoimbre">Abner Coimbre</a> founded Handmade Network as a hub for fans of the show. Since then, the community has grown massively, launched many careers, and spawned amazing projects that thousands of people use every day.
		</p>
		<!-- <p>
			The Handmade Network's activities are funded by the <a href="{{ .FoundationUrl }}">Handmade Software Foundation</a>, a (soon-to-be) 501(c)(3) nonprofit corporation.
		</p> -->
		<p>
			We can teach programmers how things actually work. We can teach users to expect better. We can build the best software you've ever seen. <a href="{{ .RolesUrl }}"><b>Join us.</b></a>
		</p>
	</div>

	<div class="ph3 ph0-ns mt4">
		<h2>Leadership</h2>
		<div class="flex flex-column flex-row-ns g3">
			<div class="flex-fair pa3 bg--dim br3">
				<h3>Ben Visness</h3>
				<h4>Lead<!--, Foundation President--></h4>
				<p>
					Ben is the leader of the Handmade Network. He has been a community admin since 2018, and became the official community lead in 2022. Frustrated by what he was being taught in college, Ben joined the Handmade community in 2016 and started learning what actually matters in programming. (He did graduate, though.)
				</p>
				<p>
					As community lead<!-- and foundation president-->, Ben sets the vision and direction for the Handmade community and writes a lot of web pages like this one.
				</p>
				<p>
					On the professional side, after many years in web development, Ben now works at Mozilla as a WebAssembly engineer. He also coaches a <a href="https://fightingcalculators.org/">FIRST Robotics Competition team</a>.
				</p>
				<!-- <p>
					Twitter: <a target="_blank" href="https://twitter.com/its_bvisness">its_bvisness</a>
				</p> -->
			</div>

			<div class="flex-fair pa3 bg--dim br3">
				<h3>Asaf Gartner</h3>
				<h4>Admin<!--, Foundation Secretary--></h4>
				<p>
					Asaf is an experienced member of the Handmade community, having been a part of it since its inception. He was drawn to the community while growing increasingly dissatisfied with the prevalent culture in web development, and in 2018 he joined the admin team to help build the HMN website and move the network forward.
				</p>
				<p>
					With a severe allergy to unnecessary complexity, he is constantly looking for ways to create software that doesn't frustrate the user.
				</p>
			</div>

			<div class="flex-fair pa3 bg--dim br3">
				<h3>Colin Davidson</h3>
				<h4>Admin<!--, Foundation Treasurer--></h4>
				<p>
					Colin is a generalist systems engineer who likes to tinker with strange hardware, and works up and down the tech stack for fun. He started the ball rolling on the education side of Handmade Network, looking to ease the learning process for new Handmade adventurers. He cares deeply about spreading mechanical sympathy, helping others write code that makes the computer happy, so that users running upstack can experience the same fast-computer joy that a lucky few embedded engineers on terrible hardware enjoy every day.
				</p>
				<p>
					Professionally, Colin has worked with embedded user and kernelspace networking, front and backend webdev, and hypervisor infrastructure. He also spends a fair amount of time plonking around on the guitar, working with the Odin team, and writing code instrospection tools to debug his hobby kernel projects.
				</p>
			</div>
		</div>
	</div>

	<div class="ph3 ph0-ns mt4">
		<h2>Key Contributors</h2>
		<div class="flex flex-column flex-row-ns g3">
			<div class="flex-fair pa3 bg--dim br3">
				<h3>Martin Fouilleul</h3>
				<h4>[Secret Project] Lead</h4>
				<p>Martin is a PhD student at <a href="https://www.ircam.fr/">Ircam</a>, researching programming languages and models for distributed temporal interactions in music and performing arts software. He is also a former sound engineer and computer music designer.</p>
				<p>Right now he is working behind the scenes on a secret Handmade Network project, to be revealed at a later date.</p>
			</div>
			<div class="flex-fair pa3 bg--dim br3">
				<h3>???</h3>
				<h4>Education Lead</h4>
				<p>
					<strong>This could be you!</strong> Education is one of our flagship initiatives, and we are looking for someone to lead it. If you are excited about programming education and want to help out, please <a href="{{ .EducationLeadUrl }}">learn more and get in touch!</a>
				</p>
			</div>
		</div>
		<div class="flex flex-column flex-row-ns g3 mt3">
			<div class="flex-fair pa3 bg--dim br3">
				<h3>???</h3>
				<h4>Advocacy Lead</h4>
				<p>
					<strong>This could be you!</strong> We want to go out into the world and advocate for better software and better programming practices. We need a strong communicator who can lead this for us. If this excites you, please <a href="{{ .AdvocacyLeadUrl }}">learn more and get in touch!</a>
				</p>
			</div>
			<div class="flex-fair pa3 bg--dim br3">
				<h3>???</h3>
				<h4>Design Lead</h4>
				<p>
					<strong>This could be you!</strong> Building software for people means designing software for people. We are looking for someone with visual and UX design skills to design website features, event art, livestreaming assets, educational graphics, and more. If any of this sounds interesting to you, <a href="{{ .DesignLeadUrl }}">learn more and get in touch!</a>
				</p>
			</div>
		</div>
	</div>
</div>
{{ end }}
