{{ template "base-2024.html" . }}

{{ define "content" }}
<div class="mw5-ns pt3 ph3 ph0-ns m-center">
	<form method="POST" class="flex flex-column g3 hmn-form">
		<h1>Create Account</h1>
		
		{{/* NOTE(asaf): No CSRF on register. We don't have a user session yet and I don't think we would gain anything from a pre-login session here */}}
		
		<input type="hidden" name="destination" value="{{ .DestinationURL }}" />

		<div class="flex flex-column g2">
			<input class="db w-100 w5-ns"
				name="username"
				type="text"
				minlength="3" maxlength="30"
				pattern="^[0-9a-zA-Z][\w-]{2,29}$"
				placeholder="Username"
				required
			/>
			<input class="db w-100 w5-ns"
				name="displayname"
				placeholder="Display name (optional)"
				type="text"
			/>
			<input class="db w-100 w5-ns"
				name="email"
				type="email"
				placeholder="Email"
				required
			/>
			<input class="db w-100 w5-ns"
				name="password"
				type="password"
				minlength="8"
				placeholder="Password"
				required
			/>
		</div>

		{{/* TODO(asaf): Consider adding some bot-mitigation thing here */}}

		<input class="w-100 btn-primary" type="submit" value="Register" />
	</form>
</div>
{{ end }}
