{{ template "base-2024.html" . }}

{{ define "content" }}
<div class="mw5 pv3 center">
	<h1 class="mb2">Hi, {{ .Username }}!</h1>
	<div class="mb2">Please enter a new password.</div>
	<form method="post" class="hmn-form flex flex-column g2">
		<input type="hidden" name="token" value="{{ .Token }}" />

		{{/*NOTE: The username field isn't `type="hidden"` because this way browser will offer to save the username along with the password */}}
		<input
			style="position:absolute; visibility:hidden;"
			type="text"
			name="username"
			value="{{ .Username }}"
			readonly
		/>

		<input class="db w-100 w5-ns"
			name="password"
			type="password"
			minlength="8"
			placeholder="New password"
			required
		/>

		<input class="db w-100 btn-primary"
			type="submit"
			value="Reset your password"
		/>
	</form>
</div>
{{ end }}
