{{ template "base-2024.html" . }}

{{ define "content" }}
<div class="mw6 ph3 pv3 post-content center">
	<h1>Hi, {{ .Username }}!</h1>
	<p class="mb3 b">
		You're almost done signing up.
	</p>
	<p>
		To complete your registration and log in, please enter the password you used during the registration process.
	</p>

	<form method="POST" class="hmn-form flex flex-column g2 center mt4">
		<input type="hidden" name="token" value="{{ .Token }}" />
		<input type="hidden" name="destination" value="{{ .DestinationURL }}" />

		{{/*NOTE: The username field isn't `type="hidden"` because this way browser will offer to save the username along with the password */}}
		<input
			style="position:absolute; visibility:hidden;"
			name="username"
			type="text"
			value="{{ .Username }}"
			readonly
		/>
		<input class="db w-100 w-auto-ns"
			name="password"
			type="password"
			minlength="8"
			placeholder="Password"
			required
		/>

		<input class="btn-primary db w-100 w-auto-ns"
			type="submit"
			value="Complete registration"
		/>
	</form>
</div>
{{ end }}
