{{ template "base-2024.html" . }}

{{ define "content" }}
<div class="mw5-ns ph3 ph0-ns pt3 m-center">
	<div class="flex flex-column g4">
		<form method="POST" class="flex flex-column g3 hmn-form">
			<h1>Log In</h1>

			<input type="hidden" name="redirect" value="{{ .RedirectUrl }}" />
			
			<div class="flex flex-column g2">
				<input class="db w-100 w5-ns"
					name="username"
					type="text"
					minlength="3" maxlength="30"
					placeholder="Username"
					required
				/>

				<div class="flex flex-column g1">
					<input class="db w-100 w5-ns"
						name="password"
						type="password"
						minlength="8"
						placeholder="Password"
						required
					/>
					<a class="f7" href="{{ .ForgotPasswordUrl }}" tabindex="-1">Forgot your password?</a>
				</div>
			</div>
			
			<div class="flex flex-column g2">
				<input class="btn-primary w-100" type="submit" value="Log in" />
				<div class="tc f6">
					Need an account? <a href="{{ .RegisterUrl }}">Sign up.</a>
				</div>
			</div>
		</form>

		<div class="flex flex-column g2">
			<div class="b">Third-party login</div>
			<div class="flex flex-column g1">
				<a href="{{ .LoginWithDiscordUrl }}" class="db overflow-hidden flex" title="Log in with Discord">
					<img
						src="{{ static "discord-login.svg" }}"
						alt="Log in with Discord"
					>
				</a>
			</div>
		</div>
	</div>
</div>
{{ end }}
