{{ template "base-2024.html" . }}

{{ define "content" }}
<div class="mw5 pv3 center">
	<h1 class="mb2">Reset your password</h1>
	<form method="POST" class="hmn-form flex flex-column g2">
		<input class="db w-100 w5-ns"
			name="username"
			type="text"
			minlength="3" maxlength="30"
			placeholder="Username"
			required
		/>

		<input class="db w-100 w5-ns"
			name="email"
			type="text"
			placeholder="Email"
			required
		/>

		<input class="btn-primary w-100"
			type="submit"
			value="Request password reset"
		/>

		<div class="f7 mt3 mw-none mw5-ns">
			Note: To avoid spamming you with password reset links, we limit the number of requests per account every 24 hours.
		</div>
	</form>
</div>
{{ end }}
