{{ template "base.html" . }}

{{ define "content" }}
<div class="content-block">
	<h1>Hi! You're almost done signing up.</h1>
    <p class="mb3 b">We've sent you an email with a confirmation link. Please follow it to complete the registration process.</p>
    <p>If for some reason the email doesn't arrive in a timely fashion and you also can't find it in your spam trap,<br />
    you should feel free to <a href="{{ .ContactUsUrl }}">contact the staff</a> and ask us to activate you manually.<br />
    You'll want to tell us the username you chose and preferably email us from the same address you used to sign up.</p>
</div>
{{ end }}
