{{ template "base.html" . }}

{{ define "content" }}
<div class="mw7 ph3 ph0-ns pb3">
	<form method="POST">
		<input type="hidden" name="token" value="{{ .Token }}" />
		<input type="hidden" name="destination" value="{{ .DestinationURL }}" />

		{{/*NOTE: The username field isn't `type="hidden"` because this way browser will offer to save the username along with the password */}}
		<input
			style="position:absolute; visibility:hidden;"
			name="username"
			type="text"
			value="{{ .Username }}"
			readonly
		/>

		<h1>Hi, {{ .Username }}!</h1>
		<p class="mb3 b">
			You're almost done signing up.
		</p>
		<p>
			To complete your registration and log in, please enter the password you used during the registration process.
		</p>
		<label class="db b" for="password">Password</label>
		<input class="db w-100 w-auto-ns"
			name="password"
			type="password"
			minlength="8"
			required
		/>

		<input class="db mt3 w-100 w-auto-ns"
			type="submit"
			value="Complete registration"
		/>
	</form>
</div>
{{ end }}
