{{ template "base.html" . }}

{{ define "content" }}
	<div class="content-block">
		<h1>Request a password reset link</h1>
		<form method="POST">
			<p class="mb2">
				<label class="db b" for="username">Username</label>
				<input class="db w5" name="username" minlength="3" maxlength="30" type="text" required pattern="^[0-9a-zA-Z][\w-]{2,29}$" />
			</p>

			<p class="mb2">
				<label class="db b" for="email">Email</label>
				<input class="db w5" name="email" type="text" required />
			</p>

			<p class="mt3">
				<input type="submit" value="Request password reset link" />
			</p>

			<p class="note mt3">
				Note: To avoid your being spammed with password reset links, we limit the number of requests per account every 24 hours.
			</p>
		</form>
	</div>
{{ end }}
