{{ template "base-2024.html" . }}

{{ define "content" }}
<div class="mw6 ph3 pv3 center post-content">
	<h1>Verify your email</h1>
    <p class="mb3 b">
        We've sent you an email with a confirmation link. Please follow it to complete the registration process.
    </p>
    <p>
        If for some reason the email doesn't arrive in a timely fashion and you also can't find it in your spam trap, you should feel free to <a href="{{ .ContactUsUrl }}">contact the staff</a> and ask us to activate you manually.
    </p>
    <p>
        Please tell us your username, and ideally email us from the same address you used to sign up.
    </p>
</div>
{{ end }}
