{{ template "base.html" . }}

{{ define "content" }}
	<div class="content-block">
		<form method="POST">
			<input type="hidden" name="token" value="{{ .Token }}" />

			<input style="visibility:hidden;" type="text" name="username" value="{{ .Username }}" required />
			<h1>Hi, {{ .Username }}!</h1>
			<p class="mb3 b">You're almost done signing up.</p>
			<p>To complete your registration and log in, please enter the password you used during the registration process.</p>
			{{/*NOTE: The username field isn't `type="hidden"` because this way browser will offer to save the username along with the password */}}
			<label class="db b" for="password">Password</label>
			<input class="db" type="password" name="password" minlength="8" required />

			<input class="db mt3" type="submit" value="Complete registration" />
		</form>
	</div>
{{ end }}
