{{ template "base-2024.html" . }}

{{ define "content" }}
<div class="mw5 pv3 center">
	<h1 class="mb2">Log in</h1>
	<form method="POST" class="flex flex-column g2 hmn-form">
		<input type="hidden" name="redirect" value="{{ .RedirectUrl }}" />
		
		<input class="db w-100 w5-ns"
			name="username"
			type="text"
			minlength="3" maxlength="30"
			placeholder="Username"
			required
		/>

		<input class="db w-100 w5-ns"
			name="password"
			type="password"
			minlength="8"
			placeholder="Password"
			required
		/>
		<a href="{{ .ForgotPasswordUrl }}" tabindex="-1">Forgot your password?</a>
		
		<div class="mt3">
			<input class="btn-primary w-100" type="submit" value="Log in" />
		</div>

		<div class="tc pa3">
			Need an account? <a href="{{ .RegisterUrl }}">Sign up.</a>
		</div>

		<div class="mt3 tc">
			<div class="b mb1">Third-party login</div>
			<div class="flex flex-column g1">
				<a href="{{ .LoginWithDiscordUrl }}" class="db br2 overflow-hidden flex" title="Log in with Discord">
					<img
						src="{{ static "discord-login.svg" }}"
						alt="Log in with Discord"
					>
				</a>
			</div>
		</div>
	</form>
</div>
{{ end }}
