{{ template "base.html" . }}

{{ define "content" }}
<div class="flex ph3 ph0-ns justify-center">
	<div class="w-100 w-auto-ns pv3">
		<h1 class="tc">Reset your password</h1>
		<form method="POST" class="flex flex-column">
			<div>
				<label class="db b" for="username">Username</label>
				<input class="db w-100 w5-ns"
					name="username"
					type="text"
					minlength="3" maxlength="30"
					required
				/>
			</div>

			<div class="mt2">
				<label class="db b" for="email">Email</label>
				<input class="db w-100 w5-ns"
					name="email"
					type="text"
					required
				/>
			</div>

			<div class="mt3">
				<input class="w-100"
					type="submit"
					value="Request password reset"
				/>
			</div>

			<div class="note mt3 mw-none mw5-ns">
				Note: To avoid spamming you with password reset links, we limit the number of requests per account every 24 hours.
			</div>
		</form>
	</div>
</div>
{{ end }}
