{{ template "base.html" . }}

{{ define "content" }}
	<div class="content-block">
        <h4>A password reset link was sent. It'll expire in 24 hours.</h4>
		<p>If for some reason the email shouldn't arrive in a timely fashion, and it also doesn't show up in your spam trap, please <a href="{{ .ContactUsUrl }}">contact the staff</a>.</p>
        <p><small>* Security best practices prevent us from disclosing whether or not the username and email combination was actually valid. An email may or may not have been sent depending on whether it was or wasn't.</small></p>
	</div>
{{ end }}
