{{ template "base-2024.html" . }}

{{ define "content" }}
  <div class="flex justify-center">
    <table class="b-table">
      <thead>
        <tr>
          <th>ID</th>
          {{/*  <th>Event Slug</th>  */}}
          <th>Project ID</th>
          <th>Project Title</th>
          <th>Project Status</th>
          <th>Project Platforms</th>
          <th>Project Instructions</th>
          <th>Author Availability</th>
          <th>Author Goals</th>
        </tr>
      </thead>
      <tbody>
        {{ $projects := .Projects }}
        {{ range .Submissions }}
          {{ $p := index $projects .ProjectID }}
          <tr>
            <td>{{ .ID }}</td>
            {{/*  <td>{{ .EventSlug }}</td>  */}}
            <td><a href="{{ $p.Url }}">{{ $p.ID }}</a></td>
            <td><a href="{{ $p.Url }}">{{ $p.Name }}</a></td>
            <td>{{ .ProjectStatus }}</td>
            <td>{{ .ProjectPlatforms }}</td>
            <td>{{ .ProjectInstructions }}</td>
            <td>{{ .AuthorAvailability }}</td>
            <td>{{ .AuthorGoals }}</td>
          </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
{{ end }}
