{{ template "base-2024.html" . }}

{{ define "extrahead" }}
  <script type="module">
    import { init } from {{ static "js/betaweek_2026_submit_project.js" }};
    init({
      currentUserID: {{ .User.ID }},
      fetchProjectUrl: {{ .FetchProjectUrl }},
    });
  </script>
{{ end }}

{{ define "content" }}
  <div class="flex justify-center">
    <form method="POST" action="{{ .SubmitUrl }}" class="hmn-form w-100 mw-site-narrow pa3 flex flex-column g3">
      <h3 class="f3">Handmade Network Beta Week 2026: Call For Projects</h3>
      <div class="post-content">
        <p>
          If you have a project that you'd like the community to test during the 2026 Beta Week, please fill out this form. Submissions close on <b>Monday, October 26, 2026</b>. Your application must be approved in order for your project to be listed for community members to test.
        </p>
        <p>
          Beta Week will run from November 16 to November 22, 2026.
        </p>
      </div>
      <div class="fieldset">
        <legend>Project details</legend>

        <div class="pa3 flex flex-column g3">
          <div class="input-group">
            <label for="project-url">Project URL</label>
            <input id="project-url" required>
            <div class="f6">Paste the link to your HMN project here. Project info will be fetched automatically.</div>
          </div>
          <input id="project-id" type="hidden" name="project-id">

          <div id="project-preview" hidden></div>

          <div class="input-group">
            <label for="project-status">Project Status</label>
            <textarea id="project-status" required name="project-status"></textarea>
            <div class="f6">Please describe the current status of the project (how long you've been working on it, how complete it is, etc.)</div>
          </div>

          <div class="input-group">
            <label for="project-platforms">Requirements / Setup</label>
            <textarea id="project-platforms" required name="project-platforms"></textarea>
            <div class="f6">Which platforms does your project support? What will testers need to do to set it up?</div>
          </div>

          <div class="input-group">
            <label for="project-instructions">What needs testing?</label>
            <textarea id="project-instructions" required name="project-instructions"></textarea>
            <div class="f6">What should testers know before testing? Are there features that need specific attention or that should be avoided?</div>
          </div>
        </div>
      </div>
      <div class="fieldset">
        <legend>Personal details</legend>

        <div class="pa3 flex flex-column g3">
          <div class="input-group">
            <label for="author-availability">Availability</label>
            <input id="author-availability" required name="author-availability">
            <div class="f6">Please describe which days you will be available during Beta Week.</div>
          </div>
          <div class="input-group">
            <label for="author-goals">Goals</label>
            <textarea id="author-goals" required name="author-goals"></textarea>
            <div class="f6">What are you hoping to achieve with your project during the Beta Week? (It will help us structure and organize the event around the needs of project authors.)</div>
          </div>
          <div class="input-group">
            <div class="flex g2 items-start">
              <input id="author-acknowledgment" class="mt1" type="checkbox" name="author-acknowledgment" required>
              <label for="author-acknowledgment" class="f6">I acknowledge that my project must be ready to test by November 16, 2026, and that if I must withdraw, I will do so at least one week before the event.</label>
            </div>
          </div>
        </div>
      </div>
      <input type="submit" class="btn btn-primary" value="Submit">
    </form>
  </div>
{{ end }}
