{{ template "base-2024.html" . }}

{{ define "extrahead" }}
  {{ template "betaweek2026-styles" . }}
{{ end }}

{{ define "content-top" }}
  {{ template "betaweek2026-bannerbig" . }}
{{ end }}

{{ define "content" }}
  <div>
    <div class="flex justify-center link-bold">
      <div class="mw-site-narrow ph3 ph0-l pv4 post-content">
        <p>
          The Handmade Network <b>Beta Week</b> is one week dedicated to testing and improving Handmade software.
        </p>
        <p>
          Since Handmade Hero started in 2014, the Handmade community has made a lot of amazing software. We highlight much of it in our <a href="https://handmade.network/projects">project gallery</a>. But for every Handmade project that gets released, dozens more stay on the authors' computers as hobby projects that never see the light of day. And for those that do get released, many remain a bit too scrappy to really find the audience they deserve.
        </p>
        <p>
          Beta Week is a chance to change that. There are many projects that, with a little focused effort, could be used by the community every day, and could be polished to the point that they could really be taken seriously. So for one week, let's test the heck out of Handmade software!
        </p>
      </div>
    </div>
  </div>
  <div class="bg1">
    <div class="flex justify-center link-bold">
      <div class="mw-site-narrow ph3 ph0-l pv4 flex flex-column g3 tc">
        <h3 class="f3">Call for projects</h3>
        <div class="post-content">
          <p>
            If you have a project you'd like the community to test during the Beta Week, please fill out our submission form. <b>Submissions close Monday, October 26.</b>
          </p>
        </div>
        <div class="flex justify-center">
          <a class="btn" href="{{ .CallForProjectsUrl }}">Submit a project</a>
        </div>
      </div>
    </div>
  </div>
{{ end }}
