{{ template "base-2024.html" . }}

{{ define "content" }}
<div class="flex justify-center pa3">
    <div class="w-100 mw-site-narrow flex flex-column g3">
        <div class="flex">
            {{ if .CanCreatePost }}
                <a class="" href="{{ .NewPostUrl }}">{{ svg "add" }}<span>Create Post</span></a>
            {{ end }}
            <div class="flex-grow-1"></div>
            <div class="">
                {{ template "pagination.html" .Pagination }}
            </div>
        </div>
        <hr />
        {{ range .Posts }}
            <div class="pa3 flex flex-column bg3 g3">
                <div class="flex link-normal">
                    <img class="avatar avatar-user mr2" src="{{ .Author.AvatarUrl }}" />
                    <div class="flex flex-column g1 flex-grow-1">
                        <a class="b" href="{{ .Url }}">{{ .Title }}</a>
                        <div class="flex items-center g1">
                            <a class="" href="{{ .Author.ProfileUrl }}">{{ .Author.Name }}</a>
                            {{ if .Author.IsStaff }}
                                <div class="badge staff"></div>
                            {{ end }}
                            <span>&mdash; {{ timehtml (relativedate .Date) .Date }}</span>
                        </div>
                    </div>
                </div>
                {{ if $.ShowContent }}
                    <div class="overflow-hidden maxh-5 relative post-content">
                        <div>
                            {{ .Content }}
                        </div>
                        <div class="excerpt-fade absolute w-100 h4 bottom-0 z-999"></div>
                    </div>
                    <a href="{{ .Url }}">Read More &rarr;</a>
                {{ end }}
            </div>
        {{ else }}
            <div class="f3">There are no blog posts for this project yet.</div>
        {{ end }}
        <hr />
        <div class="flex">
            {{ if .CanCreatePost }}
                <a class="" href="{{ .NewPostUrl }}">{{ svg "add" }}<span>Create Post</span></a>
            {{ end }}
            <div class="flex-grow-1"></div>
            <div class="">
                {{ template "pagination.html" .Pagination }}
            </div>
        </div>
    </div>
</div>
{{ end }}
