{{ template "base-2024.html" . }}

{{ define "content" }}
<div class="flex justify-center pa3">
    <div class="w-100 mw-site-narrow flex flex-column g3">
        <h3 class="">Are you sure you want to delete this post?</h3>
        <div class="bg3">
            <h2 class="f3 pa3">{{ .ThreadTitle }}</h2>
            {{ template "forum_post_standalone.html" .Post }}
        </div>
        <form action="{{ .SubmitUrl }}" method="POST" class="hmn-form flex justify-end">
            {{ csrftoken .Session }}
            <input class="btn-primary" type="submit" value="Delete Post">
        </form>
    </div>
</div>
{{ end }}
