{{ template "base-2024.html" . }}

{{ define "content" }}
<div class="m-center mw-site pv3 pv5-ns ph3 ph0-l flex flex-column g2">
	<h1 class="tc-ns f3 f2-ns lh-title">{{ .Thread.Title }}</h1>
	{{ with .MainPost }}
		<div class="flex justify-center-ns items-center g2">
			<img class="avatar avatar-user avatar-small" src="{{ .Author.AvatarUrl }}">
			<span class="f6 f5-ns">
				<a class="b link-normal" href="{{ .Author.ProfileUrl }}">{{ .Author.Name }}</a>
				— {{ timehtml (absoluteshortdate .PostDate) .PostDate }}
				{{ if and $.User (or (eq .Author.ID $.User.ID) $.User.IsStaff) }}
				(<a href="{{ .EditUrl }}" title="Edit">Edit</a>, <a href="{{ .DeleteUrl }}" title="Delete">Delete</a>)
				{{ end }}
			</span>
		</div>
	{{ end }}
</div>
<div class="m-center mw-site-narrow ph3 ph0-l flex flex-column g2">
	<div class="post-content overflow-x-auto {{ if .IsProjectPage }}mb3{{ end }}">
		{{ .MainPost.Content }}
	</div>

	{{ if not .IsProjectPage }}
		<div class="pv4">
			{{ template "newsletter_signup.html" . }}
		</div>
	{{ end }}
</div>

<div class="pv4 ph3 ph0-l bg1 bt bb flex">
	<div class="m-center w-100 mw-site-narrow flex flex-column g2">
		<div class="flex justify-between">
			<h3 class="f4">Comments</h3>
			{{ if .Project.HasBlog }}
				<a class="flex items-center g2" href="{{ not (not $.User) | ternary .ReplyLink .LoginLink }}">{{ svg "add" }}<span>Leave a Comment</span></a>
			{{ end }}
		</div>
		<div class="flex flex-column g2">
			{{ range .Comments }}
				<div class="bg3 pa3 flex flex-column g3">
					<div class="flex link-normal">
						<img class="avatar avatar-user mr2" src="{{ .Author.AvatarUrl }}">
						<div class="flex flex-column g1">
							<div class="flex items-center g2">
								<a class="b" href="{{ .Author.ProfileUrl }}">{{ .Author.Name }}</a>
								{{ if .Author.IsStaff }}
									<div class="badge staff"></div>
								{{ end }}
							</div>
							<div class="f6">
								{{ timehtml (absoluteshortdate .PostDate) .PostDate }}
								{{- if .Editor -}}
									.
									Edited by <a class="name" href="{{ .Editor.ProfileUrl }}">{{ coalesce .Editor.Name .Editor.Username }}</a>
									on {{ timehtml (absolutedate .EditDate) .EditDate }}
									{{ with .EditReason }}
										Reason: {{ . }}
									{{ end }}
									</span>
								{{ end }}
							</div>
						</div>
						<div class="flex-grow-1"></div>
						<div>
							{{ if and $.User $.Project.HasBlog }}
								<div class="flex">
									{{ if or (eq .Author.ID $.User.ID) $.User.IsStaff }}
										<a class="delete action button" href="{{ .DeleteUrl }}" title="Delete">&#10006;</a>&nbsp;
										<a class="edit action button" href="{{ .EditUrl }}" title="Edit">&#9998;</a>&nbsp;
									{{ end }}
									{{ if or (not $.Thread.Locked) $.User.IsStaff }}
										{{ if $.Thread.Locked }}
											WARNING: locked thread - use power responsibly!
										{{ end }}
										<a class="reply action button" href="{{ .ReplyUrl }}" title="Reply">&hookrightarrow;</a>&nbsp;
									{{ end }}
									<span class="postid">
										<a name="{{ .ID }}" href="{{ .Url }}">#{{ .ID }}</a>
									</span>
								</div>
							{{ end }}
						</div>
					</div>
					<div class="post-content overflow-x-auto">
						{{ .Content }}
					</div>
				</div>
			{{ else }}
				<div class="bg2 tc pv4 f7">
					No comments yet.
				</div>
			{{ end }}
		</div>
		{{ if .Project.HasBlog }}
			{{ if gt (len .Comments) 0 }}
				<div class="flex justify-end">
					<a class="flex items-center g2" href="{{ not (not $.User) | ternary .ReplyLink .LoginLink }}">{{ svg "add" }}<span>Leave a Comment</span></a>
				</div>
			{{ end }}
		{{ end }}
	</div>
</div>
{{ end }}
