{{ template "base.html" . }}

{{ define "content" }}
<div class="center-layout mw7 mv3 ph3 ph0-ns post-content">
	<h1>Handmade Guide to Community Interaction v1.0</h1>
	<h2>Our Philosophy</h2>
	<p>The Handmade community strives to create an environment conducive to innovation, education, and constructive discussion. To that end, we expect members of the site to respect the following set of principles to maintain civil discourse and create an inclusive environment.</p>
	<h2>Discourse</h2>
	<ul>
		<li>The community is mostly business, with a bit of fun. Discussion should primarily be about software development, and in particular about the relevant project or topic at hand.</li>
		<li>Support arguments with evidence and rational discussion. Don't resort to ad hominem attacks or personality judgments.</li>
		<li>Differing opinions are valuable and should be respected. Not everyone sees eye-to-eye on every matter, but we're all trying to write useful software.</li>
		<li>Language has meaning, and can be used in destructive ways. Be aware that what you say may not seem injurious to you, but might make someone else's experience on the site tangibly worse. If you are asked to reconsider your conduct, please exercise some introspection. We want everyone to feel welcome here. This includes people both inside and outside the Handmade community.</li>
		<li>Be aware of differences in English comprehension and culture. What you say may be misinterpreted by a more fluent or less fluent speaker, or someone from a different culture. Misunderstandings should be resolved with the help of a third party, preferably a staff member.</li>
	</ul>
	<h2>Inclusiveness</h2>
	<p>The Handmade community will encourage participation of underrepresented groups. In order to promote diversity among the community, a Handmade community member shall not:</p>
	<ul>
		<li>Sexualize or objectify other members, even if you think it’s a compliment.</li>
		<li>Use pejoratives or excessively rely on foul language, especially if used to attack an individual.</li>
		<li>Denigrate, belittle, defame, or speak ill of any individual.</li>
		<li>Leave unsubstantiated or unjust criticism on someone's work, or disparage a person while critiquing their work.</li>
		<li>Dismiss other people’s contributions, opinions, or concerns based on their personal attributes, especially those described in the Diversity section of the code of conduct.</li>
		<li>Be rude. Disagreement is not an excuse to be flippant or inconsiderate.</li>
		<li>Antagonize others, particularly if a disagreement has occurred. Instead, a peaceful resolution should be sought, with an impartial third party if necessary.</li>
		<li>Assume a motive for uncharacteristic behavior. Everyone has a bad day.</li>
		<li>Dwell excessively on a topic or argument when the other parties involved have made it clear they are no longer interested or comfortable discussing it.</li>
		<li>Continue to ask a person to disclose information, particularly about their personal lives, when that person has declined to do so.</li>
	</ul>
	<h2>Integrity</h2>
	<p>The Handmade community values integrity, the honest pursuit of knowledge, and working hard to build effective, uncomplicated software.</p>
	<p>In particular, we strive to:</p>
	<ul>
		<li>Be honest to others about the state of our work.</li>
		<li>Foster an environment where dedicated learners of any skill level may ask questions and receive detailed, useful answers.</li>
		<li>Ensure all members of a project are kept up to date on the status of that project.</li>
		<li>Advertise projects for what they are and what their authors have reasonable hope and expectations their project will become.</li>
	</ul>
	<p>It is up to the discretion of the moderators to determine when these guidelines are being met, and they are permitted to act accordingly.</p>
	<p>If you feel an action has been made against you unreasonably, please contact the <a href="/contact">Handmade Network Team</a> privately with your grievance and we will review the decision.</p>
	<p>This code of conduct is released under a <a class="external" href="https://creativecommons.org/licenses/by-sa/4.0">Creative Commons Attribution-ShareAlike 4.0 International License</a>.</p>
	<p class="c--dim i">Written by Jeroen van Rijn</p>
</div>
{{ end }}
