{{ template "base.html" . }}

{{ define "content" }}
{{ $bannerclass := "overflow-hidden br2 mt2 h4 h5-ns cover bg-center" }}
<div class="center-layout mw7 ph3 ph0-ns post-content flex flex-column g3">
	<div class="fronke">
		<a href="https://handmadehero.org/conference">
			<h2>HandmadeCon</h2>
		</a>
		<div class="{{ $bannerclass }}" style="background-image: url('{{ static "hms/handmadecon.png" }}')"></div>
		<p>In 2015 and 2016, Casey Muratori ran HandmadeCon, inviting many amazing programmers to come talk about what they do. You probably already know that Casey is a fantastic interviewer, and the talks are loaded with amazing insights.</p>
		<p>The annotated talks can all be viewed via the <a href="https://guide.handmadehero.org/hmcon/">Handmade Hero episode guide</a>. Alternatively, the talks can be found in <a href="https://www.youtube.com/playlist?list=PLEMXAbCVnmY6HE0bxUHeLLP5QbBE2zhJi">this playlist</a> on the <a href="https://mollyrocket.com/">Molly Rocket</a> YouTube channel.</p>
	</div>

	<div>
		<a href="https://handmade-seattle.com/">
			<h2>Handmade Seattle</h2>
		</a>
		<div class="{{ $bannerclass }}" style="background-image: url('{{ static "hms/banner_tall.jpg" }}')"></div>
		<p>The spiritual successor to HandmadeCon, Handmade Seattle was started in 2019 by Abner Coimbre, the founder of Handmade Network. From the start, Handmade Seattle has been an independent conference, free from corporate sponsorships. The conferences are hybrid online/offline, so you can participate no matter where in the world you live.</p>
		<p>Tickets can be purchased at <a href="https://handmade-seattle.com/">the conference website</a>.</p>
		<p><a href="https://media.handmade-seattle.com/tag/talks/">Talks</a> and <a href="https://media.handmade-seattle.com/tag/demos/">demos</a> can be viewed on the conference's media site.</p>
	</div>
</div>
{{ end }}
