{{ template "base.html" . }}

{{ define "content" }}
{{ $bannerclass := "overflow-hidden br2 mt2 h4 h5-ns cover bg-center" }}
<div class="m--center mw7 ph3 ph0-ns post-content flex flex-column g3">
	<div class="fronke">
		<a href="https://handmadehero.org/conference">
			<h2>HandmadeCon</h2>
		</a>
		<div class="{{ $bannerclass }}" style="background-image: url('{{ static "hms/handmadecon.png" }}')"></div>
		<p>In 2015 and 2016, Casey Muratori ran HandmadeCon, inviting many amazing programmers to come talk about what they do. You probably already know that Casey is a fantastic interviewer, and the talks are loaded with amazing insights.</p>
		<p>The annotated talks can all be viewed via the <a href="https://guide.handmadehero.org/hmcon/">Handmade Hero episode guide</a>. Alternatively, the talks can be found in <a href="https://www.youtube.com/playlist?list=PLEMXAbCVnmY6HE0bxUHeLLP5QbBE2zhJi">this playlist</a> on the <a href="https://mollyrocket.com/">Molly Rocket</a> YouTube channel.</p>
	</div>

	<div>
		<a href="https://handmadecities.com/">
			<h2>Handmade Cities</h2>
		</a>
		<div class="{{ $bannerclass }}" style="background-image: url('{{ static "hms/banner_tall.jpg" }}')"></div>
		<p>The Handmade Cities conferences are spiritual successors to HandmadeCon. Handmade Seattle is the flagship conference, a celebration of Handmade software and the Handmade community. Handmade Boston is a smaller conference featuring masterclass sessions that dive deep into technical details.</p>
		<p>The Handmade Cities conferences are run by Abner Coimbre, founder of Handmade Network. Abner's conferences are completely independent and always free of corporate sponsorships. Both conferences are hybrid, with online and in-person tracks, so you can participate no matter where you are in the world.</p>
		<p>Tickets can be purchased at <a href="https://handmadecities.com/">the conference website</a>.</p>
		<p><a href="https://guide.handmade-seattle.com/c/">Talks and demos</a> can be viewed on the conference's website.</p>
	</div>
</div>
{{ end }}
