{{ template "base-2024.html" . }}

{{ define "content" }}
{{ $bannerclass := "overflow-hidden br2 mt2 h4 h5-ns cover bg-center" }}

<div class="m-center mw-site pv3 pv5-ns ph3 ph0-l flex flex-column g2">
	<h1 class="tc-ns f3 f2-ns lh-title">Handmade Conferences</h1>
</div>

<div class="center mw7 ph3 post-content flex flex-column g3">
	<div>
		<a href="https://handmadecities.com/" class="link-normal">
			<h2>Handmade Cities</h2>
			<div class="{{ $bannerclass }}" style="background-image: url('{{ static "hms/banner_tall.jpg" }}')"></div>
		</a>
		<p>The Handmade Cities conferences are spiritual successors to HandmadeCon. Handmade Seattle is the flagship conference, a celebration of Handmade software and the Handmade community. Handmade Boston is a smaller conference featuring masterclass sessions that dive deep into technical details.</p>
		<p>Handmade Cities is run by Abner Coimbre, founder of the Handmade Network. Abner's conferences are completely independent and always free of corporate sponsorships.</p>
		<p>For more information, to watch recordings of talks and demos, or to purchase tickets, visit <a href="https://handmadecities.com/">the conference website</a>.</p>
        <hr>
        <p>
            We <a href="https://handmade.network/blog/p/8989-separating_from_handmade_cities">no longer endorse</a> the content from Abner Coimbre's Handmade Cities conferences.
            However, recordings from these conferences can be found on the <a href="https://handmadecities.com/media/">Handmade Cities website</a>.
        </p>
	</div>

	<div class="mt3">
		<a href="https://handmadehero.org/conference" class="link-normal">
			<h2>HandmadeCon</h2>
			<div class="{{ $bannerclass }}" style="background-image: url('{{ static "hms/handmadecon.png" }}')"></div>
		</a>
		<p>Casey Muratori hosted HandmadeCon, the first Handmade conference, in 2015 and 2016, inviting many amazing games industry programmers.</p>
		<p>The annotated talks can all be viewed via the <a href="https://guide.handmadehero.org/hmcon/">Handmade Hero episode guide</a>. Alternatively, the talks can be found in <a href="https://www.youtube.com/playlist?list=PLEMXAbCVnmY6HE0bxUHeLLP5QbBE2zhJi">this playlist</a> on the <a href="https://mollyrocket.com/">Molly Rocket</a> YouTube channel.</p>
	</div>
</div>
{{ end }}
