{{ template "base-2024.html" . }}

{{ define "content" }}
<div class="mw6 pa3 post-content center">
	<p>
		If you are experiencing technical issues with the site, please send a detailed email to <a href="mailto:team@handmade.network">team@handmade.network</a> with a description of the problem, and we'll do our best to address it in a timely manner.
	</p>
	<p>
	For administrative issues, such as moderation disputes or content revisions, contact any of the staff on <a href="{{ .DiscordInviteUrl }}">Discord</a>, or by email at <a href="mailto:team@handmade.network">team@handmade.network</a>.
	</p>
</div>
{{ end }}
