{{ template "base.html" . }}

{{ define "content" }}
<div class="content-block">
	<div class="description mw7 ph3 ph0-ns">
		<p>If you are experiencing technical issues with the site, please send a detailed email to <a href="mailto:team@handmadedev.org">team@handmadedev.org</a> with a description of the problem, and we'll do our best to address it in a timely manner.</p>
		<p>For administrative issues, such as moderation disputes or content revisions, contact any of the staff by email:</p>
		<ul>
			<li><a href="mailto:team@handmadedev.org">team@handmadedev.org</a></li>
			<li><a href="mailto:ryan@handmadedev.org">ryan@handmadedev.org</a></li>
			<li><a href="mailto:ben@handmadedev.org">ben@handmadedev.org</a></li>
			<li><a href="mailto:asaf@handmadedev.org">asaf@handmadedev.org</a></li>
		</ul>
	</div>
</div>
{{ end }}
