{{ template "base.html" . }}

{{ define "content" }}
<div class="content-block">
	<div class="description mw7 ph3 ph0-ns">
		<p>If you are experiencing technical issues with the site, please send a detailed email to <a href="mailto:team@handmade.network">team@handmade.network</a> with a description of the problem, and we'll do our best to address it in a timely manner.</p>
		<p>For administrative issues, such as moderation disputes or content revisions, contact any of the staff by email:</p>
		<ul>
			<li><a href="mailto:team@handmade.network">team@handmade.network</a></li>
			<li><a href="mailto:ryan@handmade.network">ryan@handmade.network</a></li>
			<li><a href="mailto:ben@handmade.network">ben@handmade.network</a></li>
			<li><a href="mailto:asaf@handmade.network">asaf@handmade.network</a></li>
		</ul>
	</div>
</div>
{{ end }}
