{{ template "base.html" . }}

{{ define "extrahead" }}
    <style>
        .hide-notes .note {
            display: none;
        }
    </style>
{{ end }}

{{ define "content" }}
    <h1>{{ .Title }}</h1>
    {{ if and .User .User.IsEduAuthor }}
        <div class="mb3">
            <a href="{{ .EditUrl }}" title="Edit">&#9998; Edit</a>
            <a href="{{ .DeleteUrl }}" title="Delete">&#10006; Delete</a>
            <input id="hide-notes" type="checkbox">
            <label for="hide-notes">Hide notes</label>
        </div>
    {{ end }}
    <div class="flex">
        <div class="edu-article flex-grow-1 post-content">
            {{ .Article.Content }}
        </div>
        <div class="ml3 flex-shrink-0 w5">
            I'm a sidebar!
        </div>
    </div>

    <script>
        function toggleNotes() {
            document.querySelector('.edu-article').classList.toggle('hide-notes',
                document.querySelector('#hide-notes').checked,
            );
        }
        document.querySelector('#hide-notes').addEventListener('change', event => {
            toggleNotes();
        });
        toggleNotes();
    </script>
{{ end }}
