{{ template "base.html" . }}

{{ define "content" }}
    <h1>Learn the Handmade way.</h1>

    <h2>Guides</h2>

    {{ if and .User .User.IsEduAuthor }}
        <div class="mb2">
            <a href="{{ .NewArticleUrl }}"><span class="big pr1">+</span> New Article</a>
        </div>
    {{ end }}

    <div class="flex flex-column g3 mb3">
        {{ range .Articles }}
            <a class="c--inherit flex flex-column pa3 bg--dim br2" href="{{ .Url }}" >
                <h3 class="mb1 link">{{ .Title }}</h3>
                <div>{{ .Description }}</div>
            </a>
        {{ end }}
    </div>

    <h2>What makes us different?</h2>

    <div class="flex flex-column flex-row-ns g3">
        <div class="flex-fair bg--dim pa3 br2">
            <h3>Real material.</h3>
            
            We equip you to go straight to the source. Our guides are structured around books and articles written by experts. We give you high-quality material to read, and the context to understand it. You do the rest.
        </div>
        <div class="flex-fair bg--dim pa3 br3">
            <h3>For any skill level.</h3>
            
            Each guide runs the gamut from beginner to advanced. Whether you're new to a topic or have been practicing it for years, read through our guides and you'll find something new.
        </div>
        <div class="flex-fair bg--dim pa3 br3">
            <h3>Designed for programmers.</h3>
            
            We're not here to teach you how to program. We're here to teach you a specific topic.
        </div>
    </div>

{{ end }}
