<p>
    Hello {{ .Name }},
</p>
<p>
    Thank you for supporting the <a href="{{ .HomepageUrl }}"><b>Handmade Network</b></a>.
</p>
<p>
    Your membership has started, and we are waiting for your bank account verification to complete.
</p>
<p>
    Please verify your bank account within 7 days by visiting <a href="{{ .ManageSubscriptionUrl }}">{{ .ManageSubscriptionUrl }}</a>.
</p>
{{ if .GracePeriodEnd }}
<p>
    Your grace period ends on <b>{{ .GracePeriodEnd }}</b>. If verification is not completed by then, your membership access will end until payment is completed.
</p>
{{ end }}
<p>Thanks,<br />
    The Handmade Network staff.</p>
