<p>
    Hello {{ .Name }} - you already have a <a href="{{ .HomepageUrl }}">Handmade Network</a> account. Welcome back!
</p>
<p>
    Your username is <b>{{ .Username }}</b>. To sign in, please visit the following link and try signing in with your existing username:
</p>
<p>
    <a href="{{ .LoginUrl }}">{{ .LoginUrl }}</a>
</p>
<p>Thanks,<br />
The Handmade Network staff.</p>

<hr />
<p style="font-size:small; -webkit-text-size-adjust:none; color: #666">
You are receiving this email because someone tried creating a new account with your email address at <a href="{{ .HomepageUrl }}">handmade.network</a>. If that wasn't you, kindly ignore this email.
</p>
