<p>
    Hello {{ .Name }},
</p>
<p>
    Your recurring donation to <a href="{{ .HomepageUrl }}"><b>Handmade Network</b></a> has been cancelled.
</p>
{{ if .ExpirationDate }}
<p>
    You will continue to have access to your membership benefits until <b>{{ .ExpirationDate }}</b>.
</p>
{{ end }}
<p>
    We're sorry to see you go, but thank you for your support!
</p>
<p>
    You can always find us at <a href="{{ .HomepageUrl }}">{{ .HomepageUrl }}</a>.
</p>
<p>Thanks,<br />
    The Handmade Network staff.</p>