<p>
    Hello {{ .Name }},
</p>
<p>
    Thank you for supporting <a href="{{ .HomepageUrl }}"><b>Handmade Network</b></a> with your recurring donation!
</p>

{{ if and .RenewalDate .Amount }}
<p>
    Your payment method on file will automatically be charged again for {{ .Amount }} on <b>{{ .RenewalDate }}</b>.
</p>
{{ else if .RenewalDate }}
<p>
    Your payment method on file will automatically be charged again on <b>{{ .RenewalDate }}</b>.
</p>
{{ else if .Amount }}
<p>
    Your donation amount is <b>{{ .Amount }}</b>.
</p>
{{ end }}

<p>
    You can cancel or manage your membership any time at <a href="{{ .ManageSubscriptionUrl }}">{{
        .ManageSubscriptionUrl }}</a>.
</p>
<p>Thanks,<br />
    The Handmade Network staff.</p>