{{ template "email-2026.html" . }}

{{ define "content" }}
<p>Thanks for purchasing a ticket to the {{ .EventName }}! We're excited to meet you in person.</p>
<p>When you arrive, present the code below to gain entry to the venue.</p>
<p class="b">Ticket details:</p>
<ul>
    <li><b>Name:</b> {{ .Name }}</li>
    <li><b>Email:</b> {{ .Email }}</li>
</ul>
<p>Stay tuned for more information as the event approaches.</p>

<img src="{{ .CodeURL }}">

<p>
    To view and manage your ticket on the web, visit the link below:<br>
    <a href="{{ .TicketURL }}">{{ .TicketURL }}</a>
</p>

<p>If you have any issues or concerns, please contact us any time at <a href="mailto:team@handmade.network">team@handmade.network</a>.</p>
{{ end }}

{{ define "footer" }}
You are receiving this email because you purchased a ticket for a Handmade Network event.
{{ end }}
