{{ template "base.html" . }}

{{ define "extrahead" }}
<link rel="stylesheet" type="text/css" href="{{ static "annotations/cinera.css" }}">
<link rel="stylesheet" type="text/css" href="{{ static (strjoin "annotations/cinera__" .Project.Subdomain ".css") }}">
<link rel="stylesheet" type="text/css" href="{{ static "annotations/cinera_topics.css" }}">
<script type="text/javascript" src="{{ static "annotations/cinera_pre.js" }}"></script>
<script type="text/javascript" src="{{ static "annotations/cinera_post.js" }}" defer></script>
<script type="text/javascript" src="{{ static "annotations/cinera_player_pre.js" }}"></script>
{{ end }}

{{ define "content" }}
	<div class="content-block">
		{{ .Content }}
	</div>
{{ end }}
