{{ template "email-2026.html" . }}

{{ define "content" }}
<p>Thanks for purchasing a ticket to the Handmade Network Expo! We're excited to meet you in person.</p>
<p>When you arrive, present the code below to gain entry to the venue.</p>
<p class="b">Ticket details:</p>
<ul>
    <li><b>Event date:</b> {{ absoluteshortdate .EventDate }}</li>
    <li><b>Name:</b> {{ .Name }}</li>
    <li><b>Email:</b> {{ .Email }}</li>
</ul>

<img src="{{ .CodeURL }}">

<p>
    To view and manage your ticket on the web, and to see the latest attendee information, visit the link below:<br>
    <a href="{{ .TicketURL }}">{{ .TicketURL }}</a>
</p>

<p>If you have any issues or concerns about your ticket, please contact us any time at <a href="mailto:expo@handmade.network">expo@handmade.network</a>.</p>

<hr>

<p class="b">Venue information</p>

<p>Global Relay's event space is located at <b>206 Cambie St</b>, about a five-minute walk from the Waterfront train station. A photo of the entrance can be found below.</p>

<p>If you require any disability accommodations, please contact us at <a href="mailto:expo@handmade.network">expo@handmade.network</a>.</p>

<img alt="Photo of the building entrance" src="{{ .BaseURL }}/public/expos/cambie.jpg" style="width:100%">

<p class="b">Travel information</p>

<p>As you plan your travel, here are a few things to keep in mind:</p>

<ul>
    <li><b>When should you arrive?</b> The official event takes place on a Saturday, but in the past people have chosen to extend their trip in either direction so they have more time to spend with people. We have started a <a href="https://docs.google.com/spreadsheets/d/1hKtAFwHzFFt_ilPmbHGDydePkPTiyFEwMldpeQj3Gk4/edit?usp=sharing">Google Sheet</a> that you can use to coordinate your arrival with other attendees and to organize extra meetups.</li>
    <li><b>Flights:</b> Vancouver, BC is a relatively affordable flight from most locations in the world, but the World Cup will be hosted in Vancouver later in June. This is likely to drive up flight prices as the event approaches, so consider booking your flights soon!</li>
    <li><b>Lodging:</b> There are many hotels just southwest of the Waterfront train station. We recommend staying in that area, as this will be a reasonable walking distance from Global Relay and the (likely) afterparty venue. Unfortunately, we were unable to reserve a block of rooms this year, so no discounts are available&mdash;apologies if you were hoping for that. Hopefully next year!</li>
</ul>

<p>If you have any questions, you can email us any time at <a href="mailto:expo@handmade.network">expo@handmade.network</a>.</p>
{{ end }}

{{ define "footer" }}
You are receiving this email because you purchased a ticket for a Handmade Network event.
{{ end }}
