{{ template "base-2024.html" . }}

{{ define "extrahead" }}
<style>
  .presenter-bio-card {
    background-color: var(--c2);
    padding: var(--spacing-3);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3);
    align-items: start;

    img {
      flex-grow: 0;
      flex-shrink: 0;
    }

    h3 {
      font-size: var(--font-size-4);
    }
  }
  
  @media screen and (min-width: 35em) {
    #pizza-bio {
      max-width: 400px;
    }

    .presenter-bio-card {
      flex-direction: row;

      img {
        width: 12rem;
      }

      h3 {
        font-size: var(--font-size-4);
      }
    }
  }
</style>
{{ end }}

{{ define "expo-2026-header-content" }}
<div class="ph3 pv5 flex-grow-1 flex flex-column g3 justify-center items-center relative z-1">
  <div id="titles" class="flex flex-column g2 tc">
    <h1 class="f2 f1-ns" style="line-height: 1.1">Handmade Network Expo</h1>
    <p>One day of demos, brainstorming, and socializing in Vancouver, BC. June 6, 2026.</p>
  </div>
  <div class="flex g3">
    {{ if .ViewTicketUrl }}
      <a class="btn btn-primary" href="{{ .ViewTicketUrl }}">View your ticket</a>
    {{ else if .ContinuePurchaseUrl }}
      <a class="btn btn-primary" href="{{ .ContinuePurchaseUrl }}">Continue your purchase</a>
    {{ else if not .CanPurchase }}
      <div class="btn btn-primary disabled">Tickets coming soon!</div>
    {{ else if .SoldOut }}
      <div class="btn btn-primary disabled">Sold out!</div>
    {{ else }}
      <a class="btn btn-primary" href="{{ .BuyTicketUrl }}">Get your ticket</a>
    {{ end }}
  </div>
</div>
{{ end }}

{{ define "content" }}
{{ template "expo-2026-header" . }}
<div class="flex justify-center">
  <div class="ph3 pv4 w-100 mw-site post-content">
    <h3>It's time to meet up again.</h3>
    <p>The Handmade Network Expo is a chance for the Handmade community to come together and celebrate Handmade software. It is not a conference. It will not be live-streamed. Instead it's an event dedicated to demos, discussions, and inspiring each other to make better software.</p>

    <h3>100% focused on Handmade software.</h3>
    <p>The best parts of any Handmade event are the people and the software. We've designed an event that is 100% focused on both.</p>
    <p>Unlike a conference, there won't be a packed schedule of speakers. Instead, in between presentations, attendees can chat with each other, huddle around a demo table, brainstorm on a whiteboard, or hook up to a projector to show off what they've been working on. It's a flexible, fluid event designed to celebrate Handmade software and inspire you to make it yourself.</p>
  </div>
</div>
<div class="flex justify-center bg1">
  <div class="ph3 pv4 w-100 mw-site flex flex-column g3">
    <span class="post-content"><h3>The presenters</h3></span>
    <div class="presenter-bio-card">
      <img alt="Anton Mikhailov" src="{{ static "expos/mikhailov.jpg" }}">
      <img alt="Nic Barker" src="{{ static "expos/barker.jpg" }}">
      <div class="flex flex-column g3">
        <div class="flex flex-column g1">
          <h3>Anton Mikhailov (w/ special remote appearance by Nic Barker)</h3>
          <b>Untitled RTS</b>
          <div><a href="https://x.com/antovsky">https://x.com/antovsky</a>, <a href="https://www.nicbarker.com/">https://www.nicbarker.com/</a></div>
        </div>
        <div class="post-content">
          Anton and Nic have, unbeknownst to everyone, been working on a game together. They will be publicly revealing it for the first time at the Expo! We don't know much about it yet, but it's handmade, and coming from these two, you know it will be good.
        </div>
      </div>
    </div>
    <div class="presenter-bio-card">
      <img alt="Cameron DaCamara" src="{{ static "expos/dacamara.jpg" }}">
      <div class="flex flex-column g3">
        <div class="flex flex-column g1">
          <h3>Cameron DaCamara (starfreakclone)</h3>
          <b>fred</b>
          <div><a href="https://fred-dev.tech/">https://fred-dev.tech/</a></div>
          {{/*  Two more links: https://cdacamar.github.io/, https://x.com/starfreakclone  */}}
        </div>
        <div class="post-content">
          fred is a FRiendly EDitor made from scratch. Besides being small and extremely fast, it has a novel, non-linear approach to undo/redo. In fred, when you type some code, undo it, and type again, the original code is not lost and can be recovered at any time!
        </div>
      </div>
    </div>
    <div class="presenter-bio-card">
      <img alt="Gabriel Dechichi" src="{{ static "expos/dechichi.jpg" }}">
      <div class="flex flex-column g3">
        <div class="flex flex-column g1">
          <h3>Gabriel Dechichi</h3>
          <b>Horizon Engine</b>
          <div><a href="https://x.com/gdechichi">https://x.com/gdechichi</a></div>
        </div>
        <div class="post-content">
          Horizon Engine is a 3D, cross-platform game engine built from scratch in C. It runs drastically faster than mainstream engines, especially on resource-constrained platforms like web and mobile. It is designed to tackle cross platform GPU interaction and other low level primitives, while still focusing on ease of use.
        </div>
      </div>
    </div>
    <div class="presenter-bio-card">
      <img alt="Jimmy Lefevre" src="{{ static "expos/lefevre.jpg" }}">
      <div class="flex flex-column g3">
        <div class="flex flex-column g1">
          <h3>Jimmy Lefevre (Keeba)</h3>
          <b>kb_text_shape.h</b>
          <div><a href="https://github.com/JimmyLefevre/kb">https://github.com/JimmyLefevre/kb</a>, <a href="https://www.newroadoldway.com/">https://www.newroadoldway.com/</a></div>
        </div>
        <div class="post-content">
          kb_text_shape.h came out of nowhere last year as a single-header alternative to Harfbuzz, designed to solve the famously thorny problem of Unicode text shaping and text layout. Jimmy will take us on a tour of kbts version 2, from codepoints to paragraphs, to show off how the layout and shaping process works.
        </div>
      </div>
    </div>
    <div class="presenter-bio-card">
      <img alt="Leddoo" src="{{ static "expos/leddoo.jpg" }}">
      <div class="flex flex-column g3">
        <div class="flex flex-column g1">
          <h3>Leddoo</h3>
          <b>Blindspot Debugger</b>
          <div><a href="https://handmade.network/p/675/blindspot-debugger/">https://handmade.network/p/675/blindspot-debugger/</a></div>
        </div>
        <div class="post-content">
          Blindspot Debugger is a time travel debugger for macOS, meaning that it can record native programs and replay them both forward and backward. In its current state, it has an AArch64 -> AArch64 JIT that is used to inject record/replay instrumentation into unmodified programs like Clang and Google Chrome. Some detailed articles can be found in the project's <a href="https://handmade.network/p/675/blindspot-debugger/blog">blog</a>.
          {{/* Time Travel for Native Code, more specifically, the challenges of recording native code and aarch64 -> aarch64 JIT */}}
        </div>
      </div>
    </div>
    <div class="presenter-bio-card">
      <img alt="Michael Labbé" src="{{ static "expos/labbe.jpg" }}">
      <div class="flex flex-column g3">
        <div class="flex flex-column g1">
          <h3>Michael Labbé</h3>
          <b>Grain DDL</b>
          <div><a href="https://www.michaellabbe.com/">https://www.michaellabbe.com/</a></div>
        </div>
        <div class="post-content">
          Grain DDL is a custom data-definition language, with a custom compiler and IDE, that is designed to keep all the different parts of your project in sync. It replaces macro hacks and template systems with a robust metaprogramming system that can be used for network protocols, file formats, debug GUIs, and anything else.
        </div>
      </div>
    </div>
    <div class="presenter-bio-card">
      <img alt="Phil Homan" src="{{ static "expos/homan.jpg" }}">
      <div class="flex flex-column g3">
        <div class="flex flex-column g1">
          <h3>Phil Homan</h3>
          <b>Audiovisual node graph editor</b>
        </div>
        <div class="post-content">
          Continuing on his <a href="https://handmade.network/p/191/sol/">past work</a> doing live visuals for shows across the country, Phil is now working on a project that also integrates audio synthesis. The goal of the new project is to integrate with external hardware using MIDI and CV, allowing live visuals to be controlled by other instruments, and other instruments to be controlled by live visuals.
        </div>
      </div>
    </div>
  </div>
</div>
<img class="db w-100" alt="the Global Relay event space" src="/public/expos/globalrelay-1920.jpg">
<div class="flex justify-center bg1">
  <div class="ph3 pv4 w-100 mw-site post-content">
    <h3>A beautiful space in the heart of Vancouver</h3>
    <p>The expo will be held at Global Relay's beautiful event space in downtown Vancouver. It's a spacious venue with floor-to-ceiling windows, projectors, TVs, and lots and lots of whiteboards. The room will have space for presentations, demo tables, side discussions, and socializing. Global Relay has been very accommodating of all our special requests, and they're letting us configure the space exactly to our liking.</p>
    <p>Global Relay is just a 30-minute train ride from the Vancouver International Airport, one of the most affordable international travel destinations in North America.</p>

    <h3>How much does it cost?</h3>
    <p>Tickets are $100 USD. This is an event for the Handmade community, not a profit-seeking venture. Your ticket covers venue expenses, catering, equipment rental, and other operational expenses, and we have worked hard to keep these costs low. Any excess funds will be donated to the <a href="https://handmade.foundation/">Handmade Software Foundation</a> to support the development of more Handmade software.</p>

    <h3>How many people can attend?</h3>
    <p>Space is limited: the venue has a hard cap of 100 attendees. If you'd like to attend, don't delay!</p>
    {{ if .CanPurchase }}
      <p><a href="{{ .BuyTicketUrl }}">Buy your ticket <span class="svgicon f8">{{ svg "chevron-right" }}</span></a></p>
    {{ end }}
  </div>
</div>
<img class="db w-100" alt="tables and chairs at Global Relay" src="/public/expos/globalrelay2-1920.jpg">
<div class="flex justify-center bb">
  <div class="ph3 pv4 w-100 mw-site post-content">
    <div class="flex flex-column flex-row-ns justify-center items-center g4">
      <img class="w5-ns" alt="Matthew Currie" src="/public/expos/pizzaman.jpg">
      <div id="pizza-bio">
        <h3>Who's organizing?</h3>
        <p>The event is being organized by community member Matthew Currie (AbjMakesAPizza on Discord). Matthew is a professional Technical Artist who develops tools used by artists in Vancouver's gaming industry.</p>
        <p>In his spare time, he is an active member of Vancouver's tech scene and has been hosting meetups for fans of Handmade software since since May 2024. Matthew cares deeply about connecting like-minded programmers in person, and is excited to bring the Handmade Network together in his home town. Beyond software, he is an avid runner training for his first full marathon.</p>
      </div>
    </div>
  </div>
</div>
<div class="bg1 bb ph3 pv4 tc">
  <div class="pt2 pb3"><b>Want to hear about more Handmade events?</b> Sign up for our email newsletter:</div>
  {{ template "newsletter_signup.html" . }}
</div>
{{ end }}
