{{ template "base-2024.html" . }}

{{ define "content" }}
{{ template "ticket-common" . }}
<div class="bg1 bt bb flex justify-center">
  <div class="w-100 mw-site-narrow ph3 pv4 post-content">
    <h2>Venue information</h2>

    <p>Global Relay's event space is located at <b>206 Cambie St</b>, about a five-minute walk from the Waterfront train station. A photo of the entrance can be found below.</p>

    <p>If you require any disability accommodations, please contact us at <a href="mailto:expo@handmade.network">expo@handmade.network</a>.</p>

    <img alt="Photo of the building entrance" src="/public/expos/cambie.jpg">

    <h2>Travel information</h2>

    <p>As you plan your travel, here are a few things to keep in mind:</p>

    <ul>
        <li><b>When should you arrive?</b> The official event takes place on a Saturday, but in the past people have chosen to extend their trip in either direction so they have more time to spend with people. We have started a <a href="https://docs.google.com/spreadsheets/d/1hKtAFwHzFFt_ilPmbHGDydePkPTiyFEwMldpeQj3Gk4/edit?usp=sharing">Google Sheet</a> that you can use to coordinate your arrival with other attendees and to organize extra meetups.</li>
        <li><b>Flights:</b> Vancouver, BC is a relatively affordable flight from most locations in the world, but the World Cup will be hosted in Vancouver later in June. This is likely to drive up flight prices as the event approaches, so consider booking your flights soon!</li>
        <li><b>Lodging:</b> There are many hotels just southwest of the Waterfront train station. We recommend staying in that area, as this will be a reasonable walking distance from Global Relay and the (likely) afterparty venue. Unfortunately, we were unable to reserve a block of rooms this year, so no discounts are available&mdash;apologies if you were hoping for that. Hopefully next year!</li>
    </ul>

    <p>If you have any questions, you can email us any time at <a href="mailto:expo@handmade.network">expo@handmade.network</a>.</p>
  </div>
</div>
{{ end }}
