{{ template "base-2024.html" . }}

{{ define "extrahead" }}
<style>
  @media screen and (min-width: 35em) {
    #pizza-bio {
      max-width: 400px;
    }
  }
</style>
{{ end }}

{{ define "expo-2026-header-content" }}
<div class="ph3 pv5 flex-grow-1 flex flex-column g3 justify-center items-center relative z-1">
  <div id="titles" class="flex flex-column g2 tc">
    <h1 class="f2 f1-ns" style="line-height: 1.1">Handmade Network Expo</h1>
    <p>One day of demos, brainstorming, and socializing in Vancouver, BC. June 6, 2026.</p>
  </div>
  <div class="flex g3">
    {{ if .ViewTicketUrl }}
      <a class="btn btn-primary" href="{{ .ViewTicketUrl }}">View your ticket</a>
    {{ else if .ContinuePurchaseUrl }}
      <a class="btn btn-primary" href="{{ .ContinuePurchaseUrl }}">Continue your purchase</a>
    {{ else if not .CanPurchase }}
      <div class="btn btn-primary disabled">Tickets coming soon!</div>
    {{ else if .SoldOut }}
      <div class="btn btn-primary disabled">Sold out!</div>
    {{ else }}
      <a class="btn btn-primary" href="{{ .BuyTicketUrl }}">Get your ticket</a>
    {{ end }}
  </div>
</div>
{{ end }}

{{ define "content" }}
{{ template "expo-2026-header" . }}
<div class="flex justify-center">
  <div class="ph3 pv4 w-100 mw-site post-content">
    <h3>It's time to meet up again.</h3>
    <p>The Handmade Network Expo is a chance for the Handmade community to come together and celebrate Handmade software. It is not a conference. It will not be live-streamed. Instead it's an event dedicated to demos, discussions, and inspiring each other to make better software.</p>

    <h3>100% focused on Handmade software.</h3>
    <p>The best parts of any Handmade event are the people and the software. We've designed an event that is 100% focused on both.</p>
    <p>Unlike a conference, there won't be a packed schedule of speakers. Instead, in between a few flagship presentations, attendees can chat with each other, huddle around a demo table, brainstorm on a whiteboard, or hook up to a projector to show off what they've been working on. It's a flexible, fluid event designed to celebrate Handmade software and inspire you to make it yourself.</p>
  </div>
</div>
<img class="w-100" alt="the Global Relay event space" src="/public/expos/globalrelay-1920.jpg">
<div class="flex justify-center">
  <div class="ph3 pv4 w-100 mw-site post-content">
    <h3>A beautiful space in the heart of Vancouver</h3>
    <p>The expo will be held at Global Relay's beautiful event space in downtown Vancouver. It's a spacious venue with floor-to-ceiling windows, projectors, TVs, and lots and lots of whiteboards. The room will have space for presentations, demo tables, side discussions, and socializing. Global Relay has been very accommodating of all our special requests, and they're letting us configure the space exactly to our liking.</p>
    <p>Global Relay is just a 30-minute train ride from the Vancouver International Airport, one of the most affordable international travel destinations in North America. We are currently working to finalize hotel deals and discounts for expo attendees.</p>

    <h3>How much does it cost?</h3>
    <p>Tickets are just $100 USD. This is an event for the Handmade community, not a profit-seeking venture. Your ticket covers the cost of the venue, catering, and other operational expenses, and we have worked hard to keep these costs low. Any excess funds will be donated to the <a href="https://handmade.foundation/">Handmade Software Foundation</a> to support the development of more Handmade software.</p>
  </div>
</div>
<img class="w-100" alt="tables and chairs at Global Relay" src="/public/expos/globalrelay2-1920.jpg">
<div class="flex justify-center">
  <div class="ph3 pv4 w-100 mw-site post-content">
    <h3>How many people can attend?</h3>
    <p>Space is limited: the venue has a hard cap of 100 attendees. If you'd like to attend, don't delay!</p>
    <p>In light of this, some tickets will be reserved for presenters and staff. If any additional seats become available as the event approaches, we will announce this via email, so make sure to sign up for our mailing list below.</p>
    {{ if .CanPurchase }}
      <p><a href="{{ .BuyTicketUrl }}">Buy your ticket <span class="svgicon f8">{{ svg "chevron-right" }}</span></a></p>
    {{ end }}
  </div>
</div>
<div class="flex justify-center bg1 bt bb">
  <div class="ph3 pv4 w-100 mw-site post-content">
    <div class="flex flex-column flex-row-ns justify-center items-center g4">
      <img class="w5-ns" alt="Matthew Currie" src="/public/expos/pizzaman.jpg">
      <div id="pizza-bio">
        <h3>Who's organizing?</h3>
        <p>The event is being organized by community member Matthew Currie (AbjMakesAPizza on Discord). Matthew is a professional Technical Artist who develops tools used by artists in Vancouver's gaming industry.</p>
        <p>In his spare time, he is an active member of Vancouver's tech scene and has been hosting meetups for fans of Handmade software since since May 2024. Matthew cares deeply about connecting like-minded programmers in person, and is excited to bring the Handmade Network together in his home town. Beyond software, he is an avid runner training for his first full marathon.</p>
      </div>
    </div>
  </div>
</div>
<div class="bb ph3 pv4 tc">
  <div class="pt2 pb3"><b>Want to hear about more Handmade events?</b> Sign up for our email newsletter:</div>
  {{ template "newsletter_signup.html" . }}
</div>
{{ end }}
