{{ template "base-2024.html" . }}

{{ define "expo-2026-header-content" }}
<div class="ph3 pv5 flex-grow-1 flex flex-column g3 justify-center items-center relative z-1">
  <div id="titles" class="flex flex-column g3 tc">
    <h1 class="f2 f1-ns" style="line-height: 1.1">Thank you!</h1>
    <div>Your ticket will be sent to your email address.</div>
    <div class="flex justify-center">
      <a class="ph5 btn btn-primary" href="{{ .ExpoURL }}">Back</a>
    </div>
  </div>
</div>
{{ end }}

{{ define "content" }}
{{ template "expo-2026-header" . }}
{{ end }}
