{{ template "base.html" . }}

{{ define "extrahead" }}
{{/* TODO
<script type="text/javascript" src="{% static 'util.js' %}?v={% cachebust %}"></script>
*/}}
{{ end }}

{{ define "content" }}
<div class="content-block">
    <div class="optionbar">
        <div class="options">
            <a class="button" href="{{ .AtomFeedUrl }}"><span class="icon big">4</span> RSS Feed</span></a>
            {{ if .User }}
                <a class="button" href="{{ .MarkAllReadUrl }}"><span class="big">&#x2713;</span> Mark all posts on site as read</a>
            {{ end }}
        </div>
        <div class="options">
            {{ template "pagination.html" .Pagination }}
        </div>
    </div>
    {{ range .Posts }}
        {{ template "post_list_item.html" . }}
    {{ end }}
    <div class="optionbar bottom">
        <div>
        </div>
        <div class="options">
            {{ template "pagination.html" .Pagination }}
        </div>
    </div>
</div>
{{ end }}
