{{ template "base.html" . }}

{{ define "content" }}
<div class="ph3 ph0-ns">
    <h2>Fishbowls</h2>

    <p>Every so often on the Discord, we host a <b>fishbowl</b>: a panel conversation where a select few community members can discuss a topic in detail. Fishbowls give us the opportunity to discuss complex topics in more depth and detail than a normal chat conversation would allow. They give our best conversations room to breathe.</p>

    <p>This is an archive of those conversations. If you would like to catch one live, <a href="https://discord.gg/hmn" target="_blank">join the Discord!</a></p>

    <div class="mt3 mw7">
        {{ range .Fishbowls }}
            <div class="br2 bg2 pa3 mb2">
                {{ if .Valid }}
                    <a href="{{ .Url }}"><h3 class="f4 ma0">{{ .Fishbowl.Title }}</h3></a>
                {{ else }}
                    <h3 class="f4 ma0">{{ .Fishbowl.Title }}</h3>
                {{ end }}
                <div class="c--dim b">
                    {{ .Fishbowl.Month }} {{ .Fishbowl.Year }}
                </div>
                {{ with .Fishbowl.Description }}
                    <div class="mt2">{{ . }}</div>
                {{ end }}
            </div>
        {{ end }}
    </div>

    <p class="c--dim i">If you'd like to help us plan more fishbowls, join the discussion over on <a href="https://github.com/HandmadeNetwork/hmn_fishbowl/discussions/categories/ideas" target="_blank">GitHub</a>.</p>
</div>
{{ end }}
