{{ template "base.html" . }}

{{ define "content" }}
<div class="content-block">
    <div class="optionbar">
        <div class="options">
            {{ if .User }}
                <a class="button new-thread" href="{{ printf "%s/t/new" .CategoryUrl }}"><span class="big">+</span> New Thread</a>
                <a class="button" href="{{ printf "%s/markread" .CategoryUrl }}"><span class="big">&#x2713;</span> Mark threads here as read</a>
            {{ else }}
                <a class="button" href="{% url 'member_login' subdomain=request.subdomain %}">Log in to post a new thread</a>
            {{ end }}
        </div>
        <div class="options">
            {{ template "pagination.html" .Pagination }}
        </div>
    </div>
    {{ range .Threads }}
        {{ template "thread_list_item.html" . }}
    {{ end }}
</div>
{{ end }}
