{{ template "base-2024.html" . }}

{{ define "content" }}
<div class="flex justify-center pa3">
    <div class="w-100 mw-site flex flex-column g3">
        <div class="flex">
            <a class="" href="{{ .SubforumUrl }}">&larr; Back to index</a>
            <div class="flex-grow-1"></div>
            <div class="">
                {{ template "pagination.html" .Pagination }}
            </div>
        </div>
        <hr />
        {{ range .Posts }}
            <div class="bg3">
                {{ template "forum_post_standalone.html" . }}
            </div>
        {{ end }}
        <div class="flex">
            <div class="flex-grow-1"></div>
            {{ if .Thread.Locked }}
                <div>Thread is locked.</div>
            {{ else if .Project.HasForum }}
                <a class="flex items-center g2" href="{{ not (not .User) | ternary .ReplyUrl .LoginPageUrl }}">{{ svg "add" }}<span>Reply to Thread</span></a>
            {{ end }}
        </div>
        <hr />
        <div class="flex">
            <a class="" href="{{ .SubforumUrl }}">&larr; Back to index</a>
            <div class="flex-grow-1"></div>
            {{ template "pagination.html" .Pagination }}
        </div>
    </div>
</div>
{{ end }}
