{{ template "hsf_base.html" . }}

{{ define "content" }}
<div class="mw-site pv3 post-content center">
  <p>The following Handmade projects are directly supported by the Handmade Software Foundation:</p>
  <div class="mv3 pv4 ph3 tc bg1 f7">
    <p>We do not yet officially support any projects. We look forward to supporting projects in the near future.</p>
  </div>

  <h2>How we support projects</h2>
  <p>We strive to support Handmade projects without undermining what makes them special. To that end, we support projects according to these principles:</p>
  <ul>
    <li><b>Enabling self-sufficiency:</b> We equip project authors with the tools they need to work independently. Our goal is not to lock them in, but to give them a head start, and to provide both tangible support and education for project authors outside their domain.</li>
    <li><b>Ground-up support:</b> We are programmers too, and can adapt our support to fit the unique needs of each project. We go beyond one-size-fits-all platforms, providing the kind of code the project owners wish they had time to write.</li>
    <li><b>Non-ownership:</b> Project authors are never locked into our platform. Project authors are free to cancel at any time, and we ensure that they always retain control of the systems we build for them so that there is no undue burden when they choose to do so.</li>
    <li><b>Sharing of knowledge:</b> We adapt our work into anonymized open-source code that anyone can look at and learn from. This ensures that the entire industry can benefit from our Handmade approach, while still ensuring that project authors get the kind of support they deserve.</li>
  </ul>
  <p>Direct project support is limited to Handmade Software Foundation members and subject to an application process. However, anyone can look at and learn from the resources we make available for free.</p>
</div>
{{ end }}

