{{ template "hsf_base.html" . }}

{{ define "content" }}
<div class="mw-site pv3 post-content center">
  <h2>Software is terrible.<br class="dn-ns"> We want to change that.</h2>
  <p>The Handmade Software Foundation is a pending 501(c)(6) nonprofit dedicated to supporting the creation of Handmade software and promoting the Handmade ethos in the software industry.</p>

  <div class="mv3 pa3 bg1">
    <h2>Proudly reinventing the wheel</h2>
    <p>Modern software is a disaster. Computers have become hundreds of times faster, yet they feel slower to use than they did two decades ago. Thoughtless software development practices have run the industry into the ground. But we believe there's a better way.</p>
    <p><strong><a href="{{ .ManifestoUrl }}">Read our manifesto »</a></strong></p>
  </div>

  <div class="mv3 pa3 bg1">
    <h2>A global community</h2>
    <p>The Handmade Software Foundation owns and operates the Handmade Network, the global online community for Handmade programmers.</p>
    <p><strong><a href="https://handmade.network/">Join the community »</a></strong></p>
  </div>
</div>
{{ end }}

