{{ template "hsf_base.html" . }}

{{ define "content" }}
<div class="mw-site pv3 post-content center">
  <p>The Handmade Software Foundation is a pending 501(c)(6) nonprofit corporation. We are incorporated in the state of Minnesota, but the Handmade community covers the entire globe.</p>
  <p>Our articles of incorporation, bylaws, financial records, and other documents are publicly available and may be found <a href="http://hsf.handmadenetwork.fastmail.com">here</a>.

  <h2>Mission statement</h2>
  <p>Our mission is to enable Handmade programmers to produce high-quality, efficient, industry-redefining software, and to promote and support the Handmade ethos in the software industry.</p>

  <h2>Board</h2>
  <p>The board of the Handmade Software Foundation consists of the following:</p>
  <ul>
    <li>Ben Visness (President)</li>
    <li>Asaf Gartner (Secretary)</li>
    <li>Colin Davidson (Treasurer)</li>
  </ul>

  <h2>Mailing address</h2>
  <p>
    Handmade Software Foundation<br>
    310 4th Ave S, Suite 5010 PMB 94594<br>
    Minneapolis, MN 55415
  </p>
  <p>Please note that, due to the virtual mailbox service we use, there may be delays in processing mail.</p>

  <h2>EIN</h2>
  <p>Our Employer Identification Number (EIN) is 92-1202077.</p>

  <h2>About the team</h2>
  <div class="grid grid-2 g3">
    <div class="bg3 pa3">
      <h2>Ben Visness</h2>
      <p>
        Ben joined the Handmade community in 2016 as a college student, and was thrilled to find a community of programmers who weren't blinded by "best practices". He has been an admin for the Handmade Network since 2018, and became the official community lead in 2022.
      </p>
      <p>
        On the professional side, Ben works on WebAssembly at Mozilla within the <a href="https://spidermonkey.dev/">SpiderMonkey</a> team. Before this, he spent many years as a web developer building apps and backend services, with a focus on performance. He is also lead mentor of a <a href="https://www.msarobotics.org/"><i>FIRST</i> Robotics team</a>.
      </p>
    </div>
    <div class="bg3 pa3">
      <h2>Asaf Gartner</h2>
      <p>
        Asaf was there for episode one of Handmade Hero, and has been a pillar of the community ever since. He was drawn to the Handmade community by his increasing dissatisfaction with the web development world, and in 2018 he joined the admin team to help build the HMN website and move the network forward.
      </p>
      <p>
        With a severe allergy to unnecessary complexity, he is constantly looking for ways to create software that doesn't frustrate the user.
      </p>
    </div>
    <div class="bg3 pa3">
      <h2>Colin Davidson</h2>
      <p>
        Colin is a generalist systems engineer who likes to tinker with strange hardware and works up and down the tech stack for fun. He cares deeply about spreading mechanical sympathy, helping others write code that makes the computer happy, so that users can experience the joy of fast computers that is usually reserved for a few lucky embedded engineers.
      </p>
      <p>
        Professionally, Colin has worked with embedded user and kernelspace networking, front and backend webdev, and hypervisor infrastructure. He also spends a fair amount of time plonking around on the guitar, working with the <a href="https://odin-lang.org/">Odin</a> team (a <a href="https://odin.handmade.network/">Handmade project!</a>), and writing code instrospection tools to debug his hobby kernel projects.
      </p>
    </div>
  </div>
</div>
{{ end }}

