{{ template "base-2024.html" . }}

{{ define "content" }}
<div class="bg1 pv5 ph3 tc">
    <h2 class="f3 f2-ns lh-title">Software is terrible.<br class="dn-ns"> We want to change that.</h2>
</div>
<div class="mw-site ph3 pv4 post-content center">
  <p>The Handmade Software Foundation is a 501(c)(6) nonprofit dedicated to supporting the creation of Handmade software and promoting the Handmade ethos in the software industry.</p>

  <h2>Proudly reinventing the wheel</h2>
  <p>Modern software is a disaster. Computers have become hundreds of times faster, yet they feel slower to use than they did two decades ago. Thoughtless software development practices have run the industry into the ground, and AI is accelerating this trend. But we believe there's a better way.</p>
  <p><strong><a href="{{ .ManifestoUrl }}">Read our manifesto »</a></strong></p>

  <h2>How we support projects</h2>
  <p>We strive to support Handmade projects without undermining what makes them special. To that end, we support projects according to these principles:</p>
  <ul>
    <li><b>Enabling self-sufficiency:</b> We equip project authors with the tools they need to work independently. Our goal is not to lock them in, but to give them a head start, and to provide support and education for project authors in domains outside their core expertise.</li>
    <li><b>Ground-up support:</b> We are programmers too, and can adapt our support to fit the unique needs of each project. Instead of building a one-size-fits-all platform, we provide the kind of code the project owners wish they had time to write.</li>
    <li><b>Non-ownership:</b> Project authors are never locked into what we build. We ensure that project authors always retain control of the systems we build for them, so that there is no undue burden when they choose to do so.</li>
  </ul>
</div>
{{ end }}
