{{ template "hsf_base.html" . }}

{{ define "content" }}
<div class="mw-site pv3 post-content center">
  <p>The Handmade Software Foundation is funded by its members. You can support our mission by becoming a member today.</p>

  <h2>Ongoing membership</h2>
  <p>You can become a member of the Handmade Software Foundation by paying a monthly membership fee, Patreon-style. We currently have just one tier of membership.</p>
  <p>Member benefits include:</p>
  <ul>
    <li>Members-only technical and business resources</li>
    <li>A Foundation Member role and access to a private channel on the Handmade Network Discord</li>
    <li>A regular members-only newsletter</li>
    <li>More to come!</li>
  </ul>
  <div class="mv3 pv4 ph3 bg1 tc f7">
    Memberships are not yet available. We look forward to launching them in the near future.
  </div>

  <h2>One-time donations</h2>
  <p>If you would like to support the Handmade Software Foundation without becoming a member, we gladly accept one-time donations. One-time donations do not confer any benefits but are greatly appreciated.</p>
  <div class="mv3 pv4 ph3 bg1 tc f7">
    One-time donations are not yet available. We look forward to launching them in the near future.
  </div>
</div>
{{ end }}

{{ define "membership-cta" }}
<div class="display: none"></div>
{{ end }}

