{{ template "base-2024.html" . }}

{{ define "extrahead" }}
	{{ template "jam_2024_vj_styles.html" . }}
{{ end }}

{{ define "content-top" }}
{{ if not .Timespans.During }}
  {{ template "jam_2024_vj_bannerbig.html" . }}
{{ else }}
  {{ template "jam_2024_vj_bannersmall.html" . }}
{{ end }}
{{ end }}

{{ define "content" }}
  {{ if .TwitchEmbedUrl }}
  <div class="flex justify-center">
    <div class="mw-site-narrow w-100 pt4">
      <div style="aspect-ratio: 16 / 9;">
        <iframe src="{{ .TwitchEmbedUrl }}" allowfullscreen width="100%" height="100%"></iframe>
      </div>
    </div>
  </div>
  {{ end }}

  {{ template "vj2024-guidelines-top" . }}

  {{ if or .Timespans.Pre }}
	  {{ template "vj2024-guidelines-bottom" . }}
  {{ else if .Timespans.During }}
    <div class="bg1">
      {{ template "vj2024-submittedproject" . }}
    </div>
    {{ template "vj2024-feed" . }}
  {{ else }}
    <div class="bg1">
      {{ template "vj2024-recap" . }}
    </div>
    <div>
      {{ template "vj2024-projects" . }}
    </div>
  {{ end }}
{{ end }}
