{{ template "base-2024.html" . }} 

{{ define "extrahead" }}
    <link rel="stylesheet" href="{{ static "fonts/mohave/stylesheet.css" }}">
    <style>
        /* Copy-paste from project.css yay */
        {{ $c := hex2color "C8217E" }}

        {{/* In the 2024 redesign, these were all forced to use the dark theme variants. */}}
        {{ $themeDim := lightness 0.35 $c | color2css }}
        {{ $themeDimmer := lightness 0.3 $c | color2css }}
        {{ $themeDimmest := lightness 0.2 $c | color2css }}

        {{ $themeDark := lightness 0.30 $c | color2css }}

        {{ $linkColor := lightness 0.55 $c | color2css }}
        {{ $linkHoverColor := lightness 0.65 $c | color2css }}

        :root {
            --content-background: #f8f8f8;
            --card-background: rgba(255, 255, 255, 0.1);
            --card-background-hover: rgba(255, 255, 255, 0.16);

            --theme-color: {{ $c | color2css }};
            --theme-color-dim: {{ $themeDim }};
            --theme-color-dimmer: {{ $themeDimmer }};
            --theme-color-dimmest: {{ $themeDimmest }};

            --timeline-media-background: rgba(255, 255, 255, 0.1);
        }

        body {
            background: linear-gradient( #C8217E, #6E2C6B );
        }

        #top-container {
            margin: 3rem 0;
        }

        #logo {
            width: 16rem;
        }

        h1, h2, h3 {
            font-family: 'MohaveHMN', sans-serif;
            margin-bottom: 0;
            font-weight: normal;
        }

        #title {
            color: white;
            font-size: 2.4rem;
            line-height: 0.8;
            margin-top: 2rem;
            letter-spacing: -0.06rem;
            text-transform: uppercase;
        }

        #dates {
            font-variant: small-caps;
            font-size: 1.6rem;
            margin-top: 0.2rem;
        }

        #tagline {
            font-size: 1rem;
            margin-top: 1rem;
            line-height: 1.4;
        }

        #top-container a {
            color: white !important;
        }

        .actions {
            margin-top: 1.5rem;
        }

        .actions a {
            text-decoration: none !important;
            line-height: 1.4;
            font-weight: 500;

            transition: background-color 50ms ease-in-out;
            background-color:rgba(255, 255, 255, 0.1);
        }

        .actions a:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }

        .actions a:active {
            background-color: rgba(255, 255, 255, 0.15);
        }

        .section {
            font-size: 1rem;
            line-height: 1.4;
        }

        .section h2 {
            font-variant: small-caps;
            font-size: 2.2rem;
            line-height: 1.1;
        }

        .section h3 {
            font-variant: small-caps;
            font-size: 2rem;
            line-height: 0.8;
            margin-top: 1.4rem;
        }

        .section p {
            margin-top: 1em;
            margin-bottom: 1em;
        }

        .section a {
            text-decoration: underline;
        }

        .emphasized {
            padding-left: 1rem;
            border-left: 0.3rem solid white;
        }

        .flex-fair {
            flex-basis: 1px;
            flex-grow: 1;
            flex-shrink: 1;
        }

        ul {
            list-style-type: disc;
        }

        li {
            margin-top: 0.6rem;
            margin-bottom: 0.6rem;
        }

        .section li p {
            margin-top: 0.6rem;
            margin-bottom: 0.6rem;
        }

        .showcase-item {
            background-color: rgba(0, 0, 0, 0.2);
            border-color: rgba(255, 255, 255, 0.5);
        }
        
        .carousel-thinger {
            position: absolute;
            top: 0;
            width: 6rem;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.1); /* bg-white-10 */
            border-radius: 0.5rem; /* br3 */
            cursor: pointer;
        }

        .carousel-thinger.prev {
            left: -7rem;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            background: linear-gradient(to left, rgba(255, 255, 255, 0.1), transparent);
        }

        .carousel-thinger.next {
            right: -7rem;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            background: linear-gradient(to right, rgba(255, 255, 255, 0.1), transparent);
        }

        @media screen and (min-width: 30em) {
            /* not small styles */

            #top-container {
                margin: 5.4rem 0;
            }

            #logo {
                width: 31rem;
            }

            #title {
                font-size: 5.2rem;
                margin-top: 4rem;
            }

            #dates {
                font-size: 2.8rem;
            }

            #tagline {
                font-size: 1.2rem;
                margin-top: 1.2rem;
            }

            .actions {
                margin-top: 2.2rem;
            }

            .actions a {
                font-size: 1.2rem;
            }

            .section h2 {
                font-size: 3.4rem;
            }

            .section h3 {
                font-size: 2.4rem;
                margin-top: 1.6rem;
            }
        }

        h3.mt0 {
            margin-top: 0; /* ugh seriously */
        }

        .back-to-normal * {
            font-family: "Fira Sans", sans-serif;
        }

        .back-to-normal h1,
        .back-to-normal h2,
        .back-to-normal h3,
        .back-to-normal h4,
        .back-to-normal h5 
        {
            font-weight: 500;
            margin: 0;
            margin-bottom: 0.5rem;
            font-size: 1.5rem;
            line-height: 1.25em;
        }

        .back-to-normal a {
            text-decoration: none;
        }

        .snippet-project {
            background-color: rgba(255, 255, 255, 0.1);
            text-decoration: none !important;
        }

        /* More copy-paste from project.css */
        .bg-theme {
            background-color: {{ $c | color2css }};
            background-color: var(--theme-color);
        }

        .bg-theme-dim {
            background-color: {{ $themeDim }};
            background-color: var(--theme-color-dim);
        }

        .bg-theme-dimmer {
            background-color: {{ $themeDimmer }};
            background-color: var(--theme-color-dimmer);
        }

        .bg-theme-dimmest {
            background-color: {{ $themeDimmest }};
            background-color: var(--theme-color-dimmest);
        }
        
        .jam-sections > div:nth-of-type(even) {
            background-color: rgba(0, 0, 0, 0.2);
        }

        .avatar {
            background-color: rgba(0, 0, 0, 0.2);
        }
    </style>
{{ end }}

{{ define "content" }}
<div class="jam-sections">
<style>
  :root {
    --theme-color: white;
    --theme-color-dimmer: rgba(255, 255, 255, 0.1);
  }
  
  #title {
    margin-top: 0;
  }
</style>

<div id="top-container" class="flex flex-column items-center ph3">
  <a href="{{ .JamUrl }}">
    <h1 id="title">Visibility Jam</h1>
  </a>
  <h2 id="dates">April 14 - 16, 2O23</h2>
  <div id="tagline" class="tc">See things in a new way.</div>
</div>

<div class="section pt4 pb3 pb4-ns">
  <div class="mw8 m-center ph3 ph4-l">
    <h2 class="mb2">Jam recap</h2>
    <div class="mb4 flex items-center">
      <div class="avatar contain bg-center" style="background-image:url('{{ .Ben.AvatarUrl }}');"></div>
      <div class="flex flex-column ml2">
        <div>
          <a class="username" href="{{ .Ben.ProfileUrl }}" target="_blank">{{ .Ben.Name }}</a>
          <div class="di ph1">
            {{ if .Ben.IsStaff }}
            <div class="badge staff"></div>
            {{ end }}
          </div>
        </div>
        <div class="c--dim f7">{{ timehtml (absoluteshortdate .PostDate) .PostDate }}</div>
      </div>
    </div>
    <div class="post-content">
      <p>When we were planning the Visibility Jam earlier this year, we expected it to be a small secondary jam to complement our yearly Wheel Reinvention Jam. We weren't sure if a community of primarily low-level programmers would be interested in a jam focused on visibility and visualization.</p>
      <p>But we had no reason to be worried! We had an amazing turnout, with 23 fantastic submissions exploring a wide variety of topics.</p>
      <p>While we're not declaring official “winners” for this jam, we wanted to take the time to highlight some of our favorite submissions, and what made them stand out.</p>
      
      <a class="db mt4" href="https://handmade.network/p/369/rede/">
        <h3>REDE - an IDE for regular expressions</h3>
      </a>
      <p>
        <video
          class="br2"
          preload="metadata" controls
          src="https://hmn-assets-2.ams3.cdn.digitaloceanspaces.com/ec99f8e9-4fd4-4d96-a49e-a09287a06e77/rede_demo.mp4"
          poster="{{ static "jams/visibility-2023/rede.jpg" }}"
        >
      </p>
      <p>REDE is easily the most visually striking project from this jam, and simultaneously very informative. There are <a href="https://www.debuggex.com/">other tools</a> out there to visualize the structure of regular expressions, but REDE goes a step further, showing the actual NFA structure and how it gets executed. The result is useful to a wide audience - both beginners unfamiliar with the structure of regular expressions, and developers who know regular expressions but didn't actually know how they get executed.</p>
      <p>And the particles, man! How can you not love the particles?</p>
      
      <a class="db mt4" href="https://handmade.network/p/386/png-chunk-explorer/">
        <h3>PNG Chunk Explorer</h3>
      </a>
      <p><img class="br2 maxh-6" src="{{ static "jams/visibility-2023/pngexplorer.png" }}"></p>
      <p>This is a great project that not only shows you the structure of a PNG file, but <em>teaches</em> you in the process. This project puts the familiar hex view alongside a nested description of the format's structure, explaining the purpose of each section and linking to the spec in the process.</p>
      <p>It also parses each section and tailors the description to your specific image. The result is far richer than a simple hex viewer and far more more educational than a spec or an explainer article. I love the result and I would love to see this expanded in the future with even more features and to more formats!</p>
      <p>Since this is a web app, you can play with it <a href="https://evanhahn.gitlab.io/png-explorer/">right now</a>, and I recommend that you do.</p>
      
      <a class="db mt4" href="https://handmade.network/p/385/string-memory-visualizer/">
        <h3>String Memory Visualizer</h3>
      </a>
      <p>
        <video
          class="br2"
          preload="metadata" controls
          src="{{ static "jams/visibility-2023/stringmem.mp4" }}"
          poster="{{ static "jams/visibility-2023/stringmem.jpg" }}"
        >
      </p>
      <p>This is exactly the kind of project we had in mind when we conceived of this jam. Take the time to make your program's behavior visible, and you can learn so much about it!</p>
      <p>I'd love to see features like this become commonplace in developer tooling. Lots of programmers would benefit if they could actually see what was going on under the hood of the frameworks, editors, you name it.</p>
      
      <a class="db mt4" href="https://handmade.network/p/392/expertmemer-experimental-memory-access-visualizer/">
        <h3>ExpertMemer - EXPERimenTal MEMory access visualizER</h3>
      </a>
      <p><img class="br2" src="{{ static "jams/visibility-2023/memer.png" }}"></p>
      <p>Obviously this project has a great name, but it's also a great idea and an impressive result given the short timeframe of this jam. This project visualizes approximate memory cache usage by dynamically instrumenting applications, tracking their memory accesses, and displaying how those memory accesses hit the L1 cache over time.</p>
      <p>This is exactly the kind of visualization we need in order for programmers to understand and take advantage of their computer's hardware. I'd love to see more examples of different memory access patterns - it would be amazing to visually see cache thrashing instead of just tracking some boring numbers.</p>
      
      <a class="db mt4" href="https://handmade.network/p/379/escape-artist/">
        <h3>Escape Artist - Terminal escape code visualizer</h3>
      </a>
      <p><img class="br2" src="{{ static "jams/visibility-2023/escapeartist.jpg" }}"></p>
      <p>This is one of the most literal entries in the jam and I love it. It makes those pesky invisible characters in your terminal visible. And not only can you use your terminal as normal, it even works in real time, so it really works as a “view source”.</p>
      <p>Even though this was done in a weekend, it's already a legitimately useful project that I will probably use myself next time I have to work with color codes.</p>
      
      <a class="db mt4" href="https://handmade.network/p/366/diffest/">
        <h3>Diffest</h3>
      </a>
      <p><img class="br2" src="{{ static "jams/visibility-2023/diffest.png" }}"></p>
      <p>This project is only obliquely related to the jam topic, but the results are so good that we just have to highlight it. The author, <a href="https://handmade.network/m/abec">abec</a>, has been working on a version control system called <a href="https://darke.handmade.network/">Darke</a>, and his project explores how diff tools could work if they understood code instead of just text.</p>
      <p>The project submission has a fantastic writeup of the motivation, techniques used, and the end result. This is a very valuable exploration of a difficult problem, and I hope that he and others can take it further in the future and make code-aware diff tools a viable option for all of us.</p>
      
      <h3>And more!</h3>
      <p>We on the admin team were just blown away by the success of this jam. We're so glad you all enjoyed the topic, and we're always amazed by the work this community can achieve in such a short time. Name me one other group of programmers creating new UIs for terminals or regex engines with particle effects!</p>
      <p>These are just six of the 23 submissions we received. I strongly encourage you to check them all out on the <a href="{{ .FeedUrl }}">jam feed</a>.</p>
      <p>Thanks everyone for participating, and I hope we see you again this fall for the Wheel Reinvention Jam!</p>

      <div class="actions flex justify-center">
        <a
          class="ba b--white br2 pv2 pv3-ns ph3 ph4-ns ml3"
          href="{{ .FeedUrl }}"
          >See all submissions</a
        >
      </div>
    </div>
  </div>
</div>
</div>
{{ end }}
