{{ template "base-2024.html" . }}

{{ define "extrahead" }}
	{{ template "essentials2026-styles" . }}
{{ end }}

{{ define "content-top" }}
  {{ if not .Timespans.During }}
    {{ template "essentials2026-bannerbig" . }}
  {{ else }}
    {{ template "essentials2026-bannersmall" . }}
  {{ end }}
{{ end }}

{{ define "content" }}
  {{ if .Timespans.Pre }}
    <div class="bg1">
      {{ template "essentials2026-description" . }}
    </div>
    {{ template "essentials2026-rationale" . }}
    <div class="bg1 pv4 flex flex-column g4">
      {{ if .NewProjectUrl }}
      <div>
        {{ template "essentials2026-submittedproject" . }}
      </div>
      {{ end }}
      <div>
        {{ template "essentials2026-howto" . }}
      </div>
    </div>
    <div class="pv4">
      {{ template "essentials2026-allsubmissions" . }}
    </div>
    <div class="bg1">
      {{ template "essentials2026-newsletter" . }}
    </div>
  {{ else if .Timespans.During }}
    {{ template "essentials2026-description" . }}
    <div class="bg1 pv4 flex flex-column g4">
      <div>
        {{ template "essentials2026-submittedproject" . }}
      </div>
      <div>
        {{ template "essentials2026-allsubmissions" . }}
      </div>
    </div>
  {{ else }}
    <div class="bg1">
      {{ template "essentials2026-description" . }}
    </div>
    {{ template "essentials2026-rationale" . }}
    {{/*  <div class="bg1">
      {{ template "essentials2026-recap" . }}
    </div>  */}}
    <div class="bg1 pv4">
      {{ template "essentials2026-allsubmissions" . }}
      <div class="pv4">
        {{ template "essentials2026-feed" . }}
      </div>
    </div>
  {{ end }}
{{ end }}
