{{ template "base-2024.html" . }}

{{ define "extrahead" }}
	{{ template "jam_2024_vj_styles.html" . }}
{{ end }}

{{ define "content-top" }}
{{ if not .Timespans.During }}
  {{ template "jam_2024_vj_bannerbig.html" . }}
{{ else }}
  {{ template "jam_2024_vj_bannersmall.html" . }}
{{ end }}
{{ end }}

{{ define "content" }}
  {{ if .TwitchEmbedUrl }}
  <div class="flex justify-center">
    <div class="mw-site-narrow w-100 pt4">
      <div style="aspect-ratio: 16 / 9;">
        <iframe src="{{ .TwitchEmbedUrl }}" allowfullscreen width="100%" height="100%"></iframe>
      </div>
    </div>
  </div>
  {{ end }}

  {{ template "vj2024-guidelines-top" . }}

  {{ if or .Timespans.Pre (and (not .TimelineItems) (not .JamProjects)) }}
	{{ template "vj2024-guidelines-bottom" . }}
  {{ else }}
	{{ if or .Timespans.Post (not .TimelineItems) }}
		{{ template "vj2024-projects" . }}
	{{ end }}
    {{ template "vj2024-feed" . }}
  {{ end }}

{{ end }}
