{{ template "base-2024.html" . }}

{{ define "extrahead" }}
	{{ template "lj2024-styles" . }}
{{ end }}

{{ define "content-top" }}
	{{ template "lj2024-bannersmall" . }}
{{ end }}

{{ define "content" }}
<div class="mw7 center flex flex-column post-content">
	<div class="ph3 pv4 bb b--rich-gray">
		<h2 class="c--theme-gradient-light mb3">Projects</h2>
		{{ template "lj2024-projects" . }}
	</div>
	{{ if .TimelineItems }}
		<div class="ph3 pv4 bb b--rich-gray">
			<h2 class="c--theme-gradient-light">All updates</h2>
			<p>
				See what community members are learning about their topics. You can share your own updates via your <a href="{{ or (and .SubmittedProject .SubmittedProject.Url) .NewProjectUrl }}">project page</a> or using the <b>!til</b> command on Discord.
			</p>
			<div class="flex flex-column g2 mt3">
				{{ template "lj2024-feeditems" .TimelineItems }}
			</div>
		</div>
	{{ end }}
</div>
{{ end }}
