{{ template "base-2024.html" . }}

{{ define "extrahead" }}
	{{ template "jam_2025_xray_styles.html" . }}
{{ end }}

{{ define "content-top" }}
{{ if not .Timespans.During }}
  {{ template "jam_2025_xray_bannerbig.html" . }}
{{ else }}
  {{ template "jam_2025_xray_bannersmall.html" . }}
{{ end }}
{{ end }}

{{ define "content" }}
  {{ if .TwitchEmbedUrl }}
  <div class="flex justify-center bg1">
    <div class="mw-site-narrow w-100 pv3">
      <div style="aspect-ratio: 16 / 9;">
        <iframe src="{{ .TwitchEmbedUrl }}" allowfullscreen width="100%" height="100%" frameborder="0"></iframe>
      </div>
    </div>
  </div>
  {{ end }}

  <div class="bg1">
    {{ template "xray2025-description" . }}
  </div>
  
  {{ if or .Timespans.Pre }}
    {{ template "xray2025-rationale" . }}
    {{ template "xray2025-howto" . }}
    {{ template "xray2025-inspiration" . }}
    <div class="bg1">
      {{ template "xray2025-newsletter" . }}
    </div>
  {{ else if .Timespans.During }}
    <div class="bg1">
      {{ template "xray2025-submittedproject" . }}
    </div>
    {{ template "xray2025-feed" . }}
  {{ else }}
    <div class="bg1">
      {{ template "xray2025-recap" . }}
    </div>
    <div>
      {{ template "xray2025-projects" . }}
    </div>
  {{ end }}
{{ end }}
