{{ template "jam_2024_learning_base.html" . }}

{{ define "extrahead" }}
<style>
	.jam-logo {
		max-width: 18rem;
	}

	.jam-title {
		/* align with the width of the logo */
		font-size: 2.76rem;
		font-weight: 700;
		/* align with the text's actual bounding box */
		line-height: 1.18;
  		margin-top: -0.18em;
		margin-left: -0.03em;
		margin-right: -0.03em;
	}

	/* not small */
	@media screen and (min-width: 35em) {
		.jam-logo {
			max-width: 24rem;
		}

		.jam-title {
			font-size: 3.7rem;
		}
	}
</style>
{{ end }}

{{ define "content-top" }}
<div class="mw7 margin-center">
    <div class="flex flex-column pv4 tc">
		<img class="jam-logo margin-center" src="{{ static "learningjam2024/logo.svg" }}">
		<div class="margin-center mt3 mt4-ns mb4">
			<div class="jam-title mb3">Learning Jam</div>
			<div class="flex flex-column flex-row-ns justify-between lh-solid g3 g0-ns">
				<div>
					<div class="fw7 f3 mb1">Learn</div>
					<div class="fw3 f4">March 15-17, 2024</div>
				</div>
				<div>
					<div class="fw7 f3 mb1">Teach</div>
					<div class="fw3 f4">March 22-24, 2024</div>
				</div>
			</div>
		</div>
		{{ if lt .DaysUntilStart 0 }}
			<div class="flex flex-row g3 mt2">
				{{ if .SubmittedProjectUrl }}
					<a class="db ph3 pv2 f4 button-simple" href="{{ .SubmittedProjectUrl }}">Share your progress</a>
				{{ else }}
					<a class="db ph3 pv2 f4 button-simple" href="{{ .ProjectSubmissionUrl }}">Create your project</a>
				{{ end }}
				<a class="db ph3 pv2 f4 button-simple" href="{{ .JamFeedUrl }}">Recent activity</a>
			</div>
		{{ end }}
		<div class="flex g3 justify-center">
			<a href="{{ .DiscordInviteUrl }}" class="btn--jam">Join the Discord</a>
		</div>
	</div>
</div>
{{ end }}

{{ define "content" }}
<style>
	.participate-icon {
		--mask-url: url("{{ static "learningjam2024/logo.svg" }}");
	}
</style>
<div class="mw7 margin-center flex flex-column">
	<div class="ph3 pv4 bb b--rich-gray">
		<h2 class="dib c--theme-gradient-light">What is a Learning Jam?</h2>
		<div class="post-content">
			<p>
				The <b class="c--theme-gradient-light">Learning Jam</b> is an opportunity for you to learn something new.
			</p>
			<p>
				Unlike traditional game jams, and unlike our previous programming jams, the goal of the <b class="c--theme-gradient-light">Learning Jam</b> is <em>knowledge</em>. It's an opportunity to throw yourself at a topic and learn everything you can about it—and then, to turn around and teach it to others.
			</p>
			<p>
				The jam takes place over <b>two weekends</b>. On the first weekend, you'll learn as much as you can about your topic of choice. On the second, you'll teach it to others in whatever form you like—writeup, video, Minecraft mod, whatever.
			</p>
		</div>
	</div>
	<div class="ph3 pv4 bb b--rich-gray">
		<h2 class="mb3 dib c--theme-gradient-light">How to participate</h2>
		<div class="flex flex-column g2">
			<div class="pa3 flex flex-column flex-row-ns g3 items-center bg--rich-gray">
				<!-- <div class="flex-shrink-0 svg-mask participate-icon bg--theme-gradient-light">
					<img class="w4 invisible" src="{{ static "learningjam2024/logo.svg" }}" />
				</div> -->
				<div class="post-content">
					<h3 class="f4">Choose a topic.</h3>
					<p>
						Decide what you'll spend your weekend learning about. Maybe there's an area of programming you've been meaning to dig into, or maybe there's a specialization in your field that you've been curious about. Maybe you just need a reason to read papers for a weekend.
					</p>
					<p>
						You're welcome to work in teams or work solo.
					</p>
				</div>
			</div>
			<div class="pa3 flex flex-column flex-row-ns g3 items-center bg--rich-gray">
				<!-- <div class="flex-shrink-0 svg-mask participate-icon bg--theme-gradient-light">
					<img class="w4 invisible" src="{{ static "learningjam2024/logo.svg" }}" />
				</div> -->
				<div class="post-content">
					<h3 class="f4">Mar 15-17: Learn!</h3>
					<p>
						Create a Handmade Network project to track your progress. Then go down the rabbit hole. Absorb as much information as you can in a weekend.
					</p>
					<p>
						As you learn, we encourage you to share updates on Discord using the <b>!til</b> command. These updates will be published as part of your submission.
					</p>
				</div>
			</div>
			<div class="pa3 flex flex-column flex-row-ns g3 items-center bg--rich-gray">
				<!-- <div class="flex-shrink-0 svg-mask participate-icon bg--theme-gradient-light">
					<img class="w4 invisible" src="{{ static "learningjam2024/logo.svg" }}" />
				</div> -->
				<div class="post-content">
					<h3 class="f4">Mar 22-24: Teach!</h3>
					<p>
						Share what you learned with the rest of the community. You can present the information in any form you like—whatever helps you communicate most effectively.
					</p>
					<p>
						Your Handmade Network project is your final submission. Make sure the description gives adequate context, and either attach or link to your final presentation.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="ph3 pv4 bb b--rich-gray">
		<h2 class="dib c--theme-gradient-light">Why?</h2>
		<div class="post-content">
			<p>
				The Handmade Network's goal is to change the software industry by building back up from new foundations. But in order to do that, we need to understand those foundations.
			</p>
			<p>
				Our other programming jams are great opportunities to try building new things. But what should those new things be? We want to give the community a chance to focus just on learning and research, to gather information and share it with others, to boost the entire community's knowledge on a topic.
			</p>
			<p>
				We hope that the results of the <b class="c--theme-gradient-light">Learning Jam</b> inspire new ideas for the community to explore in the Visibility and Wheel Reinvention jams later in the year. There is so much bad software out in the world, and this is the first step toward reinventing it.
			</p>
		</div>
	</div>
	<div>
		<div class="mv5 h3 fill-current">
			<a href="{{ .Header.HMNHomepageUrl }}">{{ svg "hmn_circuit" }}</a>
		</div>
	</div>
</div>
{{ end }}
