{{ template "jam_2024_learning_base.html" . }}
{{ define "content-top" }}
    <div class="flex flex-column items-center pa3 g3">
		<img class="mw5" src="{{ static "visjam2023/logo.svg" }}">
		<div class="f1 fw7">The Learning Jam</div>
		<div class="flex flex-row g5 lh-solid">
			<div>
				<div class="fw7 f3">Learn</div>
				<div class="fw3 f4">March 15-17, 2024</div>
			</div>
			<div>
				<div class="fw7 f3">Teach</div>
				<div class="fw3 f4">March 22-24, 2024</div>
			</div>
		</div>
		{{ if lt .DaysUntilStart 0 }}
			<div class="flex flex-row g3 mt2">
				{{ if .SubmittedProjectUrl }}
					<a class="db ph3 pv2 f4 button-simple" href="{{ .SubmittedProjectUrl }}">Share your progress</a>
				{{ else }}
					<a class="db ph3 pv2 f4 button-simple" href="{{ .ProjectSubmissionUrl }}">Create your project</a>
				{{ end }}
				<a class="db ph3 pv2 f4 button-simple" href="{{ .JamFeedUrl }}">Recent activity</a>
			</div>
		{{ end }}
		<div class="mt2">
			<a href="{{ .DiscordInviteUrl }}" class="db ph2 pv1 button-simple">Join the Discord</a>
		</div>
	</div>
{{ end }}

{{ define "content" }}
<style>
	.participate-icon {
		--mask-url: url("{{ static "visjam2023/logo.svg" }}");
	}
</style>
<div class="flex flex-column g3 items-center pa3">
	<div class="w6">
		<h2 class="c--theme-gradient-light">How to participate</h2>
		<div class="flex flex-column g2 pa3">
			<div class="flex flex-row g3 items-center bg--rich-gray pa2">
				<div class="svg-mask participate-icon bg--theme-gradient-light">
					<img class="w4 invisible" src="{{ static "visjam2023/logo.svg" }}" />
				</div>
				<div class="flex flex-column g2">
					<div class="f4 fw7">Pick a project and form a team</div>
					<div>Find a project idea that excites you etc...</div>
				</div>
			</div>
			<div class="flex flex-row g3 items-center bg--rich-gray pa2">
				<div class="svg-mask participate-icon bg--theme-gradient-light">
					<img class="w4 invisible" src="{{ static "visjam2023/logo.svg" }}" />
				</div>
				<div class="flex flex-column g2">
					<div class="f4 fw7">Pick a project and form a team</div>
					<div>Find a project idea that excites you etc...</div>
				</div>
			</div>
			<div class="flex flex-row g3 items-center bg--rich-gray pa2">
				<div class="svg-mask participate-icon bg--theme-gradient-light">
					<img class="w4 invisible" src="{{ static "visjam2023/logo.svg" }}" />
				</div>
				<div class="flex flex-column g2">
					<div class="f4 fw7">Pick a project and form a team</div>
					<div>Find a project idea that excites you etc...</div>
				</div>
			</div>
		</div>
	</div>
	<div class="w7 center bb b--rich-gray"></div>
	<div class="w6">
		<h2 class="c--theme-gradient-light">March 15 - 17, 2024</h2>
		<div>
			Do things
		</div>
	</div>
	<div class="w7 center bb b--rich-gray"></div>
	<div class="w6">
		<h2 class="c--theme-gradient-light">March 22 - 24, 2024</h2>
		<div>
			Do more things
		</div>
	</div>
	<div class="w7 center bb b--rich-gray"></div>
	<div class="w6">
		<h2 class="c--theme-gradient-light">Rules</h2>
		<div>
			Do more things
		</div>
	</div>
</div>
{{ end }}
