{{ template "jam_2024_learning_base.html" . }}

{{ define "content-top" }}
<div class="mw7 margin-center">
    <div class="flex flex-column pv4 tc">
		<img class="jam-logo margin-center" src="{{ static "learningjam2024/logo.svg" }}">
		<div class="margin-center mt3 mt4-ns mb4">
			<div class="jam-title mb3">Learning Jam</div>
			<div class="flex flex-column flex-row-ns justify-between lh-solid g3 g0-ns">
				<div>
					<div class="fw7 f3 mb1">Learn</div>
					<div class="fw3 f4">March 15-17, 2024</div>
				</div>
				<div>
					<div class="fw7 f3 mb1">Share</div>
					<div class="fw3 f4">March 22-24, 2024</div>
				</div>
			</div>
		</div>
		<div class="flex g3 justify-center link--white">
			{{ if eq .DaysUntilStart 0 }}
				{{ if gt .DaysUntilEnd 0 }}
					{{ if .SubmittedProjectUrl }}
						<a class="btn--jam" href="{{ .SubmittedProjectUrl }}">Share your progress</a>
					{{ else }}
						<a class="btn--jam" href="{{ .NewProjectUrl }}">Create your project</a>
					{{ end }}
					<a class="btn--jam" href="{{ .JamFeedUrl }}">Recent activity</a>
				{{ else }}
					<a class="btn--jam" href="{{ .JamFeedUrl }}">See the results</a>
				{{ end }}
			{{ end }}
			<a href="{{ .DiscordInviteUrl }}" class="btn--jam">Join the Discord</a>
		</div>
	</div>
</div>
{{ end }}

{{ define "content" }}
<div class="mw7 margin-center flex flex-column">
	{{ if gt .DaysUntilStart 0 }}
		{{ template "before-jam" . }}
	{{ else if gt .DaysUntilEnd 0 }}
		{{ template "during-jam" . }}
	{{ else }}
		{{ template "after-jam" . }}
	{{ end }}

	<div>
		<div class="mv5 h3 fill-current link--white">
			<a href="{{ .Header.HMNHomepageUrl }}">{{ svg "hmn_circuit" }}</a>
		</div>
	</div>
</div>
{{ end }}

{{ define "before-jam" }}
	{{ template "jam_2024_lj_guidelines.html" . }}
{{ end }}

{{ define "during-jam" }}
	{{ if .Projects.Projects }}
		{{ template "jam_2024_lj_description.html" . }}
		{{ if .TimelineItems }}
			<div class="ph3 pv4 bb b--rich-gray">
				<h2 class="c--theme-gradient-light">Recent Updates</h2>
				<div class="flex flex-column g2">
					{{ template "jam_2024_lj_feeditems.html" .TimelineItems }}
				</div>
			</div>
		{{ end }}
		<div class="ph3 pv4 bb b--rich-gray">
			<h2 class="c--theme-gradient-light">Projects</h2>
			{{ template "jam_2024_lj_projects.html" .Projects }}
		</div>
	{{ else }}
		{{ template "jam_2024_lj_guidelines.html" . }}
	{{ end }}
{{ end }}

{{ define "after-jam" }}
	{{ template "jam_2024_lj_description.html" . }}
	{{ with .TwitchEmbedUrl }}
		<div class="ph3 pv4 bb b--rich-gray">
			<h2 class="dib c--theme-gradient-light">Recap Show</h2>
			<p>
				Watch the livestream celebrating all the submissions:
			</p>
			<div class="mt3" style="aspect-ratio: 16 / 9;">
				<iframe src="{{ . }}" allowfullscreen width="100%" height="100%" frameborder="0"></iframe>
			</div>
		</div>
	{{ end }}
	<div class="ph3 pv4 bb b--rich-gray">
		<h2 class="c--theme-gradient-light">Projects</h2>
		{{ template "jam_2024_lj_projects.html" .Projects }}
	</div>
{{ end }}
