{{ template "base-2024.html" . }}

{{ define "extrahead" }}
	{{ template "2025_wrj_styles" . }}
{{ end }}

{{ define "content-top" }}
  {{ if not .Timespans.During }}
    {{ template "2025_wrj_bannerbig" . }}
  {{ else }}
    {{ template "2025_wrj_bannersmall" . }}
  {{ end }}
{{ end }}

{{ define "content" }}
  {{ if .Timespans.Pre }}
    <div class="bg1">
      {{ template "2025_wrj_description" . }}
    </div>
    {{ template "2025_wrj_inspiration" . }}
    <div class="bg1 pv4 flex flex-column g4">
      <div>
        {{ template "2025_wrj_submittedproject" . }}
      </div>
      <div>
        {{ template "2025_wrj_howto" . }}
      </div>
      <div>
        {{ template "2025_wrj_allsubmissions" . }}
      </div>
    </div>
    {{ template "2025_wrj_rationale" . }}
    <div class="bg1">
      {{ template "2025_wrj_newsletter" . }}
    </div>
  {{ else if .Timespans.During }}
    {{ template "2025_wrj_description" . }}
    <div class="bg1 pv4 flex flex-column g4">
      <div>
        {{ template "2025_wrj_submittedproject" . }}
      </div>
      <div>
        {{ template "2025_wrj_allsubmissions" . }}
      </div>
    </div>
  {{ else }}
    <div class="bg1">
      {{ template "2025_wrj_description" . }}
    </div>
    {{ template "2025_wrj_rationale" . }}
    {{ if or .RecapStreamEmbedUrl .TwitchEmbedUrl }}
      <div class="bg1">
        {{ template "2025_wrj_recap" . }}
      </div>
    {{ end }}
    <div class="bg1 pv4">
      {{ template "2025_wrj_allsubmissions" . }}
      <div class="pv4">
        {{ template "2025_wrj_feed" . }}
      </div>
    </div>
  {{ end }}
{{ end }}

