{{ template "base-2024.html" . }}

{{ define "extrahead" }}
	{{ template "jam_2025_xray_styles.html" . }}
{{ end }}

{{ define "content-top" }}
{{ if not .Timespans.During }}
  {{ template "jam_2025_xray_bannerbig.html" . }}
{{ else }}
  {{ template "jam_2025_xray_bannersmall.html" . }}
{{ end }}
{{ end }}

{{ define "content" }}
  {{ if or .Timespans.Pre }}
    <div class="bg1">
      {{ template "xray2025-description" . }}
    </div>
    {{ template "xray2025-inspiration" . }}
    <div class="bg1 pv4 flex flex-column g4">
      <div>
        {{ template "xray2025-submittedproject" . }}
      </div>
      <div>
        {{ template "xray2025-howto" . }}
      </div>
      <div>
        {{ template "xray2025-allsubmissions" . }}
      </div>
    </div>
    {{ template "xray2025-rationale" . }}
    <div class="bg1">
      {{ template "xray2025-newsletter" . }}
    </div>
  {{ else if .Timespans.During }}
    {{ template "xray2025-description" . }}
    <div class="bg1 pv4 flex flex-column g4">
      <div>
        {{ template "xray2025-submittedproject" . }}
      </div>
      <div>
        {{ template "xray2025-allsubmissions" . }}
      </div>
    </div>
  {{ else }}
    <div class="bg1">
      {{ template "xray2025-description" . }}
    </div>
    {{ template "xray2025-rationale" . }}
    {{/*  <div class="bg1">
      {{ template "xray2025-recap" . }}
    </div>  */}}
    <div class="bg1 pv4">
      {{ template "xray2025-allsubmissions" . }}
      <div class="pv4">
        {{ template "xray2025-feed" . }}
      </div>
    </div>
  {{ end }}
{{ end }}
