{{ template "base-2024.html" . }}

{{ define "extrahead" }}
<script src="{{ static "js/templates.js" }}"></script>
<script src="{{ static "js/tabs.js" }}"></script>
<script src="{{ static "js/hilbert.js" }}"></script>
{{ end }}

{{ define "content" }}

{{ if not .User }}
	<style>
		.hilbert-svg {
			flex-shrink: 0;
			width: max(1920px, 120vw);
			height: max(1920px, 120vw);
			transform: rotate(-8deg);
		}
	</style>
	<div class="bg1 bb mb3 relative overflow-hidden flex justify-center pv4 pv5-ns ph3">
		<div class="hilbert absolute absolute--fill c3"></div>
		<div class="w-100 mw-site ba z-1">
			<div class="pa3 pa4-ns bg3 f5">
				<div class="h4 mb3">
					{{ svg "hmn_circuit" }}
				</div>
				<div class="mv4 post-content">
					<p class="b">We make software by hand.</p>
					<p>The Handmade Network is a community of programmers inspired by <a href="https://www.youtube.com/watch?v=A2dxjOjWHxQ">Handmade Hero</a>. We love programming, we like to reinvent the wheel, and we like understanding how our software works at a low level.</p>
					<p>In a software industry dominated by bloat, waste, and slop, we go in the opposite direction. We care about our craft, we care about how computers actually work, and we take pride in writing truly high quality software. After all, someone needs to show the rest of the software industry what computers are capable of.</p>
				</div>
				<div id="welcome-actions" class="flex flex-column flex-row-ns justify-center g3 tc">
					<a class="btn btn-primary" href="{{ .ManifestoUrl }}">Read our manifesto</a>
					<a class="btn btn-primary" href="{{ .Header.ProjectIndexUrl }}">View Handmade projects</a>
					<a class="btn btn-primary" target="_blank" href="https://discord.gg/hmn">Join the Discord</a>
				</div>
			</div>
		</div>
	</div>
{{ end }}

<div class="flex justify-center pa3">
	<div class="w-100 mw-site flex g3">
		<!-- Sidebar -->
		<div class="w5 dn flex-ns flex-column g2 flex-shrink-0">
			{{ if .User }}
				<div class="sidebar-card bg3 link-normal">
					<div onclick="collapse(event)" class="pa3 flex justify-between items-center pointer">
						<span class="f7">Your projects</span>
						<span class="sidebar-chevron svgicon-lite rot-180">{{ svg "chevron-down" }}</span>
					</div>
					<div class="sidebar-card-content">
						<div class="ph3 flex flex-column g2">
							{{ range .UserProjects }}
								{{ template "list-project" . }}
							{{ else }}
								<div class="f7 pv3 tc c--dim">You have not created any projects.</div>
							{{ end }}
						</div>
						<a class="bt mt3 pa3 flex justify-between" href="{{ .NewProjectUrl }}">
							<div>Create new project</div>
							<div class="svgicon-lite flex items-center">{{ svg "add" }}</div>
						</a>
					</div>
				</div>
				<div class="sidebar-card bg3 link-normal">
					<div onclick="collapse(event)" class="pa3 flex justify-between items-center pointer">
						<span class="f7">Following</span>
						<span class="sidebar-chevron svgicon-lite rot-180">{{ svg "chevron-down" }}</span>
					</div>
					<div class="sidebar-card-content">
						<div class="ph3 pb3 flex flex-column g2">
							{{ range .Following }}
								{{ template "list-follow" . }}
							{{ else }}
								<div class="f7 pv3 tc c--dim">You are not following anything.</div>
							{{ end }}
						</div>
					</div>
				</div>
			{{ else }}
				<div class="bg3 link-normal">
					<div class="pa3 flex flex-column g2">
						<div class="b">Join the Handmade Network</div>
						<div class="f6 post-content">Share your own Handmade projects with the community.</div>
					</div>
					<a class="bt pa3 flex justify-between" href="{{ .LoginPageUrl }}">
						<div>Log in</div>
						<div class="svgicon-lite flex items-center">{{ svg "chevron-right" }}</div>
					</a>
				</div>
			{{ end }}
			{{ if .ShowExpoPromo }}
				<a href="{{ .ExpoUrl }}" class="c-white link-normal">
					<div
						class="h5 pa3 tc flex flex-column justify-center g2"
						style="background: linear-gradient(to bottom, #5B0559B8, #05012BB5), url({{ static "expos/skyline-1080.jpg" }}); background-position: center; background-size: cover"
					>
						<div class="b f3">Handmade Network Expo</div>
						<div class="b">June 6, 2026</div>
						<div class="pt3 flex justify-center f6 sb">
							<div>Get your ticket</div>
							<div class="ml2 svgicon-lite flex items-center w1">{{ svg "arrow-right" }}</div>
						</div>
					</div>
				</a>
			{{ end }}
			<div class="f7 tc link-normal">
				<!-- TODO(redesign): Add history link -->
				<a href="{{ .ManifestoUrl }}">Manifesto</a> - <a href="https://discord.gg/hmn">Discord</a> - <a href="{{ .GuidelinesUrl }}">Guidelines</a>
			</div>
		</div>

		<!-- Feed -->
		<div class="flex flex-column flex-grow-1 overflow-hidden">
			{{ $latestNews := (index .NewsItems 0) }}
			<div id="latest_news" class="mb2 bg3 link-normal" data-id="{{ $latestNews.ID }}" {{ if $latestNews.Unread }}data-unread{{ end }}>
				<div class="flex justify-between">
					<h2 class="pt3 ph3 f4">Latest News</h2>
					<a class="pt3 ph3" href="#" onclick="closeLatestNews(event)">{{ svg "close" }}</a>
				</div>
				{{ template "timeline_item.html" $latestNews }}
			</div>
			<div id="landing-tabs">
				<div class="bb mb2 flex f6">
					{{ if .User }}
						<div data-tab-button="following" class="tab-button ph3 pv1 pointer">Following</div>
					{{ end }}
					<div data-tab-button="featured" class="tab-button ph3 pv1 pointer">Featured</div>
					<div data-tab-button="recent" class="tab-button ph3 pv1 pointer">Recent</div>
					<div data-tab-button="news" class="tab-button ph3 pv1 pointer">News {{ if $latestNews.Unread }}<span class="timeline-unread"></span>{{ end }}</div>
				</div>
				<div>
					{{ if .User }}
						<div data-tab="following" class="timeline">
							{{ range .FollowingItems }}
								{{ template "timeline_item.html" . }}
							{{ else }}
								<div class="pv4 f6 tc">You are not following anything. Follow users and projects to see their posts here.</div>
							{{ end }}
						</div>
					{{ end }}
					<div data-tab="featured" class="timeline">
						{{ range .FeaturedItems }}
							{{ template "timeline_item.html" . }}
						{{ end }}
					</div>
					<div data-tab="recent" class="timeline">
						{{ range .RecentItems }}
							{{ template "timeline_item.html" . }}
						{{ end }}
					</div>
					<div data-tab="news" class="timeline">
						{{ range .NewsItems }}
							{{ template "timeline_item.html" . }}
						{{ end }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	function collapse(e) {
		const card = e.target.closest(".sidebar-card");
		const content = card.querySelector(".sidebar-card-content");
		const chevron = card.querySelector(".sidebar-chevron");

		const hide = !content.hidden;

		content.hidden = hide;
		chevron.classList.toggle("rot-180", !hide);
	}

	const noFollowing = document.querySelectorAll("[data-tab='following'] .timeline-item").length === 0;
	const { selectTab } = initTabs(document.querySelector("#landing-tabs"), {
		initialTab: document.location.hash.substring(1) || (noFollowing && "featured"),
		onSelect(name) {
			document.location.hash = `#${name}`;
		}
	});
	window.addEventListener("hashchange", e => {
		const tab = new URL(e.newURL).hash.substring(1);
		if (tab) {
			selectTab(tab, { sendEvent: false });
		}
	});

	// Latest news

	const latestNews = document.querySelector("#latest_news");
	const latestNewsPostID = latestNews.getAttribute("data-id");
	const latestNewsClosedKey = "latest_news_closed";

	function closeLatestNews(e) {
		e.preventDefault();
		localStorage.setItem(latestNewsClosedKey, latestNewsPostID);
		hideLatestNewsIfClosedOrRead();
	}

	function hideLatestNewsIfClosedOrRead() {
		const isUnread = latestNews.hasAttribute("data-unread");
		const closedID = localStorage.getItem(latestNewsClosedKey);
		if (!isUnread || closedID === latestNewsPostID) {
			latestNews.hidden = true;
		}
	}
	hideLatestNewsIfClosedOrRead();
</script>

{{ end }}

{{ define "list-project" }}
	<a class="flex g2 items-center" href="{{ .Url }}">
		<div class="avatar-small">{{ template "project_logo.html" . }}</div>
		<div class="truncate" title="{{ .Name }}">{{ .Name }}</div>
	</a>
{{ end }}

{{ define "list-follow" }}
	{{ if .User }}
		<a class="flex g2 items-center" href="{{ .User.ProfileUrl }}">
			{{ with .User.AvatarUrl }}
				<img class="avatar avatar-user avatar-small" src="{{ . }}">
			{{ else }}
				<div class="avatar avatar-user avatar-small"></div>
			{{ end }}
			<div class="truncate" title="{{ .User.Name }}">{{ .User.Name }}</div>
		</a>
	{{ else if .Project }}
		<a class="flex g2 items-center" href="{{ .Project.Url }}">
			<div class="avatar-small">{{ template "project_logo.html" .Project }}</div>
			<div class="truncate" title="{{ .Project.Name }}">{{ .Project.Name }}</div>
		</a>
	{{ else }}
		???
	{{ end }}
{{ end }}
