{{ template "base-2024.html" . }}

{{ define "extrahead" }}
<script src="{{ static "js/hilbert.js" }}"></script>
{{ end }}

{{ define "content" }}
<div class="h3 hilbert hilbert-color" style="--hue: 123deg"></div>
<div class="flex justify-center tc">
	<div class="w-100 mw-site-narrow">
		<h1 class="pv4 pv5-ns f3 f2-ns">The Handmade Manifesto</h1>
	</div>
</div>
<div class="mw-site-narrow ph3 post-content center">
	<hr class="mv4">

	<h3>Computers are amazing.</h3>
	<p>Computing has changed our lives for the better. Computers allow us to learn, connect with each other, and express ourselves in amazing new ways. And every year our devices get more powerful, less expensive, and more accessible - computers today can do things we hardly dreamed of twenty years ago.</p>

	<h3>So why is software so terrible?</h3>
	<p>Why do high-end gaming PCs struggle to browse the web at 60 frames per second? Why does a simple calculator need a splash screen? Why does your phone's battery still die so quickly? And why does each update make the problem worse?</p>
	<p>And why do we all use huge frameworks that no one understands? Why do our projects take minutes to compile? Why do we have to restart our language servers every twenty minutes? And why does everyone think this is fine?</p>

	<h3>We made it terrible.</h3>
	<p>We, programmers, have made it terrible through our thoughtless behavior. We rewrite our apps in new languages, and rather than measure anything, we just assume it will be better. We ship thousands of dependencies to our users to save ourselves a few minutes of effort. We build towers of abstractions, forget how they work, and then build new ones on top.</p>
	<p>This isn't engineering. We're building Rube Goldberg machines, and users are paying the cost.</p>
	<p>You may have learned that programming is about classes, monads, or type systems. You may have been taught to make your code clean, abstract, and future-proof. None of that matters when the end result is garbage.</p>

	<h3>But there is another way.</h3>
	<p>You can break out of this cycle. You can learn how computers actually work, so you can unleash the full potential of modern systems. You can dig deep into the tech stack and learn what others take for granted. When you run into a wall, rather than stop, you can dig under it.</p>
	<p>This is our mission. You don't have to be a genius to make your software better - you just have to be willing to learn and willing to go against conventions. We're here to teach you, to inspire you, to help you break free from the mess of modern software development and make software the Handmade way.</p>

	<h3>So join us.</h3>
	<p>We <em>know</em> how much better software can be. The industry needs to change, and we're going to lead the way. Join us, and learn to build software by hand.</p>

	<hr class="mv4">

	<p class="i">Read more about <a href="{{ .ValuesUrl }}">our values</a>.</p>
</div>
{{ end }}
