{{ template "base-2024.html" . }}

{{ define "content" }}
<div class="mw-site-narrow pa3 post-content center">
  <div class="pv4 tc">
    <h2>
      Never miss another jam.
    </h2>
    <p>
      Get updates from the Handmade Network delivered directly to your inbox.
    </p>
    {{ template "newsletter_signup.html" . }}
  </div>
</div>
<div class="bg1 pv4">
  <div class="mw-site-narrow ph3 post-content center">
    <h2>Latest News</h2>
    {{ with .LatestNewsPost }}
      {{ template "timeline_item.html" . }}
    {{ end }}
  </div>
</div>
{{ end }}
