{{ template "base-2024.html" . }}

{{ define "extrahead" }}
	<style>
:root {
	--middleware-bg: grey;
	--middleware-text: white;

	--sql-bg: #ff7474;
	--sql-text: black;

	--perf-bg: black;
	--perf-text: white;

	--email-bg: orange;
	--email-text: black;

	--twitchapi-bg: pink;
	--twitchhapi-text: black;

	--auth-bg: pink;
	--auth-text: black;

	--follow-bg: pink;
	--follow-text: black;

	--showcase-bg: green;
	--showcase-text: black;

	--podcast-bg: green;
	--podcast-text: black;

	--os-bg: green;
	--os-text: black;

	--mp3-bg: green;
	--mp3-text: black;

	--markdown-bg: green;
	--markdown-text: black;

	--forums-bg: green;
	--forums-text: black;

	--blogs-bg: green;
	--blogs-text: black;

	--image-bg: green;
	--image-text: black;

	--feed-bg: green;
	--feed-text: black;

	--projects-bg: green;
	--projects-text: black;

	--timeline-bg: green;
	--timeline-text: black;

	--template-bg: #009fff;
	--template-text: black;
}
	</style>
{{ end }}

{{ define "content" }}
<template id="single-record">
	<div data-tmpl="row" class="flex flex-column bg3 pa3">
		<div class="flex flex-column">
			<div class="flex flex-row">
				<div data-tmpl="route" class="flex-grow-1"></div>
				<div data-tmpl="duration" class=""></div>
			</div>
			<div data-tmpl="path" class="f7"></div>
		</div>
		<div data-tmpl="flamegraph" class="flex flex-column items-stretch">
		</div>
	</div>
</template>

<template id="route">
	<div data-tmpl="route" class="route pointer flex flex-row bg3 pa3">
		<div class="flex flex-column g1 w5">
			<div data-tmpl="name"></div>
			<div class="flex flex-row g2">
				<div class="b">Hits:</div>
				<div data-tmpl="hits"></div>
			</div>
			<div class="flex flex-row g2">
				<div class="b">Median time:</div>
				<div data-tmpl="duration"></div>
			</div>
		</div>
	</div>
</template>

<div class="flex justify-center pa3">
	<div class="flex flex-row g3 w-100">
		<div class="flex flex-column g3 flex-grow-0 w5 overflow-hidden">
			<h2>Routes</h2>
			<div id="routes" class="w-100 flex flex-column g2"></div>
		</div>
		<div class="flex flex-column g3 flex-grow-1">
			<h2>Recent hits</h2>
			<div id="records" class="w-100 flex flex-column g2"></div>
		</div>
	</div>
</div>

<script type="module">
	import { init } from "{{ static "js/perfmon.js" }}";
	init("{{ .PerfRecordsJSON }}");
</script>
{{ end }}
