{{ template "base-2024.html" . }}

{{ define "extrahead" }}
<link type="application/rss+xml" rel="alternate" title="{{ .Podcast.Title }}" href="{{ .Podcast.RSSUrl }}"/>
{{ end }}

{{ define "content" }}
<div class="m-center mw-site-narrow pv3 pv5-ns ph3 ph0-l flex flex-column g2">
	<h1 class="tc-ns f3 f2-ns lh-title">{{ .Podcast.Title }}</h1>

    <div class="tc-ns lh-title">
        {{ template "podcast_actions.html" .Podcast }}
    </div>

    <div class="tc-ns lh-title">
        {{ with .EditUrl }}
            <a class="pl2" href="{{ . }}">&#9998; Edit Podcast</a>
        {{ end }}
        {{ with .NewEpisodeUrl }}
            <a class="pl2" href="{{ . }}">+ New Episode</a>
        {{ end }}
    </div>

    <div class="post-content overflow-x-auto">
        {{ .Podcast.Description }}
    </div>
</div>

<div class="m-center mw-site-narrow ph3 ph0-l flex flex-column g2">
    <div class="post-content overflow-x-auto">
        {{ range .Episodes }}
            <div class="flex ml0 pl0 mw7 pb3">
                <div class="dn db-ns w4 h4 flex-shrink-0">
                    <img class="br3" src="{{ .ImageUrl }}">
                </div>
                <div class="ph3-ns w-100 overflow-hidden">
                    <a href="{{ .Url }}"><h3 class="f4 mb3">Episode {{ .EpisodeNumber }}: {{ .Title }}</h3></a>
                    <div class="post-content">{{ .DescriptionHtml }}</div>
                </div>
            </div>
        {{ end }}
    </div>
</div>
{{ end }}
