{{ template "base-2024.html" . }}

{{ define "content" }}
<div class="flex bb m-center mw-site-narrow">
	<form id="podcast_form" class="hmn-form bg1 pa3 pa4-ns flex-fair" method="POST" enctype="multipart/form-data">
        {{ csrftoken .Session }}
        <div class="flex flex-column g3">
            <div class="input-group">
                <label>Podcast title</label>
                <input
                    required
                    type="text"
                    name="title"
                    placeholder="Podcast title..."
                    value="{{ .Podcast.Title }}"
                />
            </div>

            <div class="input-group">
                <label>Podcast description</label>
                <textarea
                    required
                    name="description"
                    class="w-100 h4 minh-4 lh-copy"
                >{{ .Podcast.Description }}</textarea>
            </div>

            <div class="input-group">
                <label for="podcast_image">Podcast image (2mb max): </label>
                <input id="file_input" type="file" accept="image/*" name="podcast_image" {{ if eq (len .Podcast.ImageUrl) 0 }}required{{ end }} />
                <a href="javascript:;" class="db" id="reset_image">Reset Image</a>
                <label style="display: none" id="file_too_big" for="podcast_image">File too big.</label>
                <div>
                    <img id="image" src="{{ .Podcast.ImageUrl }}" />
                </div>
            </div>

            <div class="flex justify-end">
                <input type="submit" name="submit" value="Submit" />
            </div>
        </div>
	</form>
</div>
<script>
	let fileInput = document.querySelector("#file_input");
	let image = document.querySelector("#image");
	let fileTooBigLabel = document.querySelector("#file_too_big");
	let resetImage = document.querySelector("#reset_image");
	let form = document.querySelector("#podcast_form");

	let originalImageUrl = "{{ .Podcast.ImageUrl }}";

	fileInput.value = "";
	let fileTooBig = false;
	let maxFileSize = 2*1024*1024;

	fileInput.addEventListener("change", function(ev) {
		if (fileInput.files.length > 0) {
			let file = fileInput.files[0];
			handleNewImageFile(file);
		}
	});

	function handleNewImageFile(file) {
		fileTooBig = false;
		if (file) {
			if (file.size > maxFileSize) {
				fileTooBig = true;
			}
			image.src = URL.createObjectURL(file);
		} else {
			image.src = originalImageUrl;
		}

		if (fileTooBig) {
			fileTooBigLabel.style.display = "block";
		} else {
			fileTooBigLabel.style.display = "none";
		}
	}

	resetImage.addEventListener("click", function(ev) {
		fileInput.value = "";
		handleNewImageFile(null);
	});

	form.addEventListener("submit", function(ev) {
		if (fileTooBig) {
			ev.preventDefault();
		}
	});
</script>
{{ end }}
