{{ template "base.html" . }}

{{ define "extrahead" }}
<link type="application/rss+xml" rel="alternate" title="{{ .Podcast.Title }}" href="{{ .Podcast.RSSUrl }}"/>
{{ end }}

{{ define "content" }}
<div class="content-block">
	<div class="ph2 ph0-ns">
		<h2>{{ .Podcast.Title }}</h2>
		<div>
			{{ template "podcast_actions.html" .Podcast }}
			{{ with .EditUrl }}
				<a class="pl2" href="{{ . }}">&#9998; Edit Podcast</a>
			{{ end }}
			{{ with .NewEpisodeUrl }}
				<a class="pl2" href="{{ . }}">+ New Episode</a>
			{{ end }}
		</div>

		<p class="pt2 pb3">{{ .Podcast.Description }}</p>

		<ul>
			{{ range .Episodes }}
				<li class="flex ml0 pl0 mw7 pb3">
					<div class="dn db-ns w4 h4 flex-shrink-0">
						<img class="br3" src="{{ .ImageUrl }}">
					</div>
					<div class="ph3-ns w-100 overflow-hidden">
						<a href="{{ .Url }}"><h3 class="f4">Episode {{ .EpisodeNumber }}: {{ .Title }}</h3></a>
						<div class="p-spaced">{{ .DescriptionHtml }}</div>
					</div>
				</li>
			{{ end }}
		</ul>
	</div>
</div>
{{ end }}
