{{ template "base-2024.html" . }}

{{ define "content" }}
<div class="flex bb m-center mw-site-narrow">
	<form class="hmn-form bg1 pa3 pa4-ns flex-fair" method="POST">
		{{ csrftoken .Session }}

        <h1 class="f3">{{ if .IsEdit }}Edit{{ else }}New{{ end }} Episode</h1>
        <hr class="mv3">

        <div class="flex flex-column g3">
            <div class="input-group">
                <label>Episode title</label>
                <input
                    required
                    type="text"
                    name="title"
                    placeholder="Title"
                    value="{{ .Title }}"
                />
            </div>

            <div class="input-group">
                <label>Season number:</label>
                <input
                    required
                    type="number"
                    name="season_number"
                    value="{{ .SeasonNumber }}"
                />
            </div>

            <div class="input-group">
                <label>Episode number:</label>
                <input
                    required
                    type="number"
                    name="episode_number"
                    value="{{ .EpisodeNumber }}"
                />
            </div>

            <div class="input-group">
                <label>Description</label>
                <textarea
                    required
                    class="w-100 h5 minh-5 lh-copy"
                    name="description"
                    maxlength="4000"
                    placeholder="Description (max 4000 chars)"
                >{{ .Description }}</textarea>
            </div>

            <div class="input-group">
                <label>Episode file</label>
                <select required name="episode_file">
                    {{ $currentFile := .CurrentFile }}
                    {{ range .EpisodeFiles }}
                        <option {{ if eq $currentFile . }}selected{{ end }} value="{{ . }}">{{ . }}</option>
                    {{ end }}
                </select>
            </div>

            <div class="flex justify-end">
                <input type="submit" name="submit" value="Submit" />
            </div>
        </div>
	</form>
</div>
{{ end }}
