{{ template "base-2024.html" . }}

{{ define "content" }}
<div class="m-center mw-site pv3 pv5-ns ph3 ph0-l flex flex-column g2">
	<h1 class="tc-ns f3 f2-ns lh-title">{{ .Podcast.Title }}</h1>
    <h2 class="tc-ns f4 f3-ns lh-title">Episode {{ .Episode.EpisodeNumber }}: {{ .Episode.Title }}</h1>
    <div class="tc-ns lh-title">
        {{ template "podcast_actions.html" .Podcast }}
        {{ with .EditUrl }}
            <a class="pl2" href="{{ . }}">&#9998; Edit Episode</a>
        {{ end }}
    </div>
</div>

<div class="m-center mw-site-narrow ph3 ph0-l flex flex-column g2">
    <div class="post-content overflow-x-auto">
		<div class="flex flex-row-ns flex-column-reverse items-center">
			<div class="flex-grow-1 w-100">
				<audio preload="metadata" class="w-100" controls src="{{ .Episode.FileUrl }}"></audio>
				<div>
					<a download href="{{ .Episode.FileUrl }}">Download</a>
				</div>
			</div>
			<div class="ml3-ns flex-shrink-0 w4">
				<img class="br3" src="{{ .Podcast.ImageUrl }}">
			</div>
		</div>

		<div class="pv2 p-spaced w-100 overflow-hidden">
			{{ .Episode.DescriptionHtml }}
		</div>
	</div>
</div>
{{ end }}
