{{ template "base-2024.html" . }}

{{ define "extrahead" }}
<script type="module" src="{{ static "js/hilbert.js" }}"></script>
{{ end }}

{{ define "content" }}
<div class="h3 hilbert hilbert-color" style="--hue: 42deg"></div>
<div class="flex justify-center tc">
	<div class="w-100 mw-site-narrow">
		<h1 class="pv4 pv5-ns f3 f2-ns">Privacy Policy</h1>
	</div>
</div>
<div class="mw-site-narrow ph3 post-content center">
  <hr class="mb4">

  <p>As programmers, we know how much programmers care about privacy. We endeavor to only store the minimum data required to operate our services on behalf of the Handmade community, and we never share or sell user data.</p>

  <p>This privacy policy covers this website (<a href="https://handmade.network/">https://handmade.network/</a>) and its subdomains, as well as our Discord server (<a href="https://discord.gg/hmn">https://discord.gg/hmn</a>).</p>

  <p>If you have any privacy-related questions, concerns, or requests, please contact us at <a href="mailto:team@handmade.network">team@handmade.network</a>.</p>


  <h3>General data practices</h3>

  <p>We are located in the United States and our data is hosted on US servers. Our database storage is encrypted at rest. User-created assets and media are stored in a cloud object storage service. Access to production data is restricted to site administrators.</p>

  <p>We always endeavor to maintain strong security practices, and to follow industry-standard guidance by organizations such as OWASP.</p>


  <h3>Explicitly-collected user data</h3>

  <p>We store the following data provided directly by users as part of our normal operation:</p>

  <ul>
    <li><b>Authentication information,</b> including usernames, email addresses, passwords, and OAuth access tokens. Stored passwords are hashed and salted according to OWASP guidelines.</li>
    <li><b>Profile information</b>, including public-visible data such as display names, bios, and avatars, as well as behind-the-scenes info such as email addresses and linked third-party accounts.</li>
    <li><b>User-created content</b>, such as projects (and associated media), timeline posts, blog posts and forum posts.</li>
    <li><b>Event-specific information</b> for ticket purchasers, such as name, email address, dietary restrictions, requests for accommodation, and Stripe transaction IDs.</li>
    <li><b>Newsletter email addresses</b> for newsletter subscribers.</li>
    <li><b>Other explicitly-provided user information</b> in cases such as surveys or if users contact us for support.</li>
  </ul>

  <p>We never process or store direct payment information such as credit card numbers or bank account numbers. Payments are always performed externally through our payment processor, Stripe. We use Stripe's API to get information about transactions, but Stripe never permits us to see users' payment information.</p>


  <h3>Automatically-collected user data</h3>

  <p>Some data is automatically collected as part of the normal process of operating the website:</p>

  <ul>
    <li><b>Basic request information,</b> including IP address and request headers. This data is logged on our server.</li>
    <li><b>Information used for account creation,</b> including usernames, email addresses, and IP addresses, in order to help fight spam.</li>
  </ul>

  <p>We do not use client-side analytics or tracking, including in our emails. We only use cookies for strictly necessary purposes, such as authentication.</p>


  <h3>Discord bot data</h3>

  <p>We have a custom Discord bot as part the website codebase that provides various helpful services for the Handmade Network Discord server. The bot is special-purpose and is only used on the Handmade Network Discord. Most user interaction with the Handmade Network Discord is governed by Discord's own <a href="https://discord.com/privacy">privacy policy</a>, but as part of the bot's operation, we process and store some additional kinds of data from Discord:</p>

  <ul>
    <li><b>Message metadata,</b> such as message ID, channel ID, and author ID. This data is stored for all messages in select channels so that we can quickly fetch messages when a user enables cross-posting.</li>
    <li>
      <p><b>Message contents,</b> including text and attachments, may be processed and stored for various purposes:</p>
      <ol>
        <li>Message contents may be read (but not stored) in order to provide automatic moderation, such as the automatic deletion of messages.</li>
        <li>Message contents may be stored in order to enable Discord messages to be cross-posted to the website. Message contents will only be stored when the message author has linked their Discord account to their website account.</li>
      </ol>
    </li>
    <li><b>Profile information</b>, such as user ID, username, and avatar. This is used to provide account information for new signups and to correlate messages to authors.</li>
  </ul>

  <p>When a user unlinks their Discord account, all profile information except the Discord user ID and all stored message text from that Discord user are immediately deleted. Existing cross-posts are preserved.</p>


  <h3>Twitch bot data</h3>

  <p>We have a feature on our Discord server that posts in a channel when community members stream on Twitch. To enable this feature, we subscribe to webhook events from Twitch and store the following data:</p>

  <ul>
    <li><b>Basic channel info,</b> including ID and channel name.</li>
    <li><b>Stream and VOD info,</b> including ID, title, category, tags, and start and end times.</li>
    <li><b>Webhook events,</b> which we store in full for a limited time for debugging purposes.</li>
  </ul>


  <h3>Third parties</h3>

  <p>We use a variety of third-party services as part of our normal operation. In some cases these third parties may require user information, but we endeavor to keep this at a minimum.</p>

  <p>Third-party services that may encounter user data include:</p>

  <ul>
    <li>DigitalOcean, our web hosting service, where user content and assets are routinely stored as part of normal operation.</li>
    <li>Postmark, for transactional emails and newsletters, where user email addresses are required.</li>
    <li>Cloudflare, for networking and site protection.</li>
    <li>Stripe, for payment processing.</li>
  </ul>


  <h3>User data controls</h3>

  <p>Users can edit their own user-generated content, such as forum posts, timeline posts, and user profile contents, at any time. Most user-generated content can be deleted by users at any time; some, like projects, can only be deleted by a website administrator upon request.</p>

  <p>Users with a linked Discord account can disable the cross-posting feature at any time, which will stop creating posts automatically but will not stop saving message contents. Users can unlink their account at any time, in which case all message contents will be deleted but previously created cross-posts will remain.</p>

  <p>Users may request that their account be deleted by contacting us at the email address provided above. When an account is deleted, user-specific data and associated Discord data will be deleted, but user-generated content may be retained in anonymized form.</p>

  <p>Users may at any time request a copy of all data associated with their user or identity. Data will be provided in a straightforward and machine-readable format.</p>


  <h3>Data retention</h3>

  <p>Generally speaking, we retain user data for as long as that user has an active account. We delete user information immediately upon account deletion, but some user data may be retained for up to 90 days in server logs and database backups.</p>

  <p>Additionally, we may retain some user information indefinitely as part of responsible operation:</p>

  <ul>
    <li>As mentioned above, user-generated content may be retained in anonymized form upon account deletion.</li>
    <li>Banned accounts may be retained for analysis, but are still subject to data deletion requests.</li>
    <li>Bounced email addresses are always retained in order to protect our sender reputation.</li>
  </ul>

  <p>Webhook events from Twitch are retained in full for four days to facilitate debugging.</p>


  <h3>Changes to this policy</h3>

  <p>Changes to our privacy policy will be announced in a notice on this website and on our Discord server.</p>


  <hr>


  <p><i>Last updated on September 6, 2026.</i> For any questions or requests, please contact us at <a href="mailto:team@handmade.network">team@handmade.network</a></p>
</div>
{{ end }}
