{{ template "base-2024.html" . }}

{{ define "content" }}
<div class="flex justify-center">
	<div class="pv3 ph3 ph0-ns mw-site flex flex-column g3">
		<h2 class="f3">Featured Projects</h2>
		<div class="post-content">
			<p>Inspired by Handmade Hero, the Handmade Network community has produced a wide variety of fantastic projects, including apps, debuggers, editors, libraries, and even programming languages.</p>
		</div>
		<div class="grid grid-1 grid-2-ns g3">
			{{ range .OfficialProjects }}
				{{ template "project_card.html" . }}
			{{ end }}
		</div>
	</div>
</div>
{{ end }}
