{{ template "base-2024.html" . }}

{{ define "extrahead" }}
	<script type="module" src='{{ static "js/project.js" }}'></script>
{{ end }}

{{ define "content" }}
<div class="flex justify-center">
	<div class="w-100 mw-site flex pt3 ph3-ns ph0-l g3">
		<!-- Sidebar -->
		{{ template "project_sidebar.html" . }}

		<!-- Main content -->
		<div class="flex-grow-1 dn flex-ns flex-column g3">
			<!-- Screenshots -->
			{{ with .Screenshots }}
				<div id="screenshots-ns" hidden></div>
				<div
					id="screenshots"
					class="carousel-container relocator"
					data-relocate="project-sidebar-before-links"
					data-relocate-ns="screenshots-ns"
				>
					<div class="carousel">
						{{ range $i, $s := . }}
							<div class="carousel-item {{ if eq $i 0 }}active{{ end }} aspect-ratio-real--16x9 relative">
								<img class="absolute left-0 top-0 w-100 h-100 object-cover bg1" src="{{ $s }}">
							</div>
						{{ end }}
						<div class="absolute left-0 bottom-0 right-0 ma2 flex justify-end">
							<div class="carousel-buttons pa2 br-pill bg-transparent-lighter"></div>
						</div>
					</div>
				</div>
			{{ end }}

			<!-- Description -->
			{{ if .Project.ParsedDescription }}
				<div id="longdesc-ns" hidden></div>
				<div
					id="longdesc"
					class="description relocator w-100 post-content pt3 pt0-ns ph2 ph0-ns"
					data-relocate="project-sidebar-after-links"
					data-relocate-ns="longdesc-ns"
				>
					{{ .Project.ParsedDescription }}
				</div>
			{{ end }}
		</div>
	</div>
</div>

{{ end }}
