{{ template "base-2024.html" . }}

{{ define "extrahead" }}
	{{ template "markdown_previews.html" }}
	{{ template "image_selector.html" }}

	<script>
		const go = new Go();
		WebAssembly.instantiateStreaming(fetch('{{ static "gowasm.wasm" }}'), go.importObject)
			.then(result => {
				go.run(result.instance); // don't await this; we want it to be continuously running
				window.dispatchEvent(new Event("wasmready"));
			});
		window.parseKnownServicesForUrl = null; // will be set by the Go code
	</script>

	<script type="module">
		import { init } from "{{ static "js/project_edit.js" }}";

		init({
			csrf: {{ csrftokenjs .Session }},

			{{ if .Editing }}
				projectName: "new-project",
			{{ else }}
				projectName: "{{ .Project.Name }}",
			{{ end }}

			{{ with .ProjectSettings.LinksJSON }}
				initialLinks: JSON.parse("{{ . }}"),
			{{ else }}
				initialLinks: [],
			{{ end }}

			maxOwners: {{ .MaxOwners }},
			maxScreenshots: {{ .MaxScreenshots }},
			
			logoMaxFileSize: {{ .LogoMaxFileSize }},
			screenshotMaxFileSize: {{ .ScreenshotMaxFileSize }},
			textMaxFileSize: {{ .TextEditor.MaxFileSize }},
			
			editorUploadUrl: {{ .TextEditor.UploadUrl }},
			ownerCheckUrl: {{ .APICheckUsernameUrl }},

			logo: {{ .ProjectSettings.Logo }},
			headerImage: {{ .ProjectSettings.HeaderImage }},
			screenshots: {{ .ProjectSettings.Screenshots }},

			// TODO(ben): This is like 15.5k of JSON, which is frankly horrendous. It
			// probably compresses ok but come on. Nasty. Terrible. Probably the best
			// thing to do is just to shrink the actual data size somehow, because we
			// only have like 16 icons and somehow we are spending about 1k on each?!
			linkIcons: {{ .AllLogos }},
		});
	</script>

	<style>
		#desc_preview:empty::after {
			content: 'A preview of your description will appear here.';
			font-style: italic;
		}
		h3:has(+ #ai_policy_preview:empty) {
			display: none;
		}

		#full_description.drop {
			box-shadow: inset 0px 0px 5px yellow;
		}
	</style>

	<template id="owner_row">
		<div class="owner_row flex flex-row items-center g2 bg3 pa2" data-tmpl="rootElement">
			<input type="hidden" name="owners" data-tmpl="input" />
			<div class="flex g1 items-center b">
				<img data-tmpl="avatar" class="avatar avatar-user avatar-small" src="" />
				<span data-tmpl="name"></span>
			</div>
			<a class="remove_owner svgicon f7 link-normal" href="javascript:;">{{ svg "close" }}</a>
		</div>
	</template>
	<template id="link-preview">
		<hr data-tmpl="divider" class="mv2" hidden>
		<a data-tmpl="link" href="!href!" class="ph2 pv1 flex items-center g1">
			<span data-tmpl="icon" class="flex-shrink-0 flex items-center"><!-- !icon svg! --></span>
			<span data-tmpl="name" class="truncate" title="!name!"><!-- !name! --></span>
			<span class="flex-grow-1"></span>
			<span class="svgicon f6 ml2">{{ svg "arrow-right-up" }}</span>
		</a>
	</template>
	<template id="owner_preview">
		<div class="flex g1 items-center b">
			<img data-tmpl="avatar" class="avatar avatar-user avatar-small"><!-- need src -->
			<span data-tmpl="name"><!-- need name --></span>
		</div>
	</template>
	<template id="screenshot">
		<div data-tmpl="root" class="reorderable-item flex items-center pv3 pr3">
			<span data-tmpl="grabHandle" class="flex-shrink-0 svgicon pa3 pointer grab no-touch">{{ svg "draggable" }}</span>
			<span data-tmpl="selectorPlaceholder"></span>
		</div>
	</template>
{{ end }}

{{ define "content" }}
	{{/*
		NOTE(ben): Because we are using position: sticky for preview boxes, we
		CANNOT use overflow: hidden, scroll, auto, or overlay on any parent boxes
		of preview boxes, because this creates a "scrolling mechanism", which then
		causes the sticky preview to stick to that instead of the page. The fact
		that overflow: hidden creates a "scrolling mechanism" is obviously
		bullshit, but here we are.
	*/}}
	<div class="grid grid-1p grid-2p-l bg1">
		<form id="project_form" class="hmn-form pl3 pr3 pl4-ns pr0-ns pv3 pv4-ns" method="POST" enctype="multipart/form-data">
			{{ csrftoken .Session }}

			<h1 class="f3">
				{{ if .Editing }}
					Edit {{ .ProjectSettings.Name }}
				{{ else }}
					Create a {{ if .ProjectSettings.JamParticipation }}jam {{ end }}project
				{{ end }}
			</h1>

			{{ $showAdminProperties := and .Editing .User.IsStaff }}

			<div class="mt3 flex f6 bb">
				<a class="tab-button ph3 pv1 pointer" data-tab-button="info">Info</a>
				<a class="tab-button ph3 pv1 pointer" data-tab-button="images">Screenshots &amp; Links</a>
				{{ if $showAdminProperties }}
					<a class="tab-button ph3 pv1 pointer" data-tab-button="admin">Admin</a>
				{{ end }}
			</div>
			<div class="pv3">
				<!-------------------------------------------------------------------->
				<!--                              INFO                              -->
				<!-------------------------------------------------------------------->
				<div data-tab="info" class="flex flex-column g3">
					<div class="input-group">
						<label>Project Title*</label>
						<input
							required
							type="text"
							id="project_name" name="project_name"
							maxlength="255"
							value="{{ .ProjectSettings.Name }}"
						>
					</div>

					<div class="input-group">
						<label>Summary*</label>
						<textarea
							required
							id="description" name="shortdesc"
							maxlength="140"
						>
							{{- .ProjectSettings.Blurb -}}
						</textarea>
						<div class="f6">Plain text only. No links or markdown.</div>
					</div>

					<div class="fieldset">
						<legend class="flex justify-between">
							<span>Project Logo</span>
							<a href="#" class="normal" id="logo-upload-button">+ Upload Project Logo</a>
						</legend>
						<div class="logo">
							<div id="logo-selector-container" class="pa3">
								<span id="project-logo-placeholder"></span>
							</div>
							<div class="show-when-sibling-hidden flex justify-center items-center f6 pa2">Images should be square, and at least 256x256.</div>
						</div>
					</div>

					{{ with .ProjectSettings.HeaderImage }}
						<div class="f7 i tc ph3">
							Project header images have been replaced by screenshots. <a href="{{ .Url }}" target="_blank" download>Here</a> is the header image you previously uploaded.
						</div>
					{{ end}}

					<div class="input-group">
						<label>Status</label>
						<select id="lifecycle-select" name="lifecycle">
							<option value="active" {{ if eq .ProjectSettings.Lifecycle "active" }}selected{{ end }}>Active</option>
							<option value="hiatus" {{ if eq .ProjectSettings.Lifecycle "hiatus" }}selected{{ end }}>On Hiatus</option>
							<option value="done"   {{ if eq .ProjectSettings.Lifecycle "done"   }}selected{{ end }}>Completed</option>
							<option value="dead"   {{ if eq .ProjectSettings.Lifecycle "dead"   }}selected{{ end }}>Abandoned</option>
						</select>
					</div>

					<div id="owners" class="fieldset">
						<legend>Owners</legend>
						<div class="pa3">
							<div class="flex">
								<input id="owner_name" class="flex-grow-1 bl bt bb br-0" type="text" placeholder="Enter another owner's username" />
								<button id="owner_add" class="flex no-padding pa3 bt br bb bl-0 also-focus"><span class="flex w1">{{ svg "add" }}</span></button>
							</div>
							<div id="owners_error" class="pt1 f6"></div>
							<div id="owner_list" class="pt3 flex flex-wrap g3">
								{{ range .ProjectSettings.Owners }}
									<div class="owner_row flex flex-row items-center g2 bg3 pa2">
										<input type="hidden" name="owners" value="{{ .Username }}" />
										<div class="flex g1 items-center b">
											<img class="avatar avatar-user avatar-small" src="{{ .AvatarUrl }}" />
											<span title="{{ .Username }}">{{ .Name }}</span>
										</div>
										{{ if (or $.User.IsStaff (ne .ID $.User.ID)) }}
											<a class="remove_owner svgicon f7 link-normal" href="javascript:;">{{ svg "close" }}</a>
										{{ end }}
									</div>
								{{ end }}
							</div>
						</div>
					</div>

					<div class="dn-ns mh-n3 pa3 bt bb bg2 flex flex-column g2">
						<div class="b">Preview</div>
						<div id="card-preview-s" hidden></div>
					</div>
					
					<div class="input-group">
						<label>Long Description*</label>
						<textarea
							id="full_description"
							name="full_description"
							class="w-100 h5 minh-6 mono lh-copy"
							required
						>
							{{- .ProjectSettings.Description -}}
						</textarea>
						<div class="flex justify-end items-center f6">
							<div class="upload_bar flex-grow-1">
								<div class="instructions">
									Upload files by dragging & dropping, pasting, or <label class="pointer link" for="file_input">selecting</label> them.
								</div>
								<div class="progress flex">
									<div class="progress_text mr3"></div>
									<div class="progress_bar flex-grow-1 flex-shrink-1 pa1"><div class=""></div></div>
								</div>
							</div>
						</div>
					</div>

					<div class="input-group">
						<label>AI Policy*</label>
						<textarea
							id="ai_policy"
							name="ai_policy"
							class="w-100 h4 minh-4 mono lh-copy"
							placeholder="This project does not use generative AI..."
							required
						>
							{{- .ProjectSettings.AIPolicy -}}
						</textarea>
						<div class="f6">
							If you use generative AI in any way while working on this project, describe it here in detail. If you do not use generative AI, say that :)
						</div>
					</div>

					<div id="discord-tag" class="fieldset">
						<legend>Discord Tag</legend>
						<div class="pa3 input-group">
							{{ if not .User.DiscordUser }}
								<div class="mb2 f6">
									<a href="{{ .DiscordSettingsUrl }}" target="_blank">Link your Discord account</a> to use this feature.
								</div>
							{{ end }}
							<div class="{{ if not .User.DiscordUser }}o-50{{ end }} flex flex-column g1">
								<input
									id="tag" name="tag" type="text"
									pattern="^[a-z0-9]+(-[a-z0-9]+)*$" maxlength="20"
									value="{{ .ProjectSettings.Tag }}"
									{{ if not .User.DiscordUser }}disabled{{ end }}
								>
								<div class="f6" id="tag-discord-info">
									Any Discord message with the tag "&amp;<span id="tag-preview"></span>" will automatically be associated with this project and shared on the website.
								</div>
								<div class="f6">Tags must be all lowercase, and can use hyphens to separate words.</div>
							</div>
						</div>
					</div>

					{{ if .ProjectSettings.JamParticipation }}
						<div class="fieldset">
							<legend>Jam Participation</legend>
							<div class="pa3 flex flex-column g2">
								{{ range .ProjectSettings.JamParticipation }}
									<div>
										<input id="jam_{{ .JamSlug }}" type="checkbox" name="jam_participation" value="{{ .JamSlug }}" {{ if .Participating }}checked{{ end }} />
										<label for="jam_{{ .JamSlug }}">{{ .JamName }}</label>
									</div>
								{{ end }}
								{{ if .User.IsStaff }}
										<hr />
										<div>
												<input id="jam_hidden" type="checkbox" name="jam_hidden" value="jam_hidden" {{ if .ProjectSettings.JamHidden }} checked {{ end }} />
												<label for="jam_hidden">Hide project on jam pages</label>
										</div>
								{{ end }}
							</div>
						</div>
					{{ end }}
				</div>

				<!-------------------------------------------------------------------->
				<!--                      SCREENSHOTS & LINKS                       -->
				<!-------------------------------------------------------------------->
				<div data-tab="images" class="flex flex-column g3">
					{{ template "link_editor.html" }}

					<div class="dn-ns mh-n3 pa3 bt bb bg2">
						<div id="links-preview-s" hidden></div>
					</div>

					<div class="fieldset">
						<legend class="flex justify-between">
							<span>Screenshots</span>
							<button id="screenshot-upload-button" class="link-button">+ Upload Screenshot</button>
						</legend>
						<div>
							<div id="screenshots" class="relative overflow-hidden"></div>
							<div class="flex justify-center items-center f6 pv2 ph3 tc">
								Images should ideally have a 16:9 aspect ratio, and be at least 1280x720. Make sure any text is big and readable!
							</div>
						</div>
					</div>
				</div>

				<!-------------------------------------------------------------------->
				<!--                             ADMIN                              -->
				<!-------------------------------------------------------------------->
				<div data-tab="admin" class="flex flex-column g3">
					{{ if $showAdminProperties }}
						<div class="fieldset">
							<legend>Admin Properties</legend>
							<div class="pa3 flex flex-column g3">
								<div class="flex flex-column g2">
									<div>
										<input id="official" type="checkbox" name="official" {{ if not .ProjectSettings.Personal }}checked{{ end }}>
										<label for="official">Official HMN project</label>
									</div>
									<div>
										<input id="hidden" type="checkbox" name="hidden" {{ if .ProjectSettings.Hidden }}checked{{ end }} />
										<label for="hidden">Hide project</label>
									</div>
									<div>
										<input id="featured" type="checkbox" name="featured" {{ if .ProjectSettings.Featured }}checked{{ end }} />
										<label for="featured">Featured</label>
									</div>
								</div>
								<div class="input-group">
									<label for="slug">Slug</label>
									<input type="text" id="slug" name="slug" maxlength="255" class="textbox" value="{{ .ProjectSettings.Slug }}">
									<div class="f6">Has no effect for personal projects. Personal projects have a slug derived from the title.</div>
									<div class="f6">If you change this, make sure to change DNS too!</div>
								</div>
								<div class="input-group">
									<label for="slug_aliases">Slug Aliases</label>
									<input type="text" id="slug_aliases" name="slug_aliases" class="textbox" value="{{ .ProjectSettings.SlugAliases }}">
									<div class="f6">Add any alternate slugs for this project, separated by commas.</div>
								</div>
														<div class="input-group">
									<label for="sort_score">Sort Score</label>
																<input type="number" id="sort_score" name="sort_score" class="textbox" value="{{ .ProjectSettings.SortScore }}" />
									<div class="f6">Higher score sorts first. Only affects <b>featured</b> projects!</div>
														</div>
							</div>
						</div>
					{{ end }}
				</div>
			</div>
			<div id="submit" class="flex justify-end">
				{{ if .Editing }}
					<input class="btn-primary" type="submit" value="Save" />
				{{ else }}
					<input class="btn-primary" type="submit" value="Create Project" />
				{{ end }}
			</div>
		</form>

		<!-------------------------------------------------------------------->
		<!--                           PREVIEWS                             -->
		<!-------------------------------------------------------------------->
		<div id="preview-container" class="dn db-ns relative mh4">
			<!-- Project card preview -->
			<div
				id="card-preview-sticky-container"
				class="stickinator absolute"
				data-top="project_name"
				data-bottom="owners"
			>
				<div id="card-preview-ns" hidden></div>
				<div
					class="relocator w--project-sidebar sticky-ns t4 ba-ns bg1 bg2-ns pa3 flex flex-column-ns g3 link-normal"
					data-relocate="card-preview-s"
					data-relocate-ns="card-preview-ns"
				>
					<div class="w--project-logo w-100-ns">
						<div id="logo_preview" class="project-logo" style="--hue: {{ .Project.Flowsnake.Hue }}deg">
						<img src="{{ .Project.Logo }}" class="aspect-ratio--object" alt="{{ .Project.Name }} logo">
						<div id="logo_placeholder" class="project-logo-placeholder aspect-ratio--object">
							{{ cat .Project.Name " " | trunc 1 | upper }}
						</div>
					</div>
					</div>
					<div class="flex flex-column g3">
						<div class="flex flex-column g1">
							<h2 id="name_preview" class="f4"></h2>
							<div id="blurb_preview">{{ .Project.Blurb }}</div>
						</div>
						<div id="owners_preview" class="flex flex-column g2"></div>
					</div>
				</div>
			</div>

			<!-- Long description preview -->
			<div
				id="description-preview-sticky-container"
				class="stickinator absolute w-100"
				data-top="full_description"
				data-bottom="submit"
			>
				<div id="longdesc-ns" hidden></div>
				<div class="sticky t4 dn db-l h-100" style="max-height: calc(100vh - calc(2 * var(--spacing-4)))">
					<div class="ba bg2 pa4 overflow-y-scroll h-100">
						<div class="flex flex-column post-content">
							<div id="desc_preview" class="w-100 overflow-hidden"></div>
							<h3>AI Policy</h3>
							<div id="ai_policy_preview" class="i"></div>
						</div>
					</div>
				</div>
			</div>

			<!-- Links preview -->
			<div
				id="links-preview-sticky-container"
				class="stickinator absolute"
				data-top="link-editor"
				data-bottom="link-editor"
			>
				<div id="links-preview-ns" hidden></div>
				<div
					id="links-preview"
					class="relocator w--project-sidebar hide-if-empty ba-ns bg1 bg2-ns pa2 flex flex-column link-normal"
					data-relocate="links-preview-s"
					data-relocate-ns="links-preview-ns"
				></div>
			</div>
		</div>
	</div>
	<input type="file" multiple name="file_input" id="file_input" class="dn" />{{/* NOTE(mark): copied NOTE(asaf): Placing this outside the form to avoid submitting it to the server by accident */}}
{{ end }}
