{{ template "base.html" . }}

{{ define "extrahead" }}
<style>
ol {
	list-style-type: lower-roman;
}

ol ol {
	list-style-type: lower-alpha;
}
</style>
{{ end }}
{{ define "content" }}
<div>
	<div class="description mw7 ph3 ph0-ns">
		<p>At Handmade Network, we pride ourselves on being open to hosting all sorts of projects, from low level tools to games to conscientious web applications to innumerable other carefully crafted varieties of software. With this in mind, there are certain standards of content quality that we expect projects hosted on the site to meet, and certain characteristics that we believe projects should uphold in order to best contribute to the community of software development we are attempting to cultivate.</p>
		<p>This document outlines these standards and characteristics as specifically as possible, allowing for exceptions both in favor and against project approval if unanticipated circumstances arise. All project approvals or rejections will be accompanied by a justification, and we expect to be held accountable if the provided justification is insufficiently backed by these guidelines.</p>

		<h2>Content Quality</h2>
		<p>A high-quality Handmade Network project submission will:</p>
		<ol>
			<li><strong>Have a relevant and informative blurb</strong> which gives those browsing project listings a basic idea of the project's purpose and value. The 'elevator pitch', if you will</li>
			<li>
				<p><strong>Have a thorough description</strong>, which will give visitors several vital pieces of information in understanding the project:</p>
				<ol>
					<li>The background / impetus for the project’s creation</li>
					<li>The project's short-term and long-term goals</li>
					<li>The current status of the project</li>
					<li>The road-map to reaching these goals, both short- and long-term</li>
				</ol>
				<p>Excellent descriptions will also make use of (BBCode) markup to make it easier for readers to scan for relevant information.</p>
			</li>
			<li>
				<p><strong>Provide links to other relevant websites</strong> where visitors may find out more about project development or the current activity of the author(s).</p>
				<p>Common examples:</p>
				<ol>
					<li>A YouTube channel where the author(s) showcase latest features or record development logs</li>
					<li>An external project homepage where new development builds can be found</li>
					<li>An external source-code hosting site where the project's source code is available</li>
					<li>A social media page for the project or the author(s) showing development progress</li>
				</ol>
			</li>
			<li>
				<p><strong>Provide several screenshots showcasing the current state of project development</strong>, if the project is visually oriented. Examples:</p>
				<ol>
					<li>A project with a graphical user interface should show what a typical user will see when interacting with the running program</li>
					<li>Same goes for command line tool with a curses-like TUI</li>
					<li>A game or game engine should provide several screenshots to give visitors an idea of what makes it unique</li>
					<li>Visually-oriented projects with support for multiple platforms should provide at least one screenshot of the project running on each platform</li>
				</ol>
			</li>
			<li><strong>Where possible, provide current builds of the project</strong> that visitors can run to see the state of the project.</li>
			<li><strong>Customize the project page with appropriate colors or background images</strong> to give the project a sense of visual identity.</li>
		</ol>
		<p>Providing as much information about your project as possible will help us decide whether it meets the qualifications listed below, and whether community members will be invested in your project's success.</p>

		<h2>Acceptable Projects</h2>
		<p>For us to be willing to approve a project on the site, it should:</p>
		<ol>
			<li><strong>Be a legitimate, unique, and original work.</strong> We unequivocally will not accept projects which are blatantly advertisements for unrelated websites or companies, projects which are indistinguishable from others on the site, projects which are incorrectly attributed to someone other than the actual creator.</li>
			<li><strong>Have a meaningful amount of development work planned or completed above its dependencies, parent project, or previous incarnation.</strong> We will not accept projects which cannot prove themselves to be more than a thin layer of “glue code” above several libraries, or which are barely-modified forks of other projects.</li>
			<li>
				<p><strong>Be the development effort of an individual or small team, organization or company.</strong> We wish to keep the focus of this site on projects which highlight the inspiring work of small developers, projects which provide a high ratio of value-added to man-hours worked, and the exploration of software creation as a craft. We will refrain from defining “small” for the purposes of this guideline, and instead give examples of approvals and rejections:</p>
				<ol>
					<li>A commercial compression tool developed by a small team of 2-4 programmers and a few miscellaneous staff under the umbrella of an LLC would be approved.</li>
					<li>A suite of productivity software developed by a large multinational corporation would be rejected, as it is not in line with the intended focus of the site, and such a corporation is likely already receiving widespread exposure elsewhere and may have their own extensive user community.</li>
					<li>An existing, well-established open-source project with a contributor count at the time of submission in the thousands may be approved or rejected depending on other factors like the age of the project, the number of current contributors, the content to be provided on Handmade Network vs the project's homepage, and the current state of development of the project.</li>
				</ol>
			</li>
			<li>
				<p><strong>Enrich to the community</strong> by releasing finished projects for community members to use or purchase and providing regular updates that inform and educate community members. We heavily encourage activities such as:</p>
				<ol>
					<li>Writing or recording logs/articles explaining decisions/trade-offs made during development and their rationale, theory behind a piece of code, information discovered about an API or dependency.</li>
					<li>Releasing demos, samples, or pre-release versions demonstrating the mechanics or evolution of a particular feature</li>
					<li>Responding to questions about functionality in comments/forums.</li>
				</ol>
				<p>For more information on this, please see our <a href="/monthly-update-policy">Monthly Update Policy</a> requirements and suggestions.</p>
			</li>
			<li><strong>Have a clear, achievable goal or set of goals and provide lasting value to its intended audience.</strong> We want to discourage projects from falling into development limbo and slowly dying off. We also want to encourage project owners to support their projects past release, so that they might have continuing usefulness as the dependencies and platforms they rely on continue to develop.</p>
		</ol>
		<p>Additionally, there are some criteria that we guarantee will <strong>not</strong> be considered in approving or rejecting a project:</p>
		<ol>
			<li><strong>Implementation language.</strong> A language is merely a tool, and worthwhile software can be created in any language or environment.</li>
			<li><strong>Use (or not) of libraries.</strong> While we are supportive of efforts to develop software that makes minimal use of libraries, and to write code that supplants existing libraries, this is by no means a requirement of projects hosted on the site. We merely ask, as stated above, that projects perform some significant work above that which its dependencies perform on their own.</li>
			<li><strong>License, monetization, and source-code provision.</strong> We do not require projects be open-source, free software, etc. While we are very supportive of these movements and the principles behind them, we also understand the need to make a living off of development work, and wish to make it possible for any project to contribute to and benefit from our software development community.</li>
		</ol>
	</div>
</div>
{{ end }}
