{{ template "base-2024.html" . }}

{{ define "extrahead" }}
	{{ template "markdown_previews.html" .TextEditor }}
	<script src="{{ static "js/tabs.js" }}"></script>
	<script src="{{ static "js/image_selector.js" }}"></script>
	<script src="{{ static "js/templates.js" }}"></script>
	<script src="{{ static "js/base64.js" }}"></script>
	<script src="{{ static "js/markdown_upload.js" }}"></script>
	
	<style>
		#desc-preview:empty::after {
			content: 'A preview of your description will appear here.';
			color: var(--dimmer-color);
			font-style: italic;
		}

		#full_description.drop {
			box-shadow: inset 0px 0px 5px yellow;
		}
	</style>
{{ end }}

{{ define "content" }}
	<div class="bg1 flex bb">
		<form id="project_form" class="hmn-form pa4 flex-fair" method="POST" enctype="multipart/form-data">
			{{ csrftoken .Session }}

			<h1 class="f3">
				{{ if .Editing }}
					Edit {{ .ProjectSettings.Name }}
				{{ else }}
					Create a {{ if .ProjectSettings.JamParticipation }}jam {{ end }}project
				{{ end }}
			</h1>

			<hr class="mv3">

			<div class="flex flex-column g3">
				<div class="input-group">
					<label>Project Title*</label>
					<input required type="text" name="project_name" maxlength="255" class="textbox" value="{{ .ProjectSettings.Name }}">
				</div>

				<div class="input-group">
					<label>Short Description*</label>
					<textarea id="description" required maxlength="140" name="shortdesc">
						{{- .ProjectSettings.Blurb -}}
					</textarea>
					<div class="f6">Plaintext only. No links or markdown.</div>
				</div>
				
				<div class="input-group">
					<label>Long Description</label>
					<textarea id="full_description" class="w-100 h5 minh-5 mono lh-copy" name="full_description">
						{{- .ProjectSettings.Description -}}
					</textarea>
					<div class="flex justify-end items-center f6">
						<div class="upload_bar flex-grow-1">
							<div class="instructions">
								Upload files by dragging & dropping, pasting, or <label class="pointer link" for="file_input">selecting</label> them.
							</div>
							<div class="progress flex">
								<div class="progress_text mr3"></div>
								<div class="progress_bar flex-grow-1 flex-shrink-1 pa1"><div class=""></div></div>
							</div>
						</div>
					</div>
				</div>

				<div class="input-group">
					<label>Status</label>
					<select name="lifecycle">
						<option value="active" {{ if eq .ProjectSettings.Lifecycle "active" }}selected{{ end }}>Active</option>
						<option value="hiatus" {{ if eq .ProjectSettings.Lifecycle "hiatus" }}selected{{ end }}>On Hiatus</option>
						<option value="done"   {{ if eq .ProjectSettings.Lifecycle "done"   }}selected{{ end }}>Completed</option>
						<option value="dead"   {{ if eq .ProjectSettings.Lifecycle "dead"   }}selected{{ end }}>Abandoned</option>
					</select>
				</div>

				<fieldset>
					<legend>Discord Tag</legend>
					<div class="pa3 input-group">
						<input
							id="tag" name="tag" type="text"
							pattern="^[a-z0-9]+(-[a-z0-9]+)*$" maxlength="20"
							value="{{ .ProjectSettings.Tag }}"
						>
						<div class="f6 mt1" id="tag-discord-info">If you have linked your Discord account, any #project-showcase messages with the tag "&amp;<span id="tag-preview"></span>" will automatically be associated with this project.</div>
						<div class="f6">Tags must be all lowercase, and can use hyphens to separate words.</div>
					</div>
				</fieldset>

				<fieldset>
					<legend class="flex justify-between">
						<span>Project Logo</span>
						<a href="#" class="normal" onclick="openLogoSelector(event)">+ Upload Project Logo</a>
					</legend>
					<div class="light_logo">
						{{ template "image_selector.html" imageselectordata "light_logo" .ProjectSettings.LightLogo false }}
						<div class="show-when-sibling-hidden flex justify-center items-center f6 pa2">Images should be square, and at least 256x256.</div>
					</div>
				</fieldset>

				<fieldset>
					<legend class="flex justify-between">
						<span>Header Image</span>
						<a href="#" class="normal" onclick="openHeaderSelector(event)">+ Upload Header Image</a>
					</legend>
					<div class="header_image">
						{{ template "image_selector.html" imageselectordata "header_image" .ProjectSettings.HeaderImage false }}
						<div class="show-when-sibling-hidden flex justify-center items-center f6 pa2">Images should be very beeg (TODO)</div>
					</div>
				</fieldset>

				<fieldset>
					<legend>Owners</legend>
					<div class="pa3">
						<div class="flex">
							<input class="flex-grow-1 no-border bl bt bb br-0" id="owner_name" type="text" placeholder="Enter a username" />
							<button class="flex no-padding no-border pa3 bt br bb bl-0 also-focus" id="owner_add"><span class="flex w1">{{ svg "add" }}</span></button>
						</div>
						<div id="owners_error" class="f6"></div>
						<div id="owner_list" class="pt3 flex flex-wrap g3">
							<template id="owner_row">
								<div class="owner_row flex flex-row items-center bg3 pa2" data-tmpl="root">
									<input type="hidden" name="owners" data-tmpl="input" />
									<span data-tmpl="name"></span>
									<a class="remove_owner svgicon f7 link--normal pl2" href="javascript:;">{{ svg "close" }}</a>
								</div>
							</template>
							{{ range .ProjectSettings.Owners }}
								<div class="owner_row flex flex-row items-center bg3 pa2">
									<input type="hidden" name="owners" value="{{ .Username }}" />
									<span>{{ .Username }}</span>
									{{ if (or $.User.IsStaff (ne .ID $.User.ID)) }}
										<a class="remove_owner svgicon f7 link--normal pl2" href="javascript:;">{{ svg "close" }}</a>
									{{ end }}
								</div>
							{{ end }}
						</div>
					</div>
				</fieldset>

				{{ if .ProjectSettings.JamParticipation }}
					<fieldset>
						<legend>Jam Participation</legend>
						<div class="pa3 flex flex-column g2">
							{{ range .ProjectSettings.JamParticipation }}
								<div>
									<input id="jam_{{ .JamSlug }}" type="checkbox" name="jam_participation" value="{{ .JamSlug }}" {{ if .Participating }}checked{{ end }} />
									<label for="jam_{{ .JamSlug }}">{{ .JamName }}</label>
								</div>
							{{ end }}
						</div>
					</fieldset>
				{{ end }}

				<fieldset>
					<legend class="flex justify-between">
						<span>Links</span>
						<a href="#" class="normal" onclick="addLink(event)">+ Add Link</a>
					</legend>
					<div class="pa3 input-group">
						<div id="links" class="flex flex-column g3 relative">
						</div>
						<template id="link_row">
							<div class="link_row w-100 flex flex-row items-center" data-tmpl="root">
								<span class="link_handle svgicon pr3 pointer grab" onmousedown="startLinkDrag(event)">{{ svg "draggable" }}</span>
								<input data-tmpl="nameInput" class="link_name mr3 w4" type="text" placeholder="Name" />
								<input data-tmpl="urlInput" class="link_url flex-grow-1" type="url" placeholder="Link" />
								<a class="delete_link svgicon link--normal pl3 f3" href="javascript:;" onclick="deleteLink(event)">{{ svg "delete" }}</a>
							</div>
						</template>
						<template id="link_row_dummy">
							<div class="link_row_dummy flex flex-row" data-tmpl="root">
								<input class="o-0">
							</div>
						</template>
					</div>
					<input id="links_json" type="hidden" name="links">
				</fieldset>

				{{ if and .Editing .User.IsStaff }}
				<fieldset>
					<legend>Admin Properties</legend>
					<div class="pa3 flex flex-column g3">
						<div class="flex flex-column g2">
							<div>
								<input id="official" type="checkbox" name="official" {{ if not .ProjectSettings.Personal }}checked{{ end }}>
								<label for="official">Official HMN project</label>
							</div>
							<div>
								<input id="hidden" type="checkbox" name="hidden" {{ if .ProjectSettings.Hidden }}checked{{ end }} />
								<label for="hidden">Hide project</label>
							</div>
							<div>
								<input id="featured" type="checkbox" name="featured" {{ if .ProjectSettings.Featured }}checked{{ end }} />
								<label for="featured">Featured</label>
							</div>
						</div>
						<div class="input-group">
							<label for="slug">Slug</label>
							<input type="text" id="slug" name="slug" maxlength="255" class="textbox" value="{{ .ProjectSettings.Slug }}">
							<div class="f6">Has no effect for personal projects. Personal projects have a slug derived from the title.</div>
							<div class="f6">If you change this, make sure to change DNS too!</div>
						</div>
					</div>
				</fieldset>
				{{ end }}

				<div class="flex justify-end">
					{{ if .Editing }}
						<input class="btn-primary" type="submit" value="Save" />
					{{ else }}
						<input class="btn-primary" type="submit" value="Create Project" />
					{{ end }}
				</div>
			</div>
		</form>
		<div class="flex-fair bl pa4 bg2">
			<div id="desc-preview" class="w-100 post-content"></div>
		</div>
	</div>
	<input type="file" multiple name="file_input" id="file_input" class="dn" />{{/* NOTE(mark): copied NOTE(asaf): Placing this outside the form to avoid submitting it to the server by accident */}}
	
	<script>
	let csrf = JSON.parse({{ csrftokenjs .Session }});

	let projectForm = document.querySelector("#project_form");

	projectForm.addEventListener("invalid", function(ev) {
		switchToTabOfElement(document.body, ev.target);
	}, true);

	function gotoTab(tabName) {
		switchTab(document.body, tabName);
	}

	//////////
	// Tags //
	//////////

	const tag = document.querySelector('#tag');
	const tagPreview = document.querySelector('#tag-preview');
	function updateTagPreview() {
		tagPreview.innerText = tag.value || "[your tag]";
	}
	updateTagPreview();
	tag.addEventListener('input', () => updateTagPreview());

	////////////////////////////
	// Description management //
	////////////////////////////

	{{ if .Editing }}
		const projectName = "new-project";
	{{ else }}
		const projectName = "{{ .Project.Name }}";
	{{ end }}
	const description = document.querySelector('#full_description');
	const descPreview = document.querySelector('#desc-preview');
	const { clear: clearDescription } = autosaveContent({
		inputEl: description,
		storageKey: `project-description/${projectName}`,
	});
	projectForm.addEventListener('submit', () => clearDescription());

	let doMarkdown = initLiveMarkdown({ inputEl: description, previewEl: descPreview });

	//////////////////////
	// Owner management //
	//////////////////////

	const OWNER_QUERY_STATE_IDLE = 0;
	const OWNER_QUERY_STATE_QUERYING = 1;

	const MAX_OWNERS = {{ .MaxOwners }};

	let ownerCheckUrl = "{{ .APICheckUsernameUrl }}";
	let ownerQueryState = OWNER_QUERY_STATE_IDLE;
	let addOwnerInput = document.querySelector("#owner_name");
	let addOwnerButton = document.querySelector("#owner_add");
	let ownersError = document.querySelector("#owners_error");
	let ownerList = document.querySelector("#owner_list");
	let ownerTemplate = makeTemplateCloner("owner_row");

	addOwnerInput.addEventListener("keypress", function(ev) {
		if (ev.which == 13) {
			startAddOwner();
			ev.preventDefault();
			ev.stopPropagation();
		}
	});

	addOwnerButton.addEventListener("click", function(ev) {
		ev.preventDefault();
		startAddOwner();
	});

	function updateAddOwnerStyles() {
		const numOwnerRows = document.querySelectorAll('.owner_row').length;
		addOwnerInput.disabled = numOwnerRows >= MAX_OWNERS;
	}
	updateAddOwnerStyles();

	function startAddOwner() {
		if (ownerQueryState == OWNER_QUERY_STATE_QUERYING) {
			return;
		}
		let newOwner = addOwnerInput.value.trim().toLowerCase();
		if (newOwner.length == 0) {
			return;
		}
		let ownerEls = ownerList.querySelectorAll(".owner_row input[name='owners']");
		for (let i = 0; i < ownerEls.length; ++i) {
			let existingOwner = ownerEls[i].value.toLowerCase();
			if (newOwner == existingOwner) {
				return;
			}
		}

		ownersError.textContent = "";
		let xhr = new XMLHttpRequest();
		xhr.withCredentials = true;
		xhr.open("POST", ownerCheckUrl);
		xhr.responseType = "json";
		xhr.addEventListener("load", function(ev) {
			let result = xhr.response;
			if (result) {
				if (result.found) {
					addOwner(result.canonical);
					addOwnerInput.value = "";
				} else {
					ownersError.textContent = "Username not found";
				}
			} else {
				ownersError.textContent = "There was an issue validating this username";
			}
			setOwnerQueryState(OWNER_QUERY_STATE_IDLE);
			if (document.activeElement == addOwnerButton) {
				addOwnerInput.focus();
			}
		});
		xhr.addEventListener("error", function(ev) {
			ownersError.textContent = "There was an issue validating this username";
			setOwnerQueryState(OWNER_QUERY_STATE_IDLE);
		});
		let data = new FormData();
		data.append(csrf.field, csrf.token);
		data.append("username", newOwner);
		xhr.send(data);
		setOwnerQueryState(OWNER_QUERY_STATE_QUERYING);
	}

	function setOwnerQueryState(state) {
		ownerQueryState = state;
		querying = (ownerQueryState == OWNER_QUERY_STATE_QUERYING);
		addOwnerInput.disabled = querying;
		addOwnerButton.disabled = querying;
		updateAddOwnerStyles();
	}

	function addOwner(username) {
		let ownerEl = ownerTemplate();
		ownerEl.input.value = username;
		ownerEl.name.textContent = username;
		ownerList.appendChild(ownerEl.root);
		updateAddOwnerStyles();
	}

	ownerList.addEventListener("click", function(ev) {
		if (ev.target.classList.contains("remove_owner")) {
			ev.target.parentElement.remove();
		}
		updateAddOwnerStyles();
	});

	/////////////////////
	// Logo management //
	/////////////////////

	const logoMaxFileSize = {{ .LogoMaxFileSize }};

	const logoSelector = new ImageSelector(
		document.querySelector("#project_form"),
		logoMaxFileSize,
		document.querySelector(".light_logo")
	);
	function openLogoSelector(e) {
		e.preventDefault();
		logoSelector.openFileInput();
	}

	///////////////////////
	// Header management //
	///////////////////////

	const headerMaxFileSize = {{ .HeaderMaxFileSize }};

	const headerSelector = new ImageSelector(
		document.querySelector("#project_form"),
		headerMaxFileSize,
		document.querySelector(".header_image")
	);
	function openHeaderSelector(e) {
		e.preventDefault();
		headerSelector.openFileInput();
	}

	//////////////////
	// Asset upload //
	//////////////////
	setupMarkdownUpload(
		document.querySelectorAll("#project_form input[type=submit]"),
		document.querySelector('#file_input'),
		document.querySelector('.upload_bar'),
		description,
		doMarkdown,
		{{ .TextEditor.MaxFileSize }},
		{{ .TextEditor.UploadUrl }}
	);

	///////////
	// Links //
	///////////

	const linksContainer = document.querySelector("#links");
	const linksJSONInput = document.querySelector("#links_json");
	const linkTemplate = makeTemplateCloner("link_row");
	const dummyLinkTemplate = makeTemplateCloner("link_row_dummy");
	
	const initialLinks = JSON.parse("{{ .ProjectSettings.LinksJSON }}");
	for (const link of initialLinks) {
		const l = linkTemplate();
		l.nameInput.value = link.name;
		l.urlInput.value = link.url;
		linksContainer.appendChild(l.root)
	}
	ensureLinksEmptyState();

	projectForm.addEventListener("submit", () => updateLinksJSON());

	function addLink(e) {
		e.preventDefault();
		linksContainer.appendChild(linkTemplate().root);
	}

	function deleteLink(e) {
		e.preventDefault();
		const l = e.target.closest(".link_row");
		l.remove();

		ensureLinksEmptyState();
	}

	function ensureLinksEmptyState() {
		if (!linksContainer.querySelector(".link_row")) {
			// Empty state is a single row
			linksContainer.appendChild(linkTemplate().root);
		}
	}

	function updateLinksJSON() {
		const links = [];
		for (const l of linksContainer.querySelectorAll(".link_row")) {
			links.push({
				"name": l.querySelector(".link_name").value,
				"url": l.querySelector(".link_url").value,
			});
		}
		linksJSONInput.value = JSON.stringify(links);
	}

	let draggingLink = null;
	let linkDragStartY = 0;
	let linkDragStartMouseY = 0;

	function startLinkDrag(e) {
		e.preventDefault();
		const l = e.target.closest(".link_row");

		const top = l.offsetTop;

		l.insertAdjacentElement("beforebegin", dummyLinkTemplate().root);
		document.querySelector("body").classList.add("grabbing");
		
		l.style.position = "absolute";
		l.style.top = `${top}px`;
		l.classList.add("link_dragging");

		draggingLink = l;
		linkDragStartY = top;
		linkDragStartMouseY = e.pageY;
	}

	function doLinkDrag(e) {
		if (!draggingLink) {
			return;
		}

		const maxTop = linksContainer.offsetHeight - draggingLink.offsetHeight;

		const delta = e.pageY - linkDragStartMouseY;
		const top = Math.max(0, Math.min(maxTop, linkDragStartY + delta));
		const middle = top + draggingLink.offsetHeight/2;

		draggingLink.style.top = `${top}px`;

		const numLinks = linksContainer.querySelectorAll(".link_row").length;
		const itemHeight = linksContainer.offsetHeight / numLinks;
		const index = Math.floor(middle / itemHeight);
		
		const links = linksContainer.querySelectorAll(".link_row:not(.link_dragging)");
		const dummy = linksContainer.querySelector(".link_row_dummy");
		dummy.remove();
		linksContainer.insertBefore(dummy, links[index]);
	}
	
	function endLinkDrag(e) {
		if (!draggingLink) {
			return;
		}

		const dummy = linksContainer.querySelector(".link_row_dummy");
		draggingLink.remove();
		linksContainer.insertBefore(draggingLink, dummy);
		dummy.remove();

		draggingLink.style.position = null;
		draggingLink.style.top = null;
		draggingLink.classList.remove("link_dragging");

		document.querySelector("body").classList.remove("grabbing");
		draggingLink = null;
	}
	window.addEventListener("mouseup", endLinkDrag);
	window.addEventListener("mousemove", doLinkDrag);

	</script>
{{ end }}
