{{ $c := hex2color .Color }}

:root {
    --theme-color: {{ $c | color2css }};

    --theme-color-dim: {{ lightness 0.75 $c | color2css }};
    --theme-color-dimmer: {{ lightness 0.8 $c | color2css }};
    --theme-color-dimmest: {{ lightness 0.85 $c | color2css }};

    --theme-color-dark: {{ lightness 0.35 $c | color2css }};
    --theme-color-light: {{ lightness 0.55 $c | color2css }};

    --link-color: {{ lightness 0.35 $c | color2css }};
    --link-hover-color: {{ lightness 0.45 $c | color2css }};

    --background-even-background: {{ lightness 0.95 $c | color2css }};

    --input-lite-border: var(--link-color);
}

@media (prefers-color-scheme: dark) {
    :root {
        --theme-color-dim: {{ lightness 0.35 $c | color2css }};
        --theme-color-dimmer: {{ lightness 0.3 $c | color2css }};
        --theme-color-dimmest: {{ lightness 0.2 $c | color2css }};
    
        --theme-color-dark: {{ lightness 0.30 $c | color2css }};
        --theme-color-light: {{ lightness 0.55 $c | color2css }};
    
        --link-color: {{ lightness 0.55 $c | color2css }};
        --link-hover-color: {{ lightness 0.65 $c | color2css }};

        --background-even-background: {{ lightness 0.15 $c | color2css }};
    }
}

.unread .avatar-icon {
    border: 2px solid var(--link-color);
}
