{{ template "role_base.html" . }}

{{ define "role content" }}
<p>
    We need to tell the outside world what we're all about. We want to convince programmers and users alike that software is bad and needs to be better. We want to do more than just complain - we want to advocate for better software development practices and better software, period.
</p>
<p>
    To do this, we want someone with great communication skills who can communicate our vision to the outside world. As Advocacy Lead, you can shape the public face of the Handmade Network and Handmade Software Foundation and push for real change in the world of software.
</p>
<p>
    To give you an idea of what we're looking for, here are some of our advocacy ideas:
</p>
<ul>
    <li>
        Take popular software that people hate (e.g. Adobe Premiere or New Reddit), reverse engineer it to find what's going on, and publish the results to put pressure on those companies to do better
    </li>
    <li>
        Take an old computer and walk it through years of software updates, cataloguing the bloat and slowdown along the way
    </li>
    <li>
        Organize the community to report bugs or build times and make a report detailing how much our software is dragging us down
    </li>
</ul>
<p>
    With your help, we can show people that there is a better way to build software. <strong>If this excites you, please get in touch!</strong> See the <b>How to apply</b> section below.
</p>

<h2>Commitment</h2>
<p>
    We would like to produce a few key reports per year - big pieces that can make a splash on Hacker News or other tech media. In addition, we'd like to maintain a consistent public presence through e.g. social media.
</p>
<p>
    How you achieve this is up to you - this position is flexible and many details are up in the air. Overall, we would expect ongoing communication with the leadership team and commitment to publishing the major pieces described above.
</p>

<h2>How to apply</h2>
<p>
    Send us an email at <a href="mailto:team@handmade.network">team@handmade.network</a> or contact @bvisness on Discord. Please share with us:
</p>
<p>
    Like all Handmade Network positions, this is a volunteer role. Thank you for your interest!
</p>
{{ end }}
