{{ template "role_base.html" . }}

{{ define "role content" }}
<p>
    We are looking for someone with visual design and UX skills to set the visual direction for everything the Network and Foundation does. Whether that's making promotional art for events or making infographics for education, we need a consistent visual voice and appealing presentation.
</p>
<p>
    Here are some examples of what you might do:
    <ul>
        <li>
            Redesign our <a target="_blank" href="https://handmade.network/projects">project gallery</a> to better highlight personal work without burying our flagship projects
        </li>
        <li>
            Design layouts, logos, key art, and <a target="_blank" href="https://nextcloud.handmade.network/s/gMJ3Eb8e7wD3CkN">assets</a> for events like the <a target="_blank" href="https://handmade.network/jam/2022">Wheel Reinvention Jam</a>
        </li>
        <li>
            Create cover art and infographics for <a target="_blank" href="https://handmade.network/education/http">educational articles</a>
        </li>
        <li>
            Redesign this very website, and design reusable styles and UI components
        </li>
        <li>
            Make sure our home page engages prospective community members and gets people excited about our mission
        </li>
    </ul>
</p>
<p>
    <strong>If any of this excites you, please get in touch!</strong> See the <b>How to apply</b> section below.
</p>

<h2>Commitment</h2>
<p>
    Our design needs fluctuate over time, but we always have a long list of things to improve.
</p>
<p>
    At a minimum, we would expect you to be on call for design needs and to produce mockups or assets within a week of the request. (Timing may vary depending on the scope of work requested.) However, we would be thrilled with any other design work you choose to contribute - we want our stuff to look and feel good!
</p>

<h2>How to apply</h2>
<p>
    Send us an email at <a href="mailto:team@handmade.network">team@handmade.network</a> or contact @bvisness on Discord. Please share a portfolio or other examples of your work.
</p>
<p>
    Like all Handmade Network positions, this is a volunteer role. Thank you for your interest!
</p>
{{ end }}
