{{ template "role_base.html" . }}

{{ define "role content" }}
<p>
    <a target="_blank" href="https://handmade.network/education">Education</a> is one of the Foundation's flagship initiatives. We want to provide serious educational material for programmers that goes deeper than anything else on the internet, and equips programmers to learn directly from real sources.
</p>
<p>
    We are looking for someone to head up our educational activities. This includes:
    <ul>
        <li>
            Seeking out experts in various domains and working with them to produce educational content
        </li>
        <li>
            Choosing educational topics and <a target="_blank" href="{{ static "roles/network_brainstorming.png" }}">structuring our curriculum</a>
        </li>
        <li>
            Organizing beta tests and gathering community feedback on educational content
        </li>
    </ul>
</p>
<p>
    <strong>If this sounds interesting to you, please get in touch!</strong> See the <b>How to apply</b> section below.
</p>

<h2>Commitment</h2>
<p>
    As one of our flagship initiatives, our educational content needs ongoing attention. You would be expected to spend at least a few hours a week on Handmade education and to stay in frequent communication with external contributors. You would also be expected to lead any education-related meetings and to be the point of contact for any education-related inquiries.
</p>
<p>
    In general, we want new and updated educational material to be released on a regular basis, and it would be your job to make that happen!
</p>

<h2>How to apply</h2>
<p>
    Send us an email at <a href="mailto:team@handmade.network">team@handmade.network</a> or contact @bvisness on Discord. Please share with us:
    <ul>
        <li>Any background you have in education</li>
        <li>Your personal domains of expertise in programming</li>
        <li>What topics you'd love to see us cover!</li>
    </ul>
</p>
<p>
    Like all Handmade Network positions, this is a volunteer role. Thank you for your interest!
</p>
{{ end }}
