{{ template "base-2024.html" . }}

{{ define "extrahead" }}
<script type="module" src="{{ static "js/hilbert.js" }}"></script>
{{ end }}

{{ define "content" }}
<div class="h3 hilbert hilbert-color" style="--hue: 240deg"></div>
<div class="flex justify-center tc">
	<div class="w-100 mw-site-narrow">
		<h1 class="pv4 pv5-ns f3 f2-ns">Rules &amp; Policies</h1>
	</div>
</div>
<div class="mw-site-narrow ph3 post-content center">
  <hr class="mb4">

  <p>The Handmade Network is a community of programmers unified by a love of Handmade-style programming. We strive to maintain a community atmosphere where programmers can share their expertise, disagree productively, and be challenged to make better software.</p>

  <p>We expect all community members to abide by the rules and policies listed here.</p>


  <h3>Conduct &amp; behavior</h3>

  <p>We expect community members to behave professionally and to treat each other with respect. As a rule of thumb, don't do anything that would get you fired. More specifically:</p>

  <ul>
    <li><b>Keep conversations centered around programming.</b> Even though we have off-topic channels, programming is the thing that brings the community together. Divisive topics (outside of programming) are not welcome.</li>
    <li><b>Be willing to disagree.</b> Differing opinions are welcome as long as the participants are respectful. Don't try to get the last word; if a conversation gets heated, or comes to a conclusion you disagree with, just disengage.</li>
    <li><b>Be principled.</b> Members of the Handmade community should acknowledge and respect high-quality work from people they dislike. Likewise, they should hold their friends accountable for poor-quality work.</li>
    <li><b>Give others the benefit of the doubt.</b> Don't assume ill intent, and don't make assumptions about others based on their name, avatar, language preference, or other personal attributes.</li>
    <li><b>Don't attack or police others.</b> It's fine to ask questions or criticize others' work, but personal attacks are not allowed. If you have concerns about a community member's conduct, please message an admin.</li>
  </ul>


  <h3>Use of generative AI</h3>

  <p>Community use of AI is governed by our <a href="{{ .AIPolicyUrl }}">AI policy</a>.</p>


  <h3>Privacy policy</h3>

  <p>Use of this website and the Discord server is governed by our <a href="{{ .PrivacyPolicyUrl }}">privacy policy</a>.</p>


  <hr>


  <p><i>Last updated on September 6, 2026.</i></p>
</div>
{{ end }}
