<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Style test</title>
    <link href='https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Fira+Mono:300,400,500,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ static "style.css" }}" /> 
</head>

<body class="ma3">
    <h1>Base style test</h1>

    <p>
        This page demonstrates the baseline styles for the HMN website.
    </p>
    <p>
        These styles intentionally do not affect layout, only text appearance, colors, etc. We do this because mixing layout and themeing in CSS is a bad idea. Modifying "layout" properties like margin and padding in your base styles makes it hard to ever use those tags across your site, and leads to lots of <code>padding: 0 !important;</code> overrides across your site.
    </p>
    <p>
        This does not produce good-looking longform text, like you want in forum posts or articles. This is the purpose of the <code>.post-content</code> class, which opts into layout properties that are good for textual content.
    </p>

    <h2>Text &amp; links</h2>
    Text outside paragraphs looks like this.
    <p>
        Text can be <strong>strong</strong> and <b>bold</b>, <em>emphasized</em> and <i>italic</i>.
    </p>
    <p>
        The <a href="https://handmade.network/">Handmade Network</a> started as a simple forum site for fans of <a href="https://handmadehero.org/" class="external">Handmade Hero</a>.
    </p>

    <h2>Lists</h2>
    <p>
        Lists are really not used outside of <code>post-content</code>, but we can at least ensure that the bullets render the way we want.
    </p>
    <ol>
        <li>Ordered lists use numbers, obviously.</li>
        <li>What else would they do?</li>
        <li>It is the only sensible option.</li>
    </ol>
    <p>
        The layout of lists obviously looks kind of bad, but again, we are not worried about that here. Better to leave the styles alone so we can more easily disable them in contexts like navigation.
    </p>
    <ul>
        <li>Unordered lists use bullets.</li>
        <li>The bullets need to look ok.</li>
        <li>It is important that things look ok.</li>
    </ul>

    <h2>Monospace</h2>
    <p>
        This is a website for programmers, after all.
    </p>
    <p>
        Inline code in a paragraph looks like <code>printf("Hello, world!");</code>.
    </p>
    <p>
        A block of code looks like:
    </p>
    <code><pre>#include &lt;stdio.h&gt;

int main() {
    printf("Hello, world!\n");
}
</pre></code>
    <p>
        The same block of code in a paragraph looks different. Browsers are fun.
    </p>
    <p><code><pre>#include &lt;stdio.h&gt;

int main() {
    printf("Hello, world!\n");
}
</pre></code></p>


    <h1>post-content test</h1>

    <p>The <code>post-content</code> class yields styles that look nice for textual content.</p>

    <div class="post-content pa3 ba b--theme-dim">
        <h1>Heading 1</h1>
        <p>Hello Handmade Network! We held our first-ever <a href="https://handmade.network/jam/learning-2024">Learning Jam</a> in March, in which participants learn about a topic and share that knowledge with the rest of the community. We had great turnout for an experimental jam in its first year, and I’m excited to revisit it in the future.</p>
        <p>At the end of the day, here's what's most important: <strong>projects,</strong> and the people who author them.</p>
        <h2>Heading 2, which is a long heading that may wrap under certain circumstances, assuming the user's screen is narrow enough and the heading is long enough to horizontally overflow the user's display</h2>
        <p>This year, <strong>we are 100% focused on projects.</strong> Our sole goal is to promote and boost the amazing work being done by the Handmade community. To that end:</p>
        <ul>
        <li><strong>We’re doing more jams.</strong> In addition to the Learning Jam, we’ll bringing back both the Visibility Jam and Wheel Reinvention Jam for another year—and plan to keep doing so indefinitely.</li>
        <li><strong>We’re doubling down on Unwind.</strong> Our monthly Twitch show <a href="https://www.youtube.com/playlist?list=PL-IPpPzBYXBGsAd9-c2__x6LJG4Zszs0T">Unwind</a> is an opportunity to dig deeper into technical details with the authors of various projects. The first few episodes have been a great time, but there’s so much more we can do with the show, and we hope to increase the show’s reach so that even more people can be aware of the great work being done by members of the community.</li>
        </ul>
        <p>I'm really excited to see where we can take Handmade Network projects this year.</p>
        <hr>
        <p>Before I close, a few key project updates:</p>
        <ul>
        <li>
        <p><strong><a href="https://voyager.handmade.network/">Disk Voyager</a></strong> is coming along beautifully and already has dozens of very happy alpha users. He recently added a bookmarks / quick access panel, which I am very excited about. It will soon enter open alpha, so go to <a href="https://diskvoyager.com/">https://diskvoyager.com/</a> and sign up to make sure you get access.</p>
        <p>This is a second paragraph, just to see how it will look inside of a list item.</p>
        </li>
        <li>
        <p><a href="https://cactus.handmade.network/"><strong>Cactus Image Viewer</strong></a> has been receiving lots of quality updates recently, with more on the way, including a gallery of other images in the folder. You can download the latest version from <a href="https://github.com/Wassimulator/CactusViewer">GitHub</a>.</p>
        <p><img src="https://assets.media.handmade.network/8d3e2469-e380-4a10-a4bb-8c7e6c10ccdd/news-cactus.png" alt="A screenshot of Cactus Image Viewer's new gallery UI"></p>
        </li>
        <li>
        <p><strong><a href="https://orca-app.dev/">Orca</a></strong> is on the cusp of another major release. <a href="https://handmade.network/m/bitwitch">Shaw</a> and I rewrote the Python tooling in C to reduce dependencies, <a href="https://handmade.network/m/rdunnington">Reuben</a> added a complete libc implementation (no more shim!), and Martin rewrote the <a href="https://orca-app.dev/posts/240426/vector_graphics.html">vector graphics backend</a> in WebGPU. Make sure to subscribe to the <a href="https://orca-app.dev/">Orca  newsletter</a> to be notified when it releases.</p>
        </li>
        </ul>
        <pre class="hmn-code"><span class="n">RECT</span> <span class="n">window_rect</span><span class="p">;</span>
<span class="n">GetWindowRect</span><span class="p">(</span> <span class="n">big_window</span><span class="p">,</span> <span class="o">&amp;</span><span class="n">window_rect</span> <span class="p">);</span>
<span class="n">window_rect</span><span class="p">.</span><span class="n">top</span> <span class="o">+=</span> <span class="mi">30</span><span class="p">;</span>
</pre>
        <table>
            <thead>
                <tr>
                    <th>Items</th>
                    <th>Expenditure</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Donuts</th>
                    <td>3,000</td>
                </tr>
                <tr>
                    <th>Stationery</th>
                    <td>18,000</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>Totals</th>
                    <td>21,000</td>
                </tr>
            </tfoot>
        </table>
        <blockquote>
            <p>Don't believe everything you read on the internet.</p>
            <p>-Abraham Lincoln</p>
        </blockquote>
    </div>

    <h1 class="mt3 mb2">Form styles</h1>

    <div class="hmn-form pa3 ba b--theme-dim flex flex-column g3">
        <div class="flex flex-column g2">
            <h2 class="">Inputs</h2>
            <input placeholder="Test input">
            <input class="error" value="Invalid value">
            <input disabled value="Disabled input">
        </div>

        <div class="flex flex-column g2">
            <h2>Textareas</h2>
            <textarea placeholder="Test textarea"></textarea>
            <textarea class="error">Invalid value</textarea>
            <textarea disabled>Disabled textarea</textarea>
        </div>

        <div class="flex flex-column g2">
            <h2>Selects</h2>
            <select>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
            </select>
            <select class="error">
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
            </select>
            <select disabled>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
            </select>
        </div>

        <div class="flex flex-column g2">
            <h2>Checkboxes</h2>
            <div class="flex g2">
                <input type="checkbox">
                <input type="checkbox" checked>
            </div>
        </div>

        <div class="flex flex-column g2">
            <h2>Radio buttons</h2>
            <div class="flex g2">
                <input type="radio" name="radio-test">
                <input type="radio" name="radio-test" checked>
            </div>
        </div>

        <div class="flex flex-column g2">
            <h2>Buttons</h2>
            <div class="flex g2">
                <button class="btn-primary">Click me</button>
                <button>Click me</button>
                <button disabled>Click me</button>
            </div>
            <div class="flex g2">
                <input type="submit" value="Click me" class="btn-primary">
                <input type="submit" value="Click me">
                <input type="submit" value="Click me" disabled>
            </div>
        </div>

        <div class="flex flex-column g2">
            <h2>Input groups</h2>
            <div class="input-group">
                <label for="title">Project title</label>
                <input id="title" name="title">
                <div class="f6 tr">0/140</div>
            </div>
            <div class="input-group error">
                <label for="title">Project title</label>
                <input id="title" name="title" value="A name which is too long">
                <div class="f6 tr">24/10</div>
                <div class="f6 error-msg">The project title is too long.</div>
            </div>
        </div>

        <div class="flex flex-column g2">
            <h2>Fieldsets</h2>
            <div class="fieldset">
                <legend>Full name</legend>
                <div class="flex g3 pa3">
                    <input placeholder="First">
                    <input placeholder="Last">
                </div>
            </div>
            <div class="fieldset">
                <legend class="flex justify-between">
                    <span>Project Logo</span>
                    <a href="#" class="normal">+ Upload Project Logo</a>
                </legend>
            </div>
        </div>
    </div>

    <h1 class="mt3 mb2">Timeline items</h1>

    <div class="hmn-form pa3 ba b--theme-dim flex flex-column g3 mw7">
        {{ range .TestTimelineItems }}
            {{ template "timeline_item.html" . }}
        {{ end }}
    </div>
</body>
