{{ template "base-2024.html" . }}

{{ define "content" }}
<div class="flex justify-center">
	<div class="pv3 ph3 ph0-ns mw6 flex flex-column g3">
		<form class="hmn-form" method="POST" action="{{ .SubmitURL }}" autocomplete="off">
      {{ csrftoken .Session }}

      <div class="fieldset">
        <legend>Delete this ticket?</legend>

        <div class="post-content ph3 pt3">
          <ul>
            <li><b>Owner name:</b> {{ .Ticket.OwnerName }}</li>
            <li><b>Owner email:</b> {{ .Ticket.OwnerEmail }}</li>
            <li><b>Owner username:</b> {{ .Ticket.OwnerUsername }}</li>
          </ul>
          <p>Please remember to manually clean things up in Stripe and communicate with the customer as necessary!</p>
        </div>

        <div class="pa3 flex flex-column g3">
          <div class="input-group">
            <label for="confirmation">Enter the owner's email address to confirm:</label>
            <input
              required
              type="text"
              id="confirmation"
              name="confirmation"
            >
          </div>
          <input type="submit" class="btn btn-primary" value="Delete">
        </div>
      </div>
    </form>
  </div>
</div>

{{ end }}
