{{ template "base-2024.html" . }}

{{ define "content" }}

<div class="flex justify-center">
	<div class="pv3 ph3 ph0-ns w6 mw-site flex flex-column g3">
        <div class="f1 ma3 tc">Ticket{{ .TicketDescriptor }}</div>

        <div class="f4">{{ .TicketsEvent.Event.Name }}</div>
        <div class="f6">{{ .TicketsEvent.Event.Description }}</div>

		<form id="ticket_event_form" class="hmn-form" method="POST" autocomplete="off">
            {{ csrftoken .Session }}

            <div class="fieldset">
                <legend>Settings</legend>
                <div class="pa3 input-group">
                    <label for="max_tickets">Max tickets</label>
                    <input
                        required
                        type="number"
                        id="max_tickets"
                        name="max_tickets"
                        value="{{ .TicketsEvent.Metadata.MaxTickets }}"
                    >
                </div>

                <div class="pa3 input-group">
                    <div class="flex g2">
                        <input
                            type="checkbox"
                            id="presale"
                            name="presale"
                            {{ if .TicketsEvent.Metadata.Presale }}checked{{ end }}
                        >
                        <label for="presale">Presale?</label>
                    </div>
                    <div class="f6">When a presale is active, the purchase link will be active but buy buttons will be marked "coming soon".</div>
                </div>

                <div class="pa3 input-group">
                    <label for="max_reserved_tickets">Max reserved tickets</label>
                    <input
                        required
                        type="number"
                        id="max_reserved_tickets"
                        name="max_reserved_tickets"
                        value="{{ .TicketsEvent.Metadata.MaxReserved }}"
                    >
                </div>

                <div class="pa3 input-group">
                    <label for="price_id">Stripe Price ID</label>
                    <div class="flex items-center">
                        <input
                            required
                            class="flex-grow-1 mr2"
                            type="text"
                            id="price_id"
                            name="price_id"
                            value="{{ .TicketsEvent.Metadata.StripePriceID }}"
                        >
                    </div>
                    <div>
                        Current price info from Stripe:
                        <div>Amount (cents or equivalent): {{ .TicketsEvent.Metadata.StripePriceAmount }}</div>
                        <div>Currency: {{ .TicketsEvent.Metadata.StripePriceCurrency }}</div>
                    </div>
                </div>

                <div class="pa3 flex justify-end">
                    <input class="btn-primary" type="submit" value="Save" />
                </div>
            </div>
        </form>

        <form id="reserve_form" class="hmn-form" action="{{ .ReserveActionUrl }}" method="POST" autocomplete="off">
            {{ csrftoken .Session }}

            <div class="fieldset">
                <legend>Reserve a ticket</legend>

                <div class="pa3 input-group">
                    <label for="reserve_name">HMN Username</label>
                    <input
                        required
                        id="reserve_username"
                        name="username"
                    >
                </div>

                <div class="pa3 input-group">
                    <label for="reserve_name">Name</label>
                    <input
                        id="reserve_name"
                        name="name"
                    >
                    <div class="f6">Defaults to the HMN username.</div>
                </div>

                <div class="pa3 input-group">
                    <label for="reserve_email">Email</label>
                    <input
                        type="email"
                        id="reserve_email"
                        name="email"
                    >
                    <div class="f6">Defaults to the HMN email address.</div>
                </div>

                <div class="pa3 flex justify-end">
                    <input class="btn-primary" type="submit" value="Reserve" />
                </div>
            </div>
        </form>
    </div>
</div>

<div class="pa3 flex flex-column g3">
    <div>
        <div class="f3">Tickets</div>
        <div>
            <div><b>Total:</b> {{ add .TicketsEvent.Metadata.SoldTickets .TicketsEvent.Metadata.ReservedTickets }}</div>
            <div><b>Pending:</b> {{ .TicketsEvent.Metadata.PendingTickets }}</div>
            <div><b>Sold:</b> {{ .TicketsEvent.Metadata.SoldTickets }}</div>
            <div><b>Reserved:</b> {{ .TicketsEvent.Metadata.ReservedTickets }}</div>
            <div><b>Available for sale:</b> {{ sub (sub .TicketsEvent.Metadata.MaxTickets .TicketsEvent.Metadata.SoldTickets) (max .TicketsEvent.Metadata.MaxReserved .TicketsEvent.Metadata.ReservedTickets) }}</div>
            <div><b>Available for reservation:</b> {{ sub .TicketsEvent.Metadata.MaxReserved .TicketsEvent.Metadata.ReservedTickets }}</div>
        </div>
    </div>

    {{ with .TicketsEvent.Tickets }}
        <table class="b-table">
            <thead>
                <tr>
                    <th>Checked in</th>
                    <th>Reserved</th>
                    <th>User</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Discord Username</th>
                    <th>Notes</th>
                    <th>Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{ range . }}
                    {{ if not .Pending }}
                        <tr>
                            <td>{{ if .CheckedIn }}<span title="Checked in">👋</span>{{ end }}</td>
                            <td>{{ if .Reserved }}<span title="Reserved">🎫</span>{{ end }}</td>
                            <td>{{ if .OwnerUsername }}<a href="{{ .OwnerProfileUrl }}">{{ .OwnerUsername }}</a>{{ else }}(reserved){{ end }}</td>
                            <td>{{ .OwnerName }}</td>
                            <td>{{ .OwnerEmail }}</td>
                            <td>{{ .OwnerDiscordUsername }}</td>
                            <td>{{ .Notes }}</td>
                            <td>{{ absoluteshortdate .PurchaseDate }}</td>
                            <td>
                                <a href="{{ .Url }}">View</a>
                                <a href="{{ .DeleteUrl }}">Delete</a>
                            </td>
                        </tr>
                    {{ end }}
                {{ end }}
            </tbody>
        </table>
    {{ else }}
        No tickets assigned yet
    {{ end }}
</div>
{{ end }}
