{{ template "base-2024.html" . }}

{{ define "content" }}
<div class="flex justify-center">
  <div class="pv3 ph3 ph0-ns mw-site flex flex-column g3">
    <form class="hmn-form flex flex-column g3" method="POST" action="{{ .SubmitURL }}" autocomplete="off">
      {{ csrftoken .Session }}

      <div class="fieldset">
        <legend>Ticket details</legend>

        <div class="pa3 flex flex-column g3">
          <div class="input-group">
            <label>Your name</label>
            <input
              required
              type="text"
              name="name"
              value="{{ .Ticket.OwnerName }}"
            >
          </div>
          <div class="input-group">
            <label>Email</label>
            <input
              required
              type="email"
              name="email"
              value="{{ .Ticket.OwnerEmail }}"
            >
          </div>
          <input type="submit" class="btn btn-primary" value="Save">
        </div>
      </div>

      {{ if and .User .User.IsStaff }}
        <div class="fieldset">
          <legend>Admin Settings</legend>
          <div class="pa3 input-group">
            <div>
              <input type="checkbox" id="checkedin" name="checkedin" value="checkedin" {{ if .Ticket.CheckedIn }}checked{{ end }} />
              <label for="reserved">Checked in</label>
            </div>
          </div>
          <div class="pa3 input-group">
            <div>
              <input type="checkbox" id="reserved" name="reserved" value="reserved" {{ if .Ticket.Reserved }}checked{{ end }} />
              <label for="reserved">Reserved</label>
            </div>
          </div>
          <div class="pa3 input-group">
            <label for="notes">Notes</label>
            <textarea id="notes" name="notes">
              {{- .Ticket.Notes -}}
            </textarea>
          </div>
          <div class="pa3 flex justify-end">
            <input class="btn-primary" type="submit" value="Save" />
          </div>
        </div>
      {{ end }}
    </form>
  </div>
</div>

{{ end }}
