{{ template "base-2024.html" . }}

{{ define "content" }}

<div class="flex justify-center">
	<div class="pv3 ph3 ph0-ns mw-site flex flex-column g3">
        <div class="f1 ma3">Ticket Dominator</div>

        <div class="f4">Available Events</div>

        {{ range .TicketEvents }}
            <div class="bg3 pa3 flex flex-column mb3">
                <a class="f3 mb2" href="{{ .Url }}">{{ .Event.Name }}</a>
                <div class="mb2">{{ .Event.Description }}</div>
                <div class="f6 mb2">{{ .Event.StartTime }} - {{ .Event.EndTime }}</div>
                <div>Max tickets: {{ .Metadata.MaxTickets }}</div>
                <div>Max Reserved tickets: {{ .Metadata.MaxReserved }}</div>
                <div>Sold tickets: {{ .Metadata.SoldTickets }}</div>
                <div>Reserved tickets: {{ .Metadata.ReservedTickets }}</div>
                <div>Available for purchase: {{ .Metadata.AvailableForPurchase }}</div>
                <div>Available for reservation: {{ .Metadata.AvailableForReservation }}</div>
                <div>Ticket price: {{ .Metadata.PriceAmount }} {{ .Metadata.PriceCurrency }}</div>
            </div>
        {{ end }}

    </div>
</div>
{{ end }}
