{{ template "base-2024.html" . }}

{{ define "content" }}
<div class="flex justify-center">
	<div class="pv3 ph3 ph0-ns mw-site flex flex-column g3">
		<form class="hmn-form" method="POST" action="{{ .SubmitURL }}" autocomplete="off">
      {{ csrftoken .Session }}

      <div class="fieldset">
        <legend>Ticket details</legend>

        <div class="pa3 flex flex-column g3">
          <div class="input-group">
            <label>Your name</label>
            <input
              required
              type="text"
              name="name"
              value="{{ .Ticket.OwnerName }}"
            >
          </div>
          <div class="input-group">
            <label>Email</label>
            <input
              required
              type="email"
              name="email"
              value="{{ .Ticket.OwnerEmail }}"
            >
          </div>
          <input type="submit" class="btn btn-primary" value="Save">
        </div>
      </div>
    </form>
  </div>
</div>

{{ end }}
