{{ template "timemachine_base.html" . }}

{{ define "frame title" }}
  <div class="title">
    {{ . }}
    <img class="frame-close" src="{{ dataimg "timemachine/win95-close.gif" }}">
  </div>
{{ end }}

{{ define "content" }}
<div class="center-layout content mw7 ph3 flex flex-column g3">
  <div class="mv5 flex justify-center">
    <div class="frame mw6">
      {{ template "frame title" "Submission Complete" }}
      <div class="pa3 flex g3">
        <div class="flex-shrink-0">
          <img class="pixelated" src="{{ dataimg "timemachine/win95-check.png" }}">
        </div>
        <div class="flex flex-column flex-grow-1 g3">
          <div>
            Thank you for your submission! We will review it and get it published on the site soon.
          </div>
          <div class="flex justify-end g3">
            <a class="win95-btn" href="{{ .TimeMachineUrl }}"><u>O</u>K</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  localStorage.removeItem("tm_media_url");
  localStorage.removeItem("tm_device_info");
  localStorage.removeItem("tm_description");
</script>
{{ end }}
