{{ template "timemachine_base.html" . }}

{{ define "frame title" }}
  <div class="title">
    {{ . }}
    <img class="frame-close" src="{{ dataimg "timemachine/win95-close.gif" }}">
  </div>
{{ end }}

{{ define "content" }}
<div class="center-layout content mw7 ph3 flex flex-column g3">
	<div class="frame">
		Thank you for your submission
	</div>
</div>
<script>
	localStorage.removeItem("tm_media_url");
	localStorage.removeItem("tm_device_info");
	localStorage.removeItem("tm_description");
</script>
{{ end }}
