{{ template "timemachine_base.html" . }}

{{ define "frame title" }}
  <div class="title">
    {{ . }}
    <img class="frame-close" src="{{ dataimg "timemachine/win95-close.gif" }}">
  </div>
{{ end }}

{{ define "content" }}
<div class="center-layout content mw7 ph3 flex flex-column g3">
	<div class="frame mv4">
		{{ template "frame title" "Hello" }}
		<form class="post-content" action="" method="POST">
			{{ csrftoken .Session }}
			<input type="url" name="media_url" required />
			<textarea name="device_info" required></textarea>
			<textarea name="description" required></textarea>
			<input class="win95-btn" type="submit" value="Submit" />
		</form>
	</div>
</div>
<script>
	let form = document.querySelector("form");
	let mediaUrl = document.querySelector("[name=media_url]");
	let deviceInfo = document.querySelector("[name=device_info]");
	let description = document.querySelector("[name=description]");
	let submitBtn = document.querySelector("[type=submit]");

	function saveData() {
		localStorage.setItem("tm_media_url", mediaUrl.value);
		localStorage.setItem("tm_device_info", deviceInfo.value);
		localStorage.setItem("tm_description", description.value);
	}
	form.addEventListener("submit", function() {
		saveData();
		submitBtn.disabled = true;
	});

	document.addEventListener("visibilitychange", function() {
		saveData();
	});

	mediaUrl.value = localStorage.getItem("tm_media_url") ?? "";
	deviceInfo.value = localStorage.getItem("tm_device_info") ?? "";
	description.value = localStorage.getItem("tm_description") ?? "";
</script>
{{ end }}
