{{ template "timemachine_base.html" . }}

{{ define "content" }}
<div class="center-layout content mw7 ph3 flex flex-column g3">
  <div>
    <div class="mv4 mv5-ns flex justify-center">
      <div class="frame mw6">
        {{ template "frame title" "About This Page" }}
        <div class="pa3 flex g3">
          <div class="flex-shrink-0">
            <img class="pixelated" src="{{ dataimg "timemachine/win95-info.png" }}">
          </div>
          <div class="flex flex-column flex-grow-1 g3">
            <div>
              The community has submitted the following
              {{ with len .Submissions }}
                {{ if eq . 1 }}video{{ else }}{{ . }} videos{{ end }}
              {{ end }}
              to the Time Machine project. If you have access to any older devices, you can participate too!
            </div>
            <div class="flex justify-end g3">
              <a href="{{ .MainUrl }}"><div class="win95-btn">Learn&nbsp;<u>M</u>ore</div></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-column g3">
      {{ range .Submissions }}
        {{ template "timemachine_submission.html" . }}
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
