{{ template "timemachine_base.html" . }}

{{ define "frame title" }}
  <div class="title">
    {{ . }}
    <img class="frame-close" src="{{ dataimg "timemachine/win95-close.gif" }}">
  </div>
{{ end }}

{{ define "content" }}
<style>
  body {
    /* 
    This is too light for accessiblity imo. I'll darken them a bit and see how Ben feels
    about it. -- Jake 5/26/2023
    background: linear-gradient(15deg, #b4c4fe, #eb8cbf ); */
    background: linear-gradient(15deg, #7391fd, #e25ca4);
  }

  .user-options,
  header form,
  header .menu-bar .wiki,
  header .menu-bar .library {
    display: none !important;
  }

  header {
    border-bottom-color: white;
    margin-bottom: 0 !important;
  }

  .hmn-logo {
    background-color: rgba(255, 255, 255, 0.1) !important;
  }

  header a,
  footer a {
    color: white !important;
  }

  header .submenu {
    background-color: #d661ad;
  }

  #logo {
    width: 16rem;
  }

  h1,
  h2,
  h3 {
    font-family: "MohaveHMN", sans-serif;
    margin-bottom: 0;
    font-weight: normal;
  }

  /* '95-esque styles */
  .frame {
    width: 100%;
    background: #c3c3c3;
    border-width: 2px;
    border-style: solid;
    border-color: #fff #333 #333 #fff;
    border-image: url('{{ dataimg "timemachine/win95-border.gif" }}') 4;
    padding: 1px;
    margin-bottom: 2rem;
    color: black;
  }

  .frame ol,
  .frame ul {
    padding-left: 5px;
  }

  .frame ul {
    list-style: disc;
  }

  .frame strong {
    font-weight: bold;
  }

  .frame .title {
    padding: 0 0.1875rem; /* 0 3px */
    height: 1.125rem; /* 18px */
    line-height: 1.125rem; /* 18px */
    font-size: 0.8125rem; /* 13px */
    width: 100%;
    background: rgb(0, 0, 130);
    color: #fff;
    position: relative;
  }

  .frame .frame-close {
    width: 1rem; /* 16px */
    height: 0.875rem; /* 14px */
    position: absolute;
    right: 0.125rem; /* 2px */
    top: 0.125rem; /* 2px */
    cursor: pointer;
  }

  .frame * {
    font-family: "MS Sans Serif", "Microsoft Sans Serif", sans-serif;
  }

  .inset {
    border-width: 1px;
    border-color: #828282 #ffffff #ffffff #828282;
    border-style: solid;
    border-image: url('{{ dataimg "timemachine/win95-border-inset.gif" }}') 2;
  }

  img.pixelated {
    image-rendering: crisp-edges;
  }

  .drop-shadow {
    box-shadow: 2px 2px black;
  }
</style>

<div class="center-layout content mw7 ph3 flex flex-column g3">
  <div>
    <div class="mv5 flex justify-center">
      <img
        class="pixelated drop-shadow"
        src="{{ static "timemachine/splash.gif" }}"
        alt="Time Machine"
      >
    </div>
    <div class="frame">
      {{ template "frame title" "Overview" }}
      <div class="post-content pa3 flex g3">
        <div class="flex-shrink-0">
          <img class="pixelated" src="{{ dataimg "timemachine/win95-computer.png" }}">
        </div>
        <div>
          <p>
            This summer, we're digging out old devices and seeing what they were actually like to use.
          </p>
          <p>
            Our phones today are far more powerful than our desktop computers from decades ago. And yet, those old computers worked just fine! The Time Machine project is an opportunity to boot up those old devices and see how they feel to use.
          </p>
          <p>
            As our hardware has improved, how has the user experience changed? Which parts have stayed the same? Which parts have gotten worse? There's only one way to find out.
          </p>
        </div>
      </div>
    </div>

    <div class="frame">
      {{ template "frame title" "How To Participate" }}
      <div class="post-content pa3">
        <div class="flex flex-column g3">
          <div class="flex g3">
            <div class="flex-shrink-0">
              <img class="pixelated" src="{{ dataimg "timemachine/win95-camera.png" }}">
            </div>
            <div>
              <p>
                <strong>Take video of yourself using an older device.</strong> Any personal device from any time period is great. We're particularly interested in the history of day-to-day devices like personal computers and mobile phones.
              </p>
            </div>
          </div>
          <div class="flex g3">
            <div class="flex-shrink-0">
              <img class="pixelated" src="{{ dataimg "timemachine/win95-upload.png" }}">
            </div>
            <div>
              <p>
                <strong>Upload the video somewhere.</strong> Upload to Google Drive, Dropbox, or even YouTube - anywhere we can download it from.
              </p>
            </div>
          </div>
          <div class="flex g3">
            <div class="flex-shrink-0">
              <img class="pixelated" src="{{ dataimg "timemachine/win95-pad.png" }}">
            </div>
            <div>
              <p>
                <strong>Send us the video link + extra info.</strong> Tell us about this device, when you got it, what specs it has, and anything else you think is interesting. We'll get the video posted here on the website for everyone to see.
              </p>
              <p>
                At the end of the summer, we'll compile all the submissions into a final report.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="frame">
      {{ template "frame title" "2009 iPod Touch" }}
      <div>
        <div class="pa3 flex flex-column g3">
          <div class="flex flex-column flex-row-ns g3">
            <div class="flex-shrink-0 relative">
              <img
                class="pixelated inset"
                src="{{ static "timemachine/ipodtouch-dither.gif" }}"
                alt="Video Thumbnail"
              />
              <a href="https://youtu.be/2eBFk1yV6mE" target="_blank">
                <div class="absolute absolute--fill bg-black-30 flex justify-center items-center">
                  <img class="pixelated" alt="Play Video" src="{{ dataimg "timemachine/win95-play.png" }}">
                </div>
              </a>
            </div>
            <div class="flex flex-column g1">
              <div><strong>Device:</strong> iPod Touch 3rd gen, model MC008LL</div>
              <div><strong>Submitted by:</strong> Ben Visness</div>
              <div><strong>Release year:</strong> 2009</div>
              <div><strong>Processor:</strong> 600MHz Samsung S5L8922, single-core</div>
              <div><strong>Memory:</strong> 256MB LPDDR2 @ 200 MHz</div>
              <div><strong>Operating system:</strong> iOS 5</div>
            </div>
          </div>
          <div class="post-content">
            <p>
              This is the iPod Touch I got when I was 13. It was my first major
              tech purchase and an early device in the iOS lineup. When I
              purchased this I think it was running iOS 3; at this point it has
              iOS 5. I was pleased to see that the battery still holds a charge
              quite well, and it consistently runs at about 30 to 60 frames per
              second.
            </p>
            <p>
              In the video you can see several built-in apps. Media playback
              still works great, and scrubbing around in songs is instantaneous.
              App switching works well. The calculator launches instantly (as
              you would hope). I was shocked to see that the old Google Maps app
              still works - apparently they have kept their old tile-based map
              servers online. It even gave me public transit directions.
            </p>
            <p>
              Overall, I would say this device feels only a hair slower than my
              current iPhone.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
