{{ template "base-2024.html" . }}

{{ define "extrahead" }}
<script src="{{ static "js/hilbert.js" }}"></script>
{{ end }}

{{ define "content" }}
<div class="h3 hilbert hilbert-color" style="--hue: 42deg"></div>
<div class="flex justify-center tc">
	<div class="w-100 mw-site-narrow">
		<h1 class="pv4 pv5-ns f3 f2-ns">Our Values</h1>
	</div>
</div>
<div class="mw-site-narrow ph3 post-content center">
  <hr class="mb3">

	<div class="serif tc i flex justify-center mv4 mv5-ns">
    <div>
      <div class="f4">
        “What I cannot create,<span class="dn-ns"><br>&nbsp;</span> I do not understand.”
      </div>
      <div class="tr">
        - Richard Feynman
      </div>
    </div>
  </div>

  <hr class="mb4">

  <h3>We love learning how things work.</h3>
  <p>Many programmers are afraid of learning how computers work behind the scenes—but not us. We are driven to understand how systems work at every layer of the stack.</p>
  <p>If someone gives us JavaScript, we’ll dig deeper into the runtime. If someone gives us C++, we’ll dig deeper into the machine code. If someone gives us machine code, we’ll dig deeper into the microarchitecture. There is a real computer behind our magic abstractions, and we want to understand what makes it tick.</p>

  <h3>We like to reinvent the wheel.</h3>
  <p>Many programmers think that writing software from scratch is a waste of time. They will criticize you for “reinventing the wheel”. They think that the hard problems have already been solved.</p>
  <p>But programming is a very young field. Much of the world’s software is a first draft. There is so much room to innovate, and the only way to innovate is by trying new approaches to familiar problems.</p>
  <p>As Casey Muratori said on <a href="https://youtu.be/uxbJo5DDpWY?si=pXsiklQimQHCIZDn&t=3410">day 1 of Handmade Hero</a>, nothing we have developed in the past 30 years is a “wheel”. Our software today is like a bicycle with square wheels, awkwardly clunking along. To make better software, we <em>must</em> reinvent the wheel, and we love that challenge.</p>

  <h3>We don’t make excuses for bad software.</h3>
  <p>There is no excuse for bad software. If it doesn’t work, it doesn’t work. If it’s slow, it’s slow. No amount of excuses can make up for software that doesn’t work the way it should.</p>
  <p>Good software should respect the user’s resources and use the hardware effectively. It should be fast, efficient, and pleasant to use. It shouldn’t use excessive CPU or memory, and it shouldn’t be janky or buggy. We hold ourselves to this standard no matter what language we choose.</p>

  <h3>We value competence.</h3>
  <p>There is a popular narrative that all programmers are fundamentally just idiots or “impostors“. We reject this narrative. You <em>can</em> build real expertise. You <em>can</em> truly understand your systems. There <em>are</em> programmers who know what they’re doing, and who do great work. We aspire to be that kind of programmer.</p>

  <h3>We like to be self-sufficient.</h3>
  <p>We like to build things ourselves. We don’t care if someone else has already made a library or a framework for us. We’d rather write the code that we need, when we need it, and learn from what others have built instead of using it blindly.</p>

  <h3>We question “best practices”.</h3>
  <p>We don’t contort our code in weird ways, write useless tests, or type a bunch of boilerplate unless we understand why. We strive to <em>be</em> experts, not to blindly trust those who claim to be.</p>
  <p>After all, if the “best practices” still produce terrible software, maybe the “best practices” are wrong.</p>

  <h3>We are not “language people”.</h3>
  <p>We are not “C programmers”, “C++ programmers”, “Rust programmers”, or “web programmers”. We are programmers, and languages are tools. What actually matters is how the software works, not how the software is created.</p>

  <h3>We value the user more than the programmer.</h3>
  <p>The user doesn’t care about the code. The user is not impressed by how elegant our programs are, or how quickly we wrote them. They only care if their software works, and works well.</p>
  <p>We are happy when the user is happy.</p>
</div>
{{ end }}
