* {
    box-sizing: border-box;
    border-color: var(--border-color);
}

body {
    background-color: var(--c2);
    color: var(--color);
    font-family: "Inter", sans-serif;
    min-height: 100vh;
    box-sizing: border-box;
    line-height: 1.2;
}

a,
.link {
    color: var(--link-color);
    border-bottom-style: none;
    text-decoration: none;
}

.link-normal {
    --link-color: var(--color);
}

.bg-primary {
    background: var(--color);
}

b,
strong {
    font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    margin: 0;
    line-height: 1;
    font-weight: 600;
}

br {
    /* why, IE... */
    border-style: none;
}

hr {
    margin: 0;
    border: none;
    border-bottom: 1px solid var(--border-color);
}

video {
    max-width: 100%;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-fair {
    flex-basis: 1px;
    flex-grow: 1;
    flex-shrink: 1;
}

.aspect-ratio-16x9 {
    aspect-ratio: 16 / 9;
}

.aspect-ratio-1x1 {
    aspect-ratio: 1 / 1;
}

@media screen and (min-width: 35em) {
    .flex-fair-ns {
        flex-basis: 1px;
        flex-grow: 1;
        flex-shrink: 1;
    }
}

@media screen and (min-width: 60em) {
    .flex-fair-l {
        flex-basis: 1px;
        flex-grow: 1;
        flex-shrink: 1;
    }
}

.c-normal {
    color: var(--color);
}

.f8 {
    font-size: 0.65rem;
}

.w6 {
    width: var(--width-6);
}

.w7 {
    width: var(--width-7);
}

.w8 {
    width: var(--width-8);
}

.maxh-3 {
    max-height: var(--height-3);
}

.maxh-4 {
    max-height: var(--height-4);
}

.maxh-5 {
    max-height: var(--height-5);
}

.maxh-6 {
    max-height: var(--height-6);
}

.maxh-100 {
    max-height: 100%;
}

.maxh-50vh {
    max-height: 50vh;
}

.maxh-60vh {
    max-height: 60vh;
}

.maxh-70vh {
    max-height: 70vh;
}

.maxh-80vh {
    max-height: 80vh;
}

.minw-100 {
    min-width: 100%;
}

.minh-1 {
    min-height: var(--height-1);
}

.minh-2 {
    min-height: var(--height-2);
}

.minh-3 {
    min-height: var(--height-3);
}

.minh-4 {
    min-height: var(--height-4);
}

.minh-5 {
    min-height: var(--height-5);
}

.minh-6 {
    min-height: var(--height-6);
}

.g0 {
    gap: var(--spacing-0);
}

.g1 {
    gap: var(--spacing-1);
}

.g2 {
    gap: var(--spacing-2);
}

.g3 {
    gap: var(--spacing-3);
}

.g4 {
    gap: var(--spacing-4);
}

.g5 {
    gap: var(--spacing-5);
}

.bg1 {
    background-color: var(--c1);
}

.bg2 {
    background-color: var(--c2);
}

.bg3 {
    background-color: var(--c3);
}

.bg4 {
    background-color: var(--c4);
}

.bg5 {
    background-color: var(--c5);
}

@media screen and (min-width: 35em) {
    .bg1-ns {
        background-color: var(--c1);
    }

    .bg2-ns {
        background-color: var(--c2);
    }

    .bg3-ns {
        background-color: var(--c3);
    }

    .bg4-ns {
        background-color: var(--c4);
    }

    .bg5-ns {
        background-color: var(--c5);
    }

    .g0-ns {
        gap: var(--spacing-0);
    }

    .g1-ns {
        gap: var(--spacing-1);
    }

    .g2-ns {
        gap: var(--spacing-2);
    }

    .g3-ns {
        gap: var(--spacing-3);
    }

    .g4-ns {
        gap: var(--spacing-4);
    }

    .g5-ns {
        gap: var(--spacing-5);
    }

    .w6-ns {
        width: var(--width-6);
    }

    .w7-ns {
        width: var(--width-7);
    }

    .w8-ns {
        width: var(--width-8);
    }
}

@media screen and (min-width: 35em) and (max-width: 60em) {
    .bg1-m {
        background-color: var(--c1);
    }

    .bg2-m {
        background-color: var(--c2);
    }

    .bg3-m {
        background-color: var(--c3);
    }

    .bg4-m {
        background-color: var(--c4);
    }

    .bg5-m {
        background-color: var(--c5);
    }

    .g0-m {
        gap: var(--spacing-0);
    }

    .g1-m {
        gap: var(--spacing-1);
    }

    .g2-m {
        gap: var(--spacing-2);
    }

    .g3-m {
        gap: var(--spacing-3);
    }

    .g4-m {
        gap: var(--spacing-4);
    }

    .g5-m {
        gap: var(--spacing-5);
    }

    .w6-m {
        width: var(--width-6);
    }

    .w7-m {
        width: var(--width-7);
    }

    .w8-m {
        width: var(--width-8);
    }
}

@media screen and (min-width: 60em) {
    .bg1-l {
        background-color: var(--c1);
    }

    .bg2-l {
        background-color: var(--c2);
    }

    .bg3-l {
        background-color: var(--c3);
    }

    .bg4-l {
        background-color: var(--c4);
    }

    .bg5-l {
        background-color: var(--c5);
    }

    .g0-l {
        gap: var(--spacing-0);
    }

    .g1-l {
        gap: var(--spacing-1);
    }

    .g2-l {
        gap: var(--spacing-2);
    }

    .g3-l {
        gap: var(--spacing-3);
    }

    .g4-l {
        gap: var(--spacing-4);
    }

    .g5-l {
        gap: var(--spacing-5);
    }

    .w6-l {
        width: var(--width-6);
    }

    .w7-l {
        width: var(--width-7);
    }

    .w8-l {
        width: var(--width-8);
    }
}

.mw-site {
    max-width: var(--site-width);
}

.grid {
    display: grid;
}

.grid-2 {
    grid: auto-flow / 1fr 1fr;
}