.svg-mask {
    display: inline-block;
    mask-image: var(--icon-url);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
}

.icon-mail {
    --icon-url: url('/public/icons/mail.svg');
}

.icon-twitch {
    --icon-url: url('/public/icons/twitch.svg');
}

.icon-vimeo {
    --icon-url: url('/public/icons/vimeo.svg');
}

.icon-discord {
    --icon-url: url('/public/icons/discord.svg');
}
