/*
Media queries cannot have variables, so here are media queries you can copy-paste as necessary:

$breakpoint-not-small: screen and (min-width: 35em)
$breakpoint-medium: screen and (min-width: 35em) and (max-width: 60em)
$breakpoint-large: screen and (min-width: 60em)
*/

@import "tachyons-vars.css";

/* 
 * COLOR GUIDE:
 * 
 * Generally speaking, all text and backgrounds use the same palette of
 * colors, which are various shades of gray. These are --c1 through --c5.
 *
 * --c1: Alternate page background color. Use when you need a different
 *       background color for variety.
 * --c2: Primary page background color.
 * --c3: Background color for content boxes. Works on both --c1 and --c2.
 * --c4: Color of borders and lines.
 * --c5: Color of disabled inputs.
 */

:root {
    /* TODO(redesign): Probably not the right color for Soft Gray. Check with Jes. */
    --c1: #fafafa;
    --c2: #f3f3f3;
    --c3: #dbdbdb;
    --c4: #c1c1c1;
    /* TODO(redesign): Need a --c5. */

    --c-transparent-background: #fffffff3;

    --red: #c61d24;

    --color: #000;
    --link-color: #d12991;

    --border-color: var(--c4);
    --border-color-focused: #4e55ff;
    --border-color-error: #ff3a3a;

    --button-color: var(--c3);
    --button-color-primary: #ee84ff;

    --site-width: 48rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color: #fff;
        --link-color: #ff5dc2;

        --c1: #1f1f1f;
        --c2: #2f2f2f;
        --c3: #494949;
        --c4: #595959;
        --c5: #cbcbcb;

        --button-color-primary: #c900ea;
    }
}