/*
Inserts a CSS expression with one or more custom variables.
You can provide an arbitrary number of strings in the second
argument, separated by spaces. Any strings corresponding to
variable names will be replaced by the correct values, while
other strings are left untouched.

Example usage:

@include usevar(border-color, dimmer-color);
@include usevar(background, "linear-gradient(" dim-background-transparent "," dim-background ")");

For clarity and to avoid syntax issues, you are encouraged to
use unquoted strings for variables and quoted strings for
everything else.

For convenience in common cases, if only a single argument
is provided and it does not match an existing variable, this
will throw an error.
*/
.hmn-code, .codeblock {
  /* Comment */
  /* Error */
  /* Keyword */
  /* Operator */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Emph */
  /* Generic.Error */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Output */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */ }
  .hmn-code .hll, .codeblock .hll {
    background-color: #ffffcc; }
  .hmn-code .c, .codeblock .c {
    color: #60a0b0;
    font-style: italic; }
  .hmn-code .err, .codeblock .err {
    color: #FF0000; }
  .hmn-code .k, .codeblock .k {
    color: #007020;
    font-weight: bold; }
  .hmn-code .o, .codeblock .o {
    color: #666666; }
  .hmn-code .cm, .codeblock .cm {
    color: #60a0b0;
    font-style: italic; }
  .hmn-code .cp, .codeblock .cp {
    color: #007020; }
  .hmn-code .c1, .codeblock .c1 {
    color: #60a0b0;
    font-style: italic; }
  .hmn-code .cs, .codeblock .cs {
    color: #60a0b0;
    background-color: #fff0f0; }
  .hmn-code .gd, .codeblock .gd {
    color: #A00000; }
  .hmn-code .ge, .codeblock .ge {
    font-style: italic; }
  .hmn-code .gr, .codeblock .gr {
    color: #FF0000; }
  .hmn-code .gh, .codeblock .gh {
    color: #000080;
    font-weight: bold; }
  .hmn-code .gi, .codeblock .gi {
    color: #00A000; }
  .hmn-code .go, .codeblock .go {
    color: #808080; }
  .hmn-code .gp, .codeblock .gp {
    color: #c65d09;
    font-weight: bold; }
  .hmn-code .gs, .codeblock .gs {
    font-weight: bold; }
  .hmn-code .gu, .codeblock .gu {
    color: #800080;
    font-weight: bold; }
  .hmn-code .gt, .codeblock .gt {
    color: #0040D0; }
  .hmn-code .kc, .codeblock .kc {
    color: #007020;
    font-weight: bold; }
  .hmn-code .kd, .codeblock .kd {
    color: #007020;
    font-weight: bold; }
  .hmn-code .kn, .codeblock .kn {
    color: #007020;
    font-weight: bold; }
  .hmn-code .kp, .codeblock .kp {
    color: #007020; }
  .hmn-code .kr, .codeblock .kr {
    color: #007020;
    font-weight: bold; }
  .hmn-code .kt, .codeblock .kt {
    color: #902000; }
  .hmn-code .m, .codeblock .m {
    color: #40a070; }
  .hmn-code .s, .codeblock .s {
    color: #4070a0; }
  .hmn-code .na, .codeblock .na {
    color: #4070a0; }
  .hmn-code .nb, .codeblock .nb {
    color: #007020; }
  .hmn-code .nc, .codeblock .nc {
    color: #0e84b5;
    font-weight: bold; }
  .hmn-code .no, .codeblock .no {
    color: #60add5; }
  .hmn-code .nd, .codeblock .nd {
    color: #555555;
    font-weight: bold; }
  .hmn-code .ni, .codeblock .ni {
    color: #d55537;
    font-weight: bold; }
  .hmn-code .ne, .codeblock .ne {
    color: #007020; }
  .hmn-code .nf, .codeblock .nf {
    color: #06287e; }
  .hmn-code .nl, .codeblock .nl {
    color: #002070;
    font-weight: bold; }
  .hmn-code .nn, .codeblock .nn {
    color: #0e84b5;
    font-weight: bold; }
  .hmn-code .nt, .codeblock .nt {
    color: #062873;
    font-weight: bold; }
  .hmn-code .nv, .codeblock .nv {
    color: #bb60d5; }
  .hmn-code .ow, .codeblock .ow {
    color: #007020;
    font-weight: bold; }
  .hmn-code .w, .codeblock .w {
    color: #bbbbbb; }
  .hmn-code .mf, .codeblock .mf {
    color: #40a070; }
  .hmn-code .mh, .codeblock .mh {
    color: #40a070; }
  .hmn-code .mi, .codeblock .mi {
    color: #40a070; }
  .hmn-code .mo, .codeblock .mo {
    color: #40a070; }
  .hmn-code .sb, .codeblock .sb {
    color: #4070a0; }
  .hmn-code .sc, .codeblock .sc {
    color: #4070a0; }
  .hmn-code .sd, .codeblock .sd {
    color: #4070a0;
    font-style: italic; }
  .hmn-code .s2, .codeblock .s2 {
    color: #4070a0; }
  .hmn-code .se, .codeblock .se {
    color: #4070a0;
    font-weight: bold; }
  .hmn-code .sh, .codeblock .sh {
    color: #4070a0; }
  .hmn-code .si, .codeblock .si {
    color: #70a0d0;
    font-style: italic; }
  .hmn-code .sx, .codeblock .sx {
    color: #c65d09; }
  .hmn-code .sr, .codeblock .sr {
    color: #235388; }
  .hmn-code .s1, .codeblock .s1 {
    color: #4070a0; }
  .hmn-code .ss, .codeblock .ss {
    color: #517918; }
  .hmn-code .bp, .codeblock .bp {
    color: #007020; }
  .hmn-code .vc, .codeblock .vc {
    color: #bb60d5; }
  .hmn-code .vg, .codeblock .vg {
    color: #bb60d5; }
  .hmn-code .vi, .codeblock .vi {
    color: #bb60d5; }
  .hmn-code .il, .codeblock .il {
    color: #40a070; }

.dark {
  background-color: #222;
  color: #bbb; }

:root {
  --fg-font-color: black;
  --theme-color: #666;
  --theme-color-dim: #aaa;
  --theme-color-dimmer: #bbb;
  --theme-color-dimmest: #ccc;
  --link-color: #666;
  --link-border-color: #666;
  --table-border-color: #444;
  --hr-color: #444;
  --main-background-color: #fff;
  --main-color: black;
  --dim-color: #333;
  --dimmer-color: #999;
  --dimmest-color: #bbb;
  --menu-bottom-border-color: black;
  --login-popup-background: #fbfbfb;
  --content-background: #f8f8f8;
  --content-background-transparent: rgba(248, 248, 248, 0);
  --dim-background: #f0f0f0;
  --dim-background-transparent: rgba(240, 240, 240, 0);
  --text-background: #f9f9f9;
  --spoiler-border: #aaa;
  --background-even-background: #f8f8f8;
  --project-card-border-color: #aaa;
  --project-user-suggestions-background: #fff;
  --project-user-suggestions-border-color: #ddd;
  --project-edit-logo-previw-border-color: #999;
  --project-edit-quota-bar-border-color: #999;
  --project-edit-quota-bar-filled-background: #444;
  --notice-text-color: #fff;
  --notice-unapproved-color: #b42222;
  --notice-hidden-color: #b6b6b6;
  --notice-hiatus-color: #aa7d30;
  --notice-dead-color: #b42222;
  --notice-lts-color: #43a52f;
  --notice-lts-reqd-color: #aa7d30;
  --notice-success-color: #43a52f;
  --optionbar-border-color: #ccc;
  --tab-background: #fff;
  --tab-border-color: #d8d8d8;
  --tab-button-background: #dfdfdf;
  --tab-button-background-hover: #efefef;
  --tab-button-background-current: #fff;
  --form-check-background: #fafafc;
  --form-check-border-color: #999;
  --form-check-border-color-hover: #4c9ed9;
  --form-text-background: #fff;
  --form-text-background-active: #fafafc;
  --form-text-border-color: #999;
  --form-text-border-color-active: #4c9ed9;
  --form-button-color: black;
  --form-button-color-active: #4c9ed9;
  --form-button-background: #fff;
  --form-button-background-active: #f2f2f2;
  --form-button-border-color: #ccc;
  --form-button-inline-border-color: #999;
  --landing-search-background: #f8f8f8;
  --landing-search-background-hover: #fefeff;
  --editor-toolbar-background: #fff;
  --editor-toolbar-border-color: transparent;
  --editor-toolbar-button-background: transparent;
  --editor-toolbar-button-background-hover: #ddd;
  --editor-toolbar-button-border-color: #ccc;
  --post-blockquote-border-color: #ddd;
  --forum-even-background: #f0f0f0;
  --forum-thread-read-color: #555;
  --forum-thread-read-link-color: #888;
  --forum-post-author-color: #333;
  --forum-diff-source-background: #fff;
  --forum-diff-source-border-color: #999;
  --forum-diff-replace-background: #adcef4;
  --forum-diff-replace-border-color: #4787d1;
  --forum-diff-delete-background: #e57979;
  --forum-diff-delete-border-color: #c12626;
  --forum-diff-insert-background: #96e579;
  --forum-diff-insert-border-color: #5baa3f;
  --card-background: #e8e8e8;
  --card-background-hover: #f0f0f0;
  --irc-border-color: #ddd;
  --irc-tab-current-shadow: 0px 0px 5px #bbb inset;
  --irc-tab-close-button-color: #fff;
  --irc-tab-close-button-background: #aaa;
  --irc-nick-border-color: #ccc;
  --irc-users-color: black;
  --irc-users-background: #fff;
  --irc-users-border-color: #ccc;
  --irc-users-popout-background: #fff;
  --irc-users-popout-border-color-left: #bbb;
  --irc-users-popout-border-color-right: #ccc;
  --code-line-number-color: #777;
  --library-star-btn-background: #fff;
  --library-star-btn-border-color: #999;
  --library-star-btn-a-border-color: #aaa;
  --library-star-btn-a-hover-background: #fafafa; }
