.fishbowl {
    background-color: #ffffff;
    color: #23262a;
    border: 1px solid #ddd;
}

.fishbowl a {
    color: #0068e0;
    text-decoration: none;
}

.fishbowl a:hover {
    text-decoration: underline;
}

.fishbowl img {
    object-fit: contain;
    image-rendering: high-quality;
    image-rendering: -webkit-optimize-contrast;
}

.fishbowl .preamble {
    display: grid;
    grid-template-columns: auto 1fr;
    max-width: 100%;
    padding: 1rem;
}

.fishbowl .preamble__guild-icon-container {
    grid-column: 1;
}

.fishbowl .preamble__guild-icon {
    max-width: 88px;
    max-height: 88px;
}

.fishbowl .preamble__entries-container {
    grid-column: 2;
    margin-left: 1rem;
}

.fishbowl .preamble__entry {
    margin-bottom: 0.15rem;
    color: #2f3136;
    font-size: 1.4rem;
}

.fishbowl .preamble__entry--small {
    font-size: 1rem;
}

.fishbowl .chatlog {
    padding: 1rem 0;
    width: 100%;
}

.fishbowl .chatlog__message-group {
    margin-bottom: 1rem;
}

.fishbowl .chatlog__message-container {
    background-color: transparent;
    transition: background-color 1s ease;
}

.fishbowl .chatlog__message-container--highlighted {
    background-color: rgba(114, 137, 218, 0.2);
}

.fishbowl .chatlog__message-container--pinned {
    background-color: rgba(249, 168, 37, 0.05);
}

.fishbowl .chatlog__message {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 0.15rem 0;
    direction: ltr;
    unicode-bidi: bidi-override;
}

.fishbowl .chatlog__message:hover {
    background-color: #fafafa;
}

.fishbowl .chatlog__message:hover .chatlog__short-timestamp {
    display: block;
}

.fishbowl .chatlog__message-aside {
    grid-column: 1;
    width: 72px;
    padding: 0.15rem 0.15rem 0 0.15rem;
    text-align: center;
}

.fishbowl .chatlog__reference-symbol {
    height: 10px;
    margin: 6px 4px 4px 36px;
    border-left: 2px solid #c7ccd1;
    border-top: 2px solid #c7ccd1;
    border-radius: 8px 0 0 0;
}

.fishbowl .chatlog__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.fishbowl .chatlog__short-timestamp {
    display: none;
    color: #5e6772;
    font-size: 0.7em;
    line-height: 1.4em;
    direction: ltr;
    unicode-bidi: bidi-override;
}

.fishbowl .chatlog__message-primary {
    grid-column: 2;
    min-width: 0;
}

.fishbowl .chatlog__reference {
    display: flex;
    margin-bottom: 0.15rem;
    align-items: center;
    color: #5f5f60;
    font-size: 0.85em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fishbowl .chatlog__reference-avatar {
    width: 16px;
    height: 16px;
    margin-right: 0.25rem;
    border-radius: 50%;
}

.fishbowl .chatlog__reference-author {
    margin-right: 0.3rem;
    font-weight: 600;
}

.fishbowl .chatlog__reference-content {
    overflow: hidden;
    text-overflow: ellipsis;
}

.fishbowl .chatlog__reference-link {
    cursor: pointer;
}

.fishbowl .chatlog__reference-link * {
    display: inline;
    pointer-events: none;
}

.fishbowl .chatlog__reference-link .hljs {
    display: inline;
}

.fishbowl .chatlog__reference-link .chatlog__markdown-quote {
    display: inline
}

.fishbowl .chatlog__reference-link .chatlog__markdown-pre {
    display: inline
}

.fishbowl .chatlog__reference-link:hover {
    color: #2f3136;
}

.fishbowl .chatlog__reference-link:hover *:not(.chatlog__markdown-spoiler) {
    color: inherit;
}

.fishbowl .chatlog__reference-edited-timestamp {
    margin-left: 0.25rem;
    color: #5e6772;
    font-size: 0.75rem;
    font-weight: 500;
    direction: ltr;
    unicode-bidi: bidi-override;
}

.fishbowl .chatlog__header {
    margin-bottom: 0.1rem;
}

.fishbowl .chatlog__author {
    font-weight: 600;
    color: #2f3136;
}

.fishbowl .chatlog__bot-label {
    position: relative;
    top: -0.1rem;
    margin-left: 0.3rem;
    padding: 0.05rem 0.3rem;
    border-radius: 3px;
    background-color: #5865F2;
    color: #ffffff;
    font-size: 0.625rem;
    font-weight: 500;
    line-height: 1.3;
}

.fishbowl .chatlog__timestamp {
    margin-left: 0.3rem;
    color: #5e6772;
    font-size: 0.75rem;
    direction: ltr;
    unicode-bidi: bidi-override;
}

.fishbowl .chatlog__content {
    padding-right: 1rem;
    word-wrap: break-word;
}

.fishbowl .chatlog__edited-timestamp {
    margin-left: 0.15rem;
    color: #5e6772;
    font-size: 0.7em;
}

.fishbowl .chatlog__attachment {
    position: relative;
    width: fit-content;
    margin-top: 0.3rem;
    border-radius: 3px;
    overflow: hidden;
}

.fishbowl .chatlog__attachment--hidden {
    cursor: pointer;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
}

.fishbowl .chatlog__attachment--hidden * {
    pointer-events: none;
}

.fishbowl .chatlog__attachment-spoiler-caption {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 999;
    padding: 0.4rem 0.8rem;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.9);
    color: #dcddde;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
}

.fishbowl .chatlog__attachment--hidden .chatlog__attachment-spoiler-caption {
    display: block;
}

.fishbowl .chatlog__attachment--hidden:hover .chatlog__attachment-spoiler-caption {
    color: #fff;
}

.fishbowl .chatlog__attachment-media {
    max-width: 500px;
    max-height: 400px;
    vertical-align: top;
    border-radius: 3px;
}

.fishbowl .chatlog__attachment--hidden .chatlog__attachment-media {
    filter: blur(44px);
}

.fishbowl .chatlog__attachment-generic {
    max-width: 520px;
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ebedef;
    border-radius: 3px;
    background-color: #f2f3f5;
    overflow: hidden;
}

.fishbowl .chatlog__attachment--hidden .chatlog__attachment-generic {
    filter: blur(44px);
}

.fishbowl .chatlog__attachment-generic-icon {
    float: left;
    width: 30px;
    height: 100%;
    margin-right: 10px;
}

.fishbowl .chatlog__attachment-generic-size {
    color: #72767d;
    font-size: 12px;
}

.fishbowl .chatlog__attachment-generic-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.fishbowl .chatlog__embed {
    display: flex;
    margin-top: 0.3rem;
    max-width: 520px;
}

.fishbowl .chatlog__embed-color-pill {
    flex-shrink: 0;
    width: 0.25rem;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.fishbowl .chatlog__embed-color-pill--default {
    background-color: rgba(227, 229, 232, 1);
}

.fishbowl .chatlog__embed-content-container {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0.6rem;
    border: 1px solid rgba(204, 204, 204, 0.3);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: rgba(249, 249, 249, 0.3);
}

.fishbowl .chatlog__embed-content {
    display: flex;
    width: 100%;
}

.fishbowl .chatlog__embed-text {
    flex: 1;
}

.fishbowl .chatlog__embed-author-container {
    display: flex;
    margin-bottom: 0.5rem;
    align-items: center;
}

.fishbowl .chatlog__embed-author-icon {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
    border-radius: 50%;
}

.fishbowl .chatlog__embed-author {
    color: #4f545c;
    font-size: 0.875rem;
    font-weight: 600;
    direction: ltr;
    unicode-bidi: bidi-override;
}

.fishbowl .chatlog__embed-author-link {
    color: #4f545c;
}

.fishbowl .chatlog__embed-title {
    margin-bottom: 0.5rem;
    color: #4f545c;
    font-size: 0.875rem;
    font-weight: 600;
}

.fishbowl .chatlog__embed-description {
    color: #2e3338;
    font-weight: 500;
    font-size: 0.85rem;
}

.fishbowl .chatlog__embed-fields {
    display: flex;
    flex-wrap: wrap;
    gap: 0 0.5rem;
}

.fishbowl .chatlog__embed-field {
    flex: 0;
    min-width: 100%;
    max-width: 506px;
    padding-top: 0.6rem;
    font-size: 0.875rem;
}

.fishbowl .chatlog__embed-field--inline {
    flex: 1;
    flex-basis: auto;
    min-width: 50px;
}

.fishbowl .chatlog__embed-field-name {
    margin-bottom: 0.2rem;
    color: #36393e;
    font-weight: 600;
}

.fishbowl .chatlog__embed-field-value {
    color: #2e3338;
    font-weight: 500;
}

.fishbowl .chatlog__embed-thumbnail {
    flex: 0;
    max-width: 80px;
    max-height: 80px;
    margin-left: 1.2rem;
    border-radius: 3px;
}

.fishbowl .chatlog__embed-image-container {
    margin-top: 0.6rem;
}

.fishbowl .chatlog__embed-image {
    max-width: 500px;
    max-height: 400px;
    border-radius: 3px;
}

.fishbowl .chatlog__embed-footer {
    margin-top: 0.6rem;
    color: #2e3338;
}

.fishbowl .chatlog__embed-footer-icon {
    width: 20px;
    height: 20px;
    margin-right: 0.2rem;
    border-radius: 50%;
    vertical-align: middle;
}

.fishbowl .chatlog__embed-footer-text {
    vertical-align: middle;
    font-size: 0.75rem;
    font-weight: 500;
}

.fishbowl .chatlog__embed-plainimage {
    max-width: 45vw;
    max-height: 500px;
    vertical-align: top;
    border-radius: 3px;
}

.fishbowl .chatlog__embed-spotify {
    border: 0;
}

.fishbowl .chatlog__embed-youtube-container {
    margin-top: 0.6rem;
}

.fishbowl .chatlog__embed-youtube {
    border: 0;
    border-radius: 3px;
}

.fishbowl .chatlog__sticker {
    width: 180px;
    height: 180px;
}

.fishbowl .chatlog__sticker--media {
    max-width: 100%;
    max-height: 100%;
}

.fishbowl .chatlog__reactions {
    display: flex;
}

.fishbowl .chatlog__reaction {
    display: flex;
    margin: 0.35rem 0.1rem 0.1rem 0;
    padding: 0.125rem 0.375rem;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: #f2f3f5;
    align-items: center;
}

.fishbowl .chatlog__reaction:hover {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: white;
}

.fishbowl .chatlog__reaction-count {
    min-width: 9px;
    margin-left: 0.35rem;
    color: #4f5660;
    font-size: 0.875rem;
}

.fishbowl .chatlog__reaction:hover .chatlog__reaction-count {
    color: #2e3338;
}

.fishbowl .chatlog__markdown {
    max-width: 100%;
    line-height: 1.3;
    overflow-wrap: break-word;
}

.fishbowl .chatlog__markdown-preserve {
    white-space: pre-wrap;
}

.fishbowl .chatlog__markdown-spoiler {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.fishbowl .chatlog__markdown-spoiler--hidden {
    cursor: pointer;
    background-color: #b9bbbe;
    color: rgba(0, 0, 0, 0);
}

.fishbowl .chatlog__markdown-spoiler--hidden:hover {
    background-color: rgba(185, 187, 190, 0.8);
}

.fishbowl .chatlog__markdown-spoiler--hidden::selection {
    color: rgba(0, 0, 0, 0);
}

.fishbowl .chatlog__markdown-quote {
    display: flex;
    margin: 0.05rem 0;
}

.fishbowl .chatlog__markdown-quote-border {
    margin-right: 0.5rem;
    border: 2px solid #c7ccd1;
    border-radius: 3px;
    background-color: #c7ccd1;
}

.fishbowl .chatlog__markdown-pre {
    background-color: #f9f9f9;
    font-family: "Consolas", "Courier New", Courier, monospace;
}

.fishbowl .chatlog__markdown-pre--multiline {
    margin-top: 0.25rem;
    padding: 0.5rem;
    border: 2px solid #f3f3f3;
    border-radius: 5px;
    color: #657b83;
}

.fishbowl .chatlog__markdown-pre--multiline.hljs {
    background-color: inherit;
    color: inherit;
}

.fishbowl .chatlog__markdown-pre--inline {
    padding: 2px;
    border-radius: 3px;
    font-size: 0.85rem;
}

.fishbowl .chatlog__markdown-mention {
    border-radius: 3px;
    padding: 0 2px;
    background-color: rgba(88, 101, 242, .15);
    color: #505cdc;
    font-weight: 500;
}

.fishbowl .chatlog__markdown-mention:hover {
    background-color: #5865f2;
    color: #ffffff
}

.fishbowl .chatlog__markdown-timestamp {
    border-radius: 3px;
    padding: 0 2px;
    color: #5e6772;
}

.fishbowl .chatlog__emoji {
    width: 1.325rem;
    height: 1.325rem;
    margin: 0 0.06rem;
    vertical-align: -0.4rem;
}

.fishbowl .chatlog__emoji--small {
    width: 1rem;
    height: 1rem;
}

.fishbowl .chatlog__emoji--large {
    width: 2.8rem;
    height: 2.8rem;
}

.fishbowl .postamble {
    padding: 1.25rem;
}

.fishbowl .postamble__entry {
    color: #2f3136;
}