/* src/rawdata/css/vars-dark.css */
@media (prefers-color-scheme: light) {
  :root {
    --color: #fff;
    --link-color: #ff5dc2;
    --c1: #18191b;
    --c2: #25272a;
    --c3: #2f3032;
    --c4: #424548;
    --c5: #575a5d;
    --c-transparent-background: #242424da;
    --button-color-primary: #c900ea;
    --notice-hiatus-color: #876327;
    --notice-dead-color: #7a2020;
    --notice-lts-color: #2a681d;
    --notice-success-color: #2a681d;
    --notice-warn-color: #876327;
    --notice-failure-color: #7a2020;
    --theme-color: #666;
    --theme-color-dim: #444;
    --theme-color-dimmer: #383838;
    --theme-color-dimmest: #333;
    --theme-color-dark: #666;
    --theme-color-light: #666;
    --main-background-color: #202020;
    --main-background-color-transparent: rgba(#202020, 0);
    --forum-thread-read-color: #777;
    --forum-thread-read-link-color: #999;
  }
}

/* src/rawdata/css/force-dark.css */
