.unapproved-project {
  border-bottom: 1px solid transparent;
  padding: 10px;
  padding-bottom: 20px;

  &.hidden-project {
    background: -moz-linear-gradient(left,      rgba(132,26,26,0.4) 0%,rgba(132,26,26,0.1) 15%, rgba(132,26,26,0.0) 50%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,   rgba(132,26,26,0.4) 0%,rgba(132,26,26,0.1) 15%, rgba(132,26,26,0.0) 50%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,       rgba(132,26,26,0.4) 0%,rgba(132,26,26,0.1) 15%, rgba(132,26,26,0.0) 50%); /*  W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }

  &:last-child {
    border-bottom-width: 0px;
  }
}

.hidden-project-tag {
  color:red;
}

a.new-user {
  display:block;
}
