.text {
  @include usevar(background-color, text-background);
}

.underline {
  text-decoration:underline;
}

.monospace {
  font-family: $monospace-fonts;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.2em 0 0.05em;
  border-radius: 3px;

  &::before, &::after {
    content: "\00a0";
    letter-spacing: -0.2em;
  }
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.justify {
  text-align:justify;
  -webkit-hyphens:manual;
  -moz-hyphens:manual;
  -ms-hyphens:manual;
  hyphens:manual;
}

.spoiler {
  @include usevar(border-color, spoiler-border);

  border-width: 1px;
  border-style: dashed;
  color: transparent;

  &::selection {
    color: white;
    background-color: black;
  }
}

pre {
  font-family: $monospace-fonts;
}

.hmn-code {
  @include usevar(background-color, dim-background);
  @extend .br2;

  padding: 0.7em;
}
