.post-edit {
  width:90%;
  margin:auto;
}

.toolbar {
  @include usevar('background-color', 'editor-toolbar-background');
  @include usevar('border-color', 'editor-toolbar-border-color');

  border-radius:3px;
  height: 2.2em;
  overflow-y:scroll;
  transition:all 0.3s;
  border: 1px solid transparent;

  .button, input[type=button] {
    @include usevar('background-color', 'editor-toolbar-button-background');
    @include usevar('border-color', 'editor-toolbar-button-border-color');

    line-height: 2.2em;
    box-shadow:none;
    border:0px;
    border-right:1px solid transparent;
    border-radius:0px;
    margin:0px;
    padding:0px 10px;
    height:100%;
    vertical-align:bottom;
    text-transform:none;
    font-weight:300;

    &:hover {
      @include usevar('background-color', 'editor-toolbar-button-background-hover');
    }
  }

  input[type="text"] {
    height:2.2em;
    border:0px solid transparent; /* Not themed */
  }
}

.actionbar {
  text-align:center;
}

.editor {
  .body {
    width:100%;
    font-size:13pt;
    height:25em;
  }

  .title-edit {
    width:100%;

    label {
      font-weight:bold;
    }

    input {
      width:100%;
    }
  }

  .editreason {
    label {
      font-weight:bold;
    }

    input {
      width:100%;
    }
  }

  .toolbar {
    width:95%;
    margin:10px auto;

    select {
      font-size:10pt;
      border:0px;

      &:hover {
        border:0px;
      }

      &:focus{
        border:0px;
      }
    }

    #bold {
      font-weight: bold;
    }

    #italic {
      font-style: italic;
    }

    #underline {
      text-decoration: underline;
    }

    #monospace {
      font-family: monospace;
    }

    #url {
      text-decoration: underline;
      font-style: italic;
    }
  }

  .actionbar input[type=button] {
    margin-left:10px;
    margin-right:10px;
  }
}

.edit-form {
  .error {
    margin-left:5em;
    padding:10px;
    color:red;
  }

  input[type=text] {
    min-width:20em;
  }

  textarea {
    font-size:13pt;
  }

  .note {
    margin-bottom:5px;
    font-style:italic;
    font-size:90%;
  }

  .links {
    width: 80%;
    min-height: 200px;
    height: 15vh;
  }

  .half {
    padding:10px;
    text-align:center;
  }

  table {
    width:95%;
    margin:auto;
    border-collapse:separate;
    border-spacing: 0px 10px;

    td {
      padding-bottom:15px;
      width:90%;

      &.half {
        width:50%;
      }
      
      table {
        width:100%;
      }
    }
  }

  th {
    text-align:right;
    font-weight:bold;
    padding-right:10px;
    padding-bottom:15px;
    vertical-align:top;
    max-width:5em;
  }

  td table th {
    text-align:left;
  }

  .page-options label {
    font-weight:bold;
    margin-right:20px;
  }

  &.profile-edit {
    .longbio {
      width: 100%;
      min-height: 400px;
      height: 30vh;
    }

    .avatar-preview {
      border:1px solid transparent;
      margin:10px;
      margin-bottom:0px;
    }

    textarea.shortbio, 
    textarea.signature,
    {
      min-width:300px;
      width:50%;
      min-height: 100px;
      height:4em;
    }

    .logo-preview {
      @include usevar(border-color, 'project-edit-logo-previw-border-color');

      width:200px;
      border-width: 1px;
    }
  }

  &.project-edit {
    .project_description {
      width: 100%;
      min-height: 400px;
      height: 30vh;
    }

    input.project_blurb, 
    input.project_name,
    {
      min-width:300px;
      width:50%;
    }

    .quota-bar {
      @include usevar(border-color, 'project-edit-quota-bar-border-color');

      width:500px;
      border-width: 1px;
      margin-bottom:10px;

      .quota-filled {
        @include usevar(background-color, 'project-edit-quota-bar-filled-background');

        height:100%;
      }
    }
  }
}
