.edu-course {
    .edu-article.coming-soon {
        @extend .c--dimmer;
        font-style: italic;
    }

    .edu-article::after {
        $height: 10rem;
        content: '';
        position: absolute;
        width: 1rem;
        height: $height;
        border-width: 0 0 1px 1px;
        border-style: solid;
        @include usevar(border-color, dimmest-color);
        left: -1.5rem;
        top: 1rem - $height;
        border-bottom-left-radius: 0.5rem;
    }
}

.edu-topic {
    img {
        width: 100%;
        height: 14rem;
        object-fit: cover;
    }
}

.edu-article {
    .note {
        color: red;
    }
}
