.episode-list {
  .description p {
    line-height:1.42em;
  }

  h2, h3 {
    font-size:1em;
    font-weight:bold;
  }

  ul {
    margin-bottom:30px;
    list-style-type:none;
    margin-top:-2px;
  }
}

// UNUSED(outer_holder)
#outer_holder .back {
  margin: 0px auto 20px auto;

  .outer {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: flex-start;
    -webkit-justify-content: center;
    justify-content: center;

    & > .sidebar {
      max-width: 260px;

      & > div {
        margin: 6px;
        background-color: #ddd;
        width: 200px;
        margin-bottom: 12px;
      }
    }
  }

  article {
    -webkit-box-flex: 1 1 40%;
    -moz-box-flex: 1 1 40%;
    -webkit-flex: 1 1 40%;
    -ms-flex: 1 1 40%;
    flex: 1 1 40%;
  }
}

// UNUSED
#player-wrapper {
  display: inline-block;
  -webkit-box-flex: 0 1 auto;
  -moz-box-flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  box-shadow: 0px 0px 4px #000;
}

@media screen {
  #player-wrapper #player {
    width: 320px;
    height: 210px;
  }
}
@media screen and (min-width: 500px) {
  #player-wrapper #player {
    width: 480px;
    height: 300px;
  }
}
@media screen and (min-width: 670px) {
  #player-wrapper #player {
    width: 640px;
    height: 390px;
  }
}
@media screen and (min-width: 890px) {
  #player-wrapper #player {
    width: 854px;
    height: 510px;
  }
}
@media screen and (min-width: 1320px) {
  #player-wrapper #player {
    width: 1280px;
    height: 750px;
  }
}

.annotation {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: flex-start;

  .navigation {
    width: 450px;
    display: inline-block;
  }

  .notes {
    display: inline-block;
  }
}

// UNUSED(timecodes)
nav.timecodes {
  margin: 0px;
  max-width: 450px;
  min-height: 700px;
  overflow-y: auto;
  -webkit-box-flex: 0 0 auto;
  -moz-box-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;

  a {
    color: #ccc;
  }

  ul[name=markers] {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    font-size: 15px;

    & > li {
      padding: 4px;
      display: block;
      border-bottom: 1px solid #333;

      &:hover {
        background-color: rgba(0,90,0,0.3);
      }

      a {
        display: block;
        text-decoration: none;

        span.timecode {
          color: #777777;
          float: left;
          font-size: 86%;
          margin-right: .5em;
          text-align: right;
          width: 42px;
        }
      }
    }
  }
}

// UNUSED
#video-notes {
  min-height: 700px;
  margin-top: 0px;

  pre {
    margin-top:1.5em;
    margin-left: 10px;
    margin-right: 30px;
    margin-bottom: 1.5em;
    padding: 10px;
    overflow: auto;
  }
}

// UNUSED
#game_icon {
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-image: url("/images/hero_home_200x114.png");
  background-size: cover;
  height: 113px;
  margin: 0px 0px 4px 0px;
}

// UNUSED
.sidebar-heading {
  margin: 0px 0px 16px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #00547c;
  white-space: nowrap;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.25);
  text-align: center;
}

// Episode Search

.queryContainer {
  width: 1000px;
  margin: 15px auto;
  display: flex;
  flex-direction: horizontal;

  label {
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: 15px;
  }
}

#query {
  flex-grow: 1;
}

#results {
  width: 800px;
  margin: 0 auto;
}

.dayContainer:nth-child(2n) {
  background-color: rgba(0,0,0,0.05);
}

.dayName {
  width: 200px;
  display: inline-block;
  vertical-align: top;
  line-height: 16px;
  box-sizing: border-box;
  padding: 5px;
}

.markerList {
  display: inline-block;
  width: 600px;
  box-sizing: border-box;
  vertical-align: top;
}

.marker {
  cursor: pointer;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  display: block;
  text-decoration: none;

  &:first-child {
    border: none;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  b {
    color: black;
    background-color: rgb(255, 155, 0);
  }
}

#resultsSummary {
  text-align: center;
  margin: 10px 0;
}
