.landing-layout {
  display: grid;
  gap: $spacing-medium;

  > * {
    overflow: hidden;
  }
}

@media #{$breakpoint-large} {
  .landing-layout {
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;

    > * {
      grid-column: 1 / 2;

      &.landing-right {
        grid-column: 2 / 3;
        grid-row: 1 / 20; // increase this number if somehow you ever add that much garbage to the home page :)
      }
    }
  }
}
