.landing {
  .breadcrumb {
    padding: 0px 3px;

    &:first-child {
      padding-left: 0px;
    }
  }

  .more {
    display: block;
    margin-top: 10px;
  }

  .contents {
    margin-bottom: 20px;
  }

  .showcase {
    .arrow-container {
      width: 60px;
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 2;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      $svg-scoot: 0.05rem;

      &.left {
        left: 0;
        @include usevar(background-image, 'linear-gradient(to right, ' content-background ', rgba(0, 0, 0, 0))');

        svg {
          transform: translateX(-$svg-scoot);
        }
      }

      &.right {
        right: 0;
        @include usevar(background-image, 'linear-gradient(to left, ' content-background ', rgba(0, 0, 0, 0))');

        svg {
          transform: translateX($svg-scoot);
        }
      }

      &.hide {
        opacity: 0;
        pointer-events: none;
      }

      .arrow {
        @include usevar(background-color, content-background);
        border-radius: 100%;
        width: 2.4rem;
        height: 2.4rem;
        font-size: 1rem;
        transition: opacity 40ms ease-in-out;
        box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.20);

        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  #showcase-items {
    transition: transform 200ms ease-in-out;
  }

  .showcase-item {
    width: 7rem;
    height: 7rem;

    @media #{$breakpoint-not-small} {
      width: 10rem;
      height: 10rem;  
    }
  }
}
