.star-btn {
  border-bottom-width: 2px;
  @include usevar('background-color', 'library-star-btn-background');
  @include usevar('border-color', 'library-star-btn-border-color');

  a {
    @include usevar('border-color', 'library-star-btn-a-border-color');

    &:hover {
      @include usevar('background-color', 'library-star-btn-a-hover-background');
    }
  }
}

.library-dropcap {
  width: 1em;
  height: 1.1em;
  padding-top: 0.19em;
  text-align: center;
  font-size: 2rem;
}