.upload_bar.uploading .instructions, .upload_bar:not(.uploading) .progress {
	display: none;
}

.upload_bar .progress_bar {
	border: 2px solid;
	@include usevar('border-color', 'link-color');
	padding: 2px;
}

.upload_bar .progress_bar > div {
	@include usevar('background-color', 'link-color');
	height: 100%;
}

