.profile {
  .content {
    .description {
      margin:0px auto;
      max-width:40em;
    }

    h2 {
      margin-bottom:10px;
    }
  }

  ul.recent-posts, ul.recent-comments {
    list-style-type:none;
  }

  ul .entry {
    margin-left:20px;
  }

  .entry {
    .context {
      font-weight:bold;
      border-bottom:0px;
    }
  }

  .content-block.projects {
    background-image:none;
    overflow-y:visible;
  }
}

.profile .content-block.avatar,
.project .content-block.logo {
  background-color:transparent;
  background-image:none;
  box-shadow:none;
  min-height:200px;

  img {
    // TODO(ben): Check if this was actually set to anything before
    // box-shadow: 
  }
}

.project .content-block.screenshots,
.profile .content-block.projects
{
  padding:0px;
  min-height:0em;
}
