.carousel-container {
  .carousel {
    position: relative;
  }

  .carousel-item:not(.active) {
    display: none;
  }

  .carousel-buttons {
    display: flex;
    justify-content: center;
  }

  .carousel-button {
    border: 1px solid;
    border-color: var(--dimmer-color);
    cursor: pointer;

    transition: all 100ms ease-in-out;

    &:hover {
      background-color: var(--dimmest-color);
    }

    &.active {
      border-color: var(--theme-color);
      width: var(--width-2);

      &:hover {
        background-color: var(--theme-color-dimmest);
      }
    }
  }
}