/* Bare minimum styles */

* {
    /* It's aggressive, but we like it aggressive */
    box-sizing: border-box;
    border-color: var(--border-color);
}

br {
    /* why, IE... */
    border-style: none;
}

body {
    background-color: var(--background-color);
    color: var(--color);
    font-family: "Inter", sans-serif;
    min-height: 100vh;
    box-sizing: border-box;
}

a,
.link {
    color: var(--link-color);
    border-bottom: none;
    text-decoration: none;

    &.external::after {
        font-family: "icons";
        content: " 1";
        vertical-align: middle;
    }
}

.link--normal {
    --link-color: var(--color);
}

b,
strong {
    font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    margin: 0;
    line-height: 1;
    font-weight: 600;
}

code,
pre,
.mono {
    font-family: "Fira Mono", monospace;
}

/* Utility */

.bg--main {
    background-color: var(--main-background-color);
}

.bg--card {
    background-color: var(--card-background);
}

.bg--card-transparent {
    background-color: var(--card-background-transparent);
}

.m--center {
    margin-left: auto;
    margin-right: auto;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-fair {
    flex-basis: 1px;
    flex-grow: 1;
    flex-shrink: 1;
}

@media screen and (min-width: 35em) {
    .flex-fair-ns {
        flex-basis: 1px;
        flex-grow: 1;
        flex-shrink: 1;
    }
}

@media screen and (min-width: 60em) {
    .flex-fair-l {
        flex-basis: 1px;
        flex-grow: 1;
        flex-shrink: 1;
    }
}

.b--dim {
    border-color: var(--dim-color);
}

.b--dimmer {
    border-color: var(--dimmer-color);
}

.b--dimmest {
    border-color: var(--dimmest-color);
}

.b--theme {
    border-color: var(--theme-color);
}

.b--theme-dim {
    border-color: var(--theme-color-dim);
}

.b--theme-dimmer {
    border-color: var(--theme-color-dimmer);
}

.b--theme-dimmest {
    border-color: var(--theme-color-dimmest);
}

.b--theme-dark {
    border-color: var(--theme-color-dark);
}

.b--theme-light {
    border-color: var(--theme-color-light);
}

.bg1 {
    background-color: var(--bg-1);
}

.bg2 {
    background-color: var(--bg-2);
}

.bg3 {
    background-color: var(--bg-3);
}

.bg4 {
    background-color: var(--bg-4);
}

.bg5 {
    background-color: var(--bg-5);
}

.bg-theme {
    background-color: var(--theme-color);
}

.bg-theme-dim {
    background-color: var(--theme-color-dim);
}

.bg-theme-dimmer {
    background-color: var(--theme-color-dimmer);
}

.bg-theme-dimmest {
    background-color: var(--theme-color-dimmest);
}

.bg-theme-dark {
    background-color: var(--theme-color-dark);
}

.bg-theme-light {
    background-color: var(--theme-color-light);
}

.c--normal {
    color: var(--color);
}

.c--inherit {
    color: inherit;

    &:hover,
    &:active {
        color: inherit;
    }
}

.c--dim {
    color: var(--dim-color);
}

.c--theme-dim {
    color: var(--theme-color-dim);
}

.c--dimmer {
    color: var(--dimmer-color);
}

.c--theme-dimmer {
    color: var(--theme-color-dimmer);
}

.c--dimmest {
    color: var(--dimmest-color);
}

.c--theme-dimmest {
    color: var(--theme-color-dimmest);
}

.f8 {
    font-size: 0.65rem;
}

.w6 {
    width: var(--width-6);
}

.w7 {
    width: var(--width-7);
}

.w8 {
    width: var(--width-8);
}

.mw-site {
    max-width: var(--site-width);
}

.mw-site-narrow {
    max-width: var(--site-width-narrow);
}

.mh-3 {
    max-height: var(--height-3);
}

.mh-4 {
    max-height: var(--height-4);
}

.mh-5 {
    max-height: var(--height-5);
}

.mh-6 {
    max-height: var(--height-6);
}

.mh-100 {
    max-height: 100%;
}

.mh-50vh {
    max-height: 50vh;
}

.mh-60vh {
    max-height: 60vh;
}

.mh-70vh {
    max-height: 70vh;
}

.mh-80vh {
    max-height: 80vh;
}

.minw-100 {
    min-width: 100%;
}

.minh-1 {
    min-height: var(--height-1);
}

.minh-2 {
    min-height: var(--height-2);
}

.minh-3 {
    min-height: var(--height-3);
}

.minh-4 {
    min-height: var(--height-4);
}

.minh-5 {
    min-height: var(--height-5);
}

.minh-6 {
    min-height: var(--height-6);
}

.h1-5 {
    height: 1.5rem;
}

.fira {
    font-family: "Fira Sans", sans-serif;
}

.bi-avoid {
    break-inside: avoid;
}

.cc-auto {
    column-count: auto;
}

.cc1 {
    column-count: 1;
}

.cc2 {
    column-count: 2;
}

.cc3 {
    column-count: 3;
}

.cg0 {
    column-gap: var(--spacing-none);
}

.cg1 {
    column-gap: var(--spacing-extra-small);
}

.cg2 {
    column-gap: var(--spacing-small);
}

.cg3 {
    column-gap: var(--spacing-medium);
}

.cg4 {
    column-gap: var(--spacing-large);
}

.cg5 {
    column-gap: var(--spacing-extra-large);
}

.g0 {
    gap: var(--spacing-none);
}

.g1 {
    gap: var(--spacing-extra-small);
}

.g2 {
    gap: var(--spacing-small);
}

.g3 {
    gap: var(--spacing-medium);
}

.g4 {
    gap: var(--spacing-large);
}

.g5 {
    gap: var(--spacing-extra-large);
}

.grid {
    display: grid;
}

.grid-1 {
    grid-template-columns: 1fr;
}

.grid-2 {
    grid-template-columns: 1fr 1fr;
}

.aspect-ratio--2x1 {
    padding-bottom: 50%;
}

.hide-if-empty:empty {
    display: none !important;
}

.fill-current {
    fill: currentColor;
}

.rot-180 {
    transform: rotate(180deg);
}

:not([hidden])+.show-when-sibling-hidden {
    display: none;
}

.grab:hover {
    cursor: grab;

    .grabbing & {
        cursor: grabbing;
    }
}

.grabbing {
    cursor: grabbing;
}

@media screen and (min-width: 35em) {
    .w6-ns {
        width: var(--width-6);
    }

    .w7-ns {
        width: var(--width-7);
    }
    
    .w8-ns {
        width: var(--width-8);
    }

    .bi-avoid-ns {
        break-inside: avoid;
    }

    .cc-auto-ns {
        column-count: auto;
    }

    .cc1-ns {
        column-count: 1;
    }

    .cc2-ns {
        column-count: 2;
    }

    .cc3-ns {
        column-count: 3;
    }

    .cg0-ns {
        column-gap: var(--spacing-none);
    }

    .cg1-ns {
        column-gap: var(--spacing-extra-small);
    }

    .cg2-ns {
        column-gap: var(--spacing-small);
    }

    .cg3-ns {
        column-gap: var(--spacing-medium);
    }

    .cg4-ns {
        column-gap: var(--spacing-large);
    }

    .cg5-ns {
        column-gap: var(--spacing-extra-large);
    }

    .grid-1-ns {
        grid-template-columns: 1fr;
    }

    .grid-2-ns {
        grid-template-columns: 1fr 1fr;
    }

    .bg1-ns {
        background-color: var(--bg-1);
    }

    .bg2-ns {
        background-color: var(--bg-2);
    }

    .bg3-ns {
        background-color: var(--bg-3);
    }

    .bg4-ns {
        background-color: var(--bg-4);
    }

    .bg5-ns {
        background-color: var(--bg-5);
    }
}

@media screen and (min-width: 35em) and (max-width: 60em) {
    .w6-m {
        width: var(--width-6);
    }

    .w7-m {
        width: var(--width-7);
    }
    
    .w8-m {
        width: var(--width-8);
    }

    .bi-avoid-m {
        break-inside: avoid;
    }

    .cc-auto-m {
        column-count: auto;
    }

    .cc1-m {
        column-count: 1;
    }

    .cc2-m {
        column-count: 2;
    }

    .cc3-m {
        column-count: 3;
    }

    .cg1-m {
        column-gap: var(--spacing-extra-small);
    }

    .cg2-m {
        column-gap: var(--spacing-small);
    }

    .cg3-m {
        column-gap: var(--spacing-medium);
    }

    .cg4-m {
        column-gap: var(--spacing-large);
    }

    .cg5-m {
        column-gap: var(--spacing-extra-large);
    }

    .grid-1-m {
        grid-template-columns: 1fr;
    }

    .grid-2-m {
        grid-template-columns: 1fr 1fr;
    }

    .bg1-m {
        background-color: var(--bg-1);
    }

    .bg2-m {
        background-color: var(--bg-2);
    }

    .bg3-m {
        background-color: var(--bg-3);
    }

    .bg4-m {
        background-color: var(--bg-4);
    }

    .bg5-m {
        background-color: var(--bg-5);
    }
}

@media screen and (min-width: 60em) {
    .w6-l {
        width: var(--width-6);
    }

    .w7-l {
        width: var(--width-7);
    }
    
    .w8-l {
        width: var(--width-8);
    }

    .bi-avoid-l {
        break-inside: avoid;
    }

    .cc-auto-l {
        column-count: auto;
    }

    .cc1-l {
        column-count: 1;
    }

    .cc2-l {
        column-count: 2;
    }

    .cc3-l {
        column-count: 3;
    }

    .cg1-l {
        column-gap: var(--spacing-extra-small);
    }

    .cg2-l {
        column-gap: var(--spacing-small);
    }

    .cg3-l {
        column-gap: var(--spacing-medium);
    }

    .cg4-l {
        column-gap: var(--spacing-large);
    }

    .cg5-l {
        column-gap: var(--spacing-extra-large);
    }

    .grid-1-l {
        grid-template-columns: 1fr;
    }

    .grid-2-l {
        grid-template-columns: 1fr 1fr;
    }

    .bg1-l {
        background-color: var(--bg-1);
    }

    .bg2-l {
        background-color: var(--bg-2);
    }

    .bg3-l {
        background-color: var(--bg-3);
    }

    .bg4-l {
        background-color: var(--bg-4);
    }

    .bg5-l {
        background-color: var(--bg-5);
    }
}

.svgicon {
    svg {
        fill: currentColor;
        stroke: currentColor;
        width: 1em;
        height: 1em;
        overflow: visible;
    }

    &:not(.svgicon-nofix) svg {
        transform: translate(0px, 0.1em);
    }
}

.sr {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
    transition: 0.2s all;
}

.sr-focusable:focus {
    padding: 15px 10px;
    height: auto;
    width: auto;
    background: var(--content-background);
    clip: initial;
    clip-path: initial;
    z-index: 99999;
}

.breadcrumb {
    &:hover {
        text-decoration: underline;
    }

    &.current {
        text-overflow: clip ellipsis;
    }
}

/* Old stuff that should probably be moved? */

.optionbar {
    width: 100%;
    padding-bottom: var(--spacing-small);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    border-style: dashed;
    border-width: 0 0 1px;
    border-color: var(--dimmest-color);

    @media screen and (min-width: 35em) {
        flex-direction: row;
        text-align: left;
        padding-bottom: 0;
    }

    &.bottom {
        border-bottom-width: 0;
        border-top-width: 1px;
        padding-bottom: 0;
        padding-top: var(--spacing-small);

        @media screen and (min-width: 35em) {
            padding-top: 0;
        }
    }

    &.center {
        /* TODO: find this and kill it */
        text-align: center;
    }

    .options {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 35em) {
            flex-direction: row;
        }

        .option {
            padding: var(--spacing-extra-small) var(--spacing-small);

            display: inline-flex;
            align-items: center;
            justify-content: center;

            @media screen and (min-width: 35em) {
                padding-top: var(--spacing-small);
                padding-bottom: var(--spacing-small);
            }
        }
    }

    .group {
        display: inline-block;
        height: 100%;
        margin: auto;
    }
}

.tab {
    background-color: var(--tab-background);
    padding: var(--spacing-small);
}

.background-even:nth-of-type(even) {
    background-color: var(--background-even-background);
    --fade-color: var(--background-even-background);
}