.edu-course {
    &.highlight {
        border-left: 0.25rem solid black;
        border-color: var(--link-color);
        background-color: var(--theme-color-dimmest);
    }

    .edu-article.coming-soon {
        color: var(--dimmer-color);
        font-style: italic;
    }

    .edu-article::after {
        --height: 10rem;
        content: '';
        position: absolute;
        width: 1rem;
        height: var(--height);
        border-width: 0 0 1px 1px;
        border-style: solid;
        border-color: var(--bg-3);
        left: -1.5rem;
        top: calc(1rem - var(--height));
        border-bottom-left-radius: 0.5rem;
    }
}

.edu-topic {
    img {
        width: 100%;
        height: 14rem;
        object-fit: cover;
    }
}

.edu-article {
    .note {
        color: red;
    }
}