.thread-list-item .latestpost {
  width: 16.5rem;
}

.excerpt-fade {
  background-image: linear-gradient(to top, var(--fade-color), rgba(0, 0, 0, 0));
  pointer-events: none;
}

.read {
  color: var(--forum-thread-read-color);

  td {
    color: var(--forum-thread-read-color);
  }

  a {
    color: var(--forum-thread-read-link-color);
  }

  .title {
    font-weight: 500;
  }
}

.goto {
  font-size: 200%;
  width: 30px;

  a {
    display: block;
    padding: 0px 10px;
    box-sizing: border-box;
    position: relative;
    line-height: 100%;
    background-color: transparent;
  }
}

.badge {
  display: inline-block;
  border-radius: 1000em;
  padding: 0 0.8em;
  font-size: 0.9em;
  line-height: 1.8em;
  font-weight: bold;

  &.staff {
    background-color: #17b2c6;
    color: white;

    &::before {
      content: 'Staff';
    }
  }
}

.postid a {
  margin-top: -4rem;
  padding-top: 4rem;
  outline: none;
}

.codeblocktable {
  font-family: monospace;
  font-size: 14px;
  overflow: auto;
  line-height: 1.5em;

  tbody {
    width: 100%;
  }

  .linenos {
    color: var(--theme-dim);
    font-weight: 500;
    padding: 5px;
    background: rgba(0, 0, 0, 0.15);
  }

  .code {
    /* Background color given by theme */
    padding-right: 20px;
    padding-left: 10px;
    max-width: 80em;
  }
}

.post {
  .action.button {
    padding: 0px 10px;
    margin-top: 0px;
    margin-right: 4px;
    background-color: transparent;
    font-size: 130%;
    border-radius: 0px;
    border-width: 0px;
    border-bottom-width: 2px;
    transition: border-bottom-width 0.1s;

    &:hover {
      border-bottom-width: 4px;
    }
  }
}

.blog {
  .post {
    .meta {
      position: relative;
    }

    &.op .meta {
      margin-bottom: 10px;
    }

    .badges {
      width: 40px;
      font-size: 0.7em;
      text-align: center;
    }
  }

  .sidebar {
    .post>.author {
      padding: 15px;
      text-align: center;
    }

    .recent-posts {
      text-align: center;
      padding: 15px;

      h2 {
        display: inline;
      }
    }

    .archive ul {
      list-style-type: none;
      text-align: left;
    }
  }

  .post-list {
    .post {
      &:nth-child(even) {
        background-color: transparent;
      }
    }
  }
}

.bbtable {
  width: 100%;
  border: 1px solid;

  td,
  th {
    border: 1px solid;
    padding: 4px;
  }

  th {
    background: rgba(0, 0, 0, 0.15);
    font-weight: bold;
    border-bottom-width: 2px;
  }

  tbody tr:nth-child(even) {
    background: rgba(0, 0, 0, 0.05);
  }
}