@font-face {
  font-family: icons;
  src: url("icons.ttf?v=4");
}

span.icon {
  font-family: "icons";
}

span.icon-settings::before {
  font-family: "icons";
  content: "0";
}

span.icon-link::before {
  font-family: "icons";
  content: "1";
}

span.icon-logout::before {
  font-family: "icons";
  content: "2";
}

span.icon-twitter::before {
  font-family: "icons";
  content: "#";
}

span.icon-twitch::before {
  font-family: "icons";
  content: "$";
}

span.icon-github::before {
  font-family: "icons";
  content: "%";
}

span.icon-patreon::before {
  font-family: "icons";
  content: "&";
}

span.icon-youtube::before {
  font-family: "icons";
  content: "'";
}

span.icon-soundcloud::before {
  font-family: "icons";
  content: "*";
}

span.icon-web::before {
  font-family: "icons";
  content: "3";
}

span.icon-itchio::before {
  font-family: "icons";
  content: "+";
}

span.icon-hitbox::before {
  font-family: "icons";
  content: ",";
}

span.icon-rss::before {
  font-family: "icons";
  content: "4";
}