.pair {
  display: flex;
  align-items: flex-start;

  .key {
    font-weight: bold;
    flex-shrink: 0;
  }

  .value {
    text-align: right;
    flex-grow: 1;
  }
}

.project-carousel {
  .carousel-item {
    position: absolute;
    top: 0;
    left: 0;

    br {
      line-height: 0.6em;
    }
  }

  .carousel-item-small {
    position: absolute;
    top: 0;
    left: 0;

    &:not(.active) {
      display: none;
    }
  }

  .carousel-description {
    max-height: 14rem;
    overflow: hidden;
  }

  .carousel-fade {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30px;

    background: linear-gradient(var(--dim-background-transparent), var(--dim-background));
  }
}

.project-card {
  color: var(--fg-font-color);
  background-color: var(--card-background);

  &.project-card-black {
    background-color: var(--card-background-transparent);
  }

  .slideshow & {
    margin-top: 8px;
  }

  .image-container {
    --image-size: 8rem;

    width: var(--image-size);
    min-height: var(--image-size);

    .image {
      position: absolute;
      width: var(--image-size);
      top: 0;
      bottom: 0;
    }
  }

  .badges:empty {
    display: none;
  }

  .badge {
    color: white;
    border-radius: 5px;
  }
}