.avatar-icon {
    object-fit: cover;
    border-radius: 100%;
    overflow: hidden;
    object-fit: cover;
    background-color: var(--dimmest-color);

    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid;
    border-color: var(--theme-color);
    flex-shrink: 0;

    &.big {
        width: 3rem;
        height: 3rem;

        @media screen and (min-width: 35em) {
            width: 3.875rem;
            height: 3.875rem;
        }
    }
}

.timeline-item {
    background-color: var(--card-background);
    --fade-color: var(--card-background);
    color: var(--main-color);

    .timeline-content-box {
        &.timeline-item-bg {
            background-color: var(--timeline-content-background);
        }

        >* {
            display: block;
            max-width: 100%;
            max-height: 80vh;
        }
    }
}

.timeline-modal {
    .container {
        max-height: 100vh;
        max-width: 100%;

        @media screen and (min-width: 35em) {
            width: auto;
            max-width: calc(100% - 2rem);
            max-height: calc(100vh - 2rem);
        }
    }
}