.avatar {
    object-fit: cover;
    overflow: hidden;
    background-color: var(--c4);
    flex-shrink: 0;
    border: none;

    width: var(--avatar-size-normal);
    height: var(--avatar-size-normal);
}

.avatar.avatar-user {
    border-radius: 999px;
}

.avatar.avatar-small {
    width: var(--avatar-size-small);
    height: var(--avatar-size-small);
}

.timeline {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
}

.timeline-item {
    background-color: var(--c3);
    --fade-color: var(--c3);

    .timeline-media {
        background-color: var(--timeline-media-background);
        max-height: 60vh;

        &.timeline-embed {
            /* aspect-ratio aspect-ratio--16x9 */
            height: 0;
            position: relative;
            padding-bottom: 56.25%;

            >iframe {
                /* aspect-ratio--object */
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 100;
            }
        }

        >* {
            display: block;
            max-width: 100%;
        }
    }
}

.timeline-modal {
    .container {
        max-height: 100vh;
        max-width: 100%;

        @media screen and (min-width: 35em) {
            width: auto;
            max-width: calc(100% - 2rem);
            max-height: calc(100vh - 2rem);
        }
    }
}

.timeline-unread {
    --size: 0.5rem;
    display: inline-block;
    width: var(--size);
    height: var(--size);
    background-color: var(--unread-color);
    border-radius: 999px;
}