/*
Media queries cannot have variables, so here are media queries you can copy-paste as necessary:

$breakpoint-not-small: screen and (min-width: 35em)
$breakpoint-medium: screen and (min-width: 35em) and (max-width: 60em)
$breakpoint-large: screen and (min-width: 60em)
*/

@import "tachyons-vars.css";

:root {
    --background-color: white;
    --color: black;
    --link-color: #d12991;
    --red: #c61d24;

    --dim-color: #333;
    --dimmer-color: #999;
    --dimmest-color: #bbb;

    /* Default theme colors in case the project.css is busted */
    --theme-color: #666;
    --theme-color-dim: #aaa;
    --theme-color-dimmer: #bbb;
    --theme-color-dimmest: #ccc;

    --theme-color-dark: #666;
    --theme-color-light: #666;

    --main-background-color: #f8f8f8;
    --main-background-color-transparent: rgba(#f8f8f8, 0);

    --bg-1: #1f1f1f;
    --bg-2: #2f2f2f;
    --bg-3: #494949;

    --forum-thread-read-color: #555;
    --forum-thread-read-link-color: #888;

    --notice-hiatus-color: #aa7d30;
    --notice-dead-color: #b42222;
    --notice-lts-color: #43a52f;
    --notice-success-color: #43a52f;
    --notice-warn-color: #aa7d30;
    --notice-failure-color: #b42222;

    --spoiler-border: #aaa;

    --site-width: 80rem;
    --site-width-narrow: 60rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #2f2f2f;

        --color: #eee;
        --link-color: #ff5dc2;
        --color-error: #ff6666;

        --dim-color: #bbb;
        --dimmer-color: #999;
        --dimmest-color: #777;

        --theme-color: #666;
        --theme-color-dim: #444;
        --theme-color-dimmer: #383838;
        --theme-color-dimmest: #333;

        --theme-color-dark: #666;
        --theme-color-light: #666;

        --main-background-color: #202020;
        --main-background-color-transparent: rgba(#202020, 0);

        /* --card-background: #282828; */
        --card-background: #494949;
        --card-background-hover: #333;
        --card-background-transparent: #242424D8;

        --bg-1: #1f1f1f;
        --bg-2: #2f2f2f;
        --bg-3: #494949;
        --bg-4: #595959;
        --bg-5: #cbcbcb;

        --border-color: #595959;
        --border-color-focused: #4e55ff;
        --border-color-error: #ff3a3a;

        --button-color-primary: #c900ea;

        --forum-thread-read-color: #777;
        --forum-thread-read-link-color: #999;

        --notice-hiatus-color: #876327;
        --notice-dead-color: #7a2020;
        --notice-lts-color: #2a681d;
        --notice-success-color: #2a681d;
        --notice-warn-color: #876327;
        --notice-failure-color: #7a2020;

        --spoiler-border: #777;
    }
}