{
    acme_dns cloudflare <CLOUDFLARE KEY>
    order cgi last
}

<DOMAIN>, *.<DOMAIN> {
    uri path_regexp ^/static/ /public/
    handle /public/* {
        file_server {
            root /home/hmn/hmn
        }
        header {
            Access-Control-Allow-Origin *
            Access-Control-Allow-Methods "GET, OPTIONS"
        }
    }
    handle {
        reverse_proxy localhost:9001
    }
}

srv.<DOMAIN>:8888 {
    cgi /deploy /home/hmn/hmn/server/deploy_hook.sh <BRANCH>
}
