{
    acme_dns cloudflare <CLOUDFLARE KEY>
    order cgi last
}

<DOMAIN>, *.<DOMAIN> {
    handle /public/* {
        file_server {
            root /home/hmn/hmn
        }
    }
    handle {
        reverse_proxy localhost:9001
    }
}

srv.<DOMAIN>:8888 {
    cgi /deploy /home/hmn/hmn/server/deploy_hook.sh <BRANCH>
}
