[Unit]
Description=Miblo's Cinera program
After=network-online.target nss-lookup.target

[Service]
Type=forking
User=annotations
Group=annotations
ExecStart=/home/hmn/hmn/cinera/start.sh
ExecStop=/home/hmn/hmn/cinera/stop.sh
PIDFile=/home/hmn/hmn/cinera/data/cinera.pid
Restart=always

[Install]
WantedBy=multi-user.target
