[Unit]
Description=The Handmade Network website
After=network-online.target nss-lookup.target

[Service]
User=hmn
Group=hmn
ExecStart=/home/hmn/bin/hmn
Restart=always
TimeoutStopSec=15
ExecStopPost=status-email@%n.service

[Install]
WantedBy=multi-user.target
