[Unit]
Description=The Handmade Network website
After=network-online.target nss-lookup.target

[Service]
User=hmn
Group=hmn
ExecStart=/home/hmn/bin/hmn
WorkingDirectory=/home/hmn/hmn/
Restart=always
TimeoutStopSec=15
ExecStopPost=/home/hmn/hmn/server/adminmailer.sh %n

[Install]
WantedBy=multi-user.target
