package config

var Config = HMNConfig{
	Env:     Dev,
	Addr:    ":9001",
	BaseUrl: "http://handmade.local:9001",
	LogLevel: zerolog.TraceLevel,
	Postgres: PostgresConfig{
		User:     "hmn",
		Password: "password",
		Hostname: "handmade.local",
		Port:     5454,
		DbName:   "hmn",
		MinConn:  2, // Keep these low for dev, high for production
		MaxConn:  2,
	},
	Auth: AuthConfig{
		CookieDomain: ".handmade.local",
		CookieSecure: false,
	},
	DigitalOcean: DigitalOceanConfig{
		AssetsSpacesKey: "",
		AssetsSpacesSecret: "",
		AssetsSpacesRegion: "",
		AssetsSpacesEndpoint: "",
		AssetsSpacesBucket: "",
		AssetsPathPrefix: "",
		AssetsPublicUrlRoot: "",
	},
}
