{{ template "base.html" . }}

{{ define "content" }}
<div class="post-content mw7 ph3 ph0-ns m-center">
    <h1>{{ .Role.Name }}</h1>
    {{ block "role content" . }}{{ end }}
    
    <div class="mt4">
        <h2>Other roles</h2>
        <div class="flex flex-column flex-row-ns g3">
            {{ range .OtherRoles }}
                <div class="flex-fair">
                    {{ template "role_card.html" . }}
                </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}
