/*
Inserts a CSS expression with one or more custom variables.
You can provide an arbitrary number of strings in the second
argument, separated by spaces. Any strings corresponding to
variable names will be replaced by the correct values, while
other strings are left untouched.

Example usage:

@include usevar(border-color, dimmer-color);
@include usevar(background, "linear-gradient(" dim-background-transparent "," dim-background ")");

For clarity and to avoid syntax issues, you are encouraged to
use unquoted strings for variables and quoted strings for
everything else.

For convenience in common cases, if only a single argument
is provided and it does not match an existing variable, this
will throw an error.
*/
/* bbcode [code] -- see: https://github.com/richleland/pygments-css/blob/master/monokai.css */
.codeblock .hll {
  background-color: #49483e; }

.codeblock .c {
  color: #75715e; }

/* Comment */
.codeblock .err {
  color: #ff0000; }

/* Error */
.codeblock .k {
  color: #66d9ef; }

/* Keyword */
.codeblock .l {
  color: #ae81ff; }

/* Literal */
.codeblock .n {
  color: #f8f8f2; }

/* Name */
.codeblock .o {
  color: #f92672; }

/* Operator */
.codeblock .p {
  color: #f8f8f2; }

/* Punctuation */
.codeblock .cm {
  color: #75715e; }

/* Comment.Multiline */
.codeblock .cp {
  color: #75715e; }

/* Comment.Preproc */
.codeblock .c1 {
  color: #75715e; }

/* Comment.Single */
.codeblock .cs {
  color: #75715e; }

/* Comment.Special */
.codeblock .ge {
  font-style: italic; }

/* Generic.Emph */
.codeblock .gs {
  font-weight: bold; }

/* Generic.Strong */
.codeblock .kc {
  color: #66d9ef; }

/* Keyword.Constant */
.codeblock .kd {
  color: #66d9ef; }

/* Keyword.Declaration */
.codeblock .kn {
  color: #f92672; }

/* Keyword.Namespace */
.codeblock .kp {
  color: #66d9ef; }

/* Keyword.Pseudo */
.codeblock .kr {
  color: #66d9ef; }

/* Keyword.Reserved */
.codeblock .kt {
  color: #66d9ef; }

/* Keyword.Type */
.codeblock .ld {
  color: #e6db74; }

/* Literal.Date */
.codeblock .m {
  color: #ae81ff; }

/* Literal.Number */
.codeblock .s {
  color: #e6db74; }

/* Literal.String */
.codeblock .na {
  color: #a6e22e; }

/* Name.Attribute */
.codeblock .nb {
  color: #f8f8f2; }

/* Name.Builtin */
.codeblock .nc {
  color: #a6e22e; }

/* Name.Class */
.codeblock .no {
  color: #66d9ef; }

/* Name.Constant */
.codeblock .nd {
  color: #a6e22e; }

/* Name.Decorator */
.codeblock .ni {
  color: #f8f8f2; }

/* Name.Entity */
.codeblock .ne {
  color: #a6e22e; }

/* Name.Exception */
.codeblock .nf {
  color: #a6e22e; }

/* Name.Function */
.codeblock .nl {
  color: #f8f8f2; }

/* Name.Label */
.codeblock .nn {
  color: #f8f8f2; }

/* Name.Namespace */
.codeblock .nx {
  color: #a6e22e; }

/* Name.Other */
.codeblock .py {
  color: #f8f8f2; }

/* Name.Property */
.codeblock .nt {
  color: #f92672; }

/* Name.Tag */
.codeblock .nv {
  color: #f8f8f2; }

/* Name.Variable */
.codeblock .ow {
  color: #f92672; }

/* Operator.Word */
.codeblock .w {
  color: #f8f8f2; }

/* Text.Whitespace */
.codeblock .mf {
  color: #ae81ff; }

/* Literal.Number.Float */
.codeblock .mh {
  color: #ae81ff; }

/* Literal.Number.Hex */
.codeblock .mi {
  color: #ae81ff; }

/* Literal.Number.Integer */
.codeblock .mo {
  color: #ae81ff; }

/* Literal.Number.Oct */
.codeblock .sb {
  color: #e6db74; }

/* Literal.String.Backtick */
.codeblock .sc {
  color: #e6db74; }

/* Literal.String.Char */
.codeblock .sd {
  color: #e6db74; }

/* Literal.String.Doc */
.codeblock .s2 {
  color: #e6db74; }

/* Literal.String.Double */
.codeblock .se {
  color: #ae81ff; }

/* Literal.String.Escape */
.codeblock .sh {
  color: #e6db74; }

/* Literal.String.Heredoc */
.codeblock .si {
  color: #e6db74; }

/* Literal.String.Interpol */
.codeblock .sx {
  color: #e6db74; }

/* Literal.String.Other */
.codeblock .sr {
  color: #e6db74; }

/* Literal.String.Regex */
.codeblock .s1 {
  color: #e6db74; }

/* Literal.String.Single */
.codeblock .ss {
  color: #e6db74; }

/* Literal.String.Symbol */
.codeblock .bp {
  color: #f8f8f2; }

/* Name.Builtin.Pseudo */
.codeblock .vc {
  color: #f8f8f2; }

/* Name.Variable.Class */
.codeblock .vg {
  color: #f8f8f2; }

/* Name.Variable.Global */
.codeblock .vi {
  color: #f8f8f2; }

/* Name.Variable.Instance */
.codeblock .il {
  color: #ae81ff; }

/* Literal.Number.Integer.Long */
/* Generic Heading & Diff Header */
.codeblock .gu {
  color: #75715e; }

/* Generic.Subheading & Diff Unified/Comment? */
.codeblock .gd {
  color: #f92672; }

/* Generic.Deleted & Diff Deleted */
.codeblock .gi {
  color: #a6e22e; }

/* Generic.Inserted & Diff Inserted */
.light {
  background-color: #fff;
  color: #000; }

:root {
  --fg-font-color: #eee;
  --theme-color: #666;
  --theme-color-dim: #444;
  --theme-color-dimmer: #383838;
  --theme-color-dimmest: #333;
  --link-color: #aaa;
  --link-border-color: #aaa;
  --table-border-color: #aaa;
  --hr-color: #aaa;
  --main-background-color: #202020;
  --main-color: #eee;
  --dim-color: #bbb;
  --dimmer-color: #999;
  --dimmest-color: #777;
  --menu-bottom-border-color: #444;
  --login-popup-background: #181818;
  --content-background: #202020;
  --content-background-transparent: rgba(32, 32, 32, 0);
  --dim-background: #252525;
  --dim-background-transparent: rgba(37, 37, 37, 0);
  --text-background: #181818;
  --spoiler-border: #777;
  --background-even-background: #242424;
  --project-notice-text-color: #eee;
  --project-card-border-color: #333;
  --project-user-suggestions-background: #222;
  --project-user-suggestions-border-color: #444;
  --project-edit-logo-previw-border-color: #444;
  --project-edit-quota-bar-border-color: #444;
  --project-edit-quota-bar-filled-background: #888;
  --notice-unapproved-color: #7a2020;
  --notice-hidden-color: #494949;
  --notice-hiatus-color: #876327;
  --notice-dead-color: #7a2020;
  --notice-lts-color: #2a681d;
  --notice-lts-reqd-color: #876327;
  --optionbar-border-color: #333;
  --tab-background: #181818;
  --tab-border-color: #3f3f3f;
  --tab-button-background: #303030;
  --tab-button-background-hover: #383838;
  --tab-button-background-current: #181818;
  --form-check-background: #252527;
  --form-check-border-color: #666;
  --form-check-border-color-hover: #084068;
  --form-text-background: #181818;
  --form-text-background-active: #252527;
  --form-text-border-color: #444;
  --form-text-border-color-active: #084068;
  --form-button-color: #999;
  --form-button-color-active: #4c9ed9;
  --form-button-background: #383838;
  --form-button-background-active: #303840;
  --form-button-border-color: transparent;
  --form-button-inline-border-color: transparent;
  --landing-search-background: #282828;
  --landing-search-background-hover: #181818;
  --editor-toolbar-background: #282828;
  --editor-toolbar-border-color: #333;
  --editor-toolbar-button-background: 282828;
  --editor-toolbar-button-background-hover: #333;
  --editor-toolbar-button-border-color: #333;
  --post-blockquote-border-color: #555;
  --forum-even-background: #242424;
  --forum-thread-read-color: #777;
  --forum-thread-read-link-color: #999;
  --forum-post-author-color: #999;
  --forum-diff-source-background: #181818;
  --forum-diff-source-border-color: #444;
  --forum-diff-replace-background: #18283a;
  --forum-diff-replace-border-color: #223d5b;
  --forum-diff-delete-background: #3a1818;
  --forum-diff-delete-border-color: #6b1e1c;
  --forum-diff-insert-background: #233a18;
  --forum-diff-insert-border-color: #30591b;
  --card-background: #222;
  --card-background-hover: #282828;
  --irc-border-color: #333;
  --irc-tab-current-shadow: 0px 0px 5px #000 inset;
  --irc-tab-close-button-color: #bbb;
  --irc-tab-close-button-background: #444;
  --irc-nick-border-color: #444;
  --irc-users-color: #aaa;
  --irc-users-background: #181818;
  --irc-users-border-color: transparent;
  --irc-users-popout-background: #181818;
  --irc-users-popout-border-color-left: #444;
  --irc-users-popout-border-color-right: #333;
  --wiki-border-color: #444;
  --wiki-toc-number-color: #bbb;
  --code-line-number-color: #444;
  --library-star-btn-background: #252525;
  --library-star-btn-border-color: #bbb;
  --library-star-btn-a-border-color: #999;
  --library-star-btn-a-hover-background: #333; }
