/*
Modified Mohave font face for HMN. Has better kerning and spacing.
Not all font variants have been improved yet.
*/

@font-face {
    font-family: 'MohaveHMN';
    src: url('MohaveHMN-Regular.woff2') format('woff2'),
         url('MohaveHMN-Regular.woff') format('woff'),
         url('MohaveHMN-Regular.ttf') format('truetype'),
         url('MohaveHMN-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MohaveHMN';
    src: url('mohave-italic-webfont.woff2') format('woff2'),
         url('mohave-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'MohaveHMN';
    src: url('mohave-light-webfont.woff2') format('woff2'),
         url('mohave-light-webfont.woff') format('woff');
    font-weight: 100 300;
    font-style: normal;
}

@font-face {
    font-family: 'MohaveHMN';
    src: url('mohave-lightitalic-webfont.woff2') format('woff2'),
         url('mohave-lightitalic-webfont.woff') format('woff');
    font-weight: 100 300;
    font-style: italic;
}

@font-face {
    font-family: 'MohaveHMN';
    src: url('mohave-medium-webfont.woff2') format('woff2'),
         url('mohave-medium-webfont.woff') format('woff');
    font-weight: 500 600;
    font-style: normal;
}

@font-face {
    font-family: 'MohaveHMN';
    src: url('mohave-mediumitalic-webfont.woff2') format('woff2'),
         url('mohave-mediumitalic-webfont.woff') format('woff');
    font-weight: 500 600;
    font-style: italic;
}

@font-face {
    font-family: 'MohaveHMN';
    src: url('mohave-bold-webfont.woff2') format('woff2'),
         url('mohave-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'MohaveHMN';
    src: url('mohave-bolditalic-webfont.woff2') format('woff2'),
         url('mohave-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

/*
Original Mohave font face
*/

@font-face {
    font-family: 'Mohave';
    src: url('mohave-regular-webfont.woff2') format('woff2'),
         url('mohave-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mohave';
    src: url('mohave-italic-webfont.woff2') format('woff2'),
         url('mohave-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Mohave';
    src: url('mohave-light-webfont.woff2') format('woff2'),
         url('mohave-light-webfont.woff') format('woff');
    font-weight: 100 300;
    font-style: normal;
}

@font-face {
    font-family: 'Mohave';
    src: url('mohave-lightitalic-webfont.woff2') format('woff2'),
         url('mohave-lightitalic-webfont.woff') format('woff');
    font-weight: 100 300;
    font-style: italic;
}

@font-face {
    font-family: 'Mohave';
    src: url('mohave-medium-webfont.woff2') format('woff2'),
         url('mohave-medium-webfont.woff') format('woff');
    font-weight: 500 600;
    font-style: normal;
}

@font-face {
    font-family: 'Mohave';
    src: url('mohave-mediumitalic-webfont.woff2') format('woff2'),
         url('mohave-mediumitalic-webfont.woff') format('woff');
    font-weight: 500 600;
    font-style: italic;
}

@font-face {
    font-family: 'Mohave';
    src: url('mohave-bold-webfont.woff2') format('woff2'),
         url('mohave-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Mohave';
    src: url('mohave-bolditalic-webfont.woff2') format('woff2'),
         url('mohave-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
