package main

const RecvAddress = "admin@example.com"
const RecvName = "Admin"
const FromName = "From Name"
const FromAddress = "from@address.com"
const FromAddressPassword = "password"
const ServerAddress = "server.address"
const ServerPort = 587
