/*
 * Base colours:
 * background-color: #212121;
 * color: #F8F8F8;
 *
 * :hover
    background-color: #0F0F0F;
 *
 * .progress
    background-color: #252241;
    color: #FFF;
 *
 * .faded
    background-color: #181623;
 *
 *  border-color: #8EB08F;
 */

/* NAV */
.cineraNavDropdown.bitwise .cineraNavTitle,
.cineraNavHorizontal.bitwise li a,
.cineraNavHorizontal.bitwise li.current > a:hover,
.cineraNavPlain.bitwise a,
.cineraNavPlain.bitwise li.current > a:hover {
    color: #FFFFFF;
}

.cineraNavDropdown.bitwise .cineraNavTitle,
/* NOTE(matt): Dropdown Current (swap with Non-current, to taste) */
.cineraNavDropdown.bitwise .cineraNavHorizontal.bitwise li.current a,
.cineraNavDropdown.bitwise .cineraNavHorizontal.bitwise li.current a:hover,
/* */
.cineraNavHorizontal.bitwise li a {
    background-color: #161616;
}

/* Dropdown Non-current (swap with Current, to taste) */
.cineraNavDropdown.bitwise .cineraNavHorizontal.bitwise li a,
/* */
.cineraNavHorizontal.bitwise li.current a,
.cineraNavHorizontal.bitwise li.current a:hover {
    background-color: #000000;
}

.cineraNavDropdown.bitwise .cineraNavHorizontal.bitwise li a:hover,
.cineraNavHorizontal.bitwise li a:hover {
    background-color: #080808;
}

.cineraNavHorizontal.bitwise,
.cineraNavHorizontal.bitwise li a {
    border-color: #8EB08F;
}

.cineraNavHorizontal.bitwise li.current > ul > li:first-child > a,
.cineraNavHorizontal.bitwise li.current > ul > li:first-child > ul > li:first-child > a {
    border-left-color: #8EB08F;
}

.cineraNavHorizontal.bitwise li a:hover,
.cineraNavPlain.bitwise a:hover {
    color: #7ABDE8;
}

.cineraNavHorizontal.bitwise li.current a,
.cineraNavHorizontal.bitwise li.current a:hover {
    border-bottom-color: transparent;
}

.cineraNavHorizontal.bitwise li.current ul li a {
    border-bottom-color: transparent;
    border-left-color: transparent;
}
/* /NAV */

#cineraIndexControl.bitwise .cineraQueryContainer .inputContainer #query,
#cineraIndexControl.bitwise .cineraFilterProject,
#cineraResults .dayContainer.bitwise,
#cineraIndex .cineraIndexProject.bitwise .cineraIndexEntries div,

.cineraMenus.bitwise,
.cineraMenus.bitwise > .menu > div,
.cineraMenus.bitwise > .menu > .quotes_container .ref,
.cineraMenus.bitwise > .menu > .references_container .ref,
.cineraMenus.bitwise > .menu > .filter_container .filter_mode,
.cineraMenus.bitwise > .menu > .link_container #cineraLinkMode,
.cineraMenus.bitwise > .menu > .link_container #cineraLink,
.cineraMenus.bitwise > .menu > .credits_container .credit,
.cineraMenus.bitwise > .menu > .view,
.cineraMenus.bitwise > .menu > .views_container .view,
.cineraPlayerContainer .markers_container.bitwise,
.cineraPlayerContainer .markers_container.bitwise > .episodeMarker,
.cineraPlayerContainer .markers_container.bitwise > .markers .marker {
    background-color: #212121;
}

.cineraDefaultMediumIndicator {
    color: #FEF697;
}

#cineraIndexControl.bitwise .cineraQueryContainer .inputContainer #query:focus,
#cineraIndexControl.bitwise #cineraIndexSort,

.cineraIndexProject.bitwise .cineraProjectTitle,
#cineraResults .dayContainer:nth-child(2n).bitwise,
#cineraIndex .cineraIndexProject.bitwise .cineraIndexEntries div:nth-child(2n) {
    background-color: #1E1E1E;
}

#cineraResults .markerList.bitwise > .marker,

#cineraIndexControl.bitwise .cineraIndexFilter .filter_container,
.cineraMenus.bitwise,
.cineraMenus.bitwise > .menu > div,
.cineraMenus.bitwise > .menu > .quotes_container .ref,
.cineraMenus.bitwise > .menu > .references_container .ref,
.cineraMenus.bitwise > .menu > .filter_container .filter_mode,
.cineraMenus.bitwise > .menu > .link_container #cineraLinkMode,
.cineraMenus.bitwise > .menu > .link_container #cineraLink,
.cineraMenus.bitwise > .menu > .credits_container .credit,
.cineraPlayerContainer .markers_container.bitwise,
.cineraPlayerContainer .markers_container.bitwise > .episodeMarker,
.cineraPlayerContainer .markers_container.bitwise > .markers .marker {
    border-color: #8EB08F;
}

/* Default Text */
#cineraIndexControl.bitwise .cineraQueryContainer .inputContainer #query,
#cineraIndexControl.bitwise #cineraIndexSort,
#cineraIndexControl.bitwise .cineraFilterProject,

#cineraResults .dayContainer.bitwise > .dayName,
#cineraResults .markerList.bitwise > .marker,
.cineraIndexProject.bitwise .cineraProjectTitle,
#cineraIndex .cineraIndexProject.bitwise .cineraIndexEntries div a,

.cineraMenus.bitwise,
.cineraMenus.bitwise > .menu > .quotes_container .ref,
.cineraMenus.bitwise > .menu > .references_container .ref,
.cineraMenus.bitwise > .menu > .references_container .ref .timecode.focused:before,
.cineraMenus.bitwise > .menu > .filter_container .filter_content .cineraText,
.cineraMenus.bitwise > .menu > .link_container #cineraLink,
.cineraMenus.bitwise > .menu > .credits_container .credit .name,
.cineraPlayerContainer .markers_container.bitwise > .episodeMarker,
.cineraPlayerContainer .markers_container.bitwise > .markers .marker > .cineraContent,
.cineraPlayerContainer .markers_container.bitwise > .markers .marker > .cineraContent .categoryMedium {
    color: #F4F7FE;
}

/* Visited Indicator */
#cineraIndex .cineraIndexProject.bitwise .cineraIndexEntries div a::before {
    color: #212121;
}

#cineraIndex .cineraIndexProject.bitwise .cineraIndexEntries div:nth-child(2n) a::before {
    color: #1E1E1E;
}

#cineraIndex .cineraIndexProject.bitwise .cineraIndexEntries div a:visited::before {
    color: #33FF33;
}
/**/

/* NOTE(matt): Somehow use this to colour the "Default Medium" when .off */
#cineraIndexControl.bitwise .cineraFilterProject.off,
.cineraMenus.bitwise > .menu > .filter_container .filter_content.off .cineraText {
    color: #3A3936;
}

.cineraMenus.bitwise > .menu {
    transition: box-shadow 800ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: inset 0 0 0 #7ABDE8;
}

.cineraMenus.bitwise .menu.current {
    box-shadow: inset 0px 0px 30px #7ABDE8;
}

.cineraMenus.bitwise > .menu > .references_container .ref .ref_indices .timecode.focused,
.cineraPlayerContainer .markers_container.bitwise > .markers .marker.current > .cineraContent {
    color: #7ABDE8;
}

.cineraMenus.bitwise > .menu > .references_container .ref.current .ref_indices .timecode.focused {
    color: #37D341; /* Colour when hovering over the ref that is currently playing */
}

#cineraIndexControl.bitwise #cineraIndexSort:hover,
#cineraIndexControl.bitwise .cineraFilterProject.focused,
#cineraIndexControl.bitwise .cineraFilterProject.focused *,

#cineraResults .markerList.bitwise > .marker:hover,
#cineraIndex .cineraIndexProject.bitwise .cineraIndexEntries div:hover,

.cineraMenus.bitwise > .menu.visible,
.cineraMenus.bitwise > .menu > .quotes_container .ref.focused,
.cineraMenus.bitwise > .menu > .references_container .ref.focused,
.cineraMenus.bitwise > .menu > .filter_container .filter_mode:hover,
.cineraMenus.bitwise > .menu > .filter_container .filter_content.focused,
.cineraMenus.bitwise > .menu > .link_container #cineraLinkMode:hover,
.cineraMenus.bitwise > .menu > .link_container #cineraLink:hover,
.cineraMenus.bitwise > .menu > .credits_container .credit *.focused,
.cineraMenus.bitwise > .menu > .view:hover,
.cineraMenus.bitwise > .menu > .views_container .view:hover,
.cineraPlayerContainer .markers_container.bitwise > a.episodeMarker:hover,
.cineraPlayerContainer .markers_container.bitwise > .markers .marker:hover > .cineraContent {
    background-color: #0F0F0F;
}

.cineraMenus.bitwise > .menu > .references_container .ref.current .source,
.cineraMenus.bitwise > .menu > .references_container .ref.current .quote_byline,
.cineraMenus.bitwise > .menu > .references_container .ref.current .ref_indices .timecode.focused:before {
    color: #BBB; /* Colour of "site" when hovering over the ref that is currently playing */
}

#cineraResults .markerList.bitwise > .marker b,

.cineraMenus.bitwise > .menu > .references_container .ref.current,
.cineraPlayerContainer .markers_container.bitwise > .markers .marker > .progress .cineraContent,
.cineraPlayerContainer .markers_container.bitwise > .markers .marker > .progress .cineraContent .categoryMedium {
    background-color: #252241;
    color: #FFF;
}

.cineraPlayerContainer .markers_container.bitwise > .markers .marker:hover > .faded .cineraContent {
    background-color: #181623;
}

.cineraMenus.bitwise > .menu > .references_container .ref .source,
.cineraMenus.bitwise > .menu > .references_container .ref .quote_byline,
.cineraMenus.bitwise > .menu > .credits_container .credit .role {
    color: #EC608D;
}


/*
 * Custom Media
 *
 * base colour(s) == untinted
 * :hover == 64% opacity untinted background on default colours
 * .off == 16% opacity untinted on default colours
 * .progress == 64% opacity untinted on .progress colours
 * .faded == 64% opacity untinted on .faded colours
 *
 */


/* Run */

.cineraMenus.bitwise > .menu > .filter_container .filter_content.run,
.cineraPlayerContainer .markers_container.bitwise > .markers .marker.run > .cineraContent {
    background-color: #000;
}

.cineraMenus.bitwise > .menu > .filter_container .filter_content.focused.run,
.cineraPlayerContainer .markers_container.bitwise > .markers .marker:hover.run > .cineraContent {
    background-color: #0F0F0F;
}

.cineraMenus.bitwise > .menu > .filter_container .filter_content.run .cineraText,
.cineraPlayerContainer .markers_container.bitwise > .markers .marker.run > .cineraContent,
.cineraPlayerContainer .markers_container.bitwise > .markers .marker.run > .progress .cineraContent,
.cineraPlayerContainer .markers_container.bitwise > .markers .marker:hover.run > .faded .cineraContent {
    color: #37D341;
}

.cineraMenus.bitwise > .menu > .filter_container .filter_content.run.off .cineraText,
.cineraPlayerContainer .markers_container.bitwise > .markers .marker.off_run > .cineraContent {
    color: #345D35;
}

@keyframes bitwise_fade_mode {
    0% { color: #FFF; }
    100% { color: #F4F7FE; }
}

@keyframes bitwise_fade_text {
    0% { color: #F4F7FE; }
    100% { color: #EC608D; }
}

@keyframes bitwise_fade_background {
    0% { background-color: #8EB08F; }
    100% { background-color: #212121; }
}

/* TODO(matt): Get this to work! */
.cineraMenus.bitwise > .menu > .filter_container .filter_mode.responsible {
    animation-name: bitwise_fade_mode;
}

.cineraMenus.bitwise .filter_content.responsible .text {
    animation-name: bitwise_fade_text;
}

.cineraMenus.bitwise > .menu.filter.responsible,
.cineraMenus.bitwise .filter_content.responsible,
.cineraMenus.bitwise > .menu.link.responsible,
.cineraMenus.bitwise > .menu > .filter_container .filter_mode.responsible {
    animation-name: bitwise_fade_background;
}
