/*
 * Base colours:
 * background-color: #161616;
 * color: #8A877D;
 *
 * :hover
 *  background-color: #222;
 *
 * .progress
 *  background-color: #8B3D23;
 *  color: black;
 *
 * .faded
 *  background-color: #68311F;
 *
 *
 */

/* NAV */
.cineraNavDropdown.hero .cineraNavTitle,
.cineraNavHorizontal.hero li a,
.cineraNavHorizontal.hero li.current > a:hover,
.cineraNavPlain.hero a,
.cineraNavPlain.hero li.current > a:hover {
    color: #FFFFFF;
}

.cineraNavDropdown.hero .cineraNavTitle,
/* NOTE(matt): Dropdown Current (swap with Non-current, to taste) */
.cineraNavDropdown.hero .cineraNavHorizontal.hero li.current a,
.cineraNavDropdown.hero .cineraNavHorizontal.hero li.current a:hover,
/* */
.cineraNavHorizontal.hero li a {
    background-color: #161616;
}

/* Dropdown Non-current (swap with Current, to taste) */
.cineraNavDropdown.hero .cineraNavHorizontal.hero li a,
/* */
.cineraNavHorizontal.hero li.current a,
.cineraNavHorizontal.hero li.current a:hover {
    background-color: #000000;
}

.cineraNavDropdown.hero .cineraNavHorizontal.hero li a:hover,
.cineraNavHorizontal.hero li a:hover {
    background-color: #080808;
}

.cineraNavHorizontal.hero,
.cineraNavHorizontal.hero li a {
    border-color: #222222;
}

.cineraNavHorizontal.hero li.current > ul > li:first-child > a,
.cineraNavHorizontal.hero li.current > ul > li:first-child > ul > li:first-child > a {
    border-left-color: #222222;
}

.cineraNavHorizontal.hero li a:hover,
.cineraNavPlain.hero a:hover {
    color: #0471C5;
}

.cineraNavHorizontal.hero li.current a,
.cineraNavHorizontal.hero li.current a:hover {
    border-bottom-color: transparent;
}

.cineraNavHorizontal.hero li.current ul li a {
    border-bottom-color: transparent;
    border-left-color: transparent;
}
/* /NAV */

#cineraIndexControl.hero .cineraQueryContainer .inputContainer #query,
#cineraIndexControl.hero .cineraFilterProject,

#cineraResults .dayContainer.hero,
#cineraIndex .cineraIndexProject.hero .cineraIndexEntries div,

.cineraMenus.hero,
.cineraMenus.hero > .menu > div,
.cineraMenus.hero > .menu > .quotes_container .ref,
.cineraMenus.hero > .menu > .references_container .ref,
.cineraMenus.hero > .menu > .filter_container .filter_mode,
.cineraMenus.hero > .menu > .link_container #cineraLinkMode,
.cineraMenus.hero > .menu > .link_container #cineraLink,
.cineraMenus.hero > .menu > .credits_container .credit,
.cineraMenus.hero > .menu > .view,
.cineraMenus.hero > .menu > .views_container .view,
.cineraPlayerContainer .markers_container.hero,
.cineraPlayerContainer .markers_container.hero > .episodeMarker,
.cineraPlayerContainer .markers_container.hero > .markers .marker {
    background-color: #161616;
}

.cineraDefaultMediumIndicator {
    color: #FEF697;
}

#cineraIndexControl.hero .cineraQueryContainer .inputContainer #query:focus,
#cineraIndexControl.hero #cineraIndexSort,

.cineraIndexProject.hero .cineraProjectTitle,
#cineraResults .dayContainer:nth-child(2n).hero,
#cineraIndex .cineraIndexProject.hero .cineraIndexEntries div:nth-child(2n) {
    background-color: #303030;
}

#cineraResults .markerList.hero > .marker,

#cineraIndexControl.hero .cineraIndexFilter .filter_container,
.cineraMenus.hero,
.cineraMenus.hero > .menu > div,
.cineraMenus.hero > .menu > .quotes_container .ref,
.cineraMenus.hero > .menu > .references_container .ref,
.cineraMenus.hero > .menu > .filter_container .filter_mode,
.cineraMenus.hero > .menu > .link_container #cineraLinkMode,
.cineraMenus.hero > .menu > .link_container #cineraLink,
.cineraMenus.hero > .menu > .credits_container .credit,
.cineraPlayerContainer .markers_container.hero,
.cineraPlayerContainer .markers_container.hero > .episodeMarker,
.cineraPlayerContainer .markers_container.hero > .markers .marker {
    border-color: rgba(255, 255, 255, 0.1);
}

/* Default Text */
#cineraIndexControl.hero .cineraQueryContainer .inputContainer #query,
#cineraIndexControl.hero #cineraIndexSort,
#cineraIndexControl.hero .cineraFilterProject,

#cineraResults .dayContainer.hero > .dayName,
#cineraResults .markerList.hero > .marker,
.cineraIndexProject.hero .cineraProjectTitle,
#cineraIndex .cineraIndexProject.hero .cineraIndexEntries div a,

.cineraMenus.hero,
.cineraMenus.hero > .menu > .quotes_container .ref,
.cineraMenus.hero > .menu > .references_container .ref,
.cineraMenus.hero > .menu > .refs .ref .timecode.focused:before,
.cineraMenus.hero > .menu > .filter_container .filter_content .cineraText,
.cineraMenus.hero > .menu > .link_container #cineraLink,
.cineraMenus.hero > .menu > .credits_container .credit .name,
.cineraMenus.hero > .menu > .credits_container .credit,
.cineraPlayerContainer .markers_container.hero > .episodeMarker,
.cineraPlayerContainer .markers_container.hero > .markers .marker > .cineraContent {
    color: #8A877D;
}

/* Visited Indicator */
#cineraIndex .cineraIndexProject.hero .cineraIndexEntries div a::before {
    color: #161616;
}

#cineraIndex .cineraIndexProject.hero .cineraIndexEntries div:nth-child(2n) a::before {
    color: #303030;
}

#cineraIndex .cineraIndexProject.hero .cineraIndexEntries div a:visited::before {
    color: #33FF33;
}
/**/

/* NOTE(matt): Somehow use this to colour the "Default Medium" when .off */
.cineraMenus.hero > .menu > .filter_container .filter_content.off .cineraText {

    color: #3A3936;
}

.cineraMenus.hero > .menu {
    transition: box-shadow 800ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: inset 0 0 0 #B57714;
}

.cineraMenus.hero .menu.current {
    box-shadow: inset 0px 0px 30px #B57714;
}

.cineraMenus.hero > .menu > .refs .ref .ref_indices .timecode.focused,
.cineraPlayerContainer .markers_container.hero > .markers .marker.current > .cineraContent {
    color: #B57714;
}

.cineraMenus.hero > .menu > .refs .ref.current .ref_indices .timecode.focused {
    color: #FFF;
}

#cineraIndexControl.hero #cineraIndexSort:hover,
#cineraIndexControl.hero .cineraFilterProject.focused,
#cineraIndexControl.hero .cineraFilterProject.focused *,

#cineraResults .markerList.hero > .marker:hover,
#cineraIndex .cineraIndexProject.hero .cineraIndexEntries div:hover,

.cineraMenus.hero > .menu.visible,
.cineraMenus.hero > .menu > .quotes_container .ref.focused,
.cineraMenus.hero > .menu > .references_container .ref.focused,
.cineraMenus.hero > .menu > .filter_container .filter_mode:hover,
.cineraMenus.hero > .menu > .filter_container .filter_content.focused,
.cineraMenus.hero > .menu > .link_container #cineraLinkMode:hover,
.cineraMenus.hero > .menu > .link_container #cineraLink:hover,
.cineraMenus.hero > .menu > .credits_container .credit *.focused,
.cineraMenus.hero > .menu > .view:hover,
.cineraMenus.hero > .menu > .views_container .view:hover,
.cineraPlayerContainer .markers_container.hero > a.episodeMarker:hover,
.cineraPlayerContainer .markers_container.hero > .markers .marker:hover > .cineraContent {
    background-color: #222;
}

.cineraMenus.hero > .menu > .refs .ref.current .source,
.cineraMenus.hero > .menu > .refs .ref.current .quote_byline,
.cineraMenus.hero > .menu > .refs .ref.current .ref_indices .timecode.focused:before {
    color: #111;
}

#cineraResults .markerList.hero > .marker b,

.cineraMenus.hero > .menu > .refs .ref.current,
.cineraPlayerContainer .markers_container.hero > .markers .marker > .progress .cineraContent {
    background-color: #8B3D23;
    color: #000;
}

.cineraPlayerContainer .markers_container.hero > .markers .marker:hover > .faded .cineraContent {
    background-color: #68311F;
}

#cineraIndexControl.hero .cineraFilterProject.off,

.cineraMenus.hero > .menu > .refs .ref .source,
.cineraMenus.hero > .menu > .refs .ref .quote_byline,
.cineraMenus.hero > .menu > .credits_container .credit .role {
    color: #6B3E0B;
}


/*
 * Custom Media
 *
 * base colour(s) == untinted
 * :hover == 64% opacity untinted background on default colours
 * .off == 16% opacity untinted on default colours
 * .progress == 64% opacity untinted on .progress colours
 * .faded == 64% opacity untinted on .faded colours
 *
 */


/* Blackboard */

/*
 * Untinted colours:
 *
 * background: #000;
 * color: #D7BA82; (cream)
 *
 */

.cineraMenus.hero > .menu > .filter_container .filter_content.blackboard,
.cineraPlayerContainer .markers_container.hero > .markers .marker.blackboard > .cineraContent {
    background-color: #000;
}

.cineraMenus.hero > .menu > .filter_container .filter_content.blackboard > .cineraText,
.cineraPlayerContainer .markers_container.hero > .markers .marker.blackboard > .cineraContent {
    color: #D7BA82;
}

.cineraMenus.hero > .menu > .filter_container .filter_content.blackboard.off,
.cineraPlayerContainer .markers_container.hero > .markers .marker.off_blackboard > .cineraContent {
    background-color: #121212;
}

.cineraMenus.hero > .menu > .filter_container .filter_content.blackboard.off > .cineraText {
    color: #3A3936;
}

.cineraPlayerContainer .markers_container.hero > .markers .marker.off_blackboard > .cineraContent {
    color: #968F7D;
}

.cineraMenus.hero > .menu > .filter_container .filter_content.focused.blackboard,
.cineraPlayerContainer .markers_container.hero > .markers .marker:hover.blackboard > .cineraContent {
    background-color: #0C0C0C;
}

.cineraPlayerContainer .markers_container.hero > .markers .marker.blackboard > .progress .cineraContent {
    background-color: #32160C;
    color: #897653;
}

.cineraPlayerContainer .markers_container.hero > .markers .marker:hover.blackboard > .faded .cineraContent {
    background-color: #25110B;
    color: #AE885E;
}

/* Run */

/*
 * Untinted colours:
 *
 * box-shadow: #228B22; (green)
 * background-color: #6B4423; (brown)
 *
 */

.cineraMenus.hero > .menu > .filter_container .filter_content.run,
.cineraPlayerContainer .markers_container.hero > .markers .marker.run > .cineraContent {
    background-color: #31241A;
}

.cineraMenus.hero > .menu > .filter_container .filter_content.run {
    box-shadow: inset 0px 0px 4px #228B22;
}

.cineraPlayerContainer .markers_container.hero > .markers .marker.run > .cineraContent,
.cineraPlayerContainer .markers_container.hero > .markers .marker:hover.run > .cineraContent,
.cineraPlayerContainer .markers_container.hero > .markers .marker.run > .progress .cineraContent,
.cineraPlayerContainer .markers_container.hero > .markers .marker:hover.run > .faded .cineraContent {
    box-shadow: inset 0px 0px 12px #228B22;
}

.cineraMenus.hero > .menu > .filter_container .filter_content.focused.run,
.cineraPlayerContainer .markers_container.hero > .markers .marker:hover.run > .cineraContent {
    background-color: #392C22;
}

.cineraMenus.hero > .menu > .filter_container .filter_content.run.off,
.cineraPlayerContainer .markers_container.hero > .markers .marker.off_run > .cineraContent {
    background-color: #1C1917;
}

.cineraMenus.hero > .menu > .filter_container .filter_content.run.off {
    box-shadow: inset 0px 0px 4px #193B19;
}

.cineraPlayerContainer .markers_container.hero > .markers .marker.off_run > .cineraContent,
.cineraPlayerContainer .markers_container.hero > .markers .marker:hover.off_run > .cineraContent,
.cineraPlayerContainer .markers_container.hero > .markers .marker.off_run > .progress .cineraContent,
.cineraPlayerContainer .markers_container.hero > .markers .marker:hover.off_run > .faded .cineraContent {
    box-shadow: inset 0px 0px 12px #193B19;
}

.cineraPlayerContainer .markers_container.hero > .markers .marker.run > .progress .cineraContent {
    background-color: #803F23;
}

.cineraPlayerContainer .markers_container.hero > .markers .marker:hover.run > .faded .cineraContent {
    background-color: #683720;
}

@keyframes hero_fade_mode {
    0% { color: #000; }
    100% { color: #8A877D; }
}

@keyframes hero_fade_text {
    0% { color: #8A877D; }
    100% { color: #6B3E0B; }
}

@keyframes hero_fade_background {
    0% { background-color: #8B3D23; }
    100% { background-color: #161616; }
}

/* TODO(matt): Get this to work! */
.cineraMenus.hero > .menu > .filter_container .filter_mode.responsible {
    animation-name: hero_fade_mode;
}

.cineraMenus.hero .filter_content.responsible .text {
    animation-name: hero_fade_text;
}

.cineraMenus.hero > .menu.filter.responsible,
.cineraMenus.hero .filter_content.responsible,
.cineraMenus.hero > .menu.link.responsible,
.cineraMenus.hero > .menu > .filter_container .filter_mode.responsible {
    animation-name: hero_fade_background;
}
