.category.hardware { border: 1px solid hsl(284, 94%, 74%); background: hsl(284, 94%, 74%); }
.category.isa { border: 1px solid hsl(14, 88%, 74%); background: hsl(14, 88%, 74%); }
.category.operating-system { border: 1px solid hsl(44, 93%, 74%); background: hsl(44, 93%, 74%); }
.category.nullTopic { border: 1px solid transparent; background: transparent; }
.category.peripheral { border: 1px solid hsl(327, 92%, 74%); background: hsl(327, 92%, 74%); }
.category.security { border: 1px solid hsl(169, 84%, 74%); background: hsl(169, 84%, 74%); }
.category.language { border: 1px solid hsl(142, 84%, 74%); background: hsl(142, 84%, 74%); }
.category.memory { border: 1px solid hsl(111, 89%, 74%); background: hsl(111, 89%, 74%); }
.category.platform-layer { border: 1px solid hsl(160, 81%, 74%); background: hsl(160, 81%, 74%); }
.category.error-handling { border: 1px solid hsl(246, 88%, 74%); background: hsl(246, 88%, 74%); }
.category.asset-loading { border: 1px solid hsl(18, 76%, 74%); background: hsl(18, 76%, 74%); }
.category.file-io { border: 1px solid hsl(178, 80%, 74%); background: hsl(178, 80%, 74%); }
.category.parsing { border: 1px solid hsl(27, 79%, 74%); background: hsl(27, 79%, 74%); }
.category.string-manipulation { border: 1px solid hsl(16, 82%, 74%); background: hsl(16, 82%, 74%); }
.category.art { border: 1px solid hsl(157, 76%, 74%); background: hsl(157, 76%, 74%); }
.category.threading { border: 1px solid hsl(25, 97%, 74%); background: hsl(25, 97%, 74%); }
.category.rendering { border: 1px solid hsl(140, 79%, 74%); background: hsl(140, 79%, 74%); }
.category.mathematics { border: 1px solid hsl(9, 91%, 74%); background: hsl(9, 91%, 74%); }
.category.geometry { border: 1px solid hsl(355, 98%, 74%); background: hsl(355, 98%, 74%); }
.category.procedural-generation { border: 1px solid hsl(186, 87%, 74%); background: hsl(186, 87%, 74%); }
.category.graph-topology { border: 1px solid hsl(347, 94%, 74%); background: hsl(347, 94%, 74%); }
.category.asset-system { border: 1px solid hsl(233, 90%, 74%); background: hsl(233, 90%, 74%); }
.category.ui { border: 1px solid hsl(43, 94%, 74%); background: hsl(43, 94%, 74%); }
.category.file-format { border: 1px solid hsl(104, 87%, 74%); background: hsl(104, 87%, 74%); }
.category.api { border: 1px solid hsl(331, 85%, 74%); background: hsl(331, 85%, 74%); }
.category.lighting { border: 1px solid hsl(40, 76%, 74%); background: hsl(40, 76%, 74%); }
.category.debug-visualisation { border: 1px solid hsl(60, 86%, 74%); background: hsl(60, 86%, 74%); }
.category.entity-system { border: 1px solid hsl(275, 92%, 74%); background: hsl(275, 92%, 74%); }
.category.game-development { border: 1px solid hsl(58, 96%, 74%); background: hsl(58, 96%, 74%); }
.category.game-design { border: 1px solid hsl(162, 92%, 74%); background: hsl(162, 92%, 74%); }
.category.camera { border: 1px solid hsl(141, 89%, 74%); background: hsl(141, 89%, 74%); }
.category.debug-system { border: 1px solid hsl(233, 91%, 74%); background: hsl(233, 91%, 74%); }
.category.health { border: 1px solid hsl(328, 76%, 74%); background: hsl(328, 76%, 74%); }
.category.performance { border: 1px solid hsl(38, 93%, 74%); background: hsl(38, 93%, 74%); }
.category.hashing { border: 1px solid hsl(127, 87%, 74%); background: hsl(127, 87%, 74%); }
.category.data-structure { border: 1px solid hsl(290, 90%, 74%); background: hsl(290, 90%, 74%); }
.category.optimisation { border: 1px solid hsl(327, 86%, 74%); background: hsl(327, 86%, 74%); }
.category.prng { border: 1px solid hsl(13, 87%, 74%); background: hsl(13, 87%, 74%); }
.category.networking { border: 1px solid hsl(10, 94%, 74%); background: hsl(10, 94%, 74%); }
.category.game-engine { border: 1px solid hsl(104, 88%, 74%); background: hsl(104, 88%, 74%); }
.category.vcs { border: 1px solid hsl(229, 81%, 74%); background: hsl(229, 81%, 74%); }
.category.compression { border: 1px solid hsl(139, 99%, 74%); background: hsl(139, 99%, 74%); }
.category.combat { border: 1px solid hsl(328, 76%, 74%); background: hsl(328, 76%, 74%); }
.category.movement { border: 1px solid hsl(341, 97%, 74%); background: hsl(341, 97%, 74%); }
.category.collision { border: 1px solid hsl(342, 93%, 74%); background: hsl(342, 93%, 74%); }
.category.physics { border: 1px solid hsl(242, 94%, 74%); background: hsl(242, 94%, 74%); }
.category.gameplay { border: 1px solid hsl(314, 96%, 74%); background: hsl(314, 96%, 74%); }
.category.hot-reloading { border: 1px solid hsl(45, 78%, 74%); background: hsl(45, 78%, 74%); }
.category.pathfinding { border: 1px solid hsl(314, 87%, 74%); background: hsl(314, 87%, 74%); }
.category.ai { border: 1px solid hsl(115, 74%, 74%); background: hsl(115, 74%, 74%); }
.category.statistics { border: 1px solid hsl(54, 97%, 74%); background: hsl(54, 97%, 74%); }
.category.sorting { border: 1px solid hsl(285, 97%, 74%); background: hsl(285, 97%, 74%); }
.category.asm { border: 1px solid hsl(71, 92%, 74%); background: hsl(71, 92%, 74%); }
.category.mesh-building { border: 1px solid hsl(334, 99%, 74%); background: hsl(334, 99%, 74%); }
.category.input-handling { border: 1px solid hsl(335, 94%, 74%); background: hsl(335, 94%, 74%); }
.category.animation { border: 1px solid hsl(170, 81%, 74%); background: hsl(170, 81%, 74%); }
.category.profiling { border: 1px solid hsl(314, 91%, 74%); background: hsl(314, 91%, 74%); }
.category.simulation { border: 1px solid hsl(328, 91%, 74%); background: hsl(328, 91%, 74%); }
.category.font { border: 1px solid hsl(13, 87%, 74%); background: hsl(13, 87%, 74%); }
.category.audio { border: 1px solid hsl(287, 77%, 74%); background: hsl(287, 77%, 74%); }
.category.simd { border: 1px solid hsl(229, 77%, 74%); background: hsl(229, 77%, 74%); }
.category.vr { border: 1px solid hsl(186, 78%, 74%); background: hsl(186, 78%, 74%); }
.category.input-recording { border: 1px solid hsl(304, 87%, 74%); background: hsl(304, 87%, 74%); }
.category.sampling { border: 1px solid hsl(113, 81%, 74%); background: hsl(113, 81%, 74%); }
.category.caching { border: 1px solid hsl(184, 92%, 74%); background: hsl(184, 92%, 74%); }
.category.numeral-system { border: 1px solid hsl(131, 78%, 74%); background: hsl(131, 78%, 74%); }
.category.metaprogramming { border: 1px solid hsl(65, 81%, 74%); background: hsl(65, 81%, 74%); }
.category.story { border: 1px solid hsl(242, 98%, 74%); background: hsl(242, 98%, 74%); }
.category.library { border: 1px solid hsl(40, 80%, 74%); background: hsl(40, 80%, 74%); }
.category.codec { border: 1px solid hsl(357, 83%, 74%); background: hsl(357, 83%, 74%); }
.category.documentation { border: 1px solid hsl(225, 75%, 74%); background: hsl(225, 75%, 74%); }
.category.undo---redo { border: 1px solid hsl(4, 84%, 74%); background: hsl(4, 84%, 74%); }
.category.particle-system { border: 1px solid hsl(116, 99%, 74%); background: hsl(116, 99%, 74%); }
.category.biology { border: 1px solid hsl(40, 80%, 74%); background: hsl(40, 80%, 74%); }
.category.statistic { border: 1px solid hsl(155, 83%, 74%); background: hsl(155, 83%, 74%); }
.category.database { border: 1px solid hsl(286, 95%, 74%); background: hsl(286, 95%, 74%); }
.category.driver { border: 1px solid hsl(285, 76%, 74%); background: hsl(285, 76%, 74%); }
.category.fluid-simulation { border: 1px solid hsl(104, 98%, 74%); background: hsl(104, 98%, 74%); }
.category.filtering { border: 1px solid hsl(227, 85%, 74%); background: hsl(227, 85%, 74%); }
.category.engine { border: 1px solid hsl(329, 76%, 74%); background: hsl(329, 76%, 74%); }
.category.ipc { border: 1px solid hsl(359, 87%, 74%); background: hsl(359, 87%, 74%); }
.category.timing { border: 1px solid hsl(228, 94%, 74%); background: hsl(228, 94%, 74%); }
.category.meteorology { border: 1px solid hsl(195, 77%, 74%); background: hsl(195, 77%, 74%); }
.category.file-system { border: 1px solid hsl(147, 89%, 74%); background: hsl(147, 89%, 74%); }
.category.modding { border: 1px solid hsl(127, 87%, 74%); background: hsl(127, 87%, 74%); }
.category.platform { border: 1px solid hsl(256, 91%, 74%); background: hsl(256, 91%, 74%); }
.category.abi { border: 1px solid hsl(129, 97%, 74%); background: hsl(129, 97%, 74%); }
.category.dsp { border: 1px solid hsl(158, 76%, 74%); background: hsl(158, 76%, 74%); }
.category.emulation { border: 1px solid hsl(11, 95%, 74%); background: hsl(11, 95%, 74%); }
.category.save---load { border: 1px solid hsl(120, 93%, 74%); background: hsl(120, 93%, 74%); }
.category.searching { border: 1px solid hsl(356, 95%, 74%); background: hsl(356, 95%, 74%); }
.category.machine-learning { border: 1px solid hsl(73, 94%, 74%); background: hsl(73, 94%, 74%); }
.category.window-management { border: 1px solid hsl(29, 89%, 74%); background: hsl(29, 89%, 74%); }
.category.currency { border: 1px solid hsl(341, 97%, 74%); background: hsl(341, 97%, 74%); }
.category.measurement { border: 1px solid hsl(326, 87%, 74%); background: hsl(326, 87%, 74%); }
.category.swear { border: 1px solid hsl(156, 93%, 74%); background: hsl(156, 93%, 74%); }
.category.education { border: 1px solid hsl(112, 77%, 74%); background: hsl(112, 77%, 74%); }
.category.law { border: 1px solid hsl(114, 95%, 74%); background: hsl(114, 95%, 74%); }
.category.economics { border: 1px solid hsl(168, 81%, 74%); background: hsl(168, 81%, 74%); }
.category.psychology { border: 1px solid hsl(139, 77%, 74%); background: hsl(139, 77%, 74%); }
.category.web-development { border: 1px solid hsl(130, 75%, 74%); background: hsl(130, 75%, 74%); }
.category.encryption { border: 1px solid hsl(53, 97%, 74%); background: hsl(53, 97%, 74%); }
.category.fabrication { border: 1px solid hsl(169, 77%, 74%); background: hsl(169, 77%, 74%); }
.category.firmware { border: 1px solid hsl(140, 83%, 74%); background: hsl(140, 83%, 74%); }
.category.skinning { border: 1px solid hsl(200, 87%, 74%); background: hsl(200, 87%, 74%); }
.category.scheduling { border: 1px solid hsl(241, 86%, 74%); background: hsl(241, 86%, 74%); }
.category.math { border: 1px solid hsl(185, 74%, 74%); background: hsl(185, 74%, 74%); }
.category.engineering { border: 1px solid hsl(298, 86%, 74%); background: hsl(298, 86%, 74%); }
.category.logic-design { border: 1px solid hsl(75, 81%, 74%); background: hsl(75, 81%, 74%); }
.category.compilation { border: 1px solid hsl(226, 80%, 74%); background: hsl(226, 80%, 74%); }
.category.code-generation { border: 1px solid hsl(116, 75%, 74%); background: hsl(116, 75%, 74%); }
.category.booting { border: 1px solid hsl(357, 77%, 74%); background: hsl(357, 77%, 74%); }
.category.circuitry { border: 1px solid hsl(240, 89%, 74%); background: hsl(240, 89%, 74%); }
.category.maths { border: 1px solid hsl(84, 88%, 74%); background: hsl(84, 88%, 74%); }
.category.sequential-logic { border: 1px solid hsl(232, 82%, 74%); background: hsl(232, 82%, 74%); }
.category.hardware-design { border: 1px solid hsl(131, 76%, 74%); background: hsl(131, 76%, 74%); }
.category.circuit-design { border: 1px solid hsl(218, 86%, 74%); background: hsl(218, 86%, 74%); }
.category.cryptocurrency { border: 1px solid hsl(208, 94%, 74%); background: hsl(208, 94%, 74%); }
.category.food { border: 1px solid hsl(157, 98%, 74%); background: hsl(157, 98%, 74%); }
.category.cookery { border: 1px solid hsl(140, 87%, 74%); background: hsl(140, 87%, 74%); }
