/*
 * Base colours:
 * background-color: #EEEEEE;
 * color: #000000;
 *
 * :hover
 *  background-color: #FFF8E7;
 *
 * .progress
    background-color: rgb(42, 49, 114); / #2A3172
    color: #FFFFFF;
 *
 * .faded
    background-color: rgba(42, 49, 114, 0.7);
 *
 *
 */

/* NAV */
.cineraNavDropdown.riscy .cineraNavTitle,
.cineraNavHorizontal.riscy li a,
.cineraNavHorizontal.riscy li.current > a:hover,
.cineraNavPlain.riscy a,
.cineraNavPlain.riscy li.current > a:hover {
    color: #2A3172;
}

.cineraNavDropdown.riscy .cineraNavTitle,
/* NOTE(matt): Dropdown Current (swap with Non-current, to taste) */
.cineraNavDropdown.riscy .cineraNavHorizontal.riscy li.current a,
.cineraNavDropdown.riscy .cineraNavHorizontal.riscy li.current a:hover,
/* */
.cineraNavHorizontal.riscy li a {
    background-color: #FFF8E7;
}

/* Dropdown Non-current (swap with Current, to taste) */
.cineraNavDropdown.riscy .cineraNavHorizontal.riscy li a,
/* */
.cineraNavHorizontal.riscy li.current a,
.cineraNavHorizontal.riscy li.current a:hover {
    background-color: #FFFFFF;
}

.cineraNavDropdown.riscy .cineraNavHorizontal.riscy li a:hover,
.cineraNavHorizontal.riscy li a:hover {
    background-color: #FFFCF3;
}

.cineraNavHorizontal.riscy,
.cineraNavHorizontal.riscy li a {
    border-color: #F6B21A;
}

.cineraNavHorizontal.riscy li.current > ul > li:first-child > a,
.cineraNavHorizontal.riscy li.current > ul > li:first-child > ul > li:first-child > a {
    border-left-color: #F6B21A;
}

.cineraNavHorizontal.riscy li a:hover,
.cineraNavPlain.riscy a:hover {
    color: #F6B21A;
}

.cineraNavHorizontal.riscy li.current a,
.cineraNavHorizontal.riscy li.current a:hover {
    border-bottom-color: transparent;
}

.cineraNavHorizontal.riscy li.current ul li a {
    border-bottom-color: transparent;
    border-left-color: transparent;
}
/* /NAV */

#cineraIndexControl.riscy .cineraQueryContainer .inputContainer #query,
#cineraIndexControl.riscy .cineraFilterProject,

#cineraResults .dayContainer.riscy,
#cineraIndex .cineraIndexProject.riscy .cineraIndexEntries div,

.cineraMenus.riscy,
.cineraMenus.riscy > .menu > div,
.cineraMenus.riscy > .menu > .quotes_container .ref,
.cineraMenus.riscy > .menu > .references_container .ref,
.cineraMenus.riscy > .menu > .filter_container .filter_mode,
.cineraMenus.riscy > .menu > .link_container #cineraLinkMode,
.cineraMenus.riscy > .menu > .link_container #cineraLink,
.cineraMenus.riscy > .menu > .credits_container .credit,
.cineraMenus.riscy > .menu > .view,
.cineraMenus.riscy > .menu > .views_container .view,
.cineraPlayerContainer .markers_container.riscy,
.cineraPlayerContainer .markers_container.riscy > .episodeMarker,
.cineraPlayerContainer .markers_container.riscy > .markers .marker {
    background-color: #EEEEEE;
}

.cineraDefaultMediumIndicator {
    color: #FF9933;
}

#cineraIndexControl.riscy .cineraQueryContainer .inputContainer #query:focus,
#cineraIndexControl.riscy #cineraIndexSort,

.cineraIndexProject.riscy .cineraProjectTitle,
#cineraResults .dayContainer:nth-child(2n).riscy,
#cineraIndex .cineraIndexProject.riscy .cineraIndexEntries div:nth-child(2n) {
    background-color: #FFFFFF;
}

#cineraResults .markerList.riscy > .marker,

#cineraIndexControl.riscy .cineraIndexFilter .filter_container,
.cineraMenus.riscy,
.cineraMenus.riscy > .menu > div,
.cineraMenus.riscy > .menu > .quotes_container .ref,
.cineraMenus.riscy > .menu > .references_container .ref,
.cineraMenus.riscy > .menu > .filter_container .filter_mode,
.cineraMenus.riscy > .menu > .link_container #cineraLinkMode,
.cineraMenus.riscy > .menu > .link_container #cineraLink,
.cineraMenus.riscy > .menu > .credits_container .credit,
.cineraPlayerContainer .markers_container.riscy,
.cineraPlayerContainer .markers_container.riscy > .episodeMarker,
.cineraPlayerContainer .markers_container.riscy > .markers .marker {
    border-color: rgba(246, 178, 26, 0.8);
}

/* Default Text */
#cineraIndexControl.riscy .cineraQueryContainer .inputContainer #query,
#cineraIndexControl.riscy #cineraIndexSort,
#cineraIndexControl.riscy .cineraFilterProject,

#cineraResults .dayContainer.riscy > .dayName,
#cineraResults .markerList.riscy > .marker,
.cineraIndexProject.riscy .cineraProjectTitle,
#cineraIndex .cineraIndexProject.riscy .cineraIndexEntries div a,

.cineraMenus.riscy,
.cineraMenus.riscy > .menu > .quotes_container .ref,
.cineraMenus.riscy > .menu > .references_container .ref,
.cineraMenus.riscy > .menu > .refs .ref .timecode.focused:before,
.cineraMenus.riscy > .menu > .filter_container .filter_content .cineraText,
.cineraMenus.riscy > .menu > .link_container #cineraLink,
.cineraMenus.riscy > .menu > .credits_container .credit .name,
.cineraPlayerContainer .markers_container.riscy > .episodeMarker,
.cineraPlayerContainer .markers_container.riscy > .markers .marker > .cineraContent,
.cineraPlayerContainer .markers_container.riscy > .markers .marker > .cineraContent .categoryMedium {
    color: #000000;
}

/* Visited Indicator */
#cineraIndex .cineraIndexProject.riscy .cineraIndexEntries div a::before {
    color: #EEEEEE;
}

#cineraIndex .cineraIndexProject.riscy .cineraIndexEntries div:nth-child(2n) a::before {
    color: #FFFFFF;
}

#cineraIndex .cineraIndexProject.riscy .cineraIndexEntries div a:visited::before {
    color: #33BB33;
}
/**/


.cineraMenus.riscy > .menu {
    transition: box-shadow 800ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: inset 0 0 0 #2A3172;
}

.cineraMenus.riscy > .menu.current {
    box-shadow: inset 0px 0px 30px #2A3172;
}

.cineraMenus.riscy > .menu > .refs .ref .ref_indices .timecode.focused,
.cineraPlayerContainer .markers_container.riscy > .markers .marker.current > .cineraContent {
    color: #2A3172;
}

.cineraMenus.riscy > .menu > .refs .ref.current .ref_indices .timecode.focused {
    color: rgb(246, 178, 26);
}

#cineraIndexControl.riscy #cineraIndexSort:hover,
#cineraIndexControl.riscy .cineraFilterProject.focused,
#cineraIndexControl.riscy .cineraFilterProject.focused *,

#cineraResults .markerList.riscy > .marker:hover,
#cineraIndex .cineraIndexProject.riscy .cineraIndexEntries div:hover,

.cineraMenus.riscy > .menu.visible,
.cineraMenus.riscy > .menu > .quotes_container .ref.focused,
.cineraMenus.riscy > .menu > .references_container .ref.focused,
.cineraMenus.riscy > .menu > .filter_container .filter_mode:hover,
.cineraMenus.riscy > .menu > .filter_container .filter_content.focused,
.cineraMenus.riscy > .menu > .link_container #cineraLinkMode:hover,
.cineraMenus.riscy > .menu > .link_container #cineraLink:hover,
.cineraMenus.riscy > .menu > .credits_container .credit *.focused,
.cineraMenus.riscy > .menu > .view:hover,
.cineraMenus.riscy > .menu > .views_container .view:hover,
.cineraPlayerContainer .markers_container.riscy > a.episodeMarker:hover,
.cineraPlayerContainer .markers_container.riscy > .markers .marker:hover > .cineraContent {
    background-color: #FFF8E7;
}

.cineraMenus.riscy > .menu > .refs .ref.current .source,
.cineraMenus.riscy > .menu > .refs .ref.current .quote_byline,
.cineraMenus.riscy > .menu > .refs .ref.current .ref_indices .timecode.focused:before {
    color: #FFF8E7;
}

#cineraResults .markerList.riscy > .marker b,

.cineraMenus.riscy > .menu > .refs .ref.current,
/*.cineraMenus.riscy > .menu > .refs .ref.current .timecode:hover:before,*/
.cineraPlayerContainer .markers_container.riscy > .markers .marker > .progress .cineraContent,
.cineraPlayerContainer .markers_container.riscy > .markers .marker > .progress .cineraContent .categoryMedium {
    background-color: rgb(42, 49, 114);
    color: #FFFFFF;
}

/*.cineraMenus.riscy > .menu > .refs .ref.current:hover,*/
.cineraPlayerContainer .markers_container.riscy > .markers .marker:hover > .faded .cineraContent {
    background-color: rgba(42, 49, 114, 0.7);
}

#cineraIndexControl.riscy .cineraFilterProject.off,

.cineraMenus.riscy > .menu > .refs .ref .source,
.cineraMenus.riscy > .menu > .refs .ref .quote_byline,
.cineraMenus.riscy > .menu > .filter_container .filter_content.off .cineraText,
.cineraMenus.riscy > .menu > .credits_container .credit .role {
    color: #888;
}

/* Blackboard */
.cineraMenus.riscy .filter_content.blackboard,
.cineraPlayerContainer .markers_container.riscy .blackboard > .cineraContent,
.cineraPlayerContainer .markers_container.riscy .off_blackboard > .cineraContent,
.cineraPlayerContainer .markers_container.riscy > .markers .marker.blackboard > .progress .cineraContent,
.cineraPlayerContainer .markers_container.riscy > .markers .marker:hover.blackboard > .faded .cineraContent {
    background-size: 12px 12px;
    background-position: center;
}

.cineraMenus.riscy .filter_content.blackboard,
.cineraPlayerContainer .markers_container.riscy .blackboard > .cineraContent {
    background-image: linear-gradient(to right , rgba(51, 153, 255, .16) 1px, transparent 1px),
                      linear-gradient(to bottom, rgba(51, 153, 255, .16) 1px, transparent 1px);
}

.cineraPlayerContainer .markers_container.riscy .off_blackboard > .cineraContent {
    background-image: linear-gradient(to right , rgba(51, 153, 255, .08) 1px, transparent 1px),
                      linear-gradient(to bottom, rgba(51, 153, 255, .08) 1px, transparent 1px);
}

.cineraPlayerContainer .markers_container.riscy > .markers .marker.blackboard > .progress .cineraContent {
    background-image: linear-gradient(to right , rgba(255, 255, 255, .16) 1px, transparent 1px),
                      linear-gradient(to bottom, rgba(255, 255, 255, .16) 1px, transparent 1px);
}

.cineraPlayerContainer .markers_container.riscy > .markers .marker:hover.blackboard > .faded .cineraContent {
    background-image: linear-gradient(to right , rgba(0, 0, 0, .16) 1px, transparent 1px),
                      linear-gradient(to bottom, rgba(0, 0, 0, .16) 1px, transparent 1px);
}

/* TODO(matt):
 *
 * .cineraPlayerContainer .markers_container.riscy > marker.run
 */

@keyframes riscy_fade_mode {
    0% { color: #FFFFFF; }
    100% { color: #000000; }
}

@keyframes riscy_fade_text {
    0% { color: #000000; }
    100% { color: #888; }
}

@keyframes riscy_fade_background {
    0% { background-color: rgba(246, 178, 26, 0.8);}
    100% { background-color: #EEEEEE; }
}

/* TODO(matt): Get this to work! */
.cineraMenus.riscy > .menu > .filter_container .filter_mode.responsible {
    animation-name: riscy_fade_mode;
}

.cineraMenus.riscy .filter_content.responsible .text {
    animation-name: riscy_fade_text;
}

.cineraMenus.riscy > .menu.filter.responsible,
.cineraMenus.riscy .filter_content.responsible,
.cineraMenus.riscy > .menu.link.responsible,
.cineraMenus.riscy > .menu > .filter_container .filter_mode.responsible {
    animation-name: riscy_fade_background;
}
