/* Generic Navigation */

/* Generic Navigation end */

/* Structure */
/* Horizontal */
ul.cineraNavHorizontal,
ul.cineraNavHorizontal ul {
    display: flex;
    flex-grow: 1;
    flex-flow: row wrap;
    border: 0;
    margin: 0;
    padding: 0;
}

ul.cineraNavHorizontal li {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

ul.cineraNavHorizontal {
    border-right: 1px solid;
}

ul.cineraNavHorizontal a {
    flex-grow: 1;
    padding: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-left: 1px solid;
    border-bottom: 1px solid;
}
/* Horizontal end */

/* Dropdown */
nav.cineraNavDropdown {
    display: flex;
    flex-direction: column;
}

nav.cineraNavDropdown .cineraNavTitle {
    text-align: center;
    padding: 8px 0;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.cineraPositioner {
    position: relative;
}

nav.cineraNavDropdown ul.cineraNavHorizontal {
    display: none;
    width: 100%;
    z-index: 8;
    position: absolute;
}

nav.cineraNavDropdown ul.cineraNavHorizontal.visible {
    display: flex;
}
/* Dropdown end */

/* Structure end */

/* Typography */
ul.cineraNavHorizontal a,
ul.cineraNavPlain a {
    text-decoration: none;
}

/* Plain */
ul.cineraNavPlain li.current > a {
    font-weight: bold;
}
/* Plain end */
/* Typography end */


/* Index */

#cineraIndexControl {
    display: flex;
    margin: 16px auto;
    max-width: 1024px;
    align-items: center;
    padding: 8px;
}

.cineraFilterProject .cineraText,
.cineraProjectTitle
{
    display: flex;
}

.cineraIndexFilter {
    padding: 10px;
}

.cineraIndexFilter .filter_container
{
    display: none;
    position: absolute;
    z-index: 64;
}

.cineraFilterProject,
.cineraIndexProject > .cineraIndexProject {
    padding-left: 1em;
}

.cineraIndexProject {
    margin-top: 4px;
}

.cineraIndexProject .cineraProjectTitle,
.cineraFilterProject
{
    font-weight: bold;
    font-size: 12px;
}

.cineraQueryContainer {
    flex-grow: 1;
    padding-left: 16px;
    display: flex;
    flex-direction: horizontal;
    margin: auto;
}

.cineraQueryContainer label {
    flex-grow: 0;
    flex-shrink: 0;
    margin: auto;
}

.cineraQueryContainer .inputContainer {
    flex-grow: 1;
    position: relative;
}

.cineraQueryContainer #query {
    width: 100%;
}

.cineraQueryContainer .inputContainer .spinner {
    position: absolute;
    top: 2px;
    right: 5px;
    color: black;
    height: 100%;
    display: none;
}

.cineraQueryContainer .inputContainer .spinner.show {
    display: block;
}

#cineraResults,
#cineraIndex {
    margin: 0 auto;
    max-width: 800px;
}

#cineraResults .projectContainer {
    display: flex;
    flex-flow: column;
}

#cineraIndexControl #cineraIndexSort {
    padding: 4px;
}

#cineraIndexControl #cineraIndexSort,
#cineraIndexControl .cineraIndexFilter .filter_container {
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#cineraIndex .cineraIndexEntries {
    display: flex;
    flex-flow: column;
    width: 100%;
}

#cineraResults .dayContainer {
    display: flex;
}

#cineraResults .dayContainer .dayName {
    box-sizing: border-box;
    display: block;
    flex-shrink: 0;
    font-size: 12px;
    line-height: 16px;
    padding: 5px;
    vertical-align: top;
    width: 200px;
}

.cineraIndexEntries div a {
    display: block;
    padding: 5px;
    text-decoration: none;
}

.cineraIndexEntries div a::before {
    content: "\2713";
    margin: 0 4px;
}

#cineraResults .dayContainer .markerList {
    box-sizing: border-box;
    display: block;
    flex-grow: 1;
    max-width: 600px;
    vertical-align: top;
}

#cineraResults .dayContainer .markerList > .marker {
    border-top: 1px solid;
    cursor: pointer;
    display: block;
    padding: 10px 5px;
    text-decoration: none;
}

#cineraResults .dayContainer .markerList > .marker:first-child {
    border: none;
}

#cineraResultsSummary {
    margin: 10px 0;
    text-align: center;
    display: none;
}

@media (max-width: 720px), (max-height: 512px)
{
    #cineraIndexControl {
        margin: 4px auto;
    }

    #cineraIndexControl,
    #cineraResultsSummary {
        font-size: 64%;
    }

    #cineraResults .dayContainer {
        flex-direction: column;
    }

    #cineraResults .dayContainer .dayName {
        font-weight: bold;
        text-align: center;
        width: 100%;
    }

    #cineraResults .dayContainer .markerList {
        max-width: 100%;
    }

    .cineraIndexEntries div a {
        font-size: 80%;
    }
}

/* Player */

/* Player / Structure */

.cineraMenus,
.cineraMenus > .menu > .refs .ref,
.cineraMenus > .menu > .credits_container .credit {
    border-bottom: 1px solid;
    display: flex;
    text-decoration: none;
}

.cineraMenus > *:not(.views),
.cineraMenus > .menu > .refs .ref,
.cineraMenus > .menu > .view,
.cineraMenus > .menu > .views_container .view,
.cineraMenus > .menu > .credits_container .credit .person {
    padding: 10px;
}

.cineraMenus .episode_name {
    flex: 1;
}

.cineraMenus > .menu {
    position: relative;
    align-self: center;
}

.cineraMenus > .menu.filter.responsible,
.cineraMenus > .menu.link.responsible,
.cineraMenus .filter_content.responsible,
.cineraMenus .filter_content.responsible .cineraText,
.cineraMenus > .menu > .filter_container .filter_mode.responsible {
    animation-duration: 8s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}

.cineraMenus .help .help_container .help_key {
    font-family: Inconsolata;
    font-size: 16px;
    border: 1px solid;
    display: inline-block;
    background-color: #111; /* Per project */
    border-radius: 4px;
    height: 16px;
    width: 16px;
    padding: 4px;
    line-height: 16px;
    margin: 2px;
}

.cineraMenus .help .help_container .help_key.word {
    width: auto;
}

.cineraMenus .help .help_container .help_key.modifer {
    margin-right: 0;
}

.cineraMenus .help .help_container .help_key.unavailable,
.cineraMenus .help .help_container .help_text.unavailable,
.cineraMenus .help .help_container h2 .unavailable {
    opacity: 0.32;
}

.cineraMenus .help .help_container .key_block {
    display: inline-flex;
    align-items: flex-end;
    flex-direction: row;
    margin: 8px;
}

.cineraMenus .help .help_container .help_text {
    margin: 0 8px 0 2px;
}


.cineraMenus .help .help_container h1 {
    display: inline;
    margin-left: 4px;
}

.cineraMenus .help .help_container h1:after {
    content: "\a";
}


.cineraMenus .help .help_container h2 {
    font-size: 16px;
    margin-bottom: 8px;
}

.cineraMenus .help .help_container .help_paragraph {
    display: inline-flex;
    align-items: center;
}

.cineraMenus > .help {
    cursor: pointer;
    border: 1px solid;
    border-radius: 4px;
    height: 6px;
    padding: 4px;
    width: 6px;
    margin: 2px;
    font-size: 12px;
    font-weight: bold;
    line-height: 6px;
    text-align: center;
    z-index: 64;
}

.cineraMenus .help .help_container .help_grid {
    display: inline-flex;
    flex-direction: column;
}

.cineraMenus .help .help_container {
    background-color: black; /* Per project */
    color: #EEE; /* Per project */
    display: none;
    font-weight: normal;
    line-height: 12px;
    opacity: 0.9;
    padding: 8px;
    position: fixed;
    right: 612px;
    top: 42px;
}

.cineraMenus .help .help_container.visible {
    display: block;
}

#cineraIndexControl .cineraIndexFilter .filter_container
{
    border: 1px solid;
    border-top: none;
}

.cineraMenus > .menu .quotes_container,
.cineraMenus > .menu .references_container,
.cineraMenus > .menu .filter_container,
.cineraMenus > .menu .views_container,
.cineraMenus > .menu .link_container,
.cineraMenus > .menu .credits_container {
    border: 1px solid;
    border-top: none;
    display: none;
    /* TODO(matt): Set the height to the player's height */
    max-height: 512px;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1;
}

.cineraMenus > .menu .refs,
.cineraMenus > .menu .link_container {
    width: 350px;
}

.cineraMenus > .menu .link_container {
    overflow-x: hidden;
}

.cineraMenus > .menu .filter_container {
    min-width: 350px;
}

.cineraMenus > .menu .credits_container {
    min-width: 240px;
}

.cineraMenus > .menu .visible {
    display: block;
}

.cineraMenus > .menu > .refs .ref {
    flex-direction: column;
}

.cineraMenus > .menu {
    cursor: default;
}

.cineraMenus > .menu > .view,
.cineraMenus > .menu > .views_container .view {
    cursor: pointer;
}

.cineraMenus > .menu > .credits_container .credit .person {
    flex-grow: 1;
    text-decoration: none;
}

.cineraMenus > .menu > .credits_container .credit .support {
    padding: 16px;
}

.cineraMenus > .menu > .refs .ref:last-child,
.cineraMenus > .menu > .credits_container .credit:last-child {
    border: none;
}

.cineraMenus > .menu > .refs .ref .timecode,
.cineraMenus > .menu > .filter_container .filter_mode,
.cineraMenus > .menu > .link_container #cineraLinkMode {
    font-size: 12px;
}

.cineraMenus > .menu > .filter_container .filter_mode,
.cineraMenus > .menu > .link_container #cineraLinkMode {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.cineraMenus > .menu > .refs .ref .timecode {
    cursor: pointer;
    display: inline-block;
    padding: 0;
}

.cineraMenus > .menu > .refs .ref .timecode:hover {
    /* TODO(matt): background-image "play" symbol, right aligned */
}

.cineraMenus > .menu > .refs .ref .ref_content,
.cineraMenus > .menu > .filter_content {
    margin-bottom: 8px;
    width: 100%;
}

.cineraMenus > .menu > .refs .ref .source,
.cineraMenus > .menu > .refs .ref .quote_byline,
.cineraMenus > .menu > .filter_container .filter_title,
.cineraMenus > .menu > .credits_container .credit .role {
    font-size: 10px;
}

.cineraMenus > .menu > .refs .ref .source,
.cineraMenus > .menu > .refs .ref .quote_byline,
.cineraMenus > .menu > .credits_container .credit .role {
    line-height: 8px;
}

.cineraMenus > .menu > .refs .ref .quote_byline,
.cineraMenus > .menu > .refs .ref .ref_indices {
    width: 100%;
}

.cineraMenus > .menu > .refs .ref .quote_byline {
    text-align: right;
}

.cineraMenus > .menu > .refs .ref .ref_indices {
    text-align: center;
}

.cineraMenus > .menu > .refs .ref .ref_indices .timecode:first-child::before {
    content: "";
}

.cineraMenus > .menu > .refs .ref .ref_indices .timecode::before {
    content: "•";
    margin: 0 4px;
}

.cineraMenus > .menu > .refs .ref .timecode .ref_index {
    margin-right: 4px;
}

.cineraMenus > .menu > .filter_container .filter_mode,
.cineraMenus > .menu > .link_container #cineraLinkMode {
    cursor: pointer;
    border-bottom: 1px solid;
    text-align: center;
}

.cineraMenus > .menu > .filter_container .filter_mode.exclusive:after {
    content: "exclusive";
}

.cineraMenus > .menu > .filter_container .filter_mode.inclusive:after {
    content: "inclusive";
}

.cineraMenus > .menu > .filter_container .filter_title {
    text-align: center;
}

.cineraMenus > .menu > .filter_container .filters {
    display: flex;
    flex-flow: row nowrap;
}

.cineraMenus > .menu > .filter_container .filters > * {
    width: 50%;
    flex-grow: 1;
}

.cineraDefaultMediumIndicator {
    color: #FEF697;
}

.cineraMenus > .menu > .filter_container .filter_content,
.cineraPlayerContainer .markers_container > .markers .marker .cineraContent .cineraCategories {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.cineraMenus > .menu > .filter_container .filter_content .icon,
.cineraPlayerContainer .markers_container > .markers .marker .cineraContent .cineraCategories .categoryMedium {
    font-style: normal;
    margin-left: 4px;
}

.cineraPlayerContainer .markers_container > .markers .marker .cineraContent .cineraCategories .categoryMedium + .categoryMedium {
    margin-left: 2px;
}

.cineraMenus > .menu > .filter_container .filter_content.off .icon {
    background: transparent;
}

.cineraMenus > .menu > .filter_container .filter_content.rant .icon,
.cineraPlayerContainer .markers_container > .markers .marker .cineraContent .cineraCategories .categoryMedium.rant {
    color: #BA0001;
}

.cineraMenus > .menu > .filter_container .filter_media .filter_content.off .icon,
.cineraPlayerContainer .markers_container > .markers .marker .cineraContent .cineraCategories .categoryMedium.off {
    opacity: 0.32;
}

.cineraMenus > .menu > .filter_container .filter_content.rant .cineraText,
.cineraPlayerContainer .markers_container > .markers .marker.rant .cineraContent,
.cineraPlayerContainer .markers_container > .markers .marker.off_rant .cineraContent {
    font-variant: small-caps;
}

.cineraMenus > .menu > .link_container #cineraLink {
    border: 0;
    cursor: pointer;
    height: 100%;
    padding: 4px;
    resize: none;
    width: 100%;
}

.cineraPlayerContainer {
    display: flex;
    flex-direction: row;
}

.cineraPlayerContainer .video_container {
    flex-grow: 1;
    overflow: hidden;
}

.cineraPlayerContainer .markers_container {
    flex-shrink: 0;
    overflow-y: scroll;
    position: relative;
}

.cineraPlayerContainer .markers_container > .episodeMarker {
    text-decoration: none;
    display: flex;
    font-size: 11px;
    font-weight: bold;
}

.cineraPlayerContainer .markers_container > a.episodeMarker {
    cursor: pointer;
}

.cineraPlayerContainer .markers_container > div.episodeMarker {
    cursor: default;
}

.cineraPlayerContainer .markers_container > .episodeMarker div {
    margin: auto;
    text-align: center;
}

.cineraPlayerContainer .markers_container > .episodeMarker div:not(:nth-of-type(2)) {
    font-size: 15px;
    font-weight: normal;
}

.cineraPlayerContainer .markers_container > .episodeMarker div:nth-of-type(2) {
    padding: 0 5px;
    flex-grow: 1;
}

.cineraPlayerContainer .markers_container > .episodeMarker.first,
.cineraPlayerContainer .markers_container > .episodeMarker.prev {
    border-bottom: 4px double;
}

.cineraPlayerContainer .markers_container > .markers .marker {
    border-bottom: 1px solid;
    position: relative;
    cursor: pointer;
    max-height: 320px;
    transition: max-height .32s;
}

.cineraPlayerContainer .markers_container > .markers .marker:last-of-type {
    border-bottom: none;
}

.cineraPlayerContainer .markers_container > .episodeMarker.next,
.cineraPlayerContainer .markers_container > .episodeMarker.last {
    border-top: 4px double;
}

.cineraPlayerContainer .markers_container > .episodeMarker,
.cineraPlayerContainer .markers_container > .markers .marker .cineraContent {
    box-sizing: border-box;
    padding: 5px;
    width: 320px;
    word-wrap: break-word;
}

.cineraPlayerContainer .markers_container > .markers .marker .cineraContent {
    display: inline-block;
    font-size: 14px;
}

.cineraPlayerContainer .markers_container > .markers .marker.skip {
    max-height: 0;
    transition: max-height .32s;
    overflow: hidden;
}

.cineraPlayerContainer .markers_container > .markers .marker.authored .cineraContent .author,
.cineraPlayerContainer .markers_container > .markers .marker.off_authored .cineraContent .author {
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
}

.cineraMenus > .menu > .refs .ref .ref_title,
.cineraMenus .filter_content.authored .cineraText,
.cineraPlayerContainer .markers_container > .markers .marker.authored,
.cineraPlayerContainer .markers_container > .markers .marker.off_authored {
    font-style: oblique !important;
}

.cineraPlayerContainer .markers_container > .markers .marker .cineraContent sup {
    font-style: normal;
    font-variant: normal;
    vertical-align: super;
}

.cineraPlayerContainer .markers_container > .markers .marker .progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0px;
    overflow: hidden;
}

.cineraPlayerContainer .markers_container > .markers .marker .timecode {
    font-size: 9px;
    font-style: normal;
    padding-right: 8px;
    position: relative;
    top: -2px;
}

.cineraPlayerContainer .markers_container > .markers .marker .cineraContent .cineraCategories {
    float: right;
    min-height: 1em;
}

.cineraMenus > .menu > .filter_container .filter_content {
    display: flex;
}

.cineraMenus > .menu > .filter_container .filter_content .category,
.cineraPlayerContainer .markers_container > .markers .marker .cineraContent .cineraCategories .category {
    border-radius: 50%;
    height: 5px;
    width: 5px;
}

.cineraMenus > .menu > .filter_container .filter_content .category.off,
.cineraPlayerContainer .markers_container > .markers .marker .cineraContent .cineraCategories .category.off {
    background: transparent;
}

.cineraPlayerContainer .markers_container > .markers .marker .cineraContent .cineraCategories .category {
    margin-left: 2px;
}

.cineraMenus > .menu > .filter_container .filter_content .icon {
    margin-right: 8px;
}

@media (max-width: 720px), (max-height: 512px)
{
    .cineraMenus .episode_name,
    .cineraMenus > .menu > .view,
    .cineraMenus > .menu > .views_container .view,
    .cineraMenus > .help,
    .markers_container > .episodeMarker div:nth-child(2),
    .markers_container > .episodeMarker div:nth-child(3),
    .markers_container > .markers .marker:not(.current) {
        display: none;
    }

    .cineraMenus {
        justify-content: center;
    }

    .cineraMenus .menu .quotes_container,
    .cineraMenus .menu .references_container,
    .cineraMenus .menu .filter_container,
    .cineraMenus .menu .link_container,
    .cineraMenus .menu .credits_container {
        position: fixed;
        left: 0;
        margin: auto;
        max-height: 80%;
        max-width: 97%;
    }


    .cineraPlayerContainer {
        display: flex;
        flex-direction: column;
    }

    .cineraPlayerContainer .markers_container {
        display: flex;
        flex-flow: row;
        overflow-y: auto;
    }

    .cineraPlayerContainer .markers_container > .episodeMarker {
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
    }

    .cineraPlayerContainer .markers_container > .markers .marker .cineraContent {
        width: 456px;
    }

    @media (max-width: 580px)
    {
        .cineraPlayerContainer .markers_container > .markers .marker .cineraContent {
            width: 320px;
        }

    }
    @media (max-width: 450px)
    {
        .cineraPlayerContainer .markers_container > .markers .marker .cineraContent {
            width: 256px;
        }

    }
    @media (max-width: 375px)
    {
        .cineraPlayerContainer .markers_container > .markers .marker .cineraContent {
            width: 180px;
        }

    }

    .cineraPlayerContainer .markers_container > .episodeMarker.first,
    .cineraPlayerContainer .markers_container > .episodeMarker.prev,
    .cineraPlayerContainer .markers_container > .markers .marker,
    .cineraPlayerContainer .markers_container > .episodeMarker.last,
    .cineraPlayerContainer .markers_container > .episodeMarker.next {
        border: 0;
    }

    .cineraPlayerContainer .markers_container > .episodeMarker.first,
    .cineraPlayerContainer .markers_container > .episodeMarker.prev {
        border-right: 3px double;
    }

    .cineraPlayerContainer .markers_container > .episodeMarker.last,
    .cineraPlayerContainer .markers_container > .episodeMarker.next {
        border-left: 3px double;
    }
}

/* CUSTOM PAGE STYLE */

/*
body {
    background-color: #000;
    font-family: sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}
*/

/*
Open menu: &#9662; ▾
Open link in new tab: &#10555; or &10559; or &8599; or &#11127;
Play from timecode: &#9205; (or, if ↓ &#9656;)
Playable from timecode: &#9657;
 */
