$fg-font-color: #eee;

$vars: (
  fg-font-color: $fg-font-color,

  // Default theme colors in case the project.css is busted
  theme-color: #666,
  theme-color-dim: #444,
  theme-color-dimmer: #383838,
  theme-color-dimmest: #333,

  link-color: #aaa,
  link-border-color: #aaa,

  hr-color: #aaa,

  main-background-color: #202020,
  main-color: #eee,
  dim-color: #bbb,
  dimmer-color: #999,
  dimmest-color: #777,

  menu-bottom-border-color: #444,

  login-popup-background: #181818,

  content-background: #202020,
  content-background-transparent: rgba(#202020, 0),
  dim-background: #252525,
  dim-background-transparent: rgba(#252525, 0),

  text-background: #181818,
  spoiler-border: #777,

  background-even-background: #242424,

  project-card-border-color: #333,
  project-user-suggestions-background: #222,
  project-user-suggestions-border-color: #444,

  notice-text-color: $fg-font-color,
  notice-unapproved-color: #7a2020,
  notice-hidden-color: #494949,
  notice-hiatus-color: #876327,
  notice-dead-color: #7a2020,
  notice-lts-color: #2a681d,
  notice-lts-reqd-color: #876327,
  notice-success-color: #2a681d,
  notice-warn-color: #876327,
  notice-failure-color: #7a2020,

  optionbar-border-color: #333,

  tab-background: #181818,
  tab-border-color: #3f3f3f,
  tab-button-background: #303030,
  tab-button-background-hover: #383838,
  tab-button-background-current: #181818,

  form-check-background: #252527,
  form-check-border-color: #666,
  form-check-border-color-hover: #084068,
  form-text-background: #181818,
  form-text-background-active: #252527,
  form-text-border-color: #444,
  form-text-border-color-active: #084068,
  form-button-color: #999,
  form-button-color-active: #4c9ed9,
  form-button-background: #383838,
  form-button-background-active: #303840,
  form-button-border-color: transparent,
  form-button-inline-border-color: transparent,
  form-error-color: #c61d24,

  landing-search-background: #282828,
  landing-search-background-hover: #181818,

  editor-toolbar-background: #282828,
  editor-toolbar-border-color: #333,
  editor-toolbar-button-background: 282828,
  editor-toolbar-button-background-hover: #333,
  editor-toolbar-button-border-color: #333,

  post-blockquote-border-color: #555,

  forum-even-background: #242424,
  forum-thread-read-color: #777,
  forum-thread-read-link-color: #999,
  forum-post-author-color: #999,
  forum-diff-source-background: #181818,
  forum-diff-source-border-color: #444,
  forum-diff-replace-background: #18283a,
  forum-diff-replace-border-color: #223d5b,
  forum-diff-delete-background: #3a1818,
  forum-diff-delete-border-color: #6b1e1c,
  forum-diff-insert-background: #233a18,
  forum-diff-insert-border-color: #30591b,

  card-background: #282828,
  card-background-hover: #333,

  irc-border-color: #333,
  irc-tab-current-shadow: 0px 0px 5px #000 inset,
  irc-tab-close-button-color: #bbb,
  irc-tab-close-button-background: #444,
  irc-nick-border-color: #444,
  irc-users-color: #aaa,
  irc-users-background: #181818,
  irc-users-border-color: transparent,
  irc-users-popout-background: #181818,
  irc-users-popout-border-color-left: #444,
  irc-users-popout-border-color-right: #333,

  code-line-number-color: #444,

  library-star-btn-background: #252525,
  library-star-btn-border-color: #bbb,
  library-star-btn-a-border-color: #999,
  library-star-btn-a-hover-background: #333,
);

// code styles

// see: https://github.com/richleland/pygments-css/blob/master/monokai.css
// .hmn-code is Go codebase, .codeblock is old Python
pre, code, .codeblock {
  .hll { background-color: #49483e }
  .c { color: #75715e } /* Comment */
  .err { color: #ff0000; } /* Error */
  .k { color: #66d9ef } /* Keyword */
  .l { color: #ae81ff } /* Literal */
  .n { color: #f8f8f2 } /* Name */
  .o { color: #f92672 } /* Operator */
  .p { color: #f8f8f2 } /* Punctuation */
  .cm { color: #75715e } /* Comment.Multiline */
  .cp { color: #75715e } /* Comment.Preproc */
  .c1 { color: #75715e } /* Comment.Single */
  .cs { color: #75715e } /* Comment.Special */
  .ge { font-style: italic } /* Generic.Emph */
  .gs { font-weight: bold } /* Generic.Strong */
  .kc { color: #66d9ef } /* Keyword.Constant */
  .kd { color: #66d9ef } /* Keyword.Declaration */
  .kn { color: #f92672 } /* Keyword.Namespace */
  .kp { color: #66d9ef } /* Keyword.Pseudo */
  .kr { color: #66d9ef } /* Keyword.Reserved */
  .kt { color: #66d9ef } /* Keyword.Type */
  .ld { color: #e6db74 } /* Literal.Date */
  .m { color: #ae81ff } /* Literal.Number */
  .s { color: #e6db74 } /* Literal.String */
  .na { color: #a6e22e } /* Name.Attribute */
  .nb { color: #f8f8f2 } /* Name.Builtin */
  .nc { color: #a6e22e } /* Name.Class */
  .no { color: #66d9ef } /* Name.Constant */
  .nd { color: #a6e22e } /* Name.Decorator */
  .ni { color: #f8f8f2 } /* Name.Entity */
  .ne { color: #a6e22e } /* Name.Exception */
  .nf { color: #a6e22e } /* Name.Function */
  .nl { color: #f8f8f2 } /* Name.Label */
  .nn { color: #f8f8f2 } /* Name.Namespace */
  .nx { color: #a6e22e } /* Name.Other */
  .py { color: #f8f8f2 } /* Name.Property */
  .nt { color: #f92672 } /* Name.Tag */
  .nv { color: #f8f8f2 } /* Name.Variable */
  .ow { color: #f92672 } /* Operator.Word */
  .w { color: #f8f8f2 } /* Text.Whitespace */
  .mf { color: #ae81ff } /* Literal.Number.Float */
  .mh { color: #ae81ff } /* Literal.Number.Hex */
  .mi { color: #ae81ff } /* Literal.Number.Integer */
  .mo { color: #ae81ff } /* Literal.Number.Oct */
  .sb { color: #e6db74 } /* Literal.String.Backtick */
  .sc { color: #e6db74 } /* Literal.String.Char */
  .sd { color: #e6db74 } /* Literal.String.Doc */
  .s2 { color: #e6db74 } /* Literal.String.Double */
  .se { color: #ae81ff } /* Literal.String.Escape */
  .sh { color: #e6db74 } /* Literal.String.Heredoc */
  .si { color: #e6db74 } /* Literal.String.Interpol */
  .sx { color: #e6db74 } /* Literal.String.Other */
  .sr { color: #e6db74 } /* Literal.String.Regex */
  .s1 { color: #e6db74 } /* Literal.String.Single */
  .ss { color: #e6db74 } /* Literal.String.Symbol */
  .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
  .vc { color: #f8f8f2 } /* Name.Variable.Class */
  .vg { color: #f8f8f2 } /* Name.Variable.Global */
  .vi { color: #f8f8f2 } /* Name.Variable.Instance */
  .il { color: #ae81ff } /* Literal.Number.Integer.Long */
  .gh { } /* Generic Heading & Diff Header */
  .gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
  .gd { color: #f92672; } /* Generic.Deleted & Diff Deleted */
  .gi { color: #a6e22e; } /* Generic.Inserted & Diff Inserted */
}

// hack in stuff for other themes

.light {
  background-color: #fff;
  color: #000;
}
