{{ if eq .Notice "ticketpurchase" }}
  <div class="bg1 pa3 post-content">
    <h4>Why am I being asked to log in?</h4>
    <p>Creating a Handmade Network account allows us to offer a better checkout experience and allows you to manage your ticket after purchasing.</p>
  </div>
{{ else if eq .Notice "joinjam" }}
  <div class="bg1 pa3 post-content">
    <p>To participate in a jam, create or log into a Handmade Network account, then link your Discord account in settings. Alternatively, sign in with Discord to create and link your account in one step.</p>
  </div>
{{ end }}
