{{ define "betaweek2026-styles" }}
<script type="module" src="{{ static "js/countdown.js" }}"></script>
<style>
  :root {
    --c-jam-gradient-start: #0b0204;
    --c-jam-gradient-end: #a44f3b;
    --stripe-width: 44px;
    --jam-gradient:
      repeating-linear-gradient(110deg,
        transparent 0 0,
        #FFFFFF22 0.5px var(--stripe-width),
        transparent calc(var(--stripe-width) + 0.5px) calc(var(--stripe-width) * 2)
      ),
      linear-gradient(in oklab to bottom right, var(--c-jam-gradient-start), var(--c-jam-gradient-end));

    --link-color: #ff8585;
  }

  .content-top {
    background: var(--jam-gradient);
    background-blend-mode: overlay;
    --link-color: var(--color);
    --button-color: transparent;
  }

  .btn {
    border: 1px solid white;
  }

  .link-bold a {
    font-weight: 700;
  }

  /*.jam-guidelines.jam-emphasized {
    background-color: var(--c3);
  }

  .jam-guidelines {
    background-color: var(--c2);
  }*/

  #title-big, #title-small {
    font-size: 1.65rem;
    line-height: 1.1;
  }

  #subtitle-big, #subtitle-small {
    font-size: 1.25rem;
  }

  @media screen and (min-width: 35em) {
    #title-big {
      font-size: 3rem;
    }
    
    #title-small {
      font-size: 2.5rem;
    }

    #subtitle-big {
      font-size: 1.5rem;
    }
  }
</style>
{{ end }}

{{ define "betaweek2026-bannerbig" }}
<div class="flex justify-center">
  <div class="tc link-normal c-white c-normal">
    <div class="flex flex-column items-center pv5 tc ph3">
      <div class="flex flex-column g2 pb3">
        <!-- <a href="{{ .IndexUrl }}"><img style="width: 100%" alt="jam logo" src="{{ static "jams/essentials/essentials-row.svg" }}"></a> -->
        <a href="{{ .IndexUrl }}"><h2 id="title-big" class="b">Handmade Network Beta Week</h2></a>
        <h3 id="subtitle-big" class="b self-end-ns">November 16 - 22, 2026</h3>
      </div>
      <div class="m-center mt4">
        One week of testing and improving Handmade software.
      </div>
      <div class="flex f6 f5-l g2 g3-l justify-center mt4">
        <a href="#newsletter" class="btn">Newsletter</a>
        <a href="https://discord.gg/hmn" class="btn">Join the Discord</a>
      </div>
    </div>
  </div>
</div>
{{ end }}