<div class="pa3 flex flex-column bg3 g3">
    <div class="flex link-normal">
        <img class="avatar avatar-user mr2" src="{{ .Author.AvatarUrl }}" />
        <div class="flex flex-column g1 flex-grow-1">
            <a class="b" href="{{ .Url }}">{{ .Title }}</a>
            <div class="flex items-center g1">
                <a class="" href="{{ .Author.ProfileUrl }}">{{ .Author.Name }}</a>
                {{ if .Author.IsStaff }}
                    <div class="badge staff"></div>
                {{ end }}
                <span>&mdash; {{ timehtml (relativedate .Date) .Date }}</span>
            </div>
        </div>
    </div>
    {{ if .Content }}
        <div class="overflow-hidden maxh-5 relative post-content">
            <div>
                {{ .Content }}
            </div>
            <div class="excerpt-fade absolute w-100 h4 bottom-0 z-999"></div>
        </div>
        <a href="{{ .Url }}">Read More &rarr;</a>
    {{ end }}
</div>

