<div class="flex flex-column bg3 link-normal">
    <div class="h2 hilbert hilbert-color" style="--size: 1080px; --hue: {{ .Hilbert.Hue }}deg"></div>
    <div class="pa3 flex flex-column g3">
        <a href="{{ .Url }}"><h2 class="f4 lh-title">{{ .Title }}</h2></a>
        <div class="flex ">
            <img class="avatar avatar-user mr2" src="{{ .Author.AvatarUrl }}" />
            <div class="flex flex-column g1 flex-grow-1">
                <a class="b" href="{{ .Author.ProfileUrl }}">{{ .Author.Name }}</a>
                <span class="f6">{{ timehtml (absoluteshortdate .Date) .Date }}</span>
            </div>
        </div>
        {{ if .Content }}
            <div class="overflow-hidden maxh-5 relative post-content">
                <div>
                    {{ .Content }}
                </div>
                <div class="excerpt-fade absolute w-100 h4 bottom-0 z-999"></div>
            </div>
            <a href="{{ .Url }}" class="f6">Read more<div class="dib svgicon svgicon-nofix f8 ml1">{{ svg "chevron-right" }}</div></a>
        {{ end }}
    </div>
</div>

