<footer class="pa3 pa4-l tc">
    <h2>
        Community by <a href="{{ .Footer.HomepageUrl }}">handmade.network</a>
    </h2>
    <ul class="list">
        {{ $footerClasses := "ma0 pa0 dib-ns" }}
        <li class="{{ $footerClasses }}">
            <a href="{{ .Footer.HomepageUrl }}">Main Page</a>
        </li>
        <li class="{{ $footerClasses }}">
            <a href="{{ .Footer.AboutUrl }}">About</a>
        </li>
        <li class="{{ $footerClasses }}">
            <a href="{{ .Footer.ManifestoUrl }}">Handmade Manifesto</a>
        </li>
        <li class="{{ $footerClasses }}">
            <a href="{{ .Footer.CodeOfConductUrl }}">Code of Conduct</a>
        </li>
        <li class="{{ $footerClasses }}">
            <a href="{{ .Footer.CommunicationGuidelinesUrl }}">Communication Guidelines</a>
        </li>
        <li class="{{ $footerClasses }}">
            <a href="{{ .Footer.ProjectIndexUrl }}">Project Index</a>
        </li>
        <li class="{{ $footerClasses }}">
            <a href="{{ .Footer.ForumsUrl }}">Community Forums</a>
        </li>
        <li class="{{ $footerClasses }}">
            <a href="{{ .Footer.ContactUrl }}">Contact</a>
        </li>
        <li class="{{ $footerClasses }}">
            <a href="{{ .Footer.SitemapUrl }}">Sitemap</a>
        </li>
    </ul>
</footer>
