<footer class="pa3 pa4-l tc">
    <h2>
        <a href="{{ .Footer.HomepageUrl }}">Handmade Network</a>
    </h2>
    <ul class="list">
        {{ $footerClasses := "ma0 pa0 dib-ns" }}
        <li class="{{ $footerClasses }}">
            <a href="{{ .Footer.HomepageUrl }}">Main Page</a>
            <span class="c--dimmer dn di-ns"> / </span>
        </li>
        <li class="{{ $footerClasses }}">
            <a href="{{ .Footer.ManifestoUrl }}">Manifesto</a>
            <span class="c--dimmer dn di-ns"> / </span>
        </li>
        <li class="{{ $footerClasses }}">
            <a href="{{ .Footer.AboutUrl }}">About</a>
            <span class="c--dimmer dn di-ns"> / </span>
        </li>
        <li class="{{ $footerClasses }}">
            <a href="{{ .Footer.ProjectIndexUrl }}">Projects</a>
            <span class="c--dimmer dn di-ns"> / </span>
        </li>
        <li class="{{ $footerClasses }}">
            <a href="{{ .Footer.CommunicationGuidelinesUrl }}">Communication Guidelines</a>
            <span class="c--dimmer dn di-ns"> / </span>
        </li>
        <li class="{{ $footerClasses }}">
            <a href="{{ .Footer.ContactUrl }}">Contact</a>
        </li>
    </ul>
</footer>
