<div class="pa3 flex flex-column g3">
    <div class="flex link-normal">
        <img class="avatar avatar-user mr2" src="{{ .Author.AvatarUrl }}" />
        <div class="flex flex-column g1 flex-grow-1">
            <div class="flex flex-row g1 items-center">
                <a class="b" href="{{ .Author.ProfileUrl }}">{{ .Author.Name }}</a>
                {{ if .Author.IsStaff }}
                    <div class="badge staff"></div>
                {{ end }}
                <div class="flex-grow-1"></div>
                <div class="flex items-start">
                    {{ if .DeleteUrl }}
                        <a class="delete action button" href="{{ .DeleteUrl }}" title="Delete">&#10006;</a>&nbsp;
                    {{ end }}
                    {{ if .EditUrl }}
                        <a class="edit action button" href="{{ .EditUrl }}" title="Edit">&#9998;</a>&nbsp;
                    {{ end }}
                    {{ if .ReplyUrl }}
                        {{ if .ThreadLocked }}
                            WARNING: locked thread - use power responsibly!
                        {{ end }}
                        <a class="reply action button" href="{{ .ReplyUrl }}" title="Reply">&hookrightarrow;</a>&nbsp;
                    {{ end }}
                    {{ if .Url }}
                        <a name="{{ .ID }}" href="{{ .Url }}">#{{ .ID }}</a>
                    {{ end }}
                </div>
            </div>
            <div class="f6">
                {{ timehtml (absoluteshortdate .PostDate) .PostDate }}
            </div>
        </div>
    </div>
    <div class="post-content">
        {{ .Content }}
    </div>
    {{ if or .ReplyPost .Editor }}
        <hr />
        <div class="flex flex-column">
            {{- if .Editor -}}
                <div class="f6 fw2">
                    Edited by <a class="name" href="{{ .Editor.ProfileUrl }}">{{ coalesce .Editor.Name .Editor.Username }}</a>
                    on {{ timehtml (absolutedate .EditDate) .EditDate }}
                    {{ with .EditReason }}
                        Reason: {{ . }}
                    {{ end }}
                </div>
            {{ end }}
            {{ with .ReplyPost }}
                <div class="f6 fw2">
                    Replying to {{ with .Author }}{{ .Username }}{{ else }}deleted user{{ end }} (<a href="{{ .Url }}">#{{ .ID }}</a>)
                </div>
            {{ end }}
        </div>
    {{ end }}
</div>
