<div class="pa3 flex flex-column g2">
    <div class="flex items-center">
        <a class="flex flex-shrink-0" href="{{ .Author.ProfileUrl }}">
            <img class="avatar avatar-user mr3" src="{{ .Author.AvatarUrl }}" />
        </a>
        <div class="overflow-hidden flex-grow-1 flex flex-column g1 justify-center link-normal">
            <div class="flex flex-row g1 items-center">
                {{ if .Author.IsStaff }}
                    <div class="badge staff"></div>
                {{ end }}
                <a class="user" href="{{ .Author.ProfileUrl }}">{{ .Author.Name }}</a>
                &mdash; {{ timehtml (absoluteshortdate .PostDate) .PostDate }}
            </div>
            {{ if .Editor }}
                <span class="f7 fw2">
                    Edited by
                    <a class="name" href="{{ .Editor.ProfileUrl }}" target="_blank">{{ coalesce .Editor.Name .Editor.Username }}</a>
                    on {{ timehtml (absolutedate .EditDate) .EditDate }}
                    {{ with .EditReason }}
                        <br />
                        Reason: {{ . }}
                    {{ end }}
                </span>
            {{ end }}
        </div>
    </div>
    <div class="post-content">
        {{ .Content }}
    </div>
</div>
