<header class="mb3">
    {{/* TODO */}}
    {{/* <div class="user-options flex justify-center justify-end-ns">
        {% if user.is_authenticated %}
            {% if user.is_superuser %}
                <a class="admin-panel" href="{% url 'admin_panel' subdomain=None %}"><span class="icon-settings"> Admin</span></a>
            {% endif %}
            <a class="username settings" href="{% url 'member_settings' subdomain=None %}"><span class="icon-settings"></span> {{user.username}}</a>
            <a class="logout" href="{% url 'member_logout' %}"><span class="icon-logout"></span> Logout</a>
        {% else %}
            <a class="register" id="register-link" href="{% url 'member_register' subdomain=None %}">Register</a>
            <a class="login" id="login-link" href="{% url 'member_login' subdomain=request.subdomain %}">Log in</a>
            <div id="login-popup">
                <form action="{% url 'member_login' subdomain=request.subdomain %}" method="post">
                    {% csrf_token %}
                    <table>
                        {% if error_message %}
                            <th colspan="2">{{ error_message }}</th>
                        {% endif %}
                        <tr>
                            <th><label>Username:</label></th>
                            <td><input type="text" name="username" class="textbox username" value="" /></td>
                        </tr>
                        <tr>
                            <th><label>Password:</label></th>
                            <td><input type="password" name="password" class="textbox password" value="" /></td>
                        </tr>
                        <tr>
                            {# <td colspan="2"><a href="#">Forgot your password?</a></td> #}
                        </tr>
                    </table>
                    <div class="actionbar pt2">
                        <input type="submit" value="Log In" />
                    </div>
                </form>
            </div>
        {% endif %}
    </div> */}}
    <div class="menu-bar flex flex-column flex-row-l justify-between {% if project and project.slug != 'hmn' %}project{% endif %}">
        <div class="flex flex-column flex-row-ns">
            <a href="{{ url "/" }}" class="logo hmdev-logo">
                <div class="underscore"></div>
            </a>
            <div class="items flex items-center justify-center justify-start-ns">
                {{ if not .Project.IsHMN }}
                    <a class="project-logo" href="{{ projecturl "/" }}">
                        <h1>{{ .Project.Name }}</h1>
                    </a>
                {{ end }}
                {{ if .Project.HasBlog }}
                    <a href="{{ projecturl "/blog" }}" class="blog">Blog</a>
                {{ end }}
                {{ if .Project.HasForum }}
                    <a href="{{ projecturl "/forum" }}" class="forums">Forums</a>
                {{ end }}
                {{ if .Project.HasWiki }}
                    <a href="{{ projecturl "/wiki" }}" class="wiki">Wiki</a>
                {{ end }}
                {{ if .Project.HasLibrary }}
                    <a href="{{ projecturl "/library" }}" class="library">Library</a>
                {{ end }}
                {{ if .Project.IsHMN }}
                    <a href="{{ projecturl "/manifesto" }}" class="misson">Mission</a>
                {{ end }}
                {{/* {% if project.default_annotation_category %} */}}
                {{ if false }}
                    <a href="{% url 'episode_list_topic' project.slug project.default_annotation_category %}" class="annotations">Episode Guide</a>
                {{ end }}
                {{/* {% if showEditLink == True %} */}}
                {{/* {{ if false }}
                    <a class="edit" href="{{ EditLink }}" title="Edit {{ project.name }}"><span class="icon">0</span>&nbsp;Settings</a>
                {{ end }} */}}
            </div>
        </div>
        <form class="dn ma0 flex-l flex-column justify-center items-end" method="post" action="{% url 'search' %}" target="_blank">
            {% csrf_token %}
            <input class="site-search bn lite pa2 fira" type="text" name="term" value="" placeholder="Search with Google" size="17" />
            <input id="search_button_homepage" type="submit" value="Go"/>
        </form>
    </div>
</header>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        var loginPopup = document.getElementById("login-popup");
        var loginLink = document.getElementById("login-link");

        if (loginPopup !== null) {
            loginLink.removeAttribute("href");

            loginLink.onclick = function() {
                loginPopup.classList.toggle("open");
            }
        }
    });
</script>
