<header id="site-header" class="flex flex-row items-stretch link-normal">
    <a href="{{ .Header.HMNHomepageUrl }}" class="hmn-logo flex-shrink-0">{{ svg "hmn_text" }}</a>
    <div class="flex-grow-1 flex-shrink-1"></div>
    <div class="header-nav lh-solid f6 dn" id="header_nav">
        <a href="{{ .Header.ProjectIndexUrl }}">Projects</a>
        <a href="{{ .Header.JamsUrl }}">Jams</a>
        <div class="root-item">
            <a aria-expanded="false" aria-controls="events-submenu" class="menu-dropdown-js" href="#">
                Events <div class="menu-chevron svgicon-lite">{{ svg "chevron-down" }}</div>
            </a>
            <div class="submenu" id="events-submenu">
                <a href="{{ .Header.JamsUrl }}">Jams</a>
                <a href="https://twitch.tv/HandmadeNetwork">Unwind</a>
            </div>
        </div>
        <div class="root-item">
            <a aria-expanded="false" aria-controls="resource-submenu" class="menu-dropdown-js" href="#">
                Resources <div class="menu-chevron svgicon-lite">{{ svg "chevron-down" }}</div>
            </a>
            <div class="submenu" id="resource-submenu">
                <a href="{{ .Header.ForumsUrl }}">Forums</a>
                <a href="{{ .Header.FishbowlUrl }}">Fishbowls</a>
                <a href="{{ .Header.PodcastUrl }}">Podcast</a>
                <!-- TODO(redesign): This is not a "resource", nor do we want to imply that we own Handmade Cities. -->
                <a href="https://handmadecities.com/media/">Handmade Cities</a>
                <!-- TODO(redesign): What about our existing conferences page? How to properly reference HandmadeCon? Does this give enough context? (Make sure to reference Casey's email to me and Abner.) -->
                <a href="https://guide.handmadehero.org/hmcon/">HandmadeCon</a>
            </div>
        </div>
        <div class="root-item">
            <a aria-expanded="false" aria-controls="about-submenu" class="menu-dropdown-js" href="#">
                About <div class="menu-chevron svgicon-lite">{{ svg "chevron-down" }}</div>
            </a>
            <div class="submenu" id="about-submenu">
                <a href="{{ .Header.ManifestoUrl }}">Manifesto</a>
                <a href="{{ .Header.AboutUrl }}">About the Team</a>
            </div>
        </div>
        <div class="root-item db dn-ns">
            <a aria-expanded="false" aria-controls="profile-submenu" class="menu-dropdown-js" href="#">
                User <div class="menu-chevron svgicon-lite">{{ svg "chevron-down" }}</div>
            </a>
            <div class="submenu" id="profile-submenu-mobile">
                <a href="{{ .Header.UserProfileUrl }}">Profile</a>
                <a href="{{ .Header.UserSettingsUrl }}">Settings</a>
            </div>
        </div>
        <a class="db dn-ns" href="{{ .Header.LogoutUrl }}">Log Out</a>
    </div>
    <div class="root-item f6 {{ if not .User }}bl-ns{{ end }} flex items-stretch">
        <a class="db pl3 pr2 pr3-ns lh-solid flex items-center" href="{{ or .Header.UserProfileUrl .LoginPageUrl }}">
            {{ with .User }}
            <img class="avatar avatar-user" src="{{ .AvatarUrl }}">
            {{ else }}
            Log In
            {{ end }}
        </a>
        <a class="pl2 pr3 flex dn-ns items-center" href="#" id="mobile_menu">
            {{ svg "menu" }}
        </a>
        {{ if .User }}
        <div class="dn db-ns">
            <div class="submenu right-0" id="profile-submenu">
                <a href="{{ .Header.UserProfileUrl }}">Profile</a>
                <a href="{{ .Header.UserSettingsUrl }}">Settings</a>
				{{ if .User.IsStaff }}
					<a href="{{ .Header.AdminApprovalQueueUrl }}">User approvals</a>
				{{ end }}
                <a href="{{ .Header.LogoutUrl }}">Log Out</a>
            </div>
        </div>
        {{ end }}
    </div>
</header>

{{ if and .Header.BannerEvent (not .Header.SuppressBanners) }}
    {{ with .Header.BannerEvent }}
        {{ if eq .Slug "VJ2024" }}
            <a
                class="db tc pv2 link-normal c-white"
                style="background: linear-gradient(to bottom right, #20dddd, #007178)"
                href="{{ .Url }}"
            >
                <b>Visibility Jam.</b> July 19-21, 2024.
                {{ if gt .DaysUntilEnd 0 }}
                    {{ if eq .DaysUntilStart 0 }}
                        <b>Happening now.</b>
                    {{ else if eq .DaysUntilStart 1 }}
                        <b>Starting tomorrow.</b>
                    {{ else }}
                        <b>In {{ .DaysUntilStart }} days.</b>
                    {{ end }}
                {{ else }}
                    <b>See the results.</b>
                {{ end }}
            </a>
        {{ end }}
        {{ if eq .Slug "WRJ2024" }}
            <a
                class="db tc pv2 link-normal c-white lh-title"
                style="background: linear-gradient(to bottom right, #F59A17, #C41E54)"
                href="{{ .Url }}"
            >
                {{ if gt .DaysUntilEnd 0 }}
                    {{ if eq .DaysUntilStart 0 }}
                        The <b>2024 Wheel Reinvention Jam</b> is <b>Happening now.</b>
                    {{ else if eq .DaysUntilStart 1 }}
                        <b>Starting tomorrow.</b>
                    {{ else }}
                        The <b>2024 Wheel Reinvention Jam</b> is in <b>{{ .DaysUntilStart }} days.</b>
                    {{ end }}
                    September 23-29, 2024.
                    <span class="inline-flex items-center"><b>More info</b><div class="ml1 flex items-center">{{ svg "arrow-right" }}</div></span>
                {{ else }}
                    <b>See the results.</b>
                {{ end }}
            </a>
        {{ end }}
    {{ end }}
{{ end }}

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        const header = document.querySelector("#site-header");
        const mobileMenuButton = document.querySelector("#mobile_menu");
        
        // set up dropdown stuff for mobile / touch
        {
            const rootItems = header.querySelectorAll('.root-item');
            
            function clearDropdowns() {
                for (const item of rootItems) {
                    item.classList.remove('clicked');
                }
            }
            
            function clickDropdown(el) {
                header.classList.add('clicked');
                
                if (el.classList.contains('clicked')) {
                    clearDropdowns();
                } else {
                    clearDropdowns();
                    el.classList.add('clicked');
                }
            }
            
            for (const item of rootItems) {
                if (item.querySelector('.submenu')) {
                    item.addEventListener('click', e => {
                        clickDropdown(item);
                        e.stopPropagation();
                    });
                }
            }
        }
        
        // dropdown accessiblity 
        { 
            const dropdowns = document.querySelectorAll('.menu-dropdown-js');
            
            for(let i = 0; i < dropdowns.length; i++) {
                let dropdown = dropdowns[i];
                dropdown.addEventListener('click', e => {
                    e.preventDefault();
                    for(let j = 0; j < dropdowns.length; j++){
                        let each = dropdowns[j];
                        if(each != dropdown){
                            each.setAttribute("aria-expanded", false);
                        }
                    }
                    // getAttribute returns a string so we have to do it this way
                    var toSetTo = dropdown.getAttribute("aria-expanded") == "false" ? "true" : "false"; 
                    dropdown.setAttribute("aria-expanded", toSetTo);
                    console.log(dropdown);
                }); 
            }
        }

        mobileMenuButton.addEventListener("click", e => {
            e.preventDefault();
            e.stopPropagation();
            header.classList.toggle("mobile-open");
        });
    });
</script>
