<header class="flex justify-center link-normal">
  <div class="flex-grow-1 mw-site bb pv3 flex flex-column g2">
    <a href="{{ .HomeUrl }}">
      <h1 class="f3">Handmade Software Foundation</h1>
    </a>
    <nav class="flex g3 f6 f5-ns">
      <a href="{{ .ManifestoUrl }}">Manifesto</a>
      <a href="{{ .ValuesUrl }}">Values</a>
      <a href="{{ .ProjectsUrl }}">Projects</a>
      <a href="{{ .AboutUrl }}">About</a>
      <a href="{{ .MembershipUrl }}">Membership</a>
    </nav>
  </div>
</header>

