{{ block "membership-cta" . }}
<div class="flex justify-center">
  <div class="mw-site flex-grow-1 bt pv4 ph3 tc">
    <div>The Handmade Software Foundation is supported by its members.</div>
    <a class="btn mt3" href="{{ .MembershipUrl }}">Become a member</a>
  </div>
</div>
{{ end }}

<footer class="flex justify-center">
  <div class="mw-site flex-grow-1 bt pv3 flex flex-column g2 f7">
    <div>The Handmade Software Foundation is a pending 501(c)(6) nonprofit corporation based in Minnesota.</div>
    <div>
      310 4th Ave S, Suite 5010 PMB 94594<br>
      Minneapolis, MN 55415
    </div>
    <a class="link-normal" href="mailto:team@handmade.foundation">team@handmade.foundation</a>
  </div>
</footer>
  

