{{/* NOTE(asaf): Make sure to include js/image_selector.js */}}
<input {{ if .Required }}required{{ end }} class="image_input" type="file" accept="image/*" name="{{ .Name }}" />
<input class="remove_input" type="hidden" name="remove_{{ .Name }}" />
<span class="error dn notice notice-failure mv2 mw6"></span>
<div class="image_container">
	<img class="mw6" data-original="{{ .Src }}" src="{{ .Src }}" />
	<div >
		<a href="javascript:;" class="reset">Reset</a>
		<a href="javascript:;" class="remove">Remove</a>
	</div>
</div>
