<!-- NOTE(asaf): Make sure to include js/image_selector.js -->
<template id="image-selector">
	<input data-tmpl="inputOriginal" type="hidden">
	<input data-tmpl="inputImage" class="dn" type="file" accept="image/*">
	<input data-tmpl="inputRemove" type="hidden">
	<div data-tmpl="errorMessage" class="error notice notice-failure pa2 b" hidden></div>
	<div data-tmpl="previewContainer" class="flex g3 items-center">
		<img data-tmpl="preview" class="w4 flex-shrink-0">
		<div class="flex-grow-1 flex flex-column g1 overflow-hidden">
			<div class="flex f6 g2">
				<a data-tmpl="linkReset" href="javascript:;">Reset</a>
				<a data-tmpl="linkRemove" href="javascript:;">Remove</a>
			</div>
			<div data-tmpl="filenameText" class="b truncate lh-title"></div>
		</div>
	</div>
</template>
