{{/* NOTE(asaf): Make sure to include js/image_selector.js */}}
<input {{ if .Required }}required{{ end }} class="imginput dn" type="file" accept="image/*" name="{{ .Name }}" />
<input class="imginput-remove" type="hidden" name="remove_{{ .Name }}" />
<div class="error notice notice-failure pa2 b" hidden></div>
<div class="imginput-container pa3 flex g3 items-center">
	{{ $url := or (and .Asset .Asset.Url) "" }}
	{{ $filename := or (and .Asset .Asset.Filename) "" }}
	<img class="w4 flex-shrink-0" data-imginput-original="{{ $url }}" data-imginput-original-filename="{{ $filename }}" src="{{ $url }}" />
	<div class="w1 flex-grow-1 flex flex-column g1">
		<div class="flex f6 g2">
			<a href="javascript:;" class="imginput-reset-link">Reset</a>
			<a href="javascript:;" class="imginput-remove-link">Remove</a>
		</div>
		<div class="imginput-filename b truncate lh-title"></div>
	</div>
</div>
