{{ define "lj2024-styles" }}
<style>
  :root {
    --theme-gradient-dark: linear-gradient(to bottom right, #003c83, #019AD2);
    --theme-gradient-light: linear-gradient(to bottom right, #8BD5FF, #5899FF);
    --white: #fff;
    --bg-button: rgba(255, 255, 255, 0);
    --bg-button-hover: rgba(255, 255, 255, 0.1);
    --charcoal: #2F2F2F;
    --gray: #CBCBCB;
    --rich-gray: #494949;

    --spacing-0: 0;
    --spacing-1: .25rem;
    --spacing-2: .5rem;
    --spacing-3: 1rem;
    --spacing-4: 2rem;
    --spacing-5: 4rem;
    --spacing-6: 8rem;
    --spacing-7: 16rem;
    --border-radius-2: 0.25rem;

    --link-color: transparent;
  }

  body {
    font-family: "Inter", "Fira Sans", sans-serif;
    font-size: 1rem; /* remove this override when base stylesheet is less dumb */
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
  }

  .w2-5 {
    width: 3rem;
  }

  .link--white {
    --link-color: var(--white);
  }

  .content-top {
    background: var(--theme-gradient-dark);
    color: var(--white);
  }

  .post-content p {
    /* stupid override, should be done by .post-content instead of .content */
    margin: 0.6rem 0;
  }

  .bg--theme-gradient-dark {
    background: var(--theme-gradient-dark);
  }

  .bg--theme-gradient-light {
    background: var(--theme-gradient-light);
  }

  .bg--charcoal {
    background: var(--charcoal);
  }

  .bg--rich-gray {
    background: var(--rich-gray);
  }

  .bg--gray {
    background: var(--gray);
  }

  .b--charcoal {
    border-color: var(--charcoal);
  }

  .b--rich-gray {
    border-color: var(--rich-gray);
  }

  .c--theme-gradient-dark {
    background: var(--theme-gradient-dark);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  a, .c--theme-gradient-light {
    background: var(--theme-gradient-light);
    background-clip: text;
    -webkit-background-clip: text;
  }

  .c--theme-gradient-light {
    color: transparent;
  }

  .c--gray {
    color: var(--gray);
  }

  .btn--jam {
    border: 1px solid var(--white);
    border-radius: var(--border-radius-2);
    padding: var(--spacing-2) var(--spacing-3);

    background-color: var(--bg-button);
  }

  .btn--jam.small {
    padding: var(--spacing-1) var(--spacing-2);
  }

  .btn--jam:hover {
    background-color: var(--bg-button-hover);
  }

  .button-simple {
    background: var(--bg-button);
    border: 1px solid var(--white);
  }

  .button-simple:hover {
    background: var(--bg-button-hover);
  }

  .c-white {
    color: var(--white);
  }

  .invisible {
    visibility: hidden;
  }

  .svg-mask {
    mask: var(--mask-url);
    -webkit-mask: var(--mask-url);
  }

  .fill-current {
    fill: currentColor;
  }

  .square {
    aspect-ratio: 1 / 1;
  }

  .wide-screen {
    aspect-ratio: 16 / 9;
  }

  .iframe-fill iframe {
    flex-grow: 1;
  }

  .hmn-logo {
    font-family: 'MohaveHMN', sans-serif;
    text-transform: uppercase;
    font-size: 1.6rem;
    padding: 0.2rem 0.8rem;
  }

  .header-nav {
    padding-right: 0.6rem;
  }

  .user-avatar {
    border-radius: 999px;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .user-avatar.header {
    width: 1.8rem;
  }

  .jam-logo {
    max-width: 18rem;
  }

  .jam-logo-small {
    max-width: 8rem;
  }

  .jam-title {
    /* align with the width of the logo */
    font-size: 2.76rem;
    font-weight: 700;
    /* align with the text's actual bounding box */
    line-height: 1.18;
    margin-top: -0.18em;
    margin-left: -0.03em;
    margin-right: -0.03em;
  }

  .jam-title.small {
    font-size: 2.25rem;
    /* align with the text's actual bounding box */
    line-height: 1.18;
    margin-top: -0.18em;
    margin-left: -0.03em;
    margin-right: -0.03em;
  }

  /* not small */
  @media screen and (min-width: 35em) {
    .jam-logo {
      max-width: 24rem;
    }

    .jam-title {
      font-size: 3.7rem;
    }
  }

  /* not small */
  @media screen and (min-width: 35em) {
    .flex-basis-40-ns {
      flex-basis: 40%;
    }
  }
</style>
{{ end }}

{{ define "lj2024-bannerbig" }}
<div class="mw7 center link--white">
  <div class="flex flex-column pv4 tc">
  <img class="jam-logo center" src="{{ static "jams/learning-2024/logo.svg" }}">
  <div class="center mt3 mt4-ns">
    <a class="jam-title db mb3" href="{{ .JamUrl }}">Learning Jam</a>
    <div class="flex flex-column flex-row-ns justify-between lh-solid g3 g0-ns">
      <div>
        <div class="fw7 f3 mb1">Learn</div>
        <div class="fw3 f4">March 15-17, 2024</div>
      </div>
      <div>
        <div class="fw7 f3 mb1">Share</div>
        <div class="fw3 f4">March 22-24, 2024</div>
      </div>
    </div>
  </div>
  {{ if gt .Timespans.DaysUntilEnd 0 }}
    <div class="flex g3 justify-center mt4">
      <a href="{{ .DiscordInviteUrl }}" class="btn--jam">Join the Discord</a>
    </div>
  {{ end }}
	</div>
</div>
{{ end }}

{{ define "lj2024-bannersmall" }}
<div class="mw7 center link--white">
  <div class="flex flex-column flex-row-ns justify-center items-center pv4 g3 tc tl-ns">
  <img class="jam-logo-small" src="{{ static "jams/learning-2024/logo.svg" }}">
    <div class="flex flex-column justify-between">
      <div>
        <a class="jam-title db small" href="{{ .JamUrl }}">Learning Jam</a>
        <div class="fw6 f5 mb3">March 15 - 24, 2024</div>
      </div>
      <div class="flex items-center g2">
        {{ if and (not .SubmittedProject) (gt .Timespans.DaysUntilEnd 0) }}
          <a href="{{ .NewProjectUrl }}" class="btn--jam">Create your project</a>
        {{ else }}
          <a href="{{ .DiscordInviteUrl }}" class="btn--jam">Join the Discord</a>
        {{ end }}    
        <a href="{{ .GuidelinesUrl }}" class="flex items-baseline pa2">Guidelines <div class="dib svgicon f8 ml1">{{ svg "chevron-right" }}</div></a>
      </div>
    </div>
	</div>
</div>
{{ end }}

{{ define "lj2024-description" }}
<div class="ph3 pv4 bb b--rich-gray post-content">
	<h2 class="dib c--theme-gradient-light">What is a Learning Jam?</h2>
	<div class="post-content">
		<p>
			The <b class="c--theme-gradient-light">Learning Jam</b> is an opportunity for you to learn something new.
		</p>
		<p>
			Unlike traditional game jams, and unlike our previous programming jams, the goal of the <b class="c--theme-gradient-light">Learning Jam</b> is <em>knowledge</em>. It's an opportunity to throw yourself at a topic and learn everything you can about it—and then, to turn around and share that knowledge with others.
		</p>
		<p>
			The jam takes place over <b>two weekends</b>. On the first weekend, you'll learn as much as you can about your topic of choice. On the second, you'll share what you learned in whatever form you like—writeup, video, Minecraft mod, whatever.
		</p>
	</div>
</div>
{{ end }}

{{ define "lj2024-guidelines" }}
<div class="mw7 center flex flex-column">
	<style>
		.lightbulb-icon {
			--mask-url: url("{{ static "jams/learning-2024/lightbulb.svg" }}");
		}
		.books-icon {
			--mask-url: url("{{ static "jams/learning-2024/books.svg" }}");
		}
		.presentation-icon {
			--mask-url: url("{{ static "jams/learning-2024/presentation.svg" }}");
		}
	</style>
	<div class="ph3 pv4 bb b--rich-gray post-content">
		<h2 class="dib c--theme-gradient-light">What is a Learning Jam?</h2>
		<div>
			<p>
				The <b class="c--theme-gradient-light">Learning Jam</b> is an opportunity for you to learn something new.
			</p>
			<p>
				Unlike traditional game jams, and unlike our previous programming jams, the goal of the <b class="c--theme-gradient-light">Learning Jam</b> is <em>knowledge</em>. It's an opportunity to throw yourself at a topic and learn everything you can about it—and then, to turn around and share that knowledge with others.
			</p>
			<p>
				The jam takes place over <b>two weekends</b>. On the first weekend, you'll learn as much as you can about your topic of choice. On the second, you'll share what you learned in whatever form you like—writeup, video, Minecraft mod, whatever.
			</p>
		</div>
	</div>
	<div class="ph3 pv4 bb b--rich-gray post-content">
		<h2 class="mb3 dib c--theme-gradient-light">How to participate</h2>
		<div class="flex flex-column g2">
			<div class="pa3 flex flex-column flex-row-ns g3 items-center bg--rich-gray">
				<div class="flex-shrink-0 w4 flex justify-center items-center">
					<div class="flex svg-mask lightbulb-icon bg--theme-gradient-light" style="width: 5.2rem">
						<img class="invisible" src="{{ static "jams/learning-2024/lightbulb.svg" }}" />
					</div>
				</div>
				<div class="post-content">
					<h3 class="f4">Choose a topic.</h3>
					<p>
						Decide what you'll spend your weekend learning about. Maybe there's an area of programming you've been meaning to dig into, or maybe there's a specialization in your field that you've been curious about. Maybe you just need a reason to read papers for a weekend.
					</p>
					<p>
						You're welcome to work in teams or work solo.
					</p>
				</div>
			</div>
			<div class="pa3 flex flex-column flex-row-ns g3 items-center bg--rich-gray">
				<div class="flex-shrink-0 w4 flex justify-center items-center">
					<div class="flex flex-shrink-0 svg-mask books-icon bg--theme-gradient-light" style="width: 3.6rem">
						<img class="invisible" src="{{ static "jams/learning-2024/books.svg" }}" />
					</div>
				</div>
				<div class="post-content">
					<h3 class="f4">Mar 15-17: Learn!</h3>
					<p>
						{{ if and (eq .Timespans.DaysUntilStart 0) (not .SubmittedProject) }}
							<a href="{{ .NewProjectUrl }}">Create a Handmade Network project</a>
						{{ else }}
							Create a Handmade Network project
						{{ end }}
						to track your progress. Then go down the rabbit hole. Absorb as much information as you can in a weekend.
					</p>
					<p>
						As you learn, we encourage you to share updates on Discord using the <b>!til</b> command. These updates will be published as part of your submission.
					</p>
				</div>
			</div>
			<div class="pa3 flex flex-column flex-row-ns g3 items-center bg--rich-gray">
				<div class="flex-shrink-0 w4 flex justify-center items-center">
					<div class="flex flex-shrink-0 svg-mask presentation-icon bg--theme-gradient-light" style="width: 5rem">
						<img class="invisible" src="{{ static "jams/learning-2024/presentation.svg" }}" />
					</div>
				</div>
				<div class="post-content">
					<h3 class="f4">Mar 22-24: Share!</h3>
					<p>
						Share what you learned with the rest of the community. You can present the information in any form you like—whatever helps you communicate most effectively.
					</p>
					<p>
						Your post doesn't have to be the authoritative resource on a subject. It doesn't even have to do much "teaching" at all. The point is just to share what you learned, what surprised you, what you found interesting, and where you want to go from here.
					</p>
					<p>
						Your Handmade Network project is your final submission. Make sure the description gives adequate context, and either attach or link to your final presentation.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="ph3 pv4 bb b--rich-gray post-content">
		<h2 class="dib c--theme-gradient-light">Why?</h2>
		<div>
			<p>
				The Handmade Network's goal is to change the software industry by building back up from new foundations. But in order to do that, we need to understand those foundations.
			</p>
			<p>
				Our other programming jams are great opportunities to try building new things. But what should those new things be? We want to give the community a chance to focus just on learning and research, to gather information and share it with others, to boost the entire community's knowledge on a topic.
			</p>
			<p>
				We hope that the results of the <b class="c--theme-gradient-light">Learning Jam</b> inspire new ideas for the community to explore in the Visibility and Wheel Reinvention jams later in the year. There is so much bad software out in the world, and this is the first step toward reinventing it.
			</p>
		</div>
	</div>
</div>
{{ end }}

{{ define "lj2024-projects" }}
{{ if .JamProjects }}
  <div class="flex flex-row flex-wrap g2 link--white">
    {{ range .JamProjects }}
      <div class="flex-basis-40-ns flex-grow-1 flex-shrink-1 bg--rich-gray pa3 flex flex-column g1">
        {{ if gt (len .Owners) 1 }}
          <div class="flex g2">
            {{ range .Owners }}
              <a title="{{ .Name }}" href="{{ .ProfileUrl }}" class="flex">
                <img src="{{ .AvatarUrl }}" class="user-avatar w2">
              </a>
            {{ end }}
          </div>
        {{ else }}
          {{ range .Owners }}
            <a href="{{ .ProfileUrl }}" class="fw6 link--white flex g2 items-center">
              <img src="{{ .AvatarUrl }}" class="user-avatar w2">
              <div>
                {{ .Name }}
              </div>
            </a>
          {{ end }}
        {{ end }}
        <div class="f3 mt2">
          <a href="{{ .Url }}" class="fw6 db">{{ .Name }}</a>
        </div>
        <div class="flex-grow-1">{{ .Blurb }}</div>
      </div>
    {{ end }}
    {{ if isodd (len .JamProjects) }}
      <div class="flex-basis-40-ns flex-grow-1 flex-shrink-1"></div>
    {{ end }}
  </div>
{{ else }}
  No projects have been created yet. <a href="{{ .NewProjectUrl }}">Be the first!</a>
{{ end }}
{{ end }}

{{ define "lj2024-feeditems" }}
{{ range . }}
  <div class="flex flex-column g3 bg--rich-gray pa3">
    <div class="flex flex-row g3 items-start">
      {{ if .OwnerAvatarUrl }}
        <a class="flex flex-shrink-0 br-100 square items-center justify-center overflow-hidden" href="{{ .OwnerUrl }}">
          <img class="user-avatar w2-5" src="{{ .OwnerAvatarUrl }}" />
        </a>
      {{ end }}
      <div class="flex flex-column">
        <div class="">
          <a title="{{ (index .Projects 0).Blurb }}" href="{{ (index .Projects 0).Url }}" class="link--white fw6">{{ (index .Projects 0).Name }}</a>
          by
          <a href="{{ .OwnerUrl }}" class="link--white fw6">{{ .OwnerName }}</a>
          <span class="f7 c--gray nowrap">{{ timehtml (relativedate .Date) .Date }}</span>
        </div>
        <div>{{ trim .Description }}</div>
      </div>
    </div>
    {{ range .Media }}
      <div class="flex flex-column {{ if eq .Type mediaembed }}wide-screen{{ end }} justify-stretch iframe-fill">
        {{ if eq .Type mediaimage }}
          <img src="{{ .AssetUrl }}">
        {{ else if eq .Type mediavideo }}
          {{ if .ThumbnailUrl }}
            <video src="{{ .AssetUrl }}" poster="{{ .ThumbnailUrl }}" preload="none" controls>
          {{ else }}
            <video src="{{ .AssetUrl }}" preload="metadata" controls>
          {{ end }}
        {{ else if eq .Type mediaaudio }}
          <audio src="{{ .AssetUrl }}" controls>
        {{ else if eq .Type mediaembed }}
          {{ .EmbedHTML }}
        {{ else }}
          <div class="">
            <a href="{{ .AssetUrl }}" target="_blank">💾{{ .Filename }} ({{ filesize .FileSize }})</a>
          </div>
        {{ end }}
      </div>
    {{ end }}
  </div>
{{ end }}
{{ end }}
