{{ define "wrj2025-styles" }}
  <script src="{{ static "js/countdown.js" }}"></script>
  <style>
    :root {
    --c-jam-gradient-start: #5E24C9;
    --c-jam-gradient-end: #C329AE;
    --jam-gradient: linear-gradient(to bottom right, var(--c-jam-gradient-start), var(--c-jam-gradient-end));

      --link-color: #C329AE;
    }

    @media (prefers-color-scheme: dark) {
      :root {
        --link-color: #FF71EC;
      }
    }

    .content-top {
      background: var(--jam-gradient);
      --link-color: var(--color);
      --button-color: transparent;
    }

    .btn {
      border: 1px solid white;
    }

    .link-bold a {
      font-weight: 700;
    }

    .jam-guidelines.jam-emphasized {
      background-color: var(--c3);
    }

    .jam-guidelines {
      background-color: var(--c2);
    }

    .jam-inspiration {
      max-height: 36rem;
    }

    .jam-inspiration .pic {
      max-width: 18rem;
    }
    
    @media screen and (min-width: 35em) {
      .jam-inspiration {
        max-height: 48rem;
      }

      .jam-inspiration .pic {
        max-width: 22rem;
      }
    }

    .jam-inspiration .pic .caption {
      font-size: 0.75rem;
      line-height: 1.5;
      padding-top: var(--spacing-1);
    }
  </style>
{{ end }}

{{ define "wrj2025-bannerbig" }}
<div class="mw-site-narrow m-center tc link-normal c-white c-normal">
  <div class="flex flex-column pv4 tc ph3 ph0-l">
    <img class="jam-logo m-center" src="{{ static "jams/wheel-reinvention-2024/logo.svg" }}">
    <div class="m-center mt3 mt4-ns">
      <a class="db" href="{{ .JamUrl }}">
        <h1 class="jam-title mb2">Wheel Reinvention Jam</h1>
      </a>
      <div class="jam-subtitle fw5 mb1">
        September 22-28, 2025.
        {{ if .Timespans.BeforeEnd }}
          {{ if .Timespans.During }}
            <span class="fw7">Happening now.</span>
          {{ else if eq .Timespans.DaysUntilStart 1 }}
            <span class="fw7">Starting tomorrow.</span>
          {{ else }}
            <span class="fw7">In {{ .Timespans.DaysUntilStart }} days.</span>
          {{ end }}
        {{ end }}
      </div>
    </div>
    {{ if .Timespans.BeforeEnd }}
      <div class="flex f6 f5-l g2 g3-l justify-center mt4">
        <a href="#newsletter" class="btn">Newsletter Signup</a>
        <a href="https://discord.gg/hmn?event=1362797926514167838" class="btn">Join the Discord</a>
      </div>
    {{ end }}
  </div>
</div>
<style>
  .jam-logo {
    width: 20rem;
  }
  
  .jam-title {
    font-size: 1.86rem;
    font-weight: 700;
  }
  
  .jam-subtitle {
    font-size: 1.2rem;
  }
  
  @media screen and (min-width: 60em) {
    .jam-logo {
      width: 26.2rem;
    }
    
    .jam-title {
      font-size: 3.8rem;
    }
    
    .jam-subtitle {
      font-size: 1.5rem;
    }
  }
</style>
{{ end }}

{{ define "wrj2025-bannersmall" }}
    <div class="mw7 center link-normal c-white c-normal">
        <div class="flex flex-column flex-row-ns justify-center items-center pv4 g3 tc tl-ns">
            <img class="jam-logo" src="{{ static .Assets.Logo }}">
            <div class="flex flex-column justify-between">
                <div>
                    <a class="db small" href="{{ .JamUrl }}">
                        <h1 class="jam-title">Wheel Reinvention Jam</h1>
                    </a>
                    <div class="fw6 f5 mb3">September 22 - 28, 2025</div>
                </div>
                <div class="flex items-center g2">
                    {{ if and (not .SubmittedProject) .Timespans.BeforeEnd }}
                        <a href="{{ .NewProjectUrl }}" class="btn">Create your project</a>
                    {{ else }}
                        <a href="https://discord.gg/hmn?event=1362797926514167838" class="btn">Join the Discord</a>
                    {{ end }}    
                    <!-- TODO(jam): Guidelines link appears in the guidelines page. -->
                    <a href="{{ .GuidelinesUrl }}" class="flex items-baseline pv2 ph3">Guidelines <div class="dib svgicon f8 ml1">{{ svg "chevron-right" }}</div></a>
                </div>
            </div>
        </div>
    </div>
    <style>
        .jam-logo {
            width: 11.6rem;
        }

        .jam-title {
            font-size: 2.25rem;
            font-weight: 700;
        }
    </style>
{{ end }}

{{ define "wrj2025-description" }}
  <div class="flex justify-center link-bold">
    <div class="mw-site-narrow ph3 ph0-l pv4 post-content">
      <p>
        The <b>Wheel Reinvention Jam</b> is a one-week jam to build software from scratch.
      </p>
      <p>
        Inspired by <a href="https://handmadehero.org/">Handmade Hero</a>, we believe in the power of reinventing the wheel. It's an opportunity to grow as a programmer, to question long-held assumptions, and to discover how simple and effective software can be. The Wheel Reinvention Jam is a chance to start your own Handmade project and see where it takes you.
      </p>
    </div>
  </div>
{{ end }}

{{ define "wrj2025-rationale" }}
  <div class="flex justify-center link-bold">
    <div class="mw-site-narrow ph3 ph0-l pv4 post-content">
      <h2>Why reinvent the wheel?</h2>
      <p>
        Reinventing the wheel is in the <a href="https://guide.handmadehero.org/code/day001qa/#3410">DNA</a> of the Handmade community. First of all, it's fun! But there are so many reasons why reinventing the wheel is important, not just for individual programmers, but for the whole software industry:
      </p>
      <ul>
        <li><b>It builds deeper understanding.</b> There is no better way for a programmer to learn than by writing things from scratch. Making something by hand teaches you the reality of the problem in a way no book or course can convey. Often, the real insight is in the details.</li>
        <li><b>It reveals the ground truth.</b> It is often shocking how easy it is to reinvent the wheel. Software is so bloated and complicated that people often forget what is actually required to solve the problem. Reinventing the wheel reminds us of this ground truth and sharpens our outlook on software.</li>
        <li><b>It's how progress is made.</b> Rethinking assumptions is just good engineering. Legacy software is constantly being replaced by software that explores new techniques or takes advantage of new hardware. LLVM started as a student project and now powers most compilers today. <a href="https://jangafx.com/">JangaFX</a> was founded by a Handmade community member and is now the industry leader in smoke and fire simulation. Sometimes wheels just need to be reinvented.</li>
      </ul>
      <p>
        Every important software project begins as a simple prototype. So take the opportunity to start something new!
      </p>
    </div>
  </div>
{{ end }}

{{ define "wrj2025-inspiration" }}
<div class="pt4 link-bold link-gradient">
  <div class="mw-site-narrow m-center ph3 ph0-l">
    <h2 class="dib pb3 f3 c--jam-gradient">Inspiration</h2>
    <div class="post-content">
      <p>
        Here's a sampling of interesting submissions to previous Wheel Reinvention Jams. For more inspiration, check out the <b>#wishlist</b> channel on Discord.
      </p>
    </div>
  </div>
  <div class="jam-inspiration flex flex-column flex-wrap g3 g4-l ph3 ph0-l ph4-l pt3 pt4-ns pb4 overflow-x-scroll">
    <div class="pic">
      <img src="{{ static "jams/wheel-reinvention-2025/perspective.jpg" }}">
      <div class="caption"><a href="https://handmade.network/p/624/perspective-drawing-visualizer/">Perspective Drawing Visualizer</a> is a tool created by a community member to help himself grow as an artist. (<a href="https://youtu.be/XLY2Ta9ugtQ?t=158">Demo</a>)</div>
    </div>
    <div class="pic">
      <img src="{{ static "jams/wheel-reinvention-2025/screenbuddy.jpg" }}">
      <div class="caption"><a href="https://screenbuddy.handmade.network/">ScreenBuddy</a> is a dead-simple screen sharing application for Windows. (<a href="https://youtu.be/XLY2Ta9ugtQ?t=5784">Demo</a>)</div>
    </div>
    <div class="pic">
      <img src="{{ static "jams/wheel-reinvention-2025/afforix.jpg" }}">
      <div class="caption"><a href="https://handmade.network/p/613/afforix-box/">Afforix Box</a> is a physical device that can be used to activate and deactivate programs on your computer. (<a href="https://youtu.be/XLY2Ta9ugtQ?t=825">Video</a>)</div>
    </div>
    <div class="pic">
      <img src="{{ static "jams/wheel-reinvention-2025/6502.png" }}">
      <div class="caption"><a href="https://handmade.network/p/625/6502-the-spreadsheet/">6502: The Spreadsheet</a> is a reference manual, emulator, and code generator for the 6502 processor, all wrapped up in a single spreadsheet. (<a href="https://youtu.be/XLY2Ta9ugtQ?t=2082">Demo</a>)</div>
    </div>
    <div class="pic">
      <img src="{{ static "jams/wheel-reinvention-2024/shapeup.png" }}">
      <div class="caption"><a href="https://handmade.network/p/440/shapeup/">ShapeUp</a> is a 3D editor that uses signed distance fields to make it easy to edit solid geometry. (<a href="https://youtu.be/-Xb3Kk3HhIw?si=u2U-2hqYr5vA123a">Video</a>)</div>
    </div>
    <div class="pic">
      <img src="{{ static "jams/wheel-reinvention-2024/zunderglow.png" }}">
      <div class="caption"><a href="https://handmade.network/p/436/zunderglow/">ZUnderglow</a> is a tool for programming RGB lighting and synchronizing it to music. (<a href="https://www.youtube.com/watch?v=BuYoXfPZ6cI&t=6525s">Demo</a>)</div>
    </div>
    <div class="pic">
      <img src="{{ static "jams/wheel-reinvention-2024/scroll.png" }}">
      <div class="caption"><a href="https://handmade.network/forums/jam/t/8116-jam_submition_-_scroll%252C_a_experiment_in_a_non_text_typesetting_file_format">Scroll</a> is an experimental take on word processing where documents are edited structurally. Complete with PDF export! (<a href="https://www.youtube.com/watch?v=1RjU5XJqysc&t=1083s">Demo</a>)</div>
    </div>
    <div class="pic">
      <img src="{{ static "jams/wheel-reinvention-2024/badpaint.jpg" }}">
      <div class="caption"><a href="https://handmade.network/p/441/badpaint/">badpaint</a> is an image corruption editor that makes it easy to create glitched images. (<a href="https://www.youtube.com/watch?v=BuYoXfPZ6cI&t=4933s">Demo</a>)</div>
    </div>
    <div class="pic">
      <img src="{{ static "jams/wheel-reinvention-2024/dbexplorer.png" }}">
      <div class="caption"><a href="https://handmade.network/forums/jam/t/8127-jam_submission__database_explorer">Database Explorer</a> is a visual dataflow editor for SQL databases, which produces real SQL queries using a flexible visual interface. (<a href="https://www.youtube.com/watch?v=1RjU5XJqysc&t=6390s">Demo</a>)</div>
    </div>
    <div class="pic">
      <img src="{{ static "jams/wheel-reinvention-2024/bifoldtext.jpg" }}">
      <div class="caption"><a href="https://handmade.network/p/283/bifold-text/">Bifold Text</a> is an experimental code format, editor, and runtime environment that asks the question: what if each line of code was two lines of code? (<a href="https://handmade.network/snippet/1561">Demo</a>)</div>
    </div>
    <div class="pic">
      <img src="{{ static "jams/wheel-reinvention-2024/aura.png" }}">
      <div class="caption"><a href="https://handmade.network/p/431/aura/">Aura</a> is a custom build server integrated with a custom source control system. (<a href="https://www.youtube.com/watch?v=BuYoXfPZ6cI&t=1220s">Demo</a>)</div>
    </div>
    <div class="pic">
      <img src="{{ static "jams/wheel-reinvention-2024/netsim.png" }}">
      <div class="caption"><a href="https://handmade.network/p/293/netsim/">netsim</a> is a network simulator that runs in a browser, designed for education.</div>
    </div>
    <div class="pic">
      <img src="{{ static "jams/wheel-reinvention-2024/sdfatlas.jpg" }}">
      <div class="caption"><a href="https://handmade.network/p/274/sdf-atlas/">SDF Atlas</a> is an experimental tool for authoring SDF shapes, without ever touching a line of shader code. (<a href="https://vimeo.com/776799666">Demo</a>)</div>
    </div>
    <div class="pic">
      <img src="{{ static "jams/wheel-reinvention-2024/liluefi.png" }}">
      <div class="caption"><a href="https://handmade.network/p/308/lil-uefi/">Lil UEFI</a> is a simple header-only C library for creating UEFI programs. (<a href="https://www.youtube.com/watch?v=BkOsE63bGuA&t=2864s">Demo</a>)</div>
    </div>
    <div class="pic">
      <img src="{{ static "jams/wheel-reinvention-2024/threadexplorer.png" }}">
      <div class="caption"><a href="https://handmade.network/forums/jam/t/8137-jam_submission_-_twitter_thread_graph_explorer">Twitter Thread Graph Explorer</a> allows you to explore a user's Twitter history when it is full of links and self-references. (<a href="https://vimeo.com/641790252">Demo</a>)</div>
    </div>
  </div>
</div>
{{ end }}

{{ define "wrj2025-howto" }}
  <div class="bg1 flex justify-center link-bold">
    <div class="mw-site-narrow ph3 ph0-l post-content">
      <h2>How to participate</h2>
      <div class="flex flex-column g2">
        <div class="jam-guidelines pa3 {{ if .Timespans.Pre }}jam-emphasized{{ end }}">
          <h3 class="f4 mb3">Join the community.</h3>
          <div class="post-content">
            <p>
              Join the <a href="https://discord.gg/hmn?event=1362797926514167838">Handmade Network Discord</a> to connect with other jammers. Use the time before the jam to brainstorm project ideas, and consider teaming up with others from the community.
            </p>
          </div>
        </div>
        <div class="jam-guidelines pa3 {{ if and (not .SubmittedProject) .Timespans.During (gt .Timespans.DaysUntilEnd 1) }}jam-emphasized{{ end }}">
          <h3 class="f4 mb3">Create your project submission.</h3>
          <div class="post-content">
            <p>
              Create a Handmade Network project. This project will act as your submission and can be used to share your work in progress throughout the jam.
            </p>
          </div>
        </div>
        <div class="jam-guidelines pa3 {{ if and .SubmittedProject .Timespans.During (gt .Timespans.DaysUntilEnd 1) }}jam-emphasized{{ end }}">
          <h3 class="f4 mb3">Jam.</h3>
          <div class="post-content">
            <p>
              Spend the week and weekend working on your project. You are free to dedicate as much or as little time to your project as you want, but the general expectation is to jam in the evenings during the week and jam all day on the weekend. Regardless, we give you a full week so that you have time to put together an interesting result&mdash;and time to sleep on tricky problems.
            </p>
            <p>
              As you go, make sure to share your work in <b>#project-showcase</b> and <b>#workspace</b> on Discord. You can use our tagging system {{/* TODO: Link to a page explaining the project tagging system */}} to automatically link your posts to your Handmade Network project.
            </p>
          </div>
        </div>
        <div class="jam-guidelines pa3">
          <h3 class="f4 mb3">Submit your work!</h3>
          <div class="post-content">
            <p>
              Your Handmade Network project is your submission. Make sure to give your project a meaningful title and description, and make sure to explain the project's goals.
            </p>
            {{ if .Timespans.During }}
              <p>
                Submissions close <b><span class="countdown" data-deadline="{{ .EndTimeUnix }}"></span></b>.
              </p>
            {{ else if .Timespans.Post }}
              <p>
                <b>Submissions are now closed.</b>
              </p>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}

{{ define "wrj2025-newsletter" }}
  <div id="newsletter" class="pv4 link-bold">
    <div class="mw-site-narrow m-center ph3 ph0-l tc">
      <div class="post-content">
        <p>Sign up for our email newsletter to make sure you don&apos;t miss future announcements:</p>
        {{ template "newsletter_signup.html" . }}
      </div>
    </div>
  </div>
{{ end }}

{{ define "wrj2025-submittedproject" }}
  <div class="flex justify-center bg1">
    <div class="mw-site-narrow w-100">
      <div class="ph3 ph0-l">
        <h2 class="f3">Your submission</h2>
        {{ if .SubmittedProject }}
          <div class="mt3 flex flex-column g3">
            {{ template "project_card.html" .SubmittedProject }}
          </div>
        {{ else if .NewProjectUrl }}
          <a class="mt3 bg2 tc pv4 flex justify-center items-center g2" href="{{ .NewProjectUrl }}">{{ svg "add" }}Create your project</a>
        {{ else }}
          <div class="mt3 bg2 tc pv4 flex justify-center items-center g2 f7">
            Submissions open one week before the jam.
          </div>
        {{ end }}
        {{ if .Timespans.Pre }}
          <p class="post-content mb0 link-bold">
            Your submission will be in the form of a Handmade Network project. The project also allows you to share updates throughout the jam, either directly from this website or from the Handmade Network Discord.
          </p>
        {{ else if .Timespans.During }}
          <p class="post-content mb0 link-bold">
            {{ if eq .Timespans.DaysUntilEnd 1 }}
              The jam ends <b>tonight.</b> Make sure to edit your submission before the deadline!
            {{ else }}
              The jam ends <b>in {{ .Timespans.DaysUntilEnd }} days.</b> You can edit your submission at any time. Don&apos;t forget to share updates in <b>#project-showcase</b> and <b>#workspace</b> on Discord as you go!
            {{ end }}
          </p>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}

{{ define "wrj2025-allsubmissions" }}
  <div class="flex justify-center">
    <div class="mw-site-narrow w-100">
      <div class="ph3 ph0-l">
        <h2 class="f3">All submissions</h2>
      </div>
    </div>
  </div>
  <div class="flex justify-center">
    {{ if .JamProjects }}
      <div class="w-100 ph3 ph4-l">
        <div class="pt3 flex flex-wrap justify-center g3">
          {{ range .JamProjects }}
            <div class="w-100 w6-ns">
              {{ template "project_card.html" . }}
            </div>
          {{ end }}
        </div>
      </div>
    {{ else }}
      <div class="mw-site-narrow w-100 mt3 bg1 tc pv4 flex justify-center items-center g2 f7">
        No projects have been submitted yet.
      </div>
    {{ end }}
  </div>
{{ end }}

{{ define "wrj2025-feed" }}
  <div class="flex justify-center">
    <div class="mw-site-narrow w-100">
      <div class="ph3 ph0-l">
        <h2 class="f3">{{ if .ShortFeed }}Recent updates{{ else }}All updates{{ end }}</h2>
        <div class="mt3 flex flex-column g3">
          {{ range .TimelineItems }}
            {{ template "timeline_item.html" . }}
          {{ else }}
            <div class="bg3 tc pv4 f7">
              No project updates have been posted yet.
            </div>
          {{ end }}
        </div>
        {{ if .ShortFeed }}
          <div class="link-bold pv2 tr">
            <a href="{{ .JamFeedUrl }}">See more</a>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}

{{ define "wrj2025-recap" }}
  <div class="flex justify-center link-bold">
    <div class="w-100 mw-site-narrow">
      <div class="ph3 ph0-l pv4">
        <h2 class="f3 pb3">Watch the recap</h2>
        <div class="post-content">
          <p>Watch the live recap show celebrating all of this year&apos;s amazing submissions.</p>
          <div class="aspect-ratio aspect-ratio--16x9">
            {{ if .RecapStreamEmbedUrl }}
                <iframe class="aspect-ratio--object" src="{{ .RecapStreamEmbedUrl }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            {{ else if .TwitchEmbedUrl }}
              <iframe class="aspect-ratio--object" src="{{ .TwitchEmbedUrl }}" allowfullscreen frameborder="0"></iframe>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}

