<div class="ph3 pv4 bb b--rich-gray post-content">
	<h2 class="dib c--theme-gradient-light">What is a Learning Jam?</h2>
	<div class="post-content">
		<p>
			The <b class="c--theme-gradient-light">Learning Jam</b> is an opportunity for you to learn something new.
		</p>
		<p>
			Unlike traditional game jams, and unlike our previous programming jams, the goal of the <b class="c--theme-gradient-light">Learning Jam</b> is <em>knowledge</em>. It's an opportunity to throw yourself at a topic and learn everything you can about it—and then, to turn around and share that knowledge with others.
		</p>
		<p>
			The jam takes place over <b>two weekends</b>. On the first weekend, you'll learn as much as you can about your topic of choice. On the second, you'll share what you learned in whatever form you like—writeup, video, Minecraft mod, whatever.
		</p>
	</div>
</div>
