{{ define "wrj2024-guidelines-top" }}
  <div class="flex justify-center link-bold link-gradient">
    <div class="mw-site-narrow">
      <div class="ph3 ph0-ns pv4">
        <h2 class="dib f3 pb3 c--jam-gradient"></h2>
        <div class="post-content">
          <p>
              The <b>Wheel Reinvention Jam</b> is a one-week jam where we build software from&nbsp;scratch.
          </p>
          <p>
              Why build things from scratch? Because that's the only way real progress is made. Every impactful project started life as a small experiment. Plus, writing something from scratch turns theory into practice. You may think you know how a piece of technology works, but until you write it yourself, it won't really stick. There's no substitute for direct experience.
          </p>
          <p>
              And let's face it, most of the software we use is basically the same as it was twenty or thirty years ago. Our "wheels" are terrible! They need to be reinvented!
          </p>
          <p>
              So take this opportunity to try something ambitious, something weird, an unfamiliar take on a familiar problem. Who's gonna stop&nbsp;you?
          </p>
        </div>
      </div>
    </div>
  </div>
{{ end }}

{{ define "wrj2024-guidelines-bottom" }}

{{ end }}

{{ define "wrj2024-projects" }}
  <div class="flex justify-center">
    <div class="mw-site-narrow w-100">
      <div class="ph3 ph0-ns pv4">
        <h2 class="dib f3 pb3 c--jam-gradient">All submissions</h2>
        <div class="flex flex-column g3">
          {{ range .JamProjects }}
            {{ template "project_card.html" . }}
          {{ end }}
        </div>
      </div>
	  </div>
  </div>
{{ end }}

{{ define "wrj2024-submittedproject" }}
  <div class="flex justify-center">
    <div class="mw-site-narrow w-100">
      <div class="ph3 ph0-ns pv4">
        <h2 class="dib f3 c--jam-gradient">Your submission</h2>
        {{ if .Timespans.During }}
          <p class="post-content link-bold link-gradient">
            {{ if eq .Timespans.DaysUntilEnd 1 }}
              The jam ends <b>tonight.</b> Make sure to edit your submission before the deadline!
            {{ else }}
              The jam ends <b>in {{ .Timespans.DaysUntilEnd }} days.</b> You can edit your submission at any time. Don't forget to share updates in #project-showcase on <a href="https://discord.gg/hmn">Discord</a> as you go!
            {{ end }}
          </p>
        {{ end }}
        {{ if .SubmittedProject }}
          <div class="mt3 flex flex-column g3">
            {{ template "project_card.html" .SubmittedProject }}
          </div>
        {{ else }}
          <a class="mt3 bg2 tc pv4 flex justify-center items-center g2" href="{{ .NewProjectUrl }}">{{ svg "add" }}Create your project</a>
        {{ end }}
      </div>
	  </div>
  </div>
{{ end }}

{{ define "wrj2024-feed" }}
  <div class="flex justify-center">
    <div class="mw-site-narrow w-100">
      <div class="ph3 ph0-ns pv4">
        <h2 class="dib f3 c--jam-gradient">{{ if .ShortFeed }}Recent activity{{ else }}All updates{{ end }}</h2>
        <div class="mt3 flex flex-column g3">
          {{ range .TimelineItems }}
            {{ template "timeline_item.html" . }}
          {{ else }}
            <div class="bg3 tc pv4 f7">
              No project updates have been posted yet.
            </div>
          {{ end }}
        </div>
        {{ if .ShortFeed }}
          <div class="link-bold link-gradient pv2 tr">
            <a href="{{ .JamFeedUrl }}">See more</a>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}

{{ define "wrj2024-recap" }}
  <div class="flex justify-center link-bold link-gradient">
    <div class="w-100 mw-site-narrow">
      <div class="ph3 ph0-ns pv4">
        <h2 class="dib f3 pb3 c--jam-gradient">Watch the recap</h2>
        <div class="post-content">
          <p>Watch the live recap show celebrating all of this year's amazing submissions.</p>
          <div class="aspect-ratio aspect-ratio--16x9">
            <iframe class="aspect-ratio--object" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}
