{{ define "2025_wrj_styles" }}
  <script src="{{ static "js/countdown.js" }}"></script>
  <style>
    :root {
      --c-jam-gradient-start: #0F5D8F;
      --c-jam-gradient-end: #05121D;
      /* Jes originally used #03050A for the end color; I modified it to make it slightly softer. */
      --jam-gradient: radial-gradient(var(--c-jam-gradient-start), var(--c-jam-gradient-end));

      --link-color: #6bbff7;
    }

    .content-top {
      background: var(--jam-gradient);
      --link-color: var(--color);
      --button-color: transparent;
    }

    .btn {
      border: 1px solid white;
    }

    .link-bold a {
      font-weight: 700;
    }

    .jam-guidelines.jam-emphasized {
      background-color: var(--c3);
    }

    .jam-guidelines {
      background-color: var(--c2);
    }
  </style>
{{ end }}

{{ define "2025_wrj_bannerbig" }}
    <div class="mw-site-narrow m-center tc link-normal c-white c-normal">
        <div class="flex flex-column pv4 tc ph3 ph0-l">
            <a class="jam-logo flex self-center" href="{{ .JamUrl }}"> <!-- fit to image -->
                <img src="{{ static .Assets.Logo }}">
                <h1 class="jam-title">Wheel Reinvention Jam</h1>
                <div class="jam-subtitle">September 22-28<br>2025</div>
            </a>
            <div class="m-center mt4">
                !! CHANGE SUBTITLE !!
                See how software works on the inside.
            </div>
            {{ if .Timespans.BeforeEnd }}
                <div class="flex f6 f5-l g2 g3-l justify-center mt4">
                    <a href="#newsletter" class="btn">Newsletter Signup</a>
                    <a href="{{ .DiscordInviteUrl }}" class="btn">Join the Discord</a>
                </div>
            {{ end }}
        </div>
    </div>
    <style>
        .jam-logo {
            width: 20rem;
            max-width: 100%;
            position: relative;
            container: logo / inline-size;
        }

        .jam-title {
            position: absolute;
            font-size: 8cqw;
            font-weight: 700;
            left: 33.1%;
            bottom: 1.4%;
        }

        .jam-subtitle {
            position: absolute;
            text-align: right;
            font-size: 3.7cqw;
            font-weight: 700;
            right: 0;
            bottom: 2.4%;
            line-height: 0.9;
        }

        @media screen and (min-width: 60em) {
            .jam-logo {
                width: 36rem;
            }
        }
    </style>
{{ end }}

{{ define "2025_wrj_bannersmall" }}
    <div class="mw7 center link-normal c-white c-normal">
        <div class="flex flex-column flex-row-ns justify-center items-center pv4 g3 tc tl-ns">
            <img class="jam-logo" src="{{ static .Assets.Logo }}">
            <div class="flex flex-column justify-between">
                <div>
                    <a class="db small" href="{{ .JamUrl }}">
                        <h1 class="jam-title">Wheel Reinvention Jam</h1>
                    </a>
                    <div class="fw6 f5 mb3">September 22 - 28, 2025</div>
                </div>
                <div class="flex items-center g2">
                    {{ if and (not .SubmittedProject) .Timespans.BeforeEnd }}
                        <a href="{{ .NewProjectUrl }}" class="btn">Create your project</a>
                    {{ else }}
                        <a href="https://discord.gg/hmn" class="btn">Join the Discord</a>
                    {{ end }}    
                    <!-- TODO(jam): Guidelines link appears in the guidelines page. -->
                    <a href="{{ .GuidelinesUrl }}" class="flex items-baseline pv2 ph3">Guidelines <div class="dib svgicon f8 ml1">{{ svg "chevron-right" }}</div></a>
                </div>
            </div>
        </div>
    </div>
    <style>
        .jam-logo {
            width: 11.6rem;
        }

        .jam-title {
            font-size: 2.25rem;
            font-weight: 700;
        }
    </style>
{{ end }}

{{ define "2025_wrj_description" }}
  <div class="flex justify-center link-bold">
    <div class="mw-site-narrow ph3 ph0-l pv4 post-content">
      <p>
        The <b>X-Ray Jam</b> is a one-week jam where we look inside the software we use every day.
      </p>
      <p>
        Computers are black boxes. The more you learn about programming, the more you become aware of the incredible complexity of modern software. Our programs run atop layers and layers of supporting software, and yet these layers are <b>invisible</b> to us.
      </p>
      <p>
        If we intend to make high-quality software, we need to <b>see through those layers</b>. We must learn how systems work and build tools to show us those inner workings. The X-Ray Jam is a chance to do that.
      </p>
    </div>
  </div>
{{ end }}

{{ define "2025_wrj_rationale" }}
  <div class="flex justify-center link-bold">
    <div class="mw-site-narrow ph3 ph0-l pv4 post-content">
      <h2>Why X-Ray?</h2>
      <p>
        The X-Ray Jam is a new spin on our <a href="http://handmade.network/jam/visibility-2024">Visibility Jam</a> from past years, and a complement to our flagship <a href="http://handmade.network/jam/wheel-reinvention-2024">Wheel Reinvention Jam</a>. The purpose of both jams is to push the Handmade community to build better software by understanding our systems and leveraging that knowledge to build fundamentally better software.
      </p>
      <p>
        These two jams push us into <a href="https://en.wikipedia.org/wiki/Double_Diamond_(design_process_model)">divergent and convergent thinking</a>. The X-Ray Jam helps us <b>understand</b> our systems, what problems they are solving, and how they solve them. The Wheel Reinvention Jam lets us <b>apply</b> that knowledge to build software that isn&apos;t just faster or lighter, but fundamentally different from (and hopefully better than!) the status quo.
      </p>
      <p>
        And of course, we can all reap the benefits of better tooling. The X-Ray Jam is designed to both expand our knowledge and give us better tools, which we can all use to be more productive with the systems we use every day.
      </p>
    </div>
  </div>
{{ end }}

{{ define "2025_wrj_inspiration" }}
  <div class="flex justify-center link-bold">
    <div class="mw-site-narrow ph3 ph0-l pv4 post-content">
      <h2>What does X-ray mean?</h2>
      <p>
        It means investigating how software works "on the inside". What exactly this means is up to you, but it could mean:
      </p>
      <ul>
        <li>A program that lets you see and record all the window messages your program receives from the OS</li>
        <li>Investigating why your "favorite" productivity tool is so slow to open (what is it doing behind the splash screen?)</li>
        <li>Recording and replaying the behavior of a heap allocator, to see how well it organizes allocations</li>
        <li>A tool that uses packet capture to log and summarize all network activity on your machine (between processes and to the internet)</li>
        <li>Hacking up a compiler to make it log information about heuristics and optimizations</li>
        <li>Writing a virus for an old version of Windows to understand the vulnerabilities it exploited</li>
        <li>Making some kind of Bluetooth logger to find all the Bluetooth devices in your house</li>
      </ul>
      <p>
        If in doubt, start with something familiar and then go one level deeper.
      </p>
    </div>
  </div>
{{ end }}

{{ define "2025_wrj_howto" }}
  <div class="bg1 flex justify-center link-bold">
    <div class="mw-site-narrow ph3 ph0-l post-content">
      <h2>How to participate</h2>
      <div class="flex flex-column g2">
        <div class="jam-guidelines pa3 {{ if .Timespans.Pre }}jam-emphasized{{ end }}">
          <h3 class="f4 mb3">Join the community.</h3>
          <div class="post-content">
            <p>
              Join the <a href="{{ .DiscordInviteUrl }}">Handmade Network Discord</a> to connect with other jammers. Use the time before the jam to brainstorm project ideas, and consider teaming up with others from the community.
            </p>
          </div>
        </div>
        <div class="jam-guidelines pa3 {{ if and (not .SubmittedProject) .Timespans.During (gt .Timespans.DaysUntilEnd 1) }}jam-emphasized{{ end }}">
          <h3 class="f4 mb3">Create your project submission.</h3>
          <div class="post-content">
            <p>
              {{ if and .NewProjectUrl (not .SubmittedProject) }}
                <a href="{{ .NewProjectUrl }}" target="_blank">
                  <b>Create a Handmade Network project.</b>
                </a>
              {{ else }}
                Create a Handmade Network project.
              {{ end }}
              This project will act as your submission and can be used to share your work in progress throughout the jam.
            </p>
            <p>Then get started! Share screenshots and videos in <b>#project-showcase</b> and <b>#jam</b> on Discord, or directly from your project page.</p>
          </div>
        </div>
        <div class="jam-guidelines pa3 {{ if and .SubmittedProject .Timespans.During (gt .Timespans.DaysUntilEnd 1) }}jam-emphasized{{ end }}">
          <h3 class="f4 mb3">Jam.</h3>
          <div class="post-content">
            <p>
              Spend the week and weekend working on your project. You are free to dedicate as much or as little time to your project as you want, but the general expectation is to jam in the evenings during the week and jam all day on the weekend. Regardless, we give you a full week so that you have time to put together an interesting result&mdash;and time to sleep on tricky problems.
            </p>
            <p>
              As you go, make sure to share your work in <b>#project-showcase</b> and <b>#jam</b> on Discord. You can use our tagging system {{/* TODO: Link to a page explaining the project tagging system */}} to automatically link your posts to your Handmade Network project.
            </p>
          </div>
        </div>
        <div class="jam-guidelines pa3">
          <h3 class="f4 mb3">Submit your work!</h3>
          <div class="post-content">
            <p>
              <b>Your Handmade Network project is your submission.</b> Make sure to give your project a meaningful title and description, and make sure to explain the project&apos;s goals.
            </p>
            <p>
              <b>New this year:</b> Projects <s>now</s> will soon support blog posts, {{/* TODO: Link to blog post about blog posts */}} giving you a great way to post richer write-ups for your project and to allow others to comment and discuss.
            </p>
            {{ if .Timespans.During }}
              <p>
                Submissions close <b><span class="countdown" data-deadline="{{ .EndTimeUnix }}"></span></b>.
              </p>
            {{ else if .Timespans.Post }}
              <p>
                <b>Submissions are now closed.</b>
              </p>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}

{{ define "2025_wrj_newsletter" }}
  <div id="newsletter" class="pv4 link-bold">
    <div class="mw-site-narrow m-center ph3 ph0-l tc">
      <div class="post-content">
        <p>Sign up for our email newsletter to make sure you don&apos;t miss future announcements:</p>
        {{ template "newsletter_signup.html" . }}
      </div>
    </div>
  </div>
{{ end }}

{{ define "2025_wrj_submittedproject" }}
  <div class="flex justify-center bg1">
    <div class="mw-site-narrow w-100">
      <div class="ph3 ph0-l">
        <h2 class="f3">Your submission</h2>
        {{ if .SubmittedProject }}
          <div class="mt3 flex flex-column g3">
            {{ template "project_card.html" .SubmittedProject }}
          </div>
        {{ else }}
          <a class="mt3 bg2 tc pv4 flex justify-center items-center g2" href="{{ .NewProjectUrl }}">{{ svg "add" }}Create your project</a>
        {{ end }}
        {{ if .Timespans.Pre }}
          <p class="post-content mb0 link-bold">
            Your submission will be in the form of a Handmade Network project. The project also allows you to share updates throughout the jam, either directly from this website or from the <a href="https://discord.gg/hmn">Handmade Network Discord</a>.
          </p>
        {{ else if .Timespans.During }}
          <p class="post-content mb0 link-bold">
            {{ if eq .Timespans.DaysUntilEnd 1 }}
              The jam ends <b>tonight.</b> Make sure to edit your submission before the deadline!
            {{ else }}
              The jam ends <b>in {{ .Timespans.DaysUntilEnd }} days.</b> You can edit your submission at any time. Don&apos;t forget to share updates in <b>#project-showcase</b> on <a href="https://discord.gg/hmn">Discord</a> as you go!
            {{ end }}
          </p>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}

{{ define "2025_wrj_allsubmissions" }}
  <div class="flex justify-center">
    <div class="mw-site-narrow w-100">
      <div class="ph3 ph0-l">
        <h2 class="f3">All submissions</h2>
      </div>
    </div>
  </div>
  <div class="flex justify-center">
    <div class="w-100 ph3 ph4-l">
      <div class="pt3 flex flex-wrap justify-center g3">
        {{ range .JamProjects }}
          <div class="w-100 w6-ns">
            {{ template "project_card.html" . }}
          </div>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}

{{ define "2025_wrj_feed" }}
  <div class="flex justify-center">
    <div class="mw-site-narrow w-100">
      <div class="ph3 ph0-l">
        <h2 class="f3">{{ if .ShortFeed }}Recent updates{{ else }}All updates{{ end }}</h2>
        <div class="mt3 flex flex-column g3">
          {{ range .TimelineItems }}
            {{ template "timeline_item.html" . }}
          {{ else }}
            <div class="bg3 tc pv4 f7">
              No project updates have been posted yet.
            </div>
          {{ end }}
        </div>
        {{ if .ShortFeed }}
          <div class="link-bold pv2 tr">
            <a href="{{ .JamFeedUrl }}">See more</a>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}

{{ define "2025_wrj_recap" }}
  <div class="flex justify-center link-bold">
    <div class="w-100 mw-site-narrow">
      <div class="ph3 ph0-l pv4">
        <h2 class="f3 pb3">Watch the recap</h2>
        <div class="post-content">
          <p>Watch the live recap show celebrating all of this year&apos;s amazing submissions.</p>
          <div class="aspect-ratio aspect-ratio--16x9">
            {{ if .RecapStreamEmbedUrl }}
              <iframe class="aspect-ratio--object" src="https://www.youtube-nocookie.com/embed/lXCoA4sotGg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            {{ else if .TwitchEmbedUrl }}
              <iframe class="aspect-ratio--object" src="{{ .TwitchEmbedUrl }}" allowfullscreen frameborder="0"></iframe>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}

