<script src="{{ static "js/countdown.js" }}"></script>
<style>
  :root {
    --c-jam-gradient-darker-start: #087d7d;
    --c-jam-gradient-darker-end: #002e31;
    --jam-gradient-darker: linear-gradient(to bottom right, var(--c-jam-gradient-darker-start), var(--c-jam-gradient-darker-end));

    --c-jam-gradient-dark-start: #24e2e2;
    --c-jam-gradient-dark-end: #007178;
    --jam-gradient-dark: linear-gradient(to bottom right, var(--c-jam-gradient-dark-start), var(--c-jam-gradient-dark-end));

    --c-jam-gradient-light-start: #90eeee;
    --c-jam-gradient-light-end: #00c8d5;
    --jam-gradient-light: linear-gradient(to bottom right, var(--c-jam-gradient-light-start), var(--c-jam-gradient-light-end));

    --text-gradient: var(--jam-gradient-darker);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --text-gradient: var(--jam-gradient-light);
    }
  }

  .content-top {
    background: var(--jam-gradient-dark);
    --link-color: var(--color);
    --button-color: transparent;
  }

  .btn {
    border: 1px solid white;
  }

  .link-bold a {
    font-weight: 700;
  }

  .c--jam-gradient,
  .link-gradient a,
  .jam-guidelines.jam-emphasized h3 {
    color: transparent;
    background: var(--text-gradient);
    background-clip: text;
    -webkit-background-clip: text;
  }

  .jam-guidelines {
    background-color: var(--c3);
  }

  .jam-guidelines.jam-emphasized {
    background-color: var(--c4);
  }

  .jam-inspiration {
    max-height: 34rem;
  }

  .jam-inspiration .pic {
    max-width: 18rem;
  }
  
  @media screen and (min-width: 35em) {
    .jam-inspiration {
      max-height: 42rem;
    }

    .jam-inspiration .pic {
      max-width: 22rem;
    }
  }

  .jam-inspiration .pic .caption {
    font-size: 0.75rem;
    line-height: 1.2;
    padding-top: var(--spacing-1);
  }
</style>

