<div class="mw7 center link-normal c-white c-normal">
    <div class="flex flex-column flex-row-ns justify-center items-center pv4 g3 tc tl-ns">
		<img class="jam-logo" src="{{ static "visjam2024/logo.svg" }}">
        <div class="flex flex-column justify-between">
            <div>
                <a class="db small" href="{{ .JamUrl }}">
                    <h1 class="jam-title">Visibility Jam</h1>
                </a>
                <div class="fw6 f5 mb3">July 19 - 21, 2024</div>
            </div>
            <div class="flex items-center g2">
                {{ if and (not .SubmittedProject) (gt .DaysUntilEnd 0) }}
                    <a href="{{ .NewProjectUrl }}" class="btn">Create your project</a>
                {{ else }}
                    <a href="https://discord.gg/hmn" class="btn">Join the Discord</a>
                {{ end }}    
                <a href="{{ .GuidelinesUrl }}" class="flex items-baseline pv2 ph3">Guidelines <div class="dib svgicon f8 ml1">{{ svg "chevron-right" }}</div></a>
            </div>
        </div>
	</div>
</div>
<style>
    .jam-logo {
        width: 11.6rem;
    }

    .jam-title {
        font-size: 2.25rem;
        font-weight: 700;
    }
</style>