{{ define "vj2024-guidelines-top" }}
  <div class="flex justify-center link-bold link-gradient">
    <div class="mw-site-narrow">
      <div class="ph3 pv4">
        <h2 class="dib f3 pb3 c--jam-gradient">What does "visibility" mean?</h2>
        <div class="post-content">
          <p>Too many things in computing are <b class="c--jam-gradient">invisible</b>.</p>
          <p>We run arcane command line tools just to find out what port a program is using. We imagine complicated data structures instead of drawing them out. Bugs linger for years because nobody can see their effects.</p>
          <p>Your computer is full of information, but no one has <b class="c--jam-gradient">made it visible</b>.</p>
          <p>So for this jam, make it visible. Maybe it's a data structure in your program. Maybe it's some obscure metrics from your operating system. Maybe it's your sleep schedule. Whatever you choose, you have a weekend to make it happen.</p>
        </div>
      </div>
    </div>
  </div>
{{ end }}

{{ define "vj2024-guidelines-bottom" }}
  <div class="bg1 pt4 link-bold link-gradient">
    <div class="mw-site-narrow m-center ph3">
      <h2 class="dib pb3 f3 c--jam-gradient">Inspiration</h2>
      <div class="post-content">
        <p>The following projects are amazing examples of visibility in action. Some were even standout submissions from last year's jam!</p>
        <p>For more inspiration, check out the #wishlist channel on <a href="https://discord.gg/hmn">Discord</a>.</p>
      </div>
    </div>
    <div class="jam-inspiration flex flex-column flex-wrap g3 ph3 ph4-l pt3 pt4-ns pb4 overflow-x-scroll">
      <div class="pic">
        <video
          preload="metadata" controls
          src="https://hmn-assets-2.ams3.cdn.digitaloceanspaces.com/ec99f8e9-4fd4-4d96-a49e-a09287a06e77/rede_demo.mp4"
          poster="{{ static "visjam2023/rede.jpg" }}"
        ></video>
        <div class="caption"><a href="https://handmade.network/p/369/rede/">REDE</a> shows you the internal structure of a regex engine as you execute it.</div>
      </div>
      <div class="pic">
        <img src="{{ static "visjam2024/escapeartist.png" }}">
        <div class="caption"><a href="https://handmade.network/p/379/escape-artist/">Escape Artist</a> shows all the invisible ASCII escape codes in terminal output.</div>
      </div>
      <div class="pic">
        <img src="{{ static "visjam2023/graphviz.jpeg" }}">
        <div class="caption"><a href="https://graphviz.org/">Graphviz</a> can be used to make debug visuals for almost any data structure.</div>
      </div>
      <div class="pic">
        <img src="{{ static "visjam2023/wireshark.jpg" }}">
        <div class="caption"><a href="https://www.wireshark.org/">Wireshark</a> exposes all activity on your network devices.</div>
      </div>
      <div class="pic">
        <img src="{{ static "visjam2023/spall.png" }}">
        <div class="caption"><a href="https://spall.handmade.network/">Spall</a> allows you to explore your program's execution at terrifying speeds.</div>
      </div>
      <div class="pic">
        <img src="{{ static "visjam2023/v8.png" }}">
        <div class="caption">Bugs can be very obvious when you render out the data. (Example: a random number generator.)</div>
      </div>
      <div class="pic">
        <img src="{{ static "visjam2023/vmmap.png" }}">
        <div class="caption"><a href="https://learn.microsoft.com/en-us/sysinternals/downloads/vmmap">vmmap</a> allows you to see exactly how your address space is allocated.</div>
      </div>
      <div class="pic">
        <img src="{{ static "visjam2024/npmgraph.png" }}">
        <div class="caption"><a href="https://npmgraph.js.org/">npmgraph</a> shows you the full dependency graph of a JavaScript package, including its size on disk.</div>
      </div>
    </div>
  </div>
  <div class="flex justify-center">
    <div class="mw-site-narrow">
      <div class="ph3 pv4">
        <h2 class="dib f3 pb3 c--jam-gradient">How to participate</h2>
        <div class="flex flex-column g2">
          <div class="jam-guidelines pa3 {{ if .Timespans.Pre }}jam-emphasized{{ end }}">
            <h3 class="f4 mb3">Choose a project.</h3>
            <div class="post-content">
              <p>Pick something to visualize! You can brainstorm ideas in #wishlist on Discord. You can also use this time to form a team, or choose to work solo.</p>
            </div>
          </div>
          <div class="jam-guidelines pa3 {{ if and .Timespans.During (gt .Timespans.DaysUntilEnd 1) }}jam-emphasized{{ end }}">
            <h3 class="f4 mb3">Jam.</h3>
            <div class="post-content">
              <p>
			  <!-- TODO(jam): Content for post-jam or during jam when user has a project -->
                {{ if and .Timespans.During (not .SubmittedProject) }}
                  <a href="{{ .NewProjectUrl }}" target="_blank">
                    <b>Create a Handmade Network project.</b>
                  </a>
                {{ else }}
                  After the jam starts, create a Handmade Network project.
                {{ end }}
                This project will act as your submission and can be used to share your work in progress.
              </p>
              <p>Then get started! Share screenshots and videos in #project-showcase on Discord, or directly from your project page.</p>
            </div>
          </div>
          <div class="jam-guidelines pa3">
            <h3 class="f4 mb3">Submit your work!</h3>
            <div class="post-content">
              <p><b>Your Handmade Network project is your submission.</b> Fill out the project description, making sure to explain the goals of the project and what inspired you to visualize it. Include plenty of pictures and videos!</p>
              {{ if .Timespans.During }}
                <p>
                  Submissions close <b><span class="countdown" data-deadline="{{ .EndTimeUnix }}"></span></b>.
                </p>
              {{ else if .Timespans.Post }}
                <p>
                  <b>Submissions are now closed.</b>
                </p>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}

{{ define "vj2024-projects" }}
  <div class="flex justify-center">
    <div class="mw-site-narrow w-100">
      <div class="ph3 pv4">
        <h2 class="dib f3 pb3 c--jam-gradient">Projects</h2>
		<div class="flex flex-column g3">
			{{ range .JamProjects }}
				{{ template "project_card.html" . }}
			{{ end }}
		</div>
	  </div>
	</div>
  </div>
{{ end }}

{{ define "vj2024-feed" }}
  <div class="flex justify-center">
    <div class="mw-site-narrow w-100">
      <div class="ph3 pv3">
		<h2 class="dib f3 pb3 c--jam-gradient">{{ if .ShortFeed }}Recent activity{{ else }}All updates{{ end }}</h2>
		<div class="flex flex-column g3">
          {{ range .TimelineItems }}
            {{ template "timeline_item.html" . }}
          {{ end }}
		</div>
		{{ if .ShortFeed }}
		  <div class="link-bold link-gradient pv2 tr">
			  <a href="{{ .JamFeedUrl }}">See more</a>
		  </div>
		{{ end }}
	  </div>
	</div>
  </div>
{{ end }}
