{{ define "wrj2024-description" }}
  <div class="flex justify-center link-bold">
    <div class="mw-site-narrow">
      <div class="ph3 ph0-l pv4">
        <div class="post-content">
          <p>
            The <b>Wheel Reinvention Jam</b> is a one-week jam where we build software from&nbsp;scratch.
          </p>
          <p>
            Many programmers think that writing things from scratch is a waste of time. They think that the hard problems have already been solved, and that you shouldn't bother going where the "experts" have already gone.
          </p>
          <p>
            But we don't believe in "solved problems". Programming is a very young field. Most of the world's software is still on its first draft. There is so much room to innovate, and the only way to innovate is by trying new approaches to familiar problems.
          </p>
          <p>
            Besides, it's just fun to try making things for yourself. You will learn a ton, build exactly what you personally want, and maybe discover some new ideas along the way.
          </p>
          <p>
            So join us! This is your chance to reinvent the wheel.
          </p>
        </div>
      </div>
    </div>
  </div>
{{ end }}

{{ define "wrj2024-howto" }}
  <div class="flex justify-center link-bold">
    <div class="mw-site-narrow">
      <div class="ph3 ph0-l pv4">
        <h2 class="dib f3 pb3">How to participate</h2>
        <div class="flex flex-column g2">
          <div class="jam-guidelines pa3 {{ if .Timespans.Pre }}jam-emphasized{{ end }}">
            <h3 class="f4 mb3">Join the community.</h3>
            <div class="post-content">
              <p>
                Join the <a href="https://discord.gg/hmn">Handmade Network Discord</a> to connect with other jammers. Use the time before the jam to brainstorm project ideas (in our <b>#wishlist</b> channel) and maybe find a team (in our <b>#jam</b> channel).
              </p>
            </div>
          </div>
          <div class="jam-guidelines pa3 {{ if and (not .SubmittedProject) .Timespans.During (gt .Timespans.DaysUntilEnd 1) }}jam-emphasized{{ end }}">
            <h3 class="f4 mb3">Create your project submission.</h3>
            <div class="post-content">
              <p>
                {{ if and .NewProjectUrl (not .SubmittedProject) }}
                  <a href="{{ .NewProjectUrl }}" target="_blank">
                    <b>Create a Handmade Network project.</b>
                  </a>
                {{ else }}
                  After the jam starts, create a Handmade Network project.
                {{ end }}
                This project will act as your submission and can be used to share your work in progress throughout the jam.
              </p>
              <p>Then get started! Share screenshots and videos in <b>#project-showcase</b> on Discord, or directly from your project page.</p>
            </div>
          </div>
          <div class="jam-guidelines pa3 {{ if and .SubmittedProject .Timespans.During (gt .Timespans.DaysUntilEnd 1) }}jam-emphasized{{ end }}">
            <h3 class="f4 mb3">Jam.</h3>
            <div class="post-content">
              <p>
                Work on your app for as much time as you are able to give. You have an entire week, but many people participate just in the evenings, or even just for the weekend. We give you a week so that you have time to do substantial work—and time to sleep on tricky problems.
              </p>
              <p>
                As you go, make sure to share your work in <b>#project-showcase</b> on Discord. You can use our tagging system to automatically link your posts to your Handmade Network project.
              </p>
            </div>
          </div>
          <div class="jam-guidelines pa3">
            <h3 class="f4 mb3">Submit your work!</h3>
            <div class="post-content">
              <p>
                <b>Your Handmade Network project is your submission.</b> Fill out the project description, making sure to explain the goals of the project and what inspired you to visualize it. Please include plenty of pictures and videos!
              </p>
              {{ if .Timespans.During }}
                <p>
                  Submissions close <b><span class="countdown" data-deadline="{{ .EndTimeUnix }}"></span></b>.
                </p>
              {{ else if .Timespans.Post }}
                <p>
                  <b>Submissions are now closed.</b>
                </p>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}

{{ define "wrj2024-inspiration" }}
  <div class="bg1 pt4 link-bold link-gradient">
    <div class="mw-site-narrow m-center ph3 ph0-l">
      <h2 class="dib pb3 f3 c--jam-gradient">Inspiration</h2>
      <div class="post-content">
        <p>
          Here's a sampling of interesting submissions to previous Wheel Reinvention Jams. For more inspiration, check out the <b>#wishlist</b> channel on <a href="https://discord.gg/hmn">Discord</a>.
        </p>
      </div>
    </div>
    <div class="jam-inspiration flex flex-column flex-wrap g3 g4-l ph3 ph0-l ph4-l pt3 pt4-ns pb4 overflow-x-scroll">
      <div class="pic">
        <img src="{{ static "wheeljam2024/shapeup.png" }}">
        <div class="caption"><a href="https://handmade.network/p/440/shapeup/">ShapeUp</a> is a 3D editor that uses signed distance fields to make it easy to edit solid geometry. (<a href="https://youtu.be/-Xb3Kk3HhIw?si=u2U-2hqYr5vA123a">Video</a>)</div>
      </div>
      <div class="pic">
        <img src="{{ static "wheeljam2024/zunderglow.png" }}">
        <div class="caption"><a href="https://handmade.network/p/436/zunderglow/">ZUnderglow</a> is a tool for programming RGB lighting and synchronizing it to music. (<a href="https://www.youtube.com/watch?v=BuYoXfPZ6cI&t=6525s">Demo</a>)</div>
      </div>
      <div class="pic">
        <img src="{{ static "wheeljam2024/scroll.png" }}">
        <div class="caption"><a href="https://handmade.network/forums/jam/t/8116-jam_submition_-_scroll%252C_a_experiment_in_a_non_text_typesetting_file_format">Scroll</a> is an experimental take on word processing where documents are edited structurally. Complete with PDF export! (<a href="https://www.youtube.com/watch?v=1RjU5XJqysc&t=1083s">Demo</a>)</div>
      </div>
      <div class="pic">
        <img src="{{ static "wheeljam2024/badpaint.jpg" }}">
        <div class="caption"><a href="https://handmade.network/p/441/badpaint/">badpaint</a> is an image corruption editor that makes it easy to create glitched images. (<a href="https://www.youtube.com/watch?v=BuYoXfPZ6cI&t=4933s">Demo</a>)</div>
      </div>
      <div class="pic">
        <img src="{{ static "wheeljam2024/abbrv.png" }}">
        <div class="caption"><a href="https://handmade.network/p/282/abbrv/">abbrv</a> is a simple text-expansion tool for Windows. (<a href="https://vimeo.com/770635667">Demo</a>)</div>
      </div>
      <div class="pic">
        <img src="{{ static "wheeljam2024/orca.jpg" }}">
        <div class="caption"><a href="https://orca.handmade.network/">Orca</a>, a new system for cross-platform WebAssembly applications, started life as a Wheel Reinvention Jam project. (<a href="https://www.youtube.com/watch?v=BkOsE63bGuA&t=4409s">Demo</a>, <a href="https://orca-app.dev/">Website</a>)</div>
      </div>
      <div class="pic">
        <img src="{{ static "wheeljam2024/dbexplorer.png" }}">
        <div class="caption"><a href="https://handmade.network/forums/jam/t/8127-jam_submission__database_explorer">Database Explorer</a> is a visual dataflow editor for SQL databases, which produces real SQL queries using a flexible visual interface. (<a href="https://www.youtube.com/watch?v=1RjU5XJqysc&t=6390s">Demo</a>)</div>
      </div>
      <div class="pic">
        <img src="{{ static "wheeljam2024/bifoldtext.jpg" }}">
        <div class="caption"><a href="https://handmade.network/p/283/bifold-text/">Bifold Text</a> is an experimental code format, editor, and runtime environment that asks the question: what if each line of code was two lines of code? (<a href="https://handmade.network/snippet/1561">Demo</a>)</div>
      </div>
      <div class="pic">
        <img src="{{ static "wheeljam2024/aura.png" }}">
        <div class="caption"><a href="https://handmade.network/p/431/aura/">Aura</a> is a custom build server integrated with a custom source control system. (<a href="https://www.youtube.com/watch?v=BuYoXfPZ6cI&t=1220s">Demo</a>)</div>
      </div>
      <div class="pic">
        <img src="{{ static "wheeljam2024/sdfatlas.jpg" }}">
        <div class="caption"><a href="https://handmade.network/p/274/sdf-atlas/">SDF Atlas</a> is an experimental tool for authoring SDF shapes, without ever touching a line of shader code. (<a href="https://vimeo.com/776799666">Demo</a>)</div>
      </div>
      <div class="pic">
        <img src="{{ static "wheeljam2024/burner.jpg" }}">
        <div class="caption"><a href="https://handmade.network/p/277/dreamcast-image-burner-for-macos/">Dreamcast Image Burner for macOS</a> is, well, a Dreamcast image burner for macOS. Possibly the first of its kind! (<a href="https://www.youtube.com/watch?v=BkOsE63bGuA&t=2701s">Demo</a>)</div>
      </div>
      <div class="pic">
        <img src="{{ static "wheeljam2024/netsim.png" }}">
        <div class="caption"><a href="https://handmade.network/p/293/netsim/">netsim</a> is a network simulator that runs in a browser, designed for education.</div>
      </div>
      <div class="pic">
        <img src="{{ static "wheeljam2024/liluefi.png" }}">
        <div class="caption"><a href="https://handmade.network/p/308/lil-uefi/">Lil UEFI</a> is a simple header-only C library for creating UEFI programs. (<a href="https://www.youtube.com/watch?v=BkOsE63bGuA&t=2864s">Demo</a>)</div>
      </div>
      <div class="pic">
        <img src="{{ static "wheeljam2024/threadexplorer.png" }}">
        <div class="caption"><a href="https://handmade.network/forums/jam/t/8137-jam_submission_-_twitter_thread_graph_explorer">Twitter Thread Graph Explorer</a> allows you to explore a user's Twitter history when it is full of links and self-references. (<a href="https://vimeo.com/641790252">Demo</a>)</div>
      </div>
    </div>
  </div>
{{ end }}

{{ define "wrj2024-newsletter" }}
  <div id="newsletter" class="bg1 pv4 link-bold link-gradient">
    <div class="mw-site-narrow m-center ph3 ph0-ns tc">
      <div class="post-content">
        <p>Sign up for our email newsletter to make sure you don't miss future announcements:</p>
        {{ template "newsletter_signup.html" . }}
      </div>
    </div>
  </div>
{{ end }}

{{ define "wrj2024-projects" }}
  <div class="flex justify-center">
    <div class="mw-site-narrow w-100">
      <div class="ph3 ph0-ns pv4">
        <h2 class="dib f3 pb3">All submissions</h2>
        <div class="flex flex-column g3">
          {{ range .JamProjects }}
            {{ template "project_card.html" . }}
          {{ end }}
        </div>
      </div>
	  </div>
  </div>
{{ end }}

{{ define "wrj2024-submittedproject" }}
  <div class="flex justify-center">
    <div class="mw-site-narrow w-100">
      <div class="ph3 ph0-ns pv4">
        <h2 class="dib f3">Your submission</h2>
        {{ if .Timespans.During }}
          <p class="post-content link-bold">
            {{ if eq .Timespans.DaysUntilEnd 1 }}
              The jam ends <b>tonight.</b> Make sure to edit your submission before the deadline!
            {{ else }}
              The jam ends <b>in {{ .Timespans.DaysUntilEnd }} days.</b> You can edit your submission at any time. Don't forget to share updates in #project-showcase on <a href="https://discord.gg/hmn">Discord</a> as you go!
            {{ end }}
          </p>
        {{ end }}
        {{ if .SubmittedProject }}
          <div class="mt3 flex flex-column g3">
            {{ template "project_card.html" .SubmittedProject }}
          </div>
        {{ else }}
          <a class="mt3 bg2 tc pv4 flex justify-center items-center g2" href="{{ .NewProjectUrl }}">{{ svg "add" }}Create your project</a>
        {{ end }}
      </div>
	  </div>
  </div>
{{ end }}

{{ define "wrj2024-feed" }}
  <div class="flex justify-center">
    <div class="mw-site-narrow w-100">
      <div class="ph3 ph0-ns pv4">
        <h2 class="dib f3">{{ if .ShortFeed }}Recent activity{{ else }}All updates{{ end }}</h2>
        <div class="mt3 flex flex-column g3">
          {{ range .TimelineItems }}
            {{ template "timeline_item.html" . }}
          {{ else }}
            <div class="bg3 tc pv4 f7">
              No project updates have been posted yet.
            </div>
          {{ end }}
        </div>
        {{ if .ShortFeed }}
          <div class="link-bold pv2 tr">
            <a href="{{ .JamFeedUrl }}">See more</a>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}

{{ define "wrj2024-recap" }}
  <div class="flex justify-center link-bold">
    <div class="w-100 mw-site-narrow">
      <div class="ph3 ph0-ns pv4">
        <h2 class="dib f3 pb3">Watch the recap</h2>
        <div class="post-content">
          <p>Watch the live recap show celebrating all of this year's amazing submissions.</p>
          <div class="aspect-ratio aspect-ratio--16x9">
            <iframe class="aspect-ratio--object" src="https://www.youtube-nocookie.com/embed/XLY2Ta9ugtQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}
