{{ define "essentials2026-styles" }}
<script src="{{ static "js/countdown.js" }}"></script>
<style>
  :root {
    --c-jam-gradient-start: #2b7b55;
    --c-jam-gradient-end: #0095b8;
    --jam-gradient: linear-gradient(in oklab to bottom right, var(--c-jam-gradient-start), var(--c-jam-gradient-end));

    --link-color: #6bbff7;
  }

  .content-top {
    background: var(--jam-gradient);
    --link-color: var(--color);
    --button-color: transparent;
  }

  .btn {
    border: 1px solid white;
  }

  .link-bold a {
    font-weight: 700;
  }

  .jam-guidelines.jam-emphasized {
    background-color: var(--c3);
  }

  .jam-guidelines {
    background-color: var(--c2);
  }

  #title-big, #title-small {
    font-size: 1.65rem;
    line-height: 1.1;
  }

  #subtitle-big, #subtitle-small {
    font-size: 1.25rem;
  }

  @media screen and (min-width: 35em) {
    #title-big {
      font-size: 3rem;
    }
    
    #title-small {
      font-size: 2.5rem;
    }

    #subtitle-big {
      font-size: 1.5rem;
    }
  }
</style>
{{ end }}

{{ define "essentials2026-bannerbig" }}
<div class="flex justify-center">
  <div class="tc link-normal c-white c-normal">
    <div class="flex flex-column items-center pv5 tc ph3">
      <div class="flex flex-column g2 pb3">
        <a href="{{ .JamUrl }}"><img style="width: 100%" alt="jam logo" src="{{ static "jams/essentials/essentials-row.svg" }}"></a>
        <a href="{{ .JamUrl }}"><h2 id="title-big" class="b">Handmade Essentials Jam</h2></a>
        <h3 id="subtitle-big" class="b self-end-ns">April 13-19, 2026</h3>
      </div>
      <div class="m-center mt4">
        Build simple programs you would use every day, from scratch, by hand.
      </div>
      {{ if .Timespans.BeforeEnd }}
        <div class="flex f6 f5-l g2 g3-l justify-center mt4">
          <a href="#newsletter" class="btn">Newsletter</a>
          <a href="https://discord.gg/hmn" class="btn">Join the Discord</a>
        </div>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}

{{ define "essentials2026-bannersmall" }}
<div class="mw7 center link-normal c-white c-normal">
  {{/*  <img class="jam-logo" src="{{ static "jams/essentials-2026/logo.svg" }}">  */}}
  <div class="flex flex-column items-center g2 pv4 tc ph3 ph0-l">
    <div class="flex flex-column g2 pt3 pb4">
      <a href="{{ .JamUrl }}"><img style="width: 100%" alt="jam logo" src="{{ static "jams/essentials/essentials-row.svg" }}"></a>
      <a href="{{ .JamUrl }}"><h2 id="title-small" class="b">Handmade Essentials Jam</h2></a>
      <h3 id="subtitle-small" class="b self-end-ns">April 13-19, 2026</h3>
    </div>
    <div class="flex justify-center items-center g2">
      {{ if and (not .SubmittedProject) .Timespans.BeforeEnd .NewProjectUrl }}
        <a href="{{ .NewProjectUrl }}" class="btn">Create your project</a>
      {{ else }}
        <a href="https://discord.gg/hmn" class="btn">Join the Discord</a>
      {{ end }}    
      <!-- TODO(jam): Guidelines link appears in the guidelines page. -->
      <a href="{{ .GuidelinesUrl }}" class="flex items-baseline pv2 ph3">Guidelines <div class="dib svgicon f8 ml1">{{ svg "chevron-right" }}</div></a>
    </div>
  </div>
</div>
{{ end }}

{{ define "essentials2026-description" }}
  <div class="flex justify-center link-bold">
    <div class="mw-site-narrow ph3 ph0-l pv4 post-content">
      <p>
        The <b>Handmade Essentials Jam</b> is a programming jam where participants build simple programs they would use every day. 
      </p>
      <p>
        In the year 2026, even the basic software that comes with your operating system is a disaster. Camera apps can <a href="https://x.com/SanderSkjegstad/status/1937619593771548748?s=20">only record once</a>. Calculators need a splash screen. Nobody seems to be able to reliably search your drive for files, and every app is half a gig for some reason.
      </p>
      <p>
        But we are programmers! So this jam's topic is: <b>rebuild an "essential" program from scratch.</b>
      </p>
    </div>
  </div>
{{ end }}

{{ define "essentials2026-rationale" }}
  <div class="flex justify-center link-bold">
    <div class="mw-site-narrow ph3 ph0-l pv4 post-content">
      <h2>Why "essentials"?</h2>
      <p>
        The release of <a href="https://filepilot.tech/">File Pilot</a> last year had a large impact beyond Handmade, because it's literally incomprehensible how anyone could make software so fast and so fluid, <em>and</em> so small. (Two megabytes!) But anyone who has followed Handmade Hero knows that this is actually normal; computers are extremely fast and most software is extremely bloated. It doesn't take special tricks to make small, fast, high-quality software; it just takes care and craft and understanding of what the computer can actually do.
      </p>
      <p>
        File Pilot is just one example of inspirational software made with the Handmade ethos, but there are many others. <a href="https://github.com/mmozeiko/wcap">wcap</a> is a 65KB screen recording program that responds instantly. <a href="https://github.com/Wassimulator/CactusViewer">Cactus Viewer</a> is an image viewer that is at least 10x faster than the native Windows preview application. These programs are a joy to use and make your life better. We need more software like this.
      </p>
      <p>
        Plus, in the era of AI, we want to encourage community members to keep making software, and to encourage new programmers to learn how to make software from scratch. There's no better way to learn than by making real software you will use every day.
      </p>
    </div>
  </div>
{{ end }}

{{ define "essentials2026-howto" }}
  <div class="bg1 flex justify-center link-bold">
    <div class="mw-site-narrow ph3 ph0-l post-content">
      <h2>How to participate</h2>
      <div class="flex flex-column g2">
        <div class="jam-guidelines pa3">
          <h3 class="f4 mb3">Register for the jam</h3>
          <div class="post-content">
            <p>
              Join the <a href="https://discord.gg/hmn">Handmade Network Discord</a> to connect with other jammers. The <b>/joinjam</b> command will give you a role and invite you to the <b>#jam</b> channel. Then, use the remaining time before the jam to brainstorm project ideas or find partners to jam with.
            </p>
          </div>
        </div>
        <div class="jam-guidelines pa3">
          <h3 class="f4 mb3">Set up your Handmade Network project</h3>
          <div class="post-content">
            <p>
              {{ if and .NewProjectUrl (not .SubmittedProject) }}
                <a href="{{ .NewProjectUrl }}" target="_blank">
                  <b>Create a Handmade Network project.</b>
                </a>
              {{ else }}
                Create a Handmade Network project.
              {{ end }}
              This project will act as your submission for the jam, and will allow others to follow along with your progress.
            </p>
            {{ if .Timespans.Pre }}
              {{/* NOTE(ben): This logic is wrong; StartTimeUnix is when the jam starts, not when submissions open. But we are not worrying about this because we are doing this work after the project creation period has already started!!! */}}
              {{/* <p>
                Submissions open <b><span class="countdown" data-deadline="{{ .StartTimeUnix }}"></span></b>.
              </p> */}}
            {{ end }}
          </div>
        </div>
        <div class="jam-guidelines pa3">
          <h3 class="f4 mb3">Jam!</h3>
          <div class="post-content">
            <p>
              Spend the week working on your project!
            </p>
            <p>
              As you go, make sure to share progress updates in <b>#project-showcase</b> and <b>#jam</b> on Discord. All posts that use your project tag (e.g. &amp;my-project) will be automatically associated with your project submission. {{/* TODO: Link to a page explaining the project tagging system */}}
            </p>
            <p>
              We give participants a full week because we find it to be a good length of time when creating a full application from scratch. We don't expect participants to work on their jam project full-time; instead we generally encourage evenings and the weekend.
            </p>
          </div>
        </div>
        <div class="jam-guidelines pa3">
          <h3 class="f4 mb3">Submit your work</h3>
          <div class="post-content">
            <p>
              <b>Your Handmade Network project is your submission.</b> Make sure to give your project a meaningful title and description, and make sure to explain the project&apos;s goals.
            </p>
            {{ if .Timespans.During }}
              <p>
                Submissions close <b><span class="countdown" data-deadline="{{ .EndTimeUnix }}"></span></b>.
              </p>
            {{ else if .Timespans.Post }}
              <p>
                <b>Submissions are now closed.</b>
              </p>
            {{ end }}
          </div>
        </div>
      </div>

      <h2>Rules</h2>
      <ol>
        <li>
          <p><b>No AI.</b> Generating code with AI is prohibited. Vibe coding is strictly prohibited and will disqualify your submission. You may still use AI in a "search engine" capacity, but the point of the jam is to build simple software you can understand.</p>
        </li>
        <li>
          <p><b>No code before the jam starts.</b> All code must be written during the jam. Before the jam starts, only conceptual work is allowed, e.g. sketches, research, and design.</p>
          <p>Using libraries is acceptable, although we encourage the use of "platform layers" like <a href="https://www.raylib.com/">raylib</a>, <a href="https://www.libsdl.org/">SDL</a>, and <a href="https://www.nicbarker.com/clay">Clay</a> rather than "frameworks" like React or Qt.</p>
        </li>
        <li>
          <p><b>Submissions must contain screenshots.</b> We will not download or compile your software when evaluating your submission. Please make sure your project submission has a thorough description and plenty of screenshots. Video is even better!</p>
        </li>
      </ol>
    </div>
  </div>
{{ end }}

{{ define "essentials2026-newsletter" }}
  <div id="newsletter" class="pv4 link-bold">
    <div class="mw-site-narrow m-center ph3 ph0-l tc">
      <div class="post-content">
        <p>Sign up for our email newsletter to make sure you don&apos;t miss future announcements:</p>
        {{ template "newsletter_signup.html" . }}
      </div>
    </div>
  </div>
{{ end }}

{{ define "essentials2026-submittedproject" }}
  <div class="flex justify-center bg1">
    <div class="mw-site-narrow w-100">
      <div class="ph3 ph0-l">
        <h2 class="f3">Your submission</h2>
        {{ if .SubmittedProject }}
          <div class="mt3 flex flex-column g3">
            {{ template "project_card.html" .SubmittedProject }}
          </div>
        {{ else }}
          <a class="mt3 bg2 tc pv4 flex justify-center items-center g2" href="{{ .NewProjectUrl }}">{{ svg "add" }}Create your project</a>
        {{ end }}
        {{ if .Timespans.Pre }}
          <p class="post-content mb0 link-bold">
            Your submission will be in the form of a Handmade Network project. The project also allows you to share updates throughout the jam, either directly from this website or from the <a href="https://discord.gg/hmn">Handmade Network Discord</a>.
          </p>
        {{ else if .Timespans.During }}
          <p class="post-content mb0 link-bold">
            {{ if eq .Timespans.DaysUntilEnd 1 }}
              The jam ends <b>tonight.</b> Make sure to edit your submission before the deadline!
            {{ else }}
              The jam ends <b>in {{ .Timespans.DaysUntilEnd }} days.</b> You can edit your submission at any time. Don&apos;t forget to share updates in <b>#project-showcase</b> on <a href="https://discord.gg/hmn">Discord</a> as you go!
            {{ end }}
          </p>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}

{{ define "essentials2026-allsubmissions" }}
  <div class="flex justify-center">
    <div class="mw-site-narrow w-100">
      <div class="ph3 ph0-l">
        <h2 class="f3">All submissions</h2>
      </div>
    </div>
  </div>
  <div class="flex justify-center">
    <div class="w-100 ph3 ph4-l">
      <div class="pt3 flex flex-wrap justify-center g3">
        {{ range .JamProjects }}
          <div class="w-100 w6-ns">
            {{ template "project_card.html" . }}
          </div>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}

{{ define "essentials2026-feed" }}
  <div class="flex justify-center">
    <div class="mw-site-narrow w-100">
      <div class="ph3 ph0-l">
        <h2 class="f3">{{ if .ShortFeed }}Recent updates{{ else }}All updates{{ end }}</h2>
        <div class="mt3 flex flex-column g3">
          {{ range .TimelineItems }}
            {{ template "timeline_item.html" . }}
          {{ else }}
            <div class="bg3 tc pv4 f7">
              No project updates have been posted yet.
            </div>
          {{ end }}
        </div>
        {{ if .ShortFeed }}
          <div class="link-bold pv2 tr">
            <a href="{{ .JamFeedUrl }}">See more</a>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}

{{ define "essentials2026-recap" }}
  TODO: Recap section
{{ end }}
