<div class="mw-site-narrow m-center tc link-normal c-white c-normal">
	<div class="flex flex-column pv4 tc ph3 ph0-l">
		<a class="jam-logo flex self-center" href="{{ .JamUrl }}"> <!-- fit to image -->
			<img src="{{ static "xrayjam2025/logo.svg" }}">
			<h1 class="jam-title">X-Ray Jam</h1>
			<div class="jam-subtitle">June 9-15<br>2025</div>
		</a>
		<div class="m-center mt4">
			See how software works on the inside.
		</div>
		{{ if .Timespans.BeforeEnd }}
			<div class="flex f6 f5-l g2 g3-l justify-center mt4">
				<a href="#newsletter" class="btn">Newsletter Signup</a>
				<a href="https://discord.gg/hmn" class="btn">Join the Discord</a>
			</div>
		{{ end }}
	</div>
</div>
<style>
	.jam-logo {
		width: 20rem;
		max-width: 100%;
		position: relative;
		container: logo / inline-size;
	}

	.jam-title {
		position: absolute;
		font-size: 8cqw;
		font-weight: 700;
		left: 33.1%;
		bottom: 1.4%;
	}

	.jam-subtitle {
		position: absolute;
		text-align: right;
		font-size: 3.7cqw;
		font-weight: 700;
		right: 0;
		bottom: 2.4%;
		line-height: 0.9;
	}

	@media screen and (min-width: 60em) {
		.jam-logo {
			width: 36rem;
		}
	}
</style>
