<div class="mw7 center link--white">
    <div class="flex flex-column flex-row-ns justify-center items-center pv4 g3 tc tl-ns">
		<img class="jam-logo-small" src="{{ static "learningjam2024/logo.svg" }}">
        <div class="flex flex-column justify-between">
            <div>
                <a class="jam-title db small" href="{{ .JamUrl }}">Learning Jam</a>
                <div class="fw6 f5 mb3">March 15 - 24, 2024</div>
            </div>
            <div class="flex items-center g2">
                {{ if and (not .SubmittedProjectUrl) (gt .DaysUntilEnd 0) }}
                    <a href="{{ .NewProjectUrl }}" class="btn--jam">Create your project</a>
                {{ else }}
                    <a href="{{ .DiscordInviteUrl }}" class="btn--jam">Join the Discord</a>
                {{ end }}    
                <a href="{{ .GuidelinesUrl }}" class="flex items-baseline pa2">Guidelines <div class="dib svgicon f8 ml1">{{ svg "chevron-right" }}</div></a>
            </div>
        </div>
	</div>
</div>
