<div class="mw-site-narrow m-center tc link-normal c-white c-normal">
    <div class="flex flex-column pv4 tc ph3 ph0-l">
		<img class="jam-logo m-center" src="{{ static "wheeljam2024/logo.svg" }}">
		<div class="m-center mt3 mt4-ns">
			<a class="db" href="{{ .JamUrl }}">
				<h1 class="jam-title mb2">Wheel Reinvention Jam</h1>
			</a>
			<div class="jam-subtitle fw5 mb1">
				September 23-29, 2024.
				{{ if .Timespans.BeforeEnd }}
					{{ if .Timespans.During }}
						<span class="fw7">Happening now.</span>
					{{ else if eq .Timespans.DaysUntilStart 1 }}
						<span class="fw7">Starting tomorrow.</span>
					{{ else }}
						<span class="fw7">In {{ .Timespans.DaysUntilStart }} days.</span>
					{{ end }}
				{{ end }}
			</div>
		</div>
		{{ if .Timespans.BeforeEnd }}
			<div class="flex f6 f5-l g2 g3-l justify-center mt4">
				<a href="#newsletter" class="btn">Newsletter Signup</a>
				<a href="https://discord.gg/hmn" class="btn">Join the Discord</a>
			</div>
		{{ end }}
	</div>
</div>
<style>
	.jam-logo {
		width: 20rem;
	}

	.jam-title {
		font-size: 1.86rem;
		font-weight: 700;
	}

	.jam-subtitle {
		font-size: 1.2rem;
	}

	@media screen and (min-width: 60em) {
		.jam-logo {
			width: 26.2rem;
		}

		.jam-title {
			font-size: 3.8rem;
		}

		.jam-subtitle {
			font-size: 1.5rem;
		}
	}
</style>
