{{ if .Projects }}
    <div class="flex flex-row flex-wrap g2">
        {{ range .Projects }}
            <div class="flex-basis-40-ns flex-grow-1 flex-shrink-1 bg--rich-gray pa3 flex flex-column g1">
                <div class="f3">
                    <a href="{{ .Url }}" class="fw6">{{ .Name }}</a>
                </div>
                <div class="flex-grow-1">{{ .Blurb }}</div>
                <div class="f7">
                    by
                    {{ $owners := .Owners }}
                    {{ range $idx, $owner := .Owners }}
                        <a href="{{ $owner.ProfileUrl }}" class="fw6 link--white">{{ $owner.Name }}</a>{{ if not (lastidx $idx (len $owners)) }},{{ end }}
                    {{ end }}
                </div>
            </div>
        {{ end }}
        {{ if isodd (len .Projects) }}
            <div class="flex-basis-40-ns flex-grow-1 flex-shrink-1"></div>
        {{ end }}
    </div>
{{ else }}
    No projects have been created yet. <a href="{{ .NewProjectUrl }}">Be the first!</a>
{{ end }}
