<script src="{{ static "js/countdown.js" }}"></script>
<style>
  :root {
    --c-jam-gradient-start: #0F5D8F;
    --c-jam-gradient-end: #05121D;
    /* Jes originally used #03050A for the end color; I modified it to make it slightly softer. */
    --jam-gradient: radial-gradient(var(--c-jam-gradient-start), var(--c-jam-gradient-end));

    --link-color: #e64620;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --link-color: #ff6541;
    }
  }

  .content-top {
    background: var(--jam-gradient);
    --link-color: var(--color);
    --button-color: transparent;
  }

  .btn {
    border: 1px solid white;
  }

  .link-bold a {
    font-weight: 700;
  }

  .jam-guidelines.jam-emphasized {
    background-color: var(--c4);
  }

  .jam-guidelines {
    background-color: var(--c3);
  }

  .jam-inspiration {
    max-height: 36rem;
  }

  .jam-inspiration .pic {
    max-width: 18rem;
  }
  
  @media screen and (min-width: 35em) {
    .jam-inspiration {
      max-height: 42rem;
    }

    .jam-inspiration .pic {
      max-width: 22rem;
    }
  }

  .jam-inspiration .pic .caption {
    font-size: 0.75rem;
    line-height: 1.5;
    padding-top: var(--spacing-1);
  }
</style>

