<div class="mw-site-narrow m-center tc link-normal c-white c-normal">
    <div class="flex flex-column pv4 tc">
		<img class="jam-logo m-center" src="{{ static "visjam2024/logo.svg" }}">
		<div class="m-center mt3 mt4-ns">
			<a class="db" href="{{ .JamUrl }}">
				<h1 class="jam-title mb2">Visibility Jam</h1>
			</a>
			<div class="fw5 f3 mb1">
				July 19-21, 2024.
				{{ if gt .DaysUntilEnd 0 }}
					{{ if eq .DaysUntilStart 0 }}
						<span class="fw7">Happening now.</span>
					{{ else if eq .DaysUntilStart 1 }}
						<span class="fw7">Starting tomorrow.</span>
					{{ else }}
						<span class="fw7">In {{ .DaysUntilStart }} days.</span>
					{{ end }}
				{{ end }}
			</div>
		</div>
		{{ if gt .DaysUntilEnd 0 }}
			<div class="flex g3 justify-center mt4">
				<a href="https://discord.gg/hmn" class="btn">Join the Discord</a>
			</div>
		{{ end }}
	</div>
</div>
<style>
	.jam-logo {
		width: 26.2rem;
	}

	.jam-title {
		font-size: 4rem;
		font-weight: 700;
	}
</style>
