<div class="mw7 center link--white">
    <div class="flex flex-column pv4 tc">
		<img class="jam-logo center" src="{{ static "learningjam2024/logo.svg" }}">
		<div class="center mt3 mt4-ns">
			<a class="jam-title db mb3" href="{{ .JamUrl }}">Learning Jam</a>
			<div class="flex flex-column flex-row-ns justify-between lh-solid g3 g0-ns">
				<div>
					<div class="fw7 f3 mb1">Learn</div>
					<div class="fw3 f4">March 15-17, 2024</div>
				</div>
				<div>
					<div class="fw7 f3 mb1">Share</div>
					<div class="fw3 f4">March 22-24, 2024</div>
				</div>
			</div>
		</div>
		{{ if gt .DaysUntilEnd 0 }}
			<div class="flex g3 justify-center mt4">
				<a href="{{ .DiscordInviteUrl }}" class="btn--jam">Join the Discord</a>
			</div>
		{{ end }}
	</div>
</div>
