{{ if .Projects }}
    <div class="flex flex-row flex-wrap g2 link--white">
        {{ range .Projects }}
            <div class="flex-basis-40-ns flex-grow-1 flex-shrink-1 bg--rich-gray pa3 flex flex-column g1">
                {{ if gt (len .Owners) 1 }}
                    <div class="flex g2">
                        {{ range .Owners }}
                            <a href="{{ .ProfileUrl }}" class="flex">
                                <img src="{{ .AvatarUrl }}" class="user-avatar w2">
                            </a>
                        {{ end }}
                    </div>
                {{ else }}
                    {{ range .Owners }}
                        <a href="{{ .ProfileUrl }}" class="fw6 link--white flex g2 items-center">
                            <img src="{{ .AvatarUrl }}" class="user-avatar w2">
                            <div>
                                {{ .Name }}
                            </div>
                        </a>
                    {{ end }}
                {{ end }}
                <div class="f3 mt2">
                    <a href="{{ .Url }}" class="fw6 db">{{ .Name }}</a>
                </div>
                <div class="flex-grow-1">{{ .Blurb }}</div>
            </div>
        {{ end }}
        {{ if isodd (len .Projects) }}
            <div class="flex-basis-40-ns flex-grow-1 flex-shrink-1"></div>
        {{ end }}
    </div>
{{ else }}
    No projects have been created yet. <a href="{{ .NewProjectUrl }}">Be the first!</a>
{{ end }}
