{{ define "vj2024-styles" }}
<script src="{{ static "js/countdown.js" }}"></script>
<style>
  :root {
    --c-jam-gradient-darker-start: #087d7d;
    --c-jam-gradient-darker-end: #002e31;
    --jam-gradient-darker: linear-gradient(to bottom right, var(--c-jam-gradient-darker-start), var(--c-jam-gradient-darker-end));

    --c-jam-gradient-dark-start: #24e2e2;
    --c-jam-gradient-dark-end: #007178;
    --jam-gradient-dark: linear-gradient(to bottom right, var(--c-jam-gradient-dark-start), var(--c-jam-gradient-dark-end));

    --c-jam-gradient-light-start: #90eeee;
    --c-jam-gradient-light-end: #00c8d5;
    --jam-gradient-light: linear-gradient(to bottom right, var(--c-jam-gradient-light-start), var(--c-jam-gradient-light-end));

    --text-gradient: var(--jam-gradient-darker);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --text-gradient: var(--jam-gradient-light);
    }
  }

  .content-top {
    background: var(--jam-gradient-dark);
    --link-color: var(--color);
    --button-color: transparent;
  }

  .btn {
    border: 1px solid white;
  }

  .link-bold a {
    font-weight: 700;
  }

  .c--jam-gradient,
  .link-gradient a,
  .jam-guidelines.jam-emphasized h3 {
    color: transparent;
    background: var(--text-gradient);
    background-clip: text;
    -webkit-background-clip: text;
  }

  .jam-guidelines {
    background-color: var(--c3);
  }

  .jam-inspiration {
    max-height: 34rem;
  }

  .jam-inspiration .pic {
    max-width: 18rem;
  }
  
  @media screen and (min-width: 35em) {
    .jam-inspiration {
      max-height: 42rem;
    }

    .jam-inspiration .pic {
      max-width: 22rem;
    }
  }

  .jam-inspiration .pic .caption {
    font-size: 0.75rem;
    line-height: 1.2;
    padding-top: var(--spacing-1);
  }
</style>
{{ end }}

{{ define "vj2024-bannerbig" }}
<div class="mw-site-narrow m-center tc link-normal c-white c-normal">
  <div class="flex flex-column pv4 tc">
    <img class="jam-logo m-center" src="{{ static "jams/visibility-2024/logo.svg" }}">
    <div class="m-center mt3 mt4-ns">
      <a class="db" href="{{ .JamUrl }}">
        <h1 class="jam-title mb2">Visibility Jam</h1>
      </a>
      <div class="fw5 f4 f3-ns mb1">
        July 19-21, 2024.
        {{ if .Timespans.BeforeEnd }}
          {{ if .Timespans.During }}
            <span class="fw7">Happening now.</span>
          {{ else if eq .Timespans.DaysUntilStart 1 }}
            <span class="fw7">Starting tomorrow.</span>
          {{ else }}
            <span class="fw7">In {{ .Timespans.DaysUntilStart }} days.</span>
          {{ end }}
        {{ end }}
      </div>
    </div>
    {{ if .Timespans.BeforeEnd }}
      <div class="flex g3 justify-center mt4">
        <a href="https://discord.gg/hmn" class="btn">Join the Discord</a>
      </div>
    {{ end }}
  </div>
</div>
<style>
  .jam-logo {
    width: 20rem;
  }
  
  .jam-title {
    font-size: 3.06rem;
    font-weight: 700;
  }
  
  @media screen and (min-width: 35em) {
    .jam-logo {
      width: 26.2rem;
    }
    
    .jam-title {
      font-size: 4rem;
    }
  }
</style>
{{ end }}

{{ define "vj2024-bannersmall" }}
<div class="mw7 center link-normal c-white c-normal">
  <div class="flex flex-column flex-row-ns justify-center items-center pv4 g3 tc tl-ns">
    <img class="jam-logo" src="{{ static "jams/visibility-2024/logo.svg" }}">
    <div class="flex flex-column justify-between">
      <div>
        <a class="db small" href="{{ .JamUrl }}">
          <h1 class="jam-title">Visibility Jam</h1>
        </a>
        <div class="fw6 f5 mb3">July 19 - 21, 2024</div>
      </div>
      <div class="flex items-center g2">
        {{ if and (not .SubmittedProject) .Timespans.BeforeEnd }}
          <a href="{{ .NewProjectUrl }}" class="btn">Create your project</a>
        {{ else }}
          <a href="https://discord.gg/hmn" class="btn">Join the Discord</a>
        {{ end }}    
        <!-- TODO(jam): Guidelines link appears in the guidelines page. -->
        <a href="{{ .GuidelinesUrl }}" class="flex items-baseline pv2 ph3">Guidelines <div class="dib svgicon f8 ml1">{{ svg "chevron-right" }}</div></a>
      </div>
    </div>
  </div>
</div>
<style>
  .jam-logo {
    width: 11.6rem;
  }
  
  .jam-title {
    font-size: 2.25rem;
    font-weight: 700;
  }
</style>
{{ end }}

{{ define "vj2024-guidelines-top" }}
  <div class="flex justify-center link-bold link-gradient">
    <div class="mw-site-narrow">
      <div class="ph3 ph0-ns pv4">
        <h2 class="dib f3 pb3 c--jam-gradient">What does "visibility" mean?</h2>
        <div class="post-content">
          <p>Too many things in computing are <b class="c--jam-gradient">invisible</b>.</p>
          <p>We have too little insight into our machines. We have no idea what our CPU is up to, what our operating system is up to, what our language runtimes are up to. Even the simple question of "what port is my program using?" requires arcane command line tools to answer.</p>
          <p>This is not because that information is complicated or confusing. The information is there, but no one has <b class="c--jam-gradient">made it visible</b>.</p>
          <p>Building high quality software, the <a href="https://handmade.network/manifesto">Handmade way</a>, requires us to understand our systems. But we cannot understand what we cannot see. Making things visible is the first step to making them better.</p>
          <p>So for this jam, make something visible. Maybe it's a map of an unfamiliar codebase. Maybe it's a trace of your program's execution. Maybe it's a breakdown of a file format, a deep dive into an algorithm, or a tool to expose the inner workings of your OS. Whatever you choose, you have a weekend to make it happen.</p>
        </div>
      </div>
    </div>
  </div>
{{ end }}

{{ define "vj2024-guidelines-bottom" }}
  <div class="bg1 pt4 link-bold link-gradient">
    <div class="mw-site-narrow m-center ph3 ph0-ns">
      <h2 class="dib pb3 f3 c--jam-gradient">Inspiration</h2>
      <div class="post-content">
        <p>The following projects are amazing examples of visibility in action. Some were even standout submissions from last year's jam!</p>
        <p>For more inspiration, check out the #wishlist channel on <a href="https://discord.gg/hmn">Discord</a>.</p>
      </div>
    </div>
    <div class="jam-inspiration flex flex-column flex-wrap g3 ph3 ph0-ns ph4-l pt3 pt4-ns pb4 overflow-x-scroll">
      <div class="pic">
        <img src="{{ static "visjam2023/rede.jpg" }}">
        <div class="caption"><a href="https://handmade.network/p/369/rede/">REDE</a> shows you the internal structure of a regex engine as you execute it.</div>
      </div>
      <div class="pic">
        <img src="{{ static "jams/visibility-2024/escapeartist.png" }}">
        <div class="caption"><a href="https://handmade.network/p/379/escape-artist/">Escape Artist</a> shows all the invisible ASCII escape codes in terminal output.</div>
      </div>
      <div class="pic">
        <img src="{{ static "visjam2023/graphviz.jpeg" }}">
        <div class="caption"><a href="https://graphviz.org/">Graphviz</a> can be used to make debug visuals for almost any data structure.</div>
      </div>
      <div class="pic">
        <img src="{{ static "jams/visibility-2024/redblob.png" }}">
        <div class="caption"><a href="https://www.redblobgames.com/">Red Blob Games</a> shows you the inner workings of common algorithms.</div>
      </div>
      <div class="pic">
        <img src="{{ static "visjam2023/wireshark.jpg" }}">
        <div class="caption"><a href="https://www.wireshark.org/">Wireshark</a> exposes all activity on your network devices.</div>
      </div>
      <div class="pic">
        <img src="{{ static "visjam2023/vmmap.png" }}">
        <div class="caption"><a href="https://learn.microsoft.com/en-us/sysinternals/downloads/vmmap">vmmap</a> allows you to see exactly how your address space is allocated.</div>
      </div>
      <div class="pic">
        <img src="{{ static "visjam2023/spall.png" }}">
        <div class="caption"><a href="https://spall.handmade.network/">Spall</a> allows you to explore your program's execution at terrifying speeds.</div>
      </div>
      <div class="pic">
        <img src="{{ static "visjam2023/v8.png" }}">
        <div class="caption">Bugs can be very obvious when you render out the data. (Example: a random number generator.)</div>
      </div>
      <div class="pic">
        <img src="{{ static "jams/visibility-2024/repaint.png" }}">
        <div class="caption">The <a href="https://developer.chrome.com/docs/devtools/rendering/performance">Chrome Dev Tools</a> can show you which elements are being repainted as you browse.</div>
      </div>
      <div class="pic">
        <img src="{{ static "jams/visibility-2024/npmgraph.png" }}">
        <div class="caption"><a href="https://npmgraph.js.org/">npmgraph</a> shows you the full dependency graph of a JavaScript package, including its size on disk.</div>
      </div>
      <div class="pic">
        <img src="{{ static "jams/visibility-2024/floats.png" }}">
        <div class="caption"><a href="https://www.shadertoy.com/view/4tVyDK">This Shadertoy</a> helps visualize why floating-point error can cause problems in video games. <a href="https://x.com/D_M_Gregory/status/1044008750162604032">(original tweet)</a></div>
      </div>
    </div>
  </div>
  <div class="flex justify-center link-bold link-gradient">
    <div class="mw-site-narrow">
      <div class="ph3 ph0-ns pv4">
        <h2 class="dib f3 pb3 c--jam-gradient">How to participate</h2>
        <div class="flex flex-column g2">
          <div class="jam-guidelines pa3 {{ if .Timespans.Pre }}jam-emphasized{{ end }}">
            <h3 class="f4 mb3">Choose a project.</h3>
            <div class="post-content">
              <p>Think of something to make visible! If you want to brainstorm ideas or find a team to work with, join the <a href="https://discord.gg/hmn">Handmade Network Discord</a>.</p>
            </div>
          </div>
          <div class="jam-guidelines pa3 {{ if and .Timespans.During (gt .Timespans.DaysUntilEnd 1) }}jam-emphasized{{ end }}">
            <h3 class="f4 mb3">Jam.</h3>
            <div class="post-content">
              <p>
                {{ if and .Timespans.During (not .SubmittedProject) }}
                  <a href="{{ .NewProjectUrl }}" target="_blank">
                    <b>Create a Handmade Network project.</b>
                  </a>
                {{ else }}
                  After the jam starts, create a Handmade Network project.
                {{ end }}
                This project will act as your submission and can be used to share your work in progress.
              </p>
              <p>Then get started! Share screenshots and videos in #project-showcase on Discord, or directly from your project page.</p>
            </div>
          </div>
          <div class="jam-guidelines pa3">
            <h3 class="f4 mb3">Submit your work!</h3>
            <div class="post-content">
              <p><b>Your Handmade Network project is your submission.</b> Fill out the project description, making sure to explain the goals of the project and what inspired you to visualize it. Include plenty of pictures and videos!</p>
              {{ if .Timespans.During }}
                <p>
                  Submissions close <b><span class="countdown" data-deadline="{{ .EndTimeUnix }}"></span></b>.
                </p>
              {{ else if .Timespans.Post }}
                <p>
                  <b>Submissions are now closed.</b>
                </p>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}

{{ define "vj2024-projects" }}
  <div class="flex justify-center">
    <div class="mw-site-narrow w-100">
      <div class="ph3 ph0-ns pv4">
        <h2 class="dib f3 pb3 c--jam-gradient">All submissions</h2>
        <div class="flex flex-column g3">
          {{ range .JamProjects }}
            {{ template "project_card.html" . }}
          {{ end }}
        </div>
      </div>
	  </div>
  </div>
{{ end }}

{{ define "vj2024-submittedproject" }}
  <div class="flex justify-center">
    <div class="mw-site-narrow w-100">
      <div class="ph3 ph0-ns pv4">
        <h2 class="dib f3 c--jam-gradient">Your submission</h2>
        {{ if .Timespans.During }}
          <p class="post-content link-bold link-gradient">
            {{ if eq .Timespans.DaysUntilEnd 1 }}
              The jam ends <b>tonight.</b> Make sure to edit your submission before the deadline!
            {{ else }}
              The jam ends <b>in {{ .Timespans.DaysUntilEnd }} days.</b> You can edit your submission at any time. Don't forget to share updates in #project-showcase on <a href="https://discord.gg/hmn">Discord</a> as you go!
            {{ end }}
          </p>
        {{ end }}
        {{ if .SubmittedProject }}
          <div class="mt3 flex flex-column g3">
            {{ template "project_card.html" .SubmittedProject }}
          </div>
        {{ else }}
          <a class="mt3 bg2 tc pv4 flex justify-center items-center g2" href="{{ .NewProjectUrl }}">{{ svg "add" }}Create your project</a>
        {{ end }}
      </div>
	  </div>
  </div>
{{ end }}

{{ define "vj2024-feed" }}
  <div class="flex justify-center">
    <div class="mw-site-narrow w-100">
      <div class="ph3 ph0-ns pv4">
        <h2 class="dib f3 c--jam-gradient">{{ if .ShortFeed }}Recent activity{{ else }}All updates{{ end }}</h2>
        <div class="mt3 flex flex-column g3">
          {{ range .TimelineItems }}
            {{ template "timeline_item.html" . }}
          {{ else }}
            <div class="bg3 tc pv4 f7">
              No project updates have been posted yet.
            </div>
          {{ end }}
        </div>
        {{ if .ShortFeed }}
          <div class="link-bold link-gradient pv2 tr">
            <a href="{{ .JamFeedUrl }}">See more</a>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}

{{ define "vj2024-recap" }}
  <div class="flex justify-center link-bold link-gradient">
    <div class="w-100 mw-site-narrow">
      <div class="ph3 ph0-ns pv4">
        <h2 class="dib f3 pb3 c--jam-gradient">Watch the recap</h2>
        <div class="post-content">
          <p>Watch the live recap show celebrating all of this year's amazing submissions.</p>
          <div class="aspect-ratio aspect-ratio--16x9">
            <iframe class="aspect-ratio--object" src="https://www.youtube-nocookie.com/embed/lXCoA4sotGg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}
