{{/*

	NOTE(ben): Only one instance of the link editor can be included on the page
	at a time. Make sure to import link_editor.js and call `init`.

	As links are edited, a `linkedit` event is dispatched on `window`.

*/}}
<div class="fieldset">
	<legend class="flex justify-between">
		<span>Links</span>
		<a id="link-editor-add-button" href="javascript:;" class="normal">+ Add Link</a>
	</legend>
	<div class="pa3 input-group">
		<div id="links" class="flex flex-column g2 relative">
			<div class="b primary-links">Primary Links</div>
			<div class="b secondary-links reorderable-item">Secondary Links</div>
		</div>
		<template id="link-editor-row">
			<div data-tmpl="rootElement" class="reorderable-item link-editor-row w-100 flex items-center">
				<span data-tmpl="grabHandle" class="svgicon pr2 pr3-ns pointer grab no-touch">{{ svg "draggable" }}</span>
				<div class="flex-grow-1 flex flex-column flex-row-ns g2-ns">
					<input data-tmpl="nameInput" size="1" class="link-name flex-grow-1" type="text" placeholder="Name">
					<input data-tmpl="urlInput" size="1" class="link-url flex-grow-1" type="url" placeholder="Link">
				</div>
				<a data-tmpl="deleteButton" class="svgicon link-normal pl2 pl3-ns f4" href="javascript:;">{{ svg "delete" }}</a>
			</div>
		</template>
		<template id="link-editor-empty-section">
			<div data-tmpl="rootElement" class="link-placeholder ba b--dashed pa2 i f7 tc">
				Drag links here
			</div>
		</template>
	</div>
	<input id="links-json" type="hidden" name="links">
</div>

