{{/*

	NOTE(ben): Only one instance of the link editor can be included on the page
	at a time. Also, reorderable.js is required.

	As links are edited, a `linkedit` event is dispatched on `window`.

*/}}
<div class="fieldset">
	<legend class="flex justify-between">
		<span>Links</span>
		<a href="#" class="normal" onclick="addLink(event)">+ Add Link</a>
	</legend>
	<div class="pa3 input-group">
		<div id="links" class="flex flex-column g2 relative">
			<div class="b primary-links">Primary Links</div>
			<div class="b secondary-links reorderable-item">Secondary Links</div>
		</div>
		<template id="link-editor-row">
			<div data-tmpl="root" class="reorderable-item link-editor-row w-100 flex items-center">
				<span class="svgicon pr2 pr3-ns pointer grab no-touch" onpointerdown="startLinkDrag(event)">{{ svg "draggable" }}</span>
				<div class="flex-grow-1 flex flex-column flex-row-ns g2-ns">
					<input data-tmpl="nameInput" size="1" class="link-name flex-grow-1" type="text" placeholder="Name" oninput="linkInput(event)">
					<input data-tmpl="urlInput" size="1" class="link-url flex-grow-1" type="url" placeholder="Link" oninput="linkInput(event)">
				</div>
				<a class="svgicon link-normal pl2 pl3-ns f4" href="javascript:;" onclick="deleteLink(event)">{{ svg "delete" }}</a>
			</div>
		</template>
		<template id="link-editor-empty-section">
			<div data-tmpl="root" class="link-placeholder ba b--dashed pa2 i f7 tc">
				Drag links here
			</div>
		</template>
	</div>
	<input id="links-json" type="hidden" name="links">

	<script>
		const linksContainer = document.querySelector("#links");
		const parentForm = linksContainer.closest("form");
		const primaryLinksTitle = linksContainer.querySelector(".primary-links");
		const secondaryLinksTitle = linksContainer.querySelector(".secondary-links");
		const linksJSONInput = document.querySelector("#links-json");

		const linkTemplate = makeTemplateCloner("link-editor-row");
		const emptySectionTemplate = makeTemplateCloner("link-editor-empty-section");

		{{ if . }}
			const initialLinks = JSON.parse("{{ . }}");
		{{ else }}
			const initialLinks = [];
		{{ end }}
		for (const link of initialLinks) {
			const l = linkTemplate();
			l.nameInput.value = link.name;
			l.urlInput.value = link.url;
			if (link.primary) {
				secondaryLinksTitle.insertAdjacentElement("beforebegin", l.root);
			} else {
				linksContainer.appendChild(l.root);
			}
		}

		function ensurePlaceholders() {
			for (const el of linksContainer.querySelectorAll(".link-placeholder")) {
				el.remove();
			}

			let numPrimary = 0, numSecondary = 0;
			let primary = true;
			for (const el of linksContainer.children) {
				if (el === primaryLinksTitle) {
					continue;
				}
				if (el === secondaryLinksTitle) {
					primary = false;
					continue;
				}

				if (el.classList.contains("reorderable-item")) {
					if (primary) {
						numPrimary += 1;
					} else {
						numSecondary += 1;
					}
				}
			}

			if (numPrimary === 0) {
				primaryLinksTitle.insertAdjacentElement("afterend", emptySectionTemplate().root);
			}
			if (numSecondary === 0) {
				secondaryLinksTitle.insertAdjacentElement("afterend", emptySectionTemplate().root);
			}
		}
		ensurePlaceholders();

		function getLinkData() {
			const links = [];
			let primary = true;
			for (const el of linksContainer.children) {
				if (el === secondaryLinksTitle) {
					primary = false;
					continue;
				}

				if (el.classList.contains("link-editor-row")) {
					const name = el.querySelector(".link-name").value;
					const url = el.querySelector(".link-url").value;
					if (!url) {
						continue;
					}
					links.push({ name, url, primary });
				}
			}
			return links;
		}
		function updateLinksJSON() {
			linksJSONInput.value = JSON.stringify(getLinkData());
		}
		function linksUpdated() {
			updateLinksJSON();
			window.dispatchEvent(new Event("linkedit"));
		}

		function addLink(e) {
			e.preventDefault();
			secondaryLinksTitle.insertAdjacentElement("beforebegin", linkTemplate().root);

			ensurePlaceholders();
			linksUpdated();
		}
		function deleteLink(e) {
			e.preventDefault();
			const l = e.target.closest(".link-editor-row");
			l.remove();

			ensurePlaceholders();
			linksUpdated();
		}
		function linkInput(e) {
			linksUpdated();
		}

		const { startDrag: startLinkDrag } = initReorderable(
			linksContainer,
			{
				onReorder(item) {
					ensurePlaceholders();
					linksUpdated();
				},
			},
		);

		parentForm.addEventListener("submit", function() {
			updateLinksJSON(); // NOTE(ben): Just update JSON, don't fire another event
		});
	</script>
</div>

