{{- /*gotype: git.handmade.network/hmn/hmn/src/templates.Pagination*/ -}}
{{ if gt .Total 1 }}
    <div class="pagination flex">
        {{ if gt .Current 1 }}
            <a class="option" href="{{ .PreviousUrl }}">Prev</a>
        {{ end }}
        {{ if gt .Current 1 }}
            {{ if gt .Current 2 }}
                <a class="page option" href="{{ .FirstUrl }}">1</a>
            {{ end }}
            {{ if gt .Current 3 }}
                <a class="page option">&nbsp;&nbsp;...&nbsp;&nbsp;</a>
            {{ end }}
            <a class="page option" href="{{ .PreviousUrl }}">{{ sub .Current 1 }}</a>
        {{ end }}
        <a class="page option b">{{ .Current }}</a>
        {{ if lt .Current .Total }}
            <a class="page option" href="{{ .NextUrl }}">{{ add .Current 1 }}</a>
            {{ if lt .Current (sub .Total 2) }}
                <a class="page option">&nbsp;&nbsp;...&nbsp;&nbsp;</a>
            {{ end }}
            {{ if lt .Current (sub .Total 1) }}
                <a class="page option" href="{{ .LastUrl }}">{{ .Total }}</a>
            {{ end }}
        {{ end }}
        {{ if lt .Current .Total }}
            <a class="option" href="{{ .NextUrl }}">Next</a>
        {{ end }}
    </div>
{{ end }}
