{{/*
This template is intended to display a single post or thread in the context of a forum, the feed, or a similar layout.

It should be called with PostListItemData.
*/}}

<div class="flex items-center ph3 pv2">
    <img class="avatar-icon mr2" src="{{ .User.AvatarUrl }}">
    <div class="flex-grow-1 overflow-hidden">
        <div class="breadcrumbs">
            {{ range $i, $breadcrumb := .Breadcrumbs }}
                {{ if gt $i 0 }} » {{ end }}
                <a href="{{ $breadcrumb.Url }}">{{ $breadcrumb.Name }}</a>
            {{ end }}
        </div>
        <div class="title nowrap truncate"><a href="{{ .Url }}">{{ .Title }}</a></div>
        <div class="details">
            <a class="user" href="{{ .User.ProfileUrl }}">{{ .User.Name }}</a> &mdash; <span class="datetime">{{ relativedate .Date }}</span>
        </div>
    </div>
    <div class="goto">
        <a href="{{ .Url }}">&raquo;</a>
    </div>
</div>