{{- /*gotype: git.handmade.network/hmn/hmn/src/templates.ProjectCardData*/ -}}
<a class="project-card flex br2 overflow-hidden items-center relative {{ .Classes }}" href="{{ .Project.Url }}" >
	{{ with .Project.Logo }}
		<div class="image-container flex-shrink-0">
			<div class="image bg-center cover" style="background-image:url({{ . }})"></div>
		</div>
	{{ end }}
	<div class="details pa3 flex-grow-1">
		<h3 class="mb1">{{ .Project.Name }}</h3>
		<div class="blurb">{{ .Project.Blurb }}</div>
		<div class="badges mt2">
			{{ if .Project.LifecycleString }}
				<span class="badge {{ .Project.LifecycleBadgeClass }}">{{ .Project.LifecycleString }}</span>
			{{ end }}
		</div>
	</div>
</a>

