<a class="project-card flex items-start g3 overflow-hidden pa3" href="{{ .Url }}">
	{{ with .Logo }}
		<div class="bg4 flex-shrink-0 flex">
			<img class="project-card-logo" src="{{ . }}" alt="Project Logo">
		</div>
	{{ end }}
	<div class="details flex-grow-1">
		<h3 class="b mb2 f4">{{ .Name }}</h3>
		<div class="blurb">{{ .Blurb }}</div>
		{{ with .Owners }}
			<hr class="mv3">
			<div class="flex flex-wrap g2">
				{{ range . }}
					<div class="flex g1 items-center b">
						<img class="avatar avatar-user avatar-small" src="{{ .AvatarUrl }}">
						<span>{{ .Name }}</span>
					</div>
				{{ end }}
			</div>
		{{ end }}
		{{/*
			{{ if .LifecycleString }}
				<div class="badges mt2">
					<span class="badge {{ .LifecycleBadgeClass }}">{{ .LifecycleString }}</span>
				</div>
			{{ end }}
		*/}}
	</div>
</a>
