<div class="w--project-sidebar flex-shrink-0 flex flex-column g2">
  <!-- Title card -->
  <div class="bg1 pa3 flex flex-column g3 link-normal">
    <div>
      {{ template "project_logo.html" .Project }}
    </div>
    <div class="flex flex-column g1">
      <a href="{{ .Project.Url }}"><h2 class="f4">{{ .Project.Name }}</h2></a>
      <div>{{ .Project.Blurb }}</div>
    </div>
    {{ if .Project.LifecycleString }}
      <div>
        <span class="badge {{ .Project.LifecycleBadgeClass }}">{{ .Project.LifecycleString }}</span>
      </div>
    {{ end }}
    {{ with .Owners }}
      <div class="flex flex-column g2">
        {{ range . }}
          <a class="flex g1 items-center b" href="{{ .ProfileUrl }}">
            <img class="avatar avatar-user avatar-small" src="{{ .AvatarUrl }}">
            <span>{{ .Name }}</span>
          </a>
        {{ end }}
      </div>
    {{ end }}
  </div>

  <!-- Navigation -->
  <div class="bg1 pa2 flex flex-column g1 link-normal">
    {{ range .NavLinks }}
      <a class="ph2 pv1 {{ if .Active }}bg3 b{{ end }}" href="{{ .Url }}">{{ .Name }}</a>
    {{ end }}
  </div>

  <!-- Links -->
  {{ with .Links }}
    <div class="bg1 pa2 flex flex-column link-normal">
      {{ range . }}
        <a class="ph2 pv1 flex items-center g1" href="{{ .Url }}">
          <span class="flex-shrink-0 flex items-center">
            {{ svg (strjoin "logos/" .Icon) }}
          </span>
          {{ $name := or .Name .ServiceName }}
          <span class="truncate" title="{{ $name }}">{{ $name }}</span>
          <span class="flex-grow-1"></span>
          <span class="svgicon f6 ml2">{{ svg "arrow-right-up" }}</span>
        </a>
      {{ end }}
    </div>
  {{ end }}
</div>
