<a class="bg3 c-normal flex items-start g3 br2 overflow-hidden pa3" href="{{ .Url }}">
	{{ with .Logo }}
		<div class="bg4 flex-shrink-0 flex">
			<img class="project-card-logo" src="{{ . }}" alt="Project Logo">
		</div>
	{{ end }}
	<div class="details flex-grow-1">
		<h3 class="b mb2 f4">{{ .Name }}</h3>
		<div class="blurb">{{ .Blurb }}</div>
		<hr>
		<div>TODO: Authors</div>
		{{ if .LifecycleString }}
			<div class="badges mt2">
				<span class="badge {{ .LifecycleBadgeClass }}">{{ .LifecycleString }}</span>
			</div>
		{{ end }}
	</div>
</a>
