{{/*
This template is intended to display a single thread in the context of a forum, the feed, or a similar layout.

It should be called with ThreadListItem.
*/}}

<div class="flex items-center {{ if .Unread }}unread{{ else }}read{{ end }} {{ .Classes }}">
    <img class="avatar avatar-user mr2" src="{{ .FirstUser.AvatarUrl }}" />
    <div class="flex-grow-1 overflow-hidden">
        <div title="{{ .Title }}" class="title nowrap truncate"><a href="{{ .Url }}">{{ .Title }}</a></div>
        <span class="nowrap truncate">By <a class="user" title="{{ .FirstUser.Name }}" href="{{ .FirstUser.ProfileUrl }}">{{ .FirstUser.Name }}</a></span>
        <div class="f6 fw2">
            {{ timehtml (absoluteshortdate .FirstDate) .FirstDate }}
            -
            {{ timehtml (absoluteshortdate .LastDate) .LastDate }}
        </div>
    </div>
    <div class="goto">
        <a href="{{ .Url }}">&raquo;</a>
    </div>
</div>
