{{ define "ticket-common" }}
<div class="flex justify-center">
  <div class="w-100 mw-site-narrow ph3 pv4">
    <div class="flex flex-column flex-row-ns g3">
      <div class="flex-shrink-0 flex flex-column g2 items-center">
        <img
          style="width: 256px"
          src="{{ .TicketCodeURL }}"
          srcset="{{ .TicketCodeURL }}?scale=2 2x, {{ .TicketCodeURL }}?scale=3 3x"
        >
        <div class="c--dim f7 i">Please present this code at the venue.</div>
      </div>
      <div class="post-content">
        <h2>{{ .EventName }}</h2>
        <p>{{ .EventDescription }}</p>
        <p class="b">Ticket details (<a href="{{ .TicketEditURL }}">edit</a>):</p>
        <ul>
          <li><b>Name:</b> {{ .Ticket.OwnerName }}</li>
          <li><b>Email:</b> {{ .Ticket.OwnerEmail }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{{ end }}
