{{ if timelinepostitem . }}
	<div class="timeline-item flex pa3 mb2 br3 {{ .Class }}">
		<img class="avatar-icon big lite mr3" src="{{ .OwnerAvatarUrl }}"/>
		<div class="timeline-info overflow-hidden">
			{{ template "breadcrumbs.html" .Breadcrumbs }}
			<div class="title f5 b nowrap truncate"><span>{{ .TypeTitle }}</span>: <a href="{{ .Url }}" class="title-text normal">{{ .Title }}</a></div>
			<div class="details">
				<a class="user" href="{{ .OwnerUrl }}">{{ .OwnerName }}</a> &mdash; {{ timehtml (relativedate .Date) .Date }}
			</div>
		</div>
	</div>
{{ else if timelinesnippetitem . }}
	<div class="timeline-item flex flex-column pa3 mb2 br3 {{ .Class }}">
		<div class="timeline-user-info mb2 flex items-center">
			<img class="avatar-icon lite mr2" src="{{ .OwnerAvatarUrl }}"/>
			<a class="user" href="{{ .OwnerUrl }}">{{ .OwnerName }}</a>
			<a class="datetime tr" style="flex: 1 1 auto;" href="{{ .Url }}">{{ timehtml (relativedate .Date) .Date }}</a>
		</div>
		<p class="timeline-snippet-title mb2">{{ .Description }}</p>
		<div class="timeline-content-box {{ if snippetyoutube . }}youtube{{ end }}">
			{{ if snippetvideo . }}
				<video src="{{ .AssetUrl }}" preload="metadata" controls />
			{{ else if snippetimage . }}
				<img src="{{ .AssetUrl }}" />
			{{ else if snippetaudio . }}
				<audio src="{{ .AssetUrl }}" controls />
			{{ else if snippetyoutube .}}
				<iframe src="https://www.youtube-nocookie.com/embed/{{ .YoutubeID }}" allow="accelerometer; encrypted-media; gyroscope;" allowfullscreen frameborder="0"></iframe>
			{{ end }}
		</div>
	</div>
{{ end }}

