<div class="frame">
  {{ template "frame title" .Title }}
  <div>
    <div class="pa3 flex flex-column g3">
      <div class="flex flex-column flex-row-ns g3">
        <div class="flex-shrink-0 relative">
          <img
            class="pixelated inset"
            src="{{ static .Thumbnail }}"
            alt="Video Thumbnail"
          />
          <a href="{{ .Url }}" target="_blank">
            <div class="absolute absolute--fill bg-black-30 flex justify-center items-center">
              <img class="pixelated" alt="Play Video" src="{{ dataimg "timemachine/win95-play.png" }}">
            </div>
          </a>
        </div>
        <div class="flex flex-column g1">
          {{ range .Details }}
            <div><strong>{{ .Name }}:</strong> {{ .Content }}</div>
          {{ end }}

        </div>
      </div>
      <div class="post-content">
        {{ .Description }}
      </div>
    </div>
  </div>
</div>
